
{% extends "base2.html" %}
{% block content %}

<div class="containe">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 no-padding">
            <div class="formwrapper">
                <div class="card shadow mb-4 bg-white">
                    <div class="card-header py-2 topbar-bg divjust-end" >
                        <h5 class="m-0 font-weight-bold text-white"><span><i class="fas fa-fw fa-person-booth mr-2"></i></span>Add new tenant</h5>
                        <a href="{{ url_for('api.index') }}"><span class="text-white"><i class="fas fa-fw fa-times"></i></span></a>
                    </div>
                    <div class="card-body myforms">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            <div id="alert-msgs"class="noti-{{ category }} show" role="alert">
                                <span><span><i class="fas fa-fw fa-info-circle"></i></span>&nbsp;&nbsp;{{ message }}</span>
                            </div>
                        {% endfor %}
                        {% endwith %}
                      
                        <span class="hide">hide</span>
                        <form role="form" method="POST" action="/add/tenant" autocomplete="off">
                          <div class="form-group">
                            <select name="apartment" class="form-control" id ="url-bo" required>
                              <option disabled selected value> -- Select property -- </option>
                              {% for o in apartmentlist %}
                              <option value="{{ o }}">{{ o }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="url-box" placeholder="Name (required)" required>
                          </div>
                
                          <div class="form-group">
                            <input type="tel" name="phone" class="form-control" id="url-box" placeholder="Mobile (strongly recommended)" >
                          </div>
                
                          <div class="form-group">
                            <input type="int" name="national_id" class="form-control" id="url-box" placeholder="Id No (optional)">
                          </div>

                          <div class="form-group">
                            <input type="email" name="email" class="form-control" id="url-box" placeholder="email (optional)" >
                          </div>
                
                          <!-- <div class="form-group">
                            <input type="number" name="deposit" class="form-control" id="url-box" placeholder="Deposit">
                          </div> -->
                          <div class="form-group">
                            <input type="number" name="arrears" class="form-control" placeholder="Initial arrears?">
                          </div>
                          <hr>
                          <div class="divbg center-btn">
                            <button type="submit" class="bg-gradient-success borderless text-white"><i class="fas fa-check"></i>&nbsp;Save</button>
                            <!-- <button type="button" class="bg-gradient-dark borderless"><a class="text-white" href="{{ url_for('api.allocatetenants') }}"><i class="fas fa-pen"></i>&nbsp;Allocate</a></button> -->
                            <button type="button" class="bg-gradient-dark borderless text-warning"onclick="history.back()"><i class="fas fa-arrow-left"></i>&nbsp;Back</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>  

<script>
  setTimeout(function(){
  $("#alert-msgs").fadeOut(500,"swing");
  }, 2000);
</script>

{% endblock %}
