
<!-- <div class="form-group bg-gradient-light divbg smallify">
    <span class="text-primary" >Last reading: <span class="text-danger">{{last}}</span></span>
    <span class="text-primary" >Captured reading: <span class="text-danger">{{current}}</span></span>
</div>
<div class="form-group row smallify">
    <div class="col-lg-5 text-primary ml-lg-5" >Captured units: <span class="text-danger">{{units}}</span></div>
    <div class="col-lg-5 text-primary" >New units: <span class="text-success" id="new-units"></span></div>
</div> -->


<div class="form-group row smallify">
    <div class="col-sm-4 center-btn">
      <span class="text-primary" >Last reading: <span class="text-danger">{{last}}</span></span>
    </div>

    <div class="col-sm-4 text-center">
      <span class="text-primary" >Captured reading: <span class="text-danger">{{current}}</span></span>
    </div>

    <div class="col-sm-4 text-center">
        <div class="text-primary" >Captured units: <span class="text-danger">{{units}}</span></div>
    </div>
  </div>

