  
  <script>

    console.log("heeeyyy1")

    arr_results = "{{ suggestions|safe }}";

    console.log("heeeyyy2",arr_results)

    var outputstr= arr_results.replace(/'/g,'"');

    console.log("heeeyyy3",outputstr)
 
    if(arr_results) {
      arr_resultsTwo = JSON.parse(outputstr)
      autocomplete(document.getElementById("searchInput"), arr_resultsTwo);
      autocomplete(document.getElementById("searchInputMobile"), arr_resultsTwo);
    }
    else{
      autocomplete(document.getElementById("searchInput"), arr_results);
      autocomplete(document.getElementById("searchInputMobile"), arr_results)
    }
  </script>


