<div class="row">
    <div class="col-5 no-padding text-right"><span class="form-control smallify border-0">Client</span></div>
    <div class="form-group col-7 no-paddin input-icons">
      <input class="form-control ph-dark pl-5" type="text" placeholder="{{client}}" readonly>
      <span class="fa field-icon-two text-info"><i class="fas fa-user"></i></span>
    </div>
  </div>

  <div class="row">
    <div class="col-5 no-padding text-right"><span class="form-control smallify border-0">Unit</span></div>
    <div class="form-group col-7 no-paddin input-icons">
      <input class="form-control ph-dark pl-5" type="text" placeholder="{{plot}}" readonly>
      <span class="fa field-icon-two text-info"><i class="fas fa-home"></i></span>
    </div>
  </div>

  <div class="">
    <div class="no-padding"><span class="form-control smallify border-0">
      <span class="me-3">Asking price</span>
      <span class="ms-3">
        <input type="checkbox" name="" id="discount" checked>
        <label class="text-danger d-inline" for="discount">Apply 5% discount?</label>
      </span>
    </span>
    </div>
    
    <div id="mpafterdiscount" class="form-group no-paddin input-icons">
      <input class="form-control ph-dark pl-5 text-end" type="text" id="asking_price" placeholder="{{mp}}" value="{{mp}}" readonly>
      <span class="fa field-icon-two small text-info">Kes</span>
    </div>
  </div>


  <script>

$("#neg_price").val($("#asking_price").val());
$("#neg_price").keyup();

    $('#discount').change(function () {
      $.ajax({
        url: "{{ url_for('api.addtenant') }}",
        type: "get",
        data: {
          tenant_id: $("#tenant_identifier").text(),
          discount: this.checked,
          target: "client discount"
        },
        success: function (response) {
          $("#mpafterdiscount").html(response);
        }
      });
    });
  </script>
