<div class="center-btn mb-3">
  Tenant: <span class="text-black font-size-bold">{{tenant.name}}</span>
</div>

<div class="row">

  <div class="col-3 hide">Status</div>
  <div class="col-9 form-group row">
    <div class="col-6">
      <input class="" id="refundeddep" name="depstatus" type="radio" value="refunded" />
      <label class="small font-weight-bold mb-1 text-danger" for="refundeddep">Refunded</label>
  </div>

  <div class="col-6">
      <input class="" id="unrefundeddep" name="depstatus" type="radio" value="unrefunded" />
      <label class="mb-1 small font-weight-bold text-danger" for="unrefundeddep">Unrefunded</label>
  </div>
  </div>


</div>


<div class="row mb-2 text-black">
  <div class="col-3">Item</div>
  <div class="col-3">Total</div>
  <div class="col-3">Paid</div>
  <div class="col-3">Bal</div>
</div>

<div class="row mb-2">
  <div class="col-3 border-0 semi-small">Rent deposit</div>
  <div class="col-3"><input id="edit_rentdep" class="form-control ph" type="text" value="{{dep.rentdep}}"></div>
  <div class="col-3"><input id="edit_prentdep" class="form-control ph" type="text" value="{{dep.paid_rentdep}}"></div>
  <div class="col-3"><input id="edit_brentdep" class="form-control ph" type="text" placeholder="{{dep.balance_rentdep}}"></div>
</div>

<div class="row mb-2">
  <div class="col-3 border-0 semi-small">Water deposit</div>
  <div class="col-3"><input id="edit_waterdep" class="form-control ph" type="text" value="{{dep.waterdep}}"></div>
  <div class="col-3"><input id="edit_pwaterdep" class="form-control ph" type="text" value="{{dep.paid_waterdep}}"></div>
  <div class="col-3"><input id="edit_bwaterdep" class="form-control ph" type="text" placeholder="{{dep.balance_waterdep}}"></div>
</div>

<div class="row mb-2">
  <div class="col-3 border-0 semi-small">Elec deposit</div>
  <div class="col-3"><input id="edit_elecdep" class="form-control ph" type="text" value="{{dep.elecdep}}"></div>
  <div class="col-3"><input id="edit_pelecdep" class="form-control ph" type="text" value="{{dep.paid_elecdep}}"></div>
  <div class="col-3"><input id="edit_belecdep" class="form-control ph" type="text" placeholder="{{dep.balance_elecdep}}"></div>
</div>

<div class="row mb-2">
  <div class="col-3 border-0 semi-small">Other deposits</div>
  <div class="col-3"><input id="edit_otherdep" class="form-control ph" type="text" value="{{dep.otherdep}}"></div>
  <div class="col-3"><input id="edit_potherdep" class="form-control ph" type="text" value="{{dep.paid_otherdep}}"></div>
  <div class="col-3"><input id="edit_botherdep" class="form-control ph" type="text" placeholder="{{dep.balance_otherdep}}"></div>
</div>

<div class="row underline-top pt-2">
  <div class="col-3 border-0 text-black semi-small">TOTAL</div>
  <div class="col-3"><input class="form-control ph" type="text" value="{{dep.total}}" disabled></div>
  <div class="col-3"><input class="form-control ph" type="text" value="{{dep.total_paid}}" disabled></div>
  <div class="col-3"><input class="form-control ph" type="text" value="{{dep.balance}}" disabled></div>
</div>



{% if tenant.deposits.status %}
<span class="dispnone" id="check_deposit_status">{{tenant.deposits.status}}</span>
{% else %}
<span class="dispnone" id="check_deposit_status">--not set--</span>
{% endif %}


<script>

  $(document).ready(function () {

  let checkCommtype = $("#check_deposit_status").text()

  if (checkCommtype == "refunded") {
      $("input[id=refundeddep]").attr("checked", "checked");

  } else {
      $("input[id=unrefundeddep]").attr("checked", "checked");
  }

  })
</script>
















