
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Rent arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_rent_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.rent_balance}}" placeholder="{{bill.rent_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Water arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_water_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.water_balance}}" placeholder="{{bill.water_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Garbage arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_garbage_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.garbage_balance}}" placeholder="{{bill.garbage_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Electricity arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_electricity_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.electricity_balance}}" placeholder="{{bill.electricity_balance}}">
        <span class="field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Agreement arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_agreement_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.agreement_balance}}"placeholder="{{bill.agreement_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

  </div>
  <div class="col-sm-6">

    
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Deposit arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_deposit_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.deposit_balance}}" placeholder="{{bill.deposit_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Penalty arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_penalty_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.penalty_balance}}" placeholder="{{bill.penalty_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Service arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_maintenance_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.maintenance_balance}}" placeholder="{{bill.maintenance_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Security arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_security_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.security_balance}}" placeholder="{{bill.security_balance}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Others</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_other_arr" class="form-control pl-5 ph-dark text-right text-black" type="text" value="0.0"placeholder="0.0" disabled>
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

  </div>

</div>









