



<!-- <script>
  var new_modal = $("#new_modal")
  $("#dynamic_modal").html(new_modal)
</script> -->


<div class="col-lg-12 text-black mb-1 ml-2 mt-2"><span class="text-uppercase">{{data_group}}</span></div>
<div class="col-lg-12 no-padding">
    <div id="reqdata" class="table-responsive ml-2">
        <table id="readingData" class="table shadow mb-1" width="100%" cellspacing="0">
            <thead class="custom-header">
              <tr>

                <th class="text-black">No.</th>
                <th class="text-black">Item/Service</th>
                <th class="text-black">Category</th>
                <th class="text-black">Qty</th>
                <th class="text-black">House</th>
                <th class="text-black">Cost</th>
                <th class="text-black">Labour</th>
                <th class="text-black">Total</th>
                <th class="text-black">Status</th>
                <th class="text-black">Date</th>
                <th class="text-black">Action</th>

              </tr>
            </thead>
            <tbody>
              {% for item in items%}
              <tr>
                <td class="first-data-cell">{{ item['id'] }}</td>
                <td class="data-cell text-black font-weight-bold">{{ item['name'] }}</td>
                <td class="data-cell">{{ item['type'] }}</td>
                <td class="data-cell">{{ item['qty'] }}</td>
                <td class="data-cell">{{ item['house'] }}</td>
                <td class="data-cell">{{ item['cost'] }}</td>
                <td class="data-cell">{{ item['labour'] }}</td>
                <td class="data-cell">{{ item['amount'] }}</td>
                <td class="data-cell">{{ item['status'] }}</td>
                <td class="data-cell">{{ item['date'] }}</td>
                <td class="data-cell"> 
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-danger ellipsis-btn"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header underline">Item: <span class="text-black">{{item['name']}}</span></div>
          
                      <div>
                        <i class="fas fa-user ml-3 mr-2 text-success"></i><span id="{{item['id']}}" type="button" class="btn-outline-info ellipsis borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#approveModal">approve/reject</span>
                      </div>
                      <div>
                        <i class="fas fa-edit ml-3 mr-2 text-info"></i><span id="{{item['editid']}}" type="button" class="btn-outline-info ellipsis borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#editExpenseModal">Edit</span>
                      </div>
                      <div>
                        <i class="fas fa-trash-alt text-danger ml-3 mr-2"></i><span id="{{item['delid']}}" type="button" class="borderless ellipsis btn-outline-info modalTrigger text-gray-700" data-toggle="modal" data-target="#deleteExpenseModal">Delete</span>
                      </div>
                      
                    </div>
                </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      $('#readingData').DataTable({
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        "order": [[ 3, "desc" ]],
        "searching":false,
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
      });
</script>

<script>
  var expids = "{{ expids|safe }}";
  var exp_ids = expids.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(exp_ids)
  $.each(exp_ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#delexp_identifier").html(item)
        }else{
          $("#editexp_identifier").html(item)
        }
        
      }else{
        $("#exp_identifier").html(item)
      }
    });
  });
</script>

<script>
  feather.replace();
</script>
