

  <div class="form-group input-icons">
    <i class="fa fa-home icon text-info"></i> 
    <input id="edit_rentrate" class="form-control input-field" type="text" name="rentrate" placeholder="Kshs {{obj.rentrate}} ~ Rent charge" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-water icon text-info"></i> 
    <input id="edit_waterrate" class="form-control input-field" type="text" name="waterrate" placeholder="Kshs {{obj.watercharge}} ~ Fixed charge(water)" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-faucet icon text-info"></i> 
    <input id="edit_unitrate" class="form-control input-field" type="text" name="unitrate" placeholder="Kshs {{obj.waterrate}} ~ Unit rate(water)" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-faucet icon text-info"></i> 
    <input id="edit_elecunitrate" class="form-control input-field" type="text" name="unitrate" placeholder="Kshs {{obj.electricityrate}} ~ Unit rate(electricity)" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-biohazard icon text-info"></i> 
    <input id="edit_garbagerate" class="form-control input-field" type="text" name="garbagerate" placeholder="Kshs {{obj.garbagerate}} ~ Garbage fee" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-dollar-sign icon text-info"></i> 
    <input id="edit_securityrate" class="form-control input-field" type="text" name="securityrate" placeholder="Kshs {{obj.securityrate}} ~ Security fee" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-dollar-sign icon text-info"></i> 
    <input id="edit_servicerate" class="form-control input-field" type="text" name="servicerate" placeholder="Kshs {{obj.servicerate}} ~ Service charge" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-percent icon text-info"></i> 
    <input id="edit_finerate" class="form-control input-field" type="text" name="finerate" placeholder="Kshs {{obj.finerate}} ~ Fine percentage" required>
  </div>
  <div class="form-group input-icons">
    <i class="fa fa-dollar-sign icon text-info"></i> 
    <input id="edit_waterdep" class="form-control input-field" type="text" name="waterdep" placeholder="Kshs {{obj.waterdep}} ~ Water deposit" required>
  </div>

  <div class="form-group input-icons">
    <i class="fa fa-dollar-sign icon text-info"></i> 
    <input id="edit_elecdep" class="form-control input-field" type="text" name="elecdep" placeholder="Kshs {{obj.elecdep}} ~ Electricity deposit" required>
  </div>

