
<div class="container">

    <div id="lineitems">

        <div class="row">
            <div class="form-group col-6 no-paddin text-black font-weight-bold text-uppercase">
                <span>ITEM</span>
            </div>
            <div class="form-group col-6 no-paddin text-black font-weight-bold text-uppercase">
                <span>PRIORITY </span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Rent" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('rent')}}" />
            </div>
        </div>


        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Deposit" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('dep')}}" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Water" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('water')}}" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Garbage" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('garb')}}" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Security" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('sec')}}" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Service" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('serv')}}" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Penalty" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('fine')}}" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="Electricity" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="set priority" value="{{priorities.get('elec')}}" />
            </div>
        </div>


    </div>
</div>



<!-- <script>
    let wrapper=document.querySelector("#lineitems");

    let children=wrapper.children;
    console.log(wrapper,children);

    let newOrder=[1,0];

    //it means that the first element you want it to be the four element
    //The second element you want it to be the third
    //the third element you want it to be the second
    //the four element you want it to be the first


    for(let i=0;i<newOrder.length;i++){
    for(let j=0;j<newOrder.length;j++){
        if(i==newOrder[j]){
        wrapper.appendChild(children[j]);
        break;
        }
    }
    }
</script> -->