<style>




</style>

<div class="col-lg-12 no-padding">
    <div id="reqdata" class="table-responsive">
        <table id="tenantData" class="table shadow" width="100%" cellspacing="0">
            <thead class="border-top-info">
                <tr>
                <th class="text-black font-weight-bold">Name</th>
                <th class="text-black font-weight-bold">Phone</th>
                <th class="text-black font-weight-bold ">Email</th>

                <th class="text-black font-weight-bold ">Status</th>
                <th class="text-black font-weight-bold">Date</th>
                <th class="text-black font-weight-bold ">Engagements</th>
                <!-- <th class="text-black font-weight-bold ">History</th> -->
                <th class="text-black font-weight-bold ">Convert</th>

                <!-- <th class="text-black font-weight-bold text-primary" data-orderable="false">Edit</th> -->
                <th class="text-black font-weight-bold  text-danger" data-orderable="false">Remove</th>

                </tr>
            </thead>
            <tbody>
                {% for i in items%}
                <tr>
                <td id="" class="data-cell font-weight-bold mt-1 text-primary no-wrap">{{ i['name'] }}</td>
                <td class="data-cell">{{ i['tel'] }}</td>
                <td class="data-cell ">{{ i['email'] }}</td>

                <td class="data-cell ">{{ i['status']|safe }}</td>
                <td class="data-cell ">{{ i['date'] }}</td>

                <td class="data-cell">
                  <div>
                    <span id="{{i['id']}}" type="button" class="text-primary font-weight-bold  no-wrap" data-toggle="modal" data-target="#chatModal">Engagements {{i['conversations']}} <i class="fas fa-angle-double-right ml-1"></i></span>
                  </div>
                </td>

                <!-- <td class="data-cell">
                  <div>
                    <span id="{{i['editid']}}" type="button" class="text-primary font-weight-bold  no-wrap" data-toggle="modal" data-target="#chatModal">History {{i['conversations']}} <i class="fas fa-angle-double-right ml-1"></i></span>
                  </div>
                </td> -->

                <td class="data-cell">
                  <div>
                    <span id="{{i['identity']}}" type="button" class="text-primary font-weight-bold  no-wrap" data-toggle="modal" data-target="#addTenantModal">Convert {{i['conversations']}} <i class="fas fa-angle-double-right ml-1"></i></span>
                  </div>
                </td>
                <!-- <td class="text-s data-cell dispnone">
                  <div>
                    <button id="{{i['editid']}}" type="button" class="btn action-btn btn-outline-primary font-weight-bold  no-wrap" data-toggle="modal" data-target="#editTenantModal"><i class="fas fa-user-edit mr-1"></i>Edit</button>
                  </div>
                </td> -->

                <td class="text-s data-cell ">
                  <div>
                    <button id="{{i['delid']}}" type="button" class="btn action-btn btn-outline-danger font-weight-bold  no-wrap" data-toggle="modal" data-target="#removeLeadModal"><i class="fas fa-trash-alt mr-1"></i>Remove</button>
                  </div>
                </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

                <!-- Pagination Links-->

                <p class="text-right mt-3">
                  <span id="pages" class="dispnone">{{pg.pages}}</span>
                  Showing {{ pg.first }} to {{ pg.last }} of {{ pg.total }} entries
                </p>

                <div class="text-right">
                  <button id="prev{{pg.prev_num}}" class="btn btn-outline-dark 
                  {% if pg.page == 1 %}disabled{% endif %}">&laquo;</button>
                  <!-- Loop through the number of pages to display a link for each-->
                  {% for page_num in pg.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                      {% if page_num %}
                        <!-- Check for the active page and set the link to "Active"-->
                        {% if pg.page == page_num %}
                            <button id="num{{page_num}}" class="btn btn-dark">{{ page_num }}</button>
                        {% else %}
                            <button id="num{{page_num}}" class="btn btn-outline-dark">{{ page_num }}</button>
                        {% endif %}
                      {% else %}
                        ...
                      {% endif %}
                  {% endfor %}
                  <button id="next{{pg.next_num}}" class="btn btn-outline-dark 
                  {% if pg.page == pg.pages %}disabled{% endif %}">&raquo;
                  </button>
                </div>
                <p class="text-right mt-3">
                  <span id="pages" class="dispnone">{{pg.pages}}</span>
                  Showing page {{ pg.page }} of {{ pg.pages }}
                </p>
      
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
      $('#tenantData').DataTable({
        "processing": true,
        "paging": false,
        "info" : false,
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        "order": [[ 0, "asc" ]],
        "aoColumnDefs": [{ "bSortable": false, "aTargets": [ 1,2,3 ],type: 'natural' }],
        "searching":false,
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
      });
  </script>


<script>
  var rawIds = "{{ tenantids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)

  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)

      $.ajax({
            url: "/fetch/leads",
            type: "get",
            data: {
              lead_id: item,
              target:"lead name"
            },
            success: function(response) {
              $(".lead-name").html(response);
            }
          });

      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_lead_identifier").html(item)
        }
        else{
          $("#edit_lead_identifier").html(item)
        }
        
      }else{
        $("#lead_identifier").html(item)
      }
    });
  });
</script>

<script>
  var pages = range(1, $("#pages").text())

  function loader(item) {
    getLeads($("#prop_identifier").text(), "leads", item)
    $("#currentleadpage").text(item)
  }

  $.each(pages, function (i, item) {
    $("#num" + item).on('click', function () {
      loader(item)
    })
  })
  $.each(pages, function (i, item) {
    $("#next" + item).on('click', function () {
      loader(item)
    })
  })
  $.each(pages, function (i, item) {
    $("#prev" + item).on('click', function () {
      loader(item)
    })
  })
</script> 
