<span id="edit_bill_identifier" class="dispnone">{{bill.id}}</span>
<span id="tenant_identifier_id" class="dispnone">{{bill.tenant.id}}</span>
<span id="deposit_paid" class="dispnone">False</span>

<div class="container">


    <div id="depositbed" class="row dispnone">
        <div class="form-group col-6 no-paddin input-icons">
            <span id="tenant_identifier_id" class="dispnon">{{bill.tenant.name}}</span>

            <span class="text-danger">Unpaid deposit</span>
            <span type="button" class="text-primary ml-2" data-toggle="modal"
            data-target="#editDepModal"><i class="text-primary feather-16" data-feather="edit"></i> adjust</span>

            <input id="newdepositdue"
                class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                type="text" value="{{dep.balance}}" disabled />
        </div>
        <div class="form-group col-6 no-paddin input-icons">
            <span>Deposit allocation </span>
            <input id="newdepositpaid"
                class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                placeholder="0.0" value="" />
        </div>

        <div class="form-group col-6 no-paddin input-icons hide">
            <span>Placeholder</span>
            <input id=""
                class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                type="text" value="" disabled />
        </div>
        <div class="form-group col-6 no-paddin input-icons">
            <span>Available for other allocations </span>
            <input id="available_bal"
                class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                placeholder="0.0" value="" disabled/>
        </div>
      </div>

    <div class="form-group mb-1 text-right {{edit}}">
        <span class="">
            <input type="checkbox" id="paydeposit" class="check-bt" name="paydeposit" value="paydeposit">
            <label class="text-black" for="paydeposit">Pay deposit?</label>
        </span>
        <span class="">
            <input type="checkbox" id="paidll" class="check-bt" name="paidll" value="paidll">
            <label class="text-black" for="paidll">Paid to landlord?</label>
        </span>
        <button type="button" class="btn btn-light text-danger btn-sm" data-toggle="modal"
            data-target="#lockUnlockModal"><i class="fas fa-lock mr-1"></i>lock/unlock</button>
        <button type="button" class="btn btn-light text-danger btn-sm" data-toggle="modal"
            data-target="#editBillModal"><i class="fas fa-edit mr-1"></i>edit invoice</button>
        <!-- <button type="button" class="btn btn-light text-danger btn-sm" data-toggle="modal" data-target="#editPayModal"><i class="fas fa-cogs mr-1"></i>edit payments</button> -->
    </div>


    <div id="lineitems">


        {%if bill.booking_due%}
        <div class="row">
            <div class="form-group col-md-6">
                <span class="text-dark">DEPOSIT AMOUNT</span>
                <input id="bookingdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.booking_due}}" disabled />
            </div>
            <div class="form-group col-md-6">
                <span>Deposit allocation </span>
                <input id="bookingpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>

        {% endif %}

        {%if bill.instalment_due%}
        <div class="row">
            <div class="form-group col-6">
                <span class="text-dark"> All Instalments due </span> </span>
                <input id="instalmentdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.instalment_due}}" disabled />
            </div>
            <div class="form-group col-6">
                <span>Instalment allocation </span>
                <input id="instalmentpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.addfee_due%}
        <div class="row">
            <div class="form-group col-6">
                <span class="text-dark">Other payments due (excise duty, legal e.tc @{{bill.addfee}})</span> </span>
                <input id="addfeedue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.addfee_due}}" disabled />
            </div>
            <div class="form-group col-6">
                <span>Others payments </span>
                <input id="addfeepaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.deposit_due%}
        <div class="row dispnone">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Deposit due</span>
                <input id="depositdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.deposit_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Deposit allocation </span>
                <input id="depositpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.rent_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Rent due</span>
                <input id="rentdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 text-right text-danger"
                    type="text" value="{{bill.rent_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Rent allocation </span>
                <input id="rentpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.penalty_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Penalty due</span>
                <input id="penaltydue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.penalty_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Penalty allocation </span>
                <input id="penaltypaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}
        {%if bill.maintenance_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Service due</span>
                <input id="servicedue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.maintenance_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Service allocation </span>
                <input id="servicepaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.garbage_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Garbage due</span>
                <input id="garbagedue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.garbage_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Garbage allocation </span>
                <input id="garbagepaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>

        {% endif %}
        {%if bill.security_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Security due</span>
                <input id="securitydue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.security_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Security allocation </span>
                <input id="securitypaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if (bill.water_due) %}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Water due</span>
                <input id="waterdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 text-right text-danger"
                    type="text" value="{{bill.water_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Water allocation </span>
                <input id="waterpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}
        {%if bill.electricity_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Electricity due</span>
                <input id="electricitydue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.electricity_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Electricity allocation </span>
                <input id="electricitypaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.agreement_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Agreement due</span>
                <input id="agreementdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.agreement_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Agreement allocation </span>
                <input id="agreementpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>

    </div>
    {% endif %}
</div>


<div class="dispnone">
    <div>
        <input id="paid_rentdep_memory" value="{{dep.paid_rentdep}}">
        <input id="paid_waterdep_memory" value="{{dep.paid_waterdep}}">
        <input id="paid_elecdep_memory" value="{{dep.paid_elecdep}}">
        <input id="paid_otherdep_memory" value="{{dep.paid_otherdep}}">
    </div>

    <div class="row mb-2">
        <div class="col-3 border-0 semi-small">Rent deposit</div>
        <div class="col-3"><input id="edit_rentdep" class="form-control ph" type="text" value="{{dep.rentdep}}"></div>
        <div class="col-3"><input id="edit_prentdep" class="form-control ph" type="text" value="{{dep.paid_rentdep}}"></div>
    </div>
    
    <div class="row mb-2">
        <div class="col-3 border-0 semi-small">Water deposit</div>
        <div class="col-3"><input id="edit_waterdep" class="form-control ph" type="text" value="{{dep.waterdep}}"></div>
        <div class="col-3"><input id="edit_pwaterdep" class="form-control ph" type="text" value="{{dep.paid_waterdep}}"></div>
    </div>
    
    <div class="row mb-2">
        <div class="col-3 border-0 semi-small">Elec deposit</div>
        <div class="col-3"><input id="edit_elecdep" class="form-control ph" type="text" value="{{dep.elecdep}}"></div>
        <div class="col-3"><input id="edit_pelecdep" class="form-control ph" type="text" value="{{dep.paid_elecdep}}"></div>
    </div>
    
    <div class="row mb-2">
        <div class="col-3 border-0 semi-small">Other deposits</div>
        <div class="col-3"><input id="edit_otherdep" class="form-control ph" type="text" value="{{dep.otherdep}}"></div>
        <div class="col-3"><input id="edit_potherdep" class="form-control ph" type="text" value="{{dep.paid_otherdep}}"></div>
    </div>
    
</div>


<div id="advancepay" class="form-group dispnone no-paddin input-icons">
    <span class="text-danger font-weight-bold">Overpayment/Advance/Prepayment</span> : Kes <span class="text-black text-125" id="advance_pay_text">...</span>
    <input id="advance_pay"
        class="dispnone form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-center text-danger" type="text"
        value="" disabled /> <br>
</div>




<!-- <script>
    let wrapper=document.querySelector("#lineitems");

    let children=wrapper.children;
    console.log(wrapper,children);

    let newOrder=[1,0];

    //it means that the first element you want it to be the four element
    //The second element you want it to be the third
    //the third element you want it to be the second
    //the four element you want it to be the first


    for(let i=0;i<newOrder.length;i++){
    for(let j=0;j<newOrder.length;j++){
        if(i==newOrder[j]){
        wrapper.appendChild(children[j]);
        break;
        }
    }
    }
</script> -->

<script>
    $("#available_bal").on('change',function(){

      let newpaid = parseInt($("#available_bal").val().replace(/,/g, ''));

    let bal = newpaid

    let bookingdue = parseInt($("#bookingdue").val())
    let instalmentdue = parseInt($("#instalmentdue").val())
    let addfeedue = parseInt($("#addfeedue").val())

    let rentdue = parseInt($("#rentdue").val())

    let waterdue = parseInt($("#waterdue").val())
    if (waterdue < 0){
      waterdue = 0
    }
    let electricitydue = parseInt($("#electricitydue").val())
    let garbagedue = parseInt($("#garbagedue").val())
    let securitydue = parseInt($("#securitydue").val())
    let servicedue = parseInt($("#servicedue").val())
    let penaltydue = parseInt($("#penaltydue").val())
    let depositdue = parseInt($("#depositdue").val())
    let agreementdue = parseInt($("#agreementdue").val())


    if (bal >= depositdue) {$("#depositpaid").val(depositdue);bal -= depositdue}else if (bal < depositdue && bal > 0) {$("#depositpaid").val(bal);bal = 0}else {$("#depositpaid").val(0.0)}

    if (bal >= bookingdue) {$("#bookingpaid").val(bookingdue);bal -= bookingdue}else if (bal < bookingdue && bal > 0) {$("#bookingpaid").val(bal);bal = 0}else {$("#bookingpaid").val(0.0)}
    if (bal >= instalmentdue) {$("#instalmentpaid").val(instalmentdue);bal -= instalmentdue}else if (bal < instalmentdue && bal > 0) {$("#instalmentpaid").val(bal);bal = 0}else {$("#instalmentpaid").val(0.0)}
    if (bal >= addfeedue) {$("#addfeedue").val(addfeedue);bal -= addfeedue} else if (bal < addfeedue && bal > 0) {$("#addfeedue").val(bal);bal = 0}else {$("#addfeedue").val(0.0)}


    if (bal >= rentdue) {$("#rentpaid").val(rentdue);bal -= rentdue}else if (bal < rentdue && bal > 0) {$("#rentpaid").val(bal);bal = 0}else {$("#rentpaid").val(0.0)}
    if (bal >= penaltydue) {$("#penaltypaid").val(penaltydue);bal -= penaltydue}else if (bal < penaltydue && bal > 0) {$("#penaltypaid").val(bal);bal = 0}else {$("#penaltypaid").val(0.0)}

    if (bal >= garbagedue) {$("#garbagepaid").val(garbagedue);bal -= garbagedue}else if (bal < garbagedue && bal > 0) {$("#garbagepaid").val(bal);bal = 0}else {$("#garbagepaid").val(0.0)}
    if (bal >= securitydue) {$("#securitypaid").val(securitydue);bal -= securitydue}else if (bal < securitydue && bal > 0) {$("#securitypaid").val(bal);bal = 0}else {$("#securitypaid").val(0.0)}
    if (bal >= servicedue) {$("#servicepaid").val(servicedue);bal -= servicedue}else if (bal < servicedue && bal > 0) {$("#servicepaid").val(bal);bal = 0}else {$("#servicepaid").val(0.0)}

    if (bal >= waterdue) {$("#waterpaid").val(waterdue);bal -= waterdue}else if (bal < waterdue && bal > 0) {$("#waterpaid").val(bal);bal = 0}else {$("#waterpaid").val(0.0)}
    if (bal >= electricitydue) {$("#electricitypaid").val(electricitydue);bal -= electricitydue}else if (bal < electricitydue && bal > 0) {$("#electricitypaid").val(bal);bal = 0}else {$("#electricitypaid").val(0.0)}

    if (bal >= agreementdue) {$("#agreementpaid").val(agreementdue);bal -= agreementdue}else if (bal < agreementdue && bal > 0) {$("#agreementpaid").val(bal);bal = 0}else {$("#agreementpaid").val(0.0)}
    
    if(bal){
      $("#advancepay").removeClass("dispnone")
      $("#advance_pay_text").text(bal)
      $("#advance_pay").val(bal)
    }
    else{
        // $("#advancepay").addClass("dispnone")
      $("#advance_pay_text").text("")
      $("#advance_pay").val(0.0)

    }
        // if (parseInt($("#bdepmemory").val()) > 0)
        // {

        //   if (bal > parseInt($("#bdepmemory").val())){

        //     pay_remainder = bal-parseInt($("#bdepmemory").val())

        //     $("#deposit_pay_text").text($("#bdepmemory").val())
        //     $("#total_deposit_pay_text").text((Number($("#bdepmemory").val()) + Number($("#pdepmemory").val())))

        //     pay_deposit = $("#bdepmemory").val()
        //     $("#deposit_bal_text").text( parseInt($("#bdepmemory").val()) - parseInt($("#bdepmemory").val()) )

        //     $("#edit_rentdep").val($("#depmemory").val())
        //     $("#edit_prentdep").val(parseInt($("#pdepmemory").val()) + parseInt($("#bdepmemory").val() ))
        //     $("#edit_brentdep").val( parseInt($("#bdepmemory").val()) - parseInt($("#bdepmemory").val()))
        //   }
        //   else{

        //     pay_remainder = 0
        //     pay_deposit = bal

        //     $("#deposit_pay_text").text(bal)
        //     $("#total_deposit_pay_text").text(bal + parseInt($("#pdepmemory").val()))

        //     $("#deposit_bal_text").text( parseInt($("#bdepmemory").val()) - bal )

        //     $("#edit_rentdep").val($("#depmemory").val())
        //     $("#edit_prentdep").val(parseInt($("#pdepmemory").val()) + bal)
        //     $("#edit_brentdep").val( parseInt($("#bdepmemory").val()) - bal )
        //   }
        // }
        // }else{

        //   pay_remainder = 0
        //   pay_deposit = 0

        //   console.log("no bal no dep paid")

        //   $("#advancepay").addClass("dispnone")
        // //   $("#advance_pay").val(0.0)
        //   $("#advance_pay_text").text("0.0")

        //   $("#deposit_pay").val(0.0)
        //   $("#deposit_pay_text").text("0.0")
        //   $("#total_deposit_pay_text").text("0.0")

        //   $("#deposit_bal").val("0.0")
        //   $("#deposit_bal_text").text("0.0")

        //   $("#edit_rentdep").val($("#depmemory").val())
        //   $("#edit_prentdep").val($("#pdepmemory").val())
        //   $("#edit_brentdep").val($("#bdepmemory").val())
        
        // }


    // $("#advance_pay").val(pay_remainder)
    // $("#deposit_pay").val(pay_deposit)

  })

  </script>

<script>
    $("#paidamount").on('keyup',function(){
    var empty = false;
    if ($('#paidamount').val() == "") {
      empty = true;
    }
    
    var contents =  $("#access").text();

    if (contents != ""){
      empty = true;
    }

    if (empty) {
        $("#fieldset3").addClass("dispnone")
        // $('#paybtn_alt').addClass("dispnone");
    } else {
        // $('#paybtn_alt').removeClass("dispnone")
        $("#fieldset3").removeClass("dispnone")

    }

    let paid = parseInt($("#paidamount").val().replace(/,/g, ''));
    let dpaid = parseInt($("#newdepositpaid").val().replace(/,/g, ''));

    if(paid){

        if (dpaid) {

            if (dpaid < paid){
                $("#available_bal").val(paid - dpaid);
            }else{
                $("#available_bal").val(paid);
                $("#newdepositpaid").val(0.0);
            }
        } else {
            $("#available_bal").val(paid);
        }

    }else{
        $("#available_bal").val(0.0);
        $("#newdepositpaid").val(0.0);
    }
    $("#available_bal").change();

  });
</script>

<script>
    $("#newdepositpaid").on('keyup',function(){

    let paid = parseInt($("#paidamount").val().replace(/,/g, ''));
    let dpaid = parseInt($("#newdepositpaid").val().replace(/,/g, ''));
    let undpaid = parseInt($("#newdepositdue").val().replace(/,/g, ''));

    if (dpaid){
        if (paid >= dpaid){

            if (undpaid){
                if (dpaid <= undpaid){
                    $("#available_bal").val(paid-dpaid);
                }else{
                    $("#newdepositpaid").val(undpaid);
                    $("#available_bal").val(paid-undpaid);
                }
            }else{
                $("#newdepositpaid").val(0.0);
                $("#available_bal").val(paid);
            }

            
        }else{

            if (undpaid){
                if (dpaid < undpaid){
                    $("#newdepositpaid").val(paid);
                    $("#available_bal").val(0.0); 
                }else{
                    if (undpaid <= paid){
                        $("#newdepositpaid").val(undpaid);
                        $("#available_bal").val(paid-undpaid);
                    }else{
                        $("#newdepositpaid").val(0.0);
                        $("#available_bal").val(paid);
                    }


                }
            }else{
                $("#newdepositpaid").val(0.0);
                $("#available_bal").val(paid);
            }

        }
    }else {
        $("#available_bal").val(paid);

    }

    $("#available_bal").change();

    //logic for deposit payment lie here

    let dp = parseInt($("#newdepositpaid").val().replace(/,/g, ''));

    let rentdep_paid = parseInt($("#paid_rentdep_memory").val().replace(/,/g, ''));
    let waterdep_paid = parseInt($("#paid_waterdep_memory").val().replace(/,/g, ''));
    let elecdep_paid = parseInt($("#paid_elecdep_memory").val().replace(/,/g, ''));
    let otherdep_paid =  parseInt($("#paid_otherdep_memory").val().replace(/,/g, ''));

    let rentdep_due = parseInt($("#edit_rentdep").val().replace(/,/g, '')) - parseInt($("#paid_rentdep_memory").val().replace(/,/g, ''));
    let waterdep_due = parseInt($("#edit_waterdep").val().replace(/,/g, '')) - parseInt($("#paid_waterdep_memory").val().replace(/,/g, ''));
    let elecdep_due = parseInt($("#edit_elecdep").val().replace(/,/g, '')) - parseInt($("#paid_elecdep_memory").val().replace(/,/g, ''));
    let otherdep_due = parseInt($("#edit_otherdep").val().replace(/,/g, '')) - parseInt($("#paid_otherdep_memory").val().replace(/,/g, ''));

    if (dp >= rentdep_due) {$("#edit_prentdep").val(rentdep_due + rentdep_paid); dp -= rentdep_due} else if (dp < rentdep_due && dp > 0) {$("#edit_prentdep").val(dp + rentdep_paid);dp = 0}else {$("#edit_prentdep").val(rentdep_paid)};
    if (dp >= waterdep_due) {$("#edit_pwaterdep").val(waterdep_due + waterdep_paid); dp -= waterdep_due} else if(dp < waterdep_due && dp > 0) {$("#edit_pwaterdep").val(dp + waterdep_paid); dp = 0}else {$("#edit_pwaterdep").val(waterdep_paid)};
    if (dp >= elecdep_due) {$("#edit_pelecdep").val(elecdep_due + elecdep_paid); dp -= elecdep_due} else if (dp < elecdep_due && dp > 0) {$("#edit_pelecdep").val(dp + elecdep_paid); dp = 0} else {$("#edit_pelecdep").val(elecdep_paid)};
    if (dp >= otherdep_due) {$("#edit_potherdep").val(otherdep_due + otherdep_paid); dp -= otherdep_due} else if (dp < otherdep_due && dp > 0) {$("#edit_potherdep").val(dp + otherdep_paid); dp = 0} else {$("#edit_potherdep").val(otherdep_paid)};

  });




  $('#paydeposit').on('change', function() {
            if ($(this).is(':checked')) {
                // Checkbox is checked, show the deposit section
                $('#depositbed').removeClass("dispnone");
                $("#deposit_paid").text("True")
            } else {
                // Checkbox is unchecked, hide the deposit section
                $('#depositbed').addClass("dispnone");
                $("#deposit_paid").text("False")
            }
        });

</script>



<script>
    feather.replace();
  </script>