<div class="gx-3 mb-1">
      <label class="small text-malibu-blue mb-1" for="repainting">Repainting charges</label>
      <input class="form-control text-right" id="repainting" type="text" value="{{dep.repainting}}"
            placeholder="E.g 25,000" />
</div>
<div class="gx-3 mb-1">
      <label class="small text-malibu-blue mb-1" for="plumbing">Plumbing cost</label>
      <input class="form-control text-right" id="plumbing" type="text" value="{{dep.plumbing}}"
            placeholder="E.g 1,500" />
</div>
<div class="gx-3 mb-1">
      <label class="small text-malibu-blue mb-1" for="electricals">Electrical repairs</label>
      <input class="form-control text-right" id="electricals" type="text" value="{{dep.electricals}}"
            placeholder="E.g 2,000" />
</div>
<div class="gx-3 mb-1">
      <label class="small text-malibu-blue mb-1" for="fixtures">Fixtures & Fittings</label>
      <input class="form-control text-right" id="fixtures" type="text" value="{{dep.fixtures}}"
            placeholder="E.g 3,500" />
</div>
<div class="gx-3 mb-1">
      <label class="small text-malibu-blue mb-1" for="other_expenses">Other Expenses</label>
      <input class="form-control text-right" id="other_expenses" type="text" value="{{dep.others}}"
            placeholder="E.g 3,500" />
</div>