

    <!-- Pie Chart -->
    <div class="col-12">
        <div class="card shadow mb-1 bg-white">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-0 d-flex flex-row align-items-center justify-content-between x-smallify">

                    <div class="font-weight-bold targetprop">
                        <span>(<span class="text-black targetprop">{{targetprop}}</span>)</span>
                        <i class="fas fa-chevron-right text-info ml-1"></i>
                    </div>
                   
                    <div class="font-weight-bold">
                        <span class="text-primary fa-2x mr-1 ln-28">{{numhouse}}</span>
                        <span class="text-black">listed units/houses</span>
                        <i class="fas fa-circle text-primary ml-1"></i>
                    </div>

                    <div class="font-weight-bold mobile-malaysian">
                        <span class="text-success fa-2x mr-1 ln-28">{{numalloc}}</span>
                        <span class="text-black">Occupied ({{occupancy_rate}})</span>
                        <i class="fas fa-circle text-success ml-1"></i>
                    </div>

                    <div class="font-weight-bold">
                        <span class="text-danger fa-2x mr-1 ln-28">{{numvac}}</span>
                        <span class="text-black">Vacant ({{vacancy_rate}})</span>
                        <i class="fas fa-circle text-danger ml-1"></i>
                    </div>

            </div>
        </div>

    </div>
