
<section class="contact_area section_gap">
        <span id="prop_identifier" class="dispnone">{{prop.id}}</span>

        <span id="exp_identifier" class="dispnone"></span>
        <span id="editexp_identifier" class="dispnone"></span>
        <span id="delexp_identifier" class="dispnone"></span>

        <span id="target_identifier" class="dispnone">completed</span>



        <div class="pb-2 bg-white divjust-end underline-thin-fade">

          <div>
            <span id="backbtn" class="btn btn-sm btn-light text-danger font-weight-bold">
              <!-- <i class="me-1" data-feather="user-plus"></i> -->
              <i class="fas fa-long-arrow-alt-left text-danger"></i>
              Back to properties
            </span>

          </div>

          <div class="">

            <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#expenseRequestModal">
              <i class="feather-18 text-black mr-1 pb-1" data-feather="upload"></i>
              add expense
            </span>

            <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#inclusionRequestModal">
              <i class="feather-18 text-black mr-1 pb-1" data-feather="plus-circle"></i>
              add remittance
            </span>

            <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#depositRefundModal">
              <i class="feather-18 text-black mr-1 pb-1" data-feather="plus-circle"></i>
              deposit refund
            </span>
          </div>

          <div class="small">
            <nav class="nav nav-borders">
              <div class="info_item mr-2">
                <i class="feather-18 text-black mr-1 pb-1" data-feather="calendar"></i>
                <input class="periods" id="period1" name="readperiod" type="radio" value="old"/>
                <label class="small font-weight-bold mb-1 text-danger" for="period1">Previous Period <span class="text-black"> - {{current_month}}</span></label>
              </div> 
            </nav>

            <nav class="nav nav-borders">
              <div class="info_item mr-2">
                <i class="feather-18 text-black mr-1 pb-1" data-feather="calendar"></i>
                <input class="periods" id="period2" name="readperiod" type="radio" value="current" checked/>
                <label class="mb-1 small font-weight-bold text-danger" for="period2">Current period <span class="text-black"> - {{period}}</span></label>
              </div>
            </nav>
          </div>
        </div> 


        <div class="dispnon">
          <nav class="nav nav-borders">
            <div>
              <label class="me-2 btn text-primary"><input type="checkbox" id="cb1" value="cb1" class="chb dispnone"/><i class="feather-18 text-black mr-1 pb-1" data-feather="help-circle"></i>pending</label>
              <label class="me-2 btn text-primary underline"><input type="checkbox" id="cb2" value="cb2" class="chb dispnone" checked/><i class="feather-18 text-black mr-1 pb-1" data-feather="check-circle"></i>approved</label>
              <label class="me-2 btn text-primary"><input type="checkbox" id="cb3" value="cb3" class="chb dispnone"/><i class="feather-18 text-black mr-1 pb-1" data-feather="slash"></i>rejected</label>
            </div>
          </nav>
        </div>


        <div id="barloader-alt" class="load-bar-alt mb-1 dispnone">
          <div class="bar-alt"></div>
          <div class="bar-alt"></div>
          <div class="bar-alt"></div>
        </div>
        
        <div id="child-result-view" class="row">
    
        </div>

</section>


<div class="text-center">

  <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="indicator"></div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Expense request approval</h5>
        </div>
        <div class="modal-body">
          <div class="media mb-2">
            <div class="media-body">

              <div class="position-relative">
                <form class="divb" action="" method="POST">

                  <div class="form-group">
                    <select class="select-css" id ="selected_action">
                      <option disabled selected value> Select action </option>
                      
                      <option value="completed">Approve</option>
                      <option value="rejected">Reject</option>
                      
                    </select>
                  </div>

                  <div class="form-group">
                    <input id="desc" name="desc" class="form-control" placeholder="Description">
                  </div>
                  <!-- <input type="submit" class="borderless bg-success" value="submit"> -->
                  <!-- <div class="divbg center-btn">
                    <button id="submitmodal" type="button" class="bg-gradient-success borderless text-white">Submit</button>
                </div> -->
                </form>

              </div>
            </div>
          </div>
        </div>

        <div class="modal-foote divbg">
          <button id="submitmodalThree" type="button" class="btn bg-gradient-success borderless text-white btn-sm has-margin-bottom">Submit</button>
          <button type="button" id="closemodalThree" class="btn btn-danger btn-sm has-margin-bottom" data-dismiss="modal">Close</button>
          <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <div class="modal fade" id="expenseRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header">
            <h5 class="modal-title text-xx text-info" id="exampleModalLabel">New expense</h5>
          </div>
          <div class="modal-body">
            <div class="media mb-2">
              <div class="media-body">
  
                <div class="position-relative">
                  <form class="" action="" method="POST">

                    <div class="underline-thin">

                    

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Expense</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="itemname" class="form-control ph" type="text" placeholder="Eg Tokens, paint">
                        <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Date</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                          <input type="date" class="form-control" id="trans-date" name="transaction-date" required>
                        <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                      </div>
                    </div>                    

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Category</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <select class="select-css" id ="expense_type" required>
                          <option disabled selected value> Expense type </option>
                          
                          <option value="token">Electricity bill(tokens)</option>
                          <option value="water_bill">Water bill(Council)</option>
                          <option value="electricity_service">Electrician service</option>
                          <option value="plumbing_service">Plumbing service</option>
                          <option value="cleaning_tool">Cleaning tools</option>
                          <option value="salaries">Salary payment</option>
                          <option value="paint">Paint & Labour</option>
                          <option value="other">Other</option>
                          
                        </select>
                        <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Quantity</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="itemqty" class="form-control ph" type="text" placeholder="Eg. 5lts (if applicable)">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">House</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="itemhouse" class="form-control ph" type="text" placeholder="Eg. H2,D5,Parking">
                        <!-- <span class="fa field-icon-two text-info small">Eg</span> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Cost</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="itemcost" class="form-control pl-5 ph" type="text" placeholder="Eg. 2000">
                        <span class="fa field-icon-two text-info small">Kshs</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Labour</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="labourcost" class="form-control pl-5 ph" type="text" placeholder="Eg. 500">
                        <span class="fa field-icon-two text-info small">Kshs</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Payment details</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="paydetails" class="form-control pl-5 ph" type="text" placeholder="Ref/Chq No">
                        <span class="fa field-icon-two text-info small">Ref:</span>
                      </div>
                    </div>

                    <div class="row dispnone">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Desc.</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="itemdesc" class="form-control pl-5 ph-dark" type="text" placeholder="description">
                        <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                      </div>
                    </div>

                  </div>

                    <div class="divbg">
                      <button id="submitmodalOne" type="button" class="btn btn-outline-secondary btn-sm mt-2" disabled>Submit</button>
                      <button type="button" id="closemodalOne" class="btn btn-outline-danger btn-sm mt-2" data-dismiss="modal">Close</button>
                      <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                    </div>


                  </form>
  
                </div>
              </div>
            </div>
          </div>
  

        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="modal fade" id="inclusionRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header">
            <h5 class="modal-title text-xx text-info" id="exampleModalLabel">New remittance</h5>
          </div>
          <div class="modal-body">
            <div class="media mb-2">
              <div class="media-body">
  
                <div class="position-relative">
                  <form class="" action="" method="POST">

                    <div class="underline-thin">

                    

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Description</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="itemname2" class="form-control ph" type="text" placeholder="April rent balance">
                        <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Period</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <select class="select-css" id ="month2" required>
                          <option disabled selected value> Select month </option>
                          
                          <option value="January">January</option>
                          <option value="February">February</option>
                          <option value="March">March</option>
                          <option value="April">April</option>
                          <option value="May">May</option>
                          <option value="June">June</option>
                          <option value="July">July</option>
                          <option value="August">August</option>
                          <option value="September">September</option>
                          <option value="October">October</option>
                          <option value="November">November</option>
                          <option value="December">December</option>
                          
                        </select>
                        <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                      </div>
                    </div>                    

                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Category</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <select class="select-css" id ="expense_type2" required>
                          <option disabled selected value> Select below </option>

                          <option value="remittance">Balance remittance</option>
                          
                        </select>
                        <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Amount</span></div>
                      <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                        <input id="itemcost2" class="form-control pl-5 ph" type="text" placeholder="Eg. 45,000">
                        <span class="fa field-icon-two text-info small">Kshs</span>
                      </div>
                    </div>


                  </div>

                    <div class="divbg">
                      <button id="submitmodalOne2" type="button" class="btn btn-outline-success btn-sm mt-2">Submit</button>
                      <button type="button" id="closemodalOne2" class="btn btn-outline-danger btn-sm mt-2" data-dismiss="modal">Close</button>
                      <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                    </div>


                  </form>
  
                </div>
              </div>
            </div>
          </div>
  

        </div>
      </div>
    </div>
  </div>

<div id="dynamic_modal" class="text-center">
  <div class="modal fade" id="depositRefundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="indicator"></div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deposit Refund</h5>
        </div>
        <div class="modal-body">
          <div class="media mb-2">
            <div class="media-body">

              <div class="position-relative">
                <form class="divb" action="" method="POST">

                  <!-- <div class="form-group">
                    <select class="form-control" id ="select_expense">
                      <option disabled selected value> Select expense item </option>
                      {% for o in approved_exps %}
                      <option value="{{ o }}">{{ o }}</option>
                      {% endfor %}
                      
                    </select>
                  </div> -->
                  <div class="row form-group">
                    <div class="col-sm-6">
                      <input id="deposittenant" class="form-control" placeholder="Tenant">
                    </div>
                    <div class="col-sm-6">
                      <input id="deposithouse" class="form-control" placeholder="House">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-sm-6">
                      <input id="depositamount" class="form-control" placeholder="Available deposit" disabled>
                    </div>
                    <div class="col-sm-6">
                      <input id="depositcost" class="form-control" placeholder="Refund amount">
                    </div>
                  </div>

                  <div class="modal-foote divbg">
                    <button id="submitmodalTwo" type="button" class="btn btn-outline-success btn-sm">Submit</button>
                    <button type="button" id="closemodalTwo" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
                    <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="text-center">

  <div class="modal fade" id="editExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="indicator"></div>
        <div class="modal-header">
          <h5 class="modal-title" id="editExpenseModalLabel">Expense editing</h5>
        </div>
        <div class="modal-body">
          <div class="media mb-2">
            <div class="media-body">

              <div class="position-relative">
                <form>
                  <div class="underline-thin">
                  <div class="row">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Expense</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <input id="editname" class="form-control ph" type="text" placeholder="Eg Tokens, paint">
                      <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Period</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <select class="select-css" id ="editmonth" required>
                        <option disabled selected value> Select month </option>
                        
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                        
                      </select>
                      <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                    </div>
                  </div>                    

                  <div class="row">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Category</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <select class="select-css" id ="editexpense_type" required>
                        <option disabled selected value> Expense type </option>
                        
                        <option value="token">Electricity bill(tokens)</option>
                        <option value="water_bill">Water bill(Council)</option>
                        <option value="electricity_service">Electrician service</option>
                        <option value="plumbing_service">Plumbing service</option>
                        <option value="cleaning_tool">Cleaning tools</option>
                        <option value="salaries">Salary payment</option>
                        <option value="paint">Paint & Labour</option>
                        <option value="other">Other</option>
                        
                      </select>
                      <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Quantity</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <input id="editqty" class="form-control pl-5 ph" type="text" placeholder="Eg. 5lts">
                      <span class="fa field-icon-two text-info small">Qty</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">House</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <input id="edithouse" class="form-control ph" type="text" placeholder="Eg. H2,D5,Parking">
                      <!-- <span class="fa field-icon-two text-info small">Eg</span> -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Cost</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <input id="editcost" class="form-control pl-5 ph" type="text" placeholder="Eg. 2000">
                      <span class="fa field-icon-two text-info small">Kshs</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Labour</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <input id="editlabour" class="form-control pl-5 ph" type="text" placeholder="Eg. 500">
                      <span class="fa field-icon-two text-info small">Kshs</span>
                    </div>
                  </div>

                  <div class="row dispnone">
                    <div class="col-3 col-lg-2 no-padding text-right"><span class="form-control border-0">Desc.</span></div>
                    <div class="form-group col-9 col-lg-10 no-paddin input-icons">
                      <input id="editdesc" class="form-control pl-5 ph-dark" type="text" placeholder="description">
                      <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
                    </div>
                  </div>

                  <!-- <input type="submit" class="borderless bg-success" value="submit"> -->
                  <!-- <div class="divbg center-btn">
                    <button id="submitmodal" type="button" class="bg-gradient-success borderless text-white">Submit</button>
                </div> -->

                </div>

                  <div class="divbg">
                    <button id="submitmodalFour" type="button" class="btn btn-outline-success btn-sm mt-2">Submit</button>
                    <button type="button" id="closemodalFour" class="btn btn-outline-danger btn-sm mt-2" data-dismiss="modal">Close</button>
                    <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade center-btn" id="deleteExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
      </div>
      <div class="modal-body">Delete the expense?</div>
      <div class="has-margin-bottom divbg">
          <button id="delete_expense" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Delete</button>
          <button type="button" id="closeDeleteExpenseModal" class="btn btn-info btn-sm has-margin-bottom" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#backbtn").click(function () {
    $("#result-view").removeClass("dispnone");
    $("#child-view").addClass("dispnone")
    $("#child-view").empty();
    $("#activeprop").empty();
  })
</script>

<script>
    setTimeout(function(){
    $("#alert-msgs").fadeOut(30000,"swing");
    }, 10000);
</script>



<script>
  function getExpenses(propid, target, period) {
    // showSpin();
    spinOnChildView();
    $("#barloader-alt").removeClass("dispnone")
    // $("#current-reloader").html(target);
    $.ajax({
      url: "{{ url_for('api.expensemanagement') }}",
      type: "get",
      start_time: new Date().getTime(),
      data: { 
        propid:propid,
        target:target,
        period:period
       },
      success: function (response) {
        $("#barloader-alt").addClass("dispnone")
        spinOffChildView()

        $("#child-result-view").html(response);
      },
      complete: function(data) {
        $("#domtimeload").text((new Date().getTime() - this.start_time));
      }
    });
  }

</script>




<script type="text/javascript">
  
  getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())


  $.fn.getLabels = function() {
    return this.map(function() {
        var labels = $(this).parents('label');
        if (this.id) {
            labels.add('label[for="' + this.id + '"]');
        }
        return labels.get();
    });
  };

  $(".chb").change(function (e) {
        $(".chb").getLabels().removeClass("underline");

        //Getting status before unchecking all
        var status = $(this).prop("checked");

        $(".chb").prop('checked', false);
        $(this).prop('checked', true);

        //false means checkbox was checked and 
        //became unchecked on change event, so let it stay unchecked
        if (status === false) {
          $(this).getLabels().addClass("underline");
          $(this).prop('checked', false);
        }else{

          if ($(this).val() == "cb1"){
            $(this).getLabels().addClass("underline");
            $("#target_identifier").text("pending")

            getExpenses($("#prop_identifier").text(), "pending", $("input[name=readperiod]:checked").val())
          }else if($(this).val() == "cb2"){
            $(this).getLabels().addClass("underline");
            $("#target_identifier").text("completed")

            getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())
          }else{
            $(this).getLabels().addClass("underline");
            $("#target_identifier").text("rejected")

            getExpenses($("#prop_identifier").text(), "rejected", $("input[name=readperiod]:checked").val())
          }
        }

      });


      $(".periods").change(function (e) {

        //Getting status before unchecking all
        var status = $(this).prop("checked");

        $(".periods").prop('checked', false);
        $(this).prop('checked', true);

        //false means checkbox was checked and 
        //became unchecked on change event, so let it stay unchecked
        if (status === false) {
          $(this).prop('checked', false);
        }else{

          if ($(this).val() == "current"){
            // $('#cb1').prop('checked', true);
            // $(".chb").change();
            getExpenses($("#prop_identifier").text(), $("#target_identifier").text(), $("input[name=readperiod]:checked").val())
          }else{
            // $(".chb").change();
            // $('#cb1').prop('checked', true);
            getExpenses($("#prop_identifier").text(), $("#target_identifier").text(), $("input[name=readperiod]:checked").val())
          }
        }

      });

</script>





<script>
  $('#itemname').keyup(function() {
      var empty = false;
      
          if ($('#itemname').val() == "") {
              empty = true;
          }
   
      if (empty) {
          $('#submitmodalOne').attr('disabled', 'disabled');
      } else {
        $('#submitmodalOne').removeAttr('disabled');
        $('#submitmodalOne').removeClass('btn-outline-secondary')
        $('#submitmodalOne').addClass('btn-outline-success')
      }
  });

</script>

<script>
  $("#submitmodalOne").on('click',function(){
    $("#barloader-alt").removeClass("dispnone")

    $("#closemodalOne").click();
      url2 = "{{ url_for('api.expenses') }}";
      $.ajax({
            type: "POST",
            url: url2,
            data: {
              propid:$("#prop_identifier").text(),
              exp_type:$("#expense_type").val(),
              name:$("#itemname").val(),
              exp_date:$("#trans-date").val(),
              qty:$("#itemqty").val(),
              house:$("#itemhouse").val(),
              cost:$("#itemcost").val(),
              labour:$("#labourcost").val(),
              paydetails:$("#paydetails").val(),
              desc:$("#itemdesc").val(),
              run:"expenserequest"
            },
            success: function(response) {      
              $("#barloader-alt").addClass("dispnone")

              $('#submitmodalOne').attr('disabled', 'disabled');
              $('#submitmodalOne').addClass('btn-outline-secondary')
              $('#submitmodalOne').removeClass('btn-outline-success')
       
              snack(response);
              $(".reset").click();

              getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())

          }
      });
});
</script>

<script>
  $("#submitmodalOne2").on('click',function(){
    $("#barloader-alt").removeClass("dispnone")

    $("#closemodalOne2").click();
      url2 = "{{ url_for('api.expenses') }}";
      $.ajax({
            type: "POST",
            url: url2,
            data: {
              propid:$("#prop_identifier").text(),
              exp_type:$("#expense_type2").val(),
              name:$("#itemname2").val(),
              month:$("#month2").val(),
              qty:$("#itemqty2").val(),
              house:"",
              cost:$("#itemcost2").val(),
              labour:"",
              desc:"",
              run:"expenserequest"
            },
            success: function(response) {      
              $("#barloader-alt").addClass("dispnone")
       
              snack(response);
              $(".reset").click();
              getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())

          }
      });
});
</script>


<script>
  $("#submitmodalTwo").on('click',function(){
    $("#closemodalTwo").click();
      url2 = "{{ url_for('api.expenses') }}";
      $.ajax({
            type: "POST",
            url: url2,
            data: {
              propid:$("#prop_identifier").text(),
              exp_type:"deposit_refund",
              name:$("#deposittenant").val(),
              house:$("#deposithouse").val(),
              deposit:$("#depositamount").val(),
              cost:$("#depositcost").val(),
              desc:"Deposit refund",
              run:"expenserequest"
            },
            success: function(response) {
              // $("#detailed-payments").toggleClass('invoice dispnone');
              // $("#payments-report").toggleClass('row dispnone');   
              $(".reset").click();         
              snack(response);
              getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())

          }
      });
});
</script>

<script>
  $("#submitmodalThree").on('click',function(){
    $("#barloader-alt").removeClass("dispnone")

    $("#closemodalThree").click();
      url2 = "{{ url_for('api.expenses') }}";
      $.ajax({
            type: "POST",
            url: url2,
            data: {
              propid:$("#prop_identifier").text(),
              action:$("#selected_action").val(),
              desc:$("#desc").val(),
              expenseid:$("#exp_identifier").text(),

              run:"expenseapproval"
            },
            success: function(response) {  
              $(".reset").click();
              $("#barloader-alt").addClass("dispnone")          
              snack(response);
              getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())

          }
      });
});
</script>

<script>
  $("#submitmodalFour").on('click',function(){
    $("#barloader-alt").removeClass("dispnone")

    $("#closemodalFour").click();


      url2 = "{{ url_for('api.expenses') }}";
      $.ajax({
            type: "POST",
            url: url2,
            data: {
              propid:$("#prop_identifier").text(),
              exp_type:$("#editexpense_type").val(),
              name:$("#editname").val(),
              qty:$("#editqty").val(),
              house:$("#edithouse").val(),
              deposit:$("#editdeposit").val(),
              cost:$("#editcost").val(),
              labour:$("#editlabour").val(),
              desc:$("#editdesc").val(),
              editid:$("#editexp_identifier").text(),

              run:"expenseedit"
            },
            success: function(response) {
              $("#barloader-alt").addClass("dispnone")

              // var cb = document.getElementById("reporttoggle");
              // cb.checked = false;
              // var cb2 = document.getElementById("reporttoggle2");
              // cb2.checked = false;
              // var cb3 = document.getElementById("reporttoggle3");
              // cb3.checked = false;
              // var cb4 = document.getElementById("reporttoggle4");
              // cb4.checked = false;
              $(".reset").click();
              snack(response);
              getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())

          }
      });

});
</script>

<!-- <script>
    $("#submit").on('click',function(){
      $('#submit').html('<i class="fa fa-spinner fa-spin mr-2"></i>Searching..');
  
        setTimeout(function(){
          $.ajax({
              type: "POST",
              url: "{{ url_for('api.expenses') }}",
              data: {
                prop: $("#prop_identifier").text(),
                date: $("#search_date").val(),
                status: $("#search_status").val(),
                run : "expensedisplay"
              },
              success: function(response) {
                $('#submit').html('Search');
                snack(response);

              }
          });
  
        },300);
    
      });

  </script> -->

  <script>
    
    $("#delete_expense").on('click',function(){  
      $("#barloader-alt").removeClass("dispnone")
  
      $.ajax({
        url: "{{ url_for('api.expenses') }}",
        type: "POST",
        data: {
              propid: $("#prop_identifier").text(),
              delid:$("#delexp_identifier").text(),
              run:"expensedelete"
            },
        success: function(response) {
          $("#closeDeleteExpenseModal").click();
          $("#barloader-alt").addClass("dispnone")

          snack(response);
          getExpenses($("#prop_identifier").text(), "completed", $("input[name=readperiod]:checked").val())

          
        }
      });
    });
    
    </script>

<script>
  feather.replace();
</script>