<div class="col-12 font-weight-bold text-black mb-1">{{clrs}}</div>
<div class="col-12">
  <div id="reqdata" class="table-responsive">
    <table id="tenantPaymentData" class="table shadow mb-1" width="100%" cellspacing="0">
      <thead class="border-top-info">
        <tr>

          <th class="text-info track-title-cell font-weight-bold">ID</th>
          <th class="text-info track-title-cell font-weight-bold ">NAME</th>
          <th class="text-info track-title-cell font-weight-bold ">USER</th>
          <th class="text-info track-title-cell font-weight-bold ">PROPS</th>
          <th class="text-info track-title-cell font-weight-bold ">USERS</th>
          <th class="text-info track-title-cell font-weight-bold ">DATE</th>                                                                 


        </tr>
      </thead>
      <tbody>
        {% for item in items%}
        <tr>
          <td class="data-cell">{{ item['id']}}</td>
          <td class="data-cell ">{{ item['name'] }}</td>
          <td class="data-cell ">{{ item['user'] }}</td>
          <td class="data-cell ">{{ item['props'] }}</td>
          <td class="data-cell ">{{ item['users'] }}</td>
          <td class="data-cell ">{{ item['date'] }}</td>

        </tr>
      {% endfor %}
      </tbody>
  </table>
  </div>
</div>

<!-- <script>
    var rawIds = "{{ payids|safe }}";
    var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
    console.log(ids)
    $.each(ids, function(i,item) {
    
      $("#"+item).on('click',function(){
        console.log("clicked",item)
        if( isNaN(parseInt(item)) ){
          if(item.startsWith("del")){
            $("#del_payment_identifier").html(item)
            $("#target_payment_id").html("void payment")
          }else{
            $("#edit_payment_identifier").html(item)
            $("#target_payment_id").html("edit payment")
          }
          
        }else{
          $("#payment_identifier").html(item)
          $("#target_payment_id").html("payment")
        }
      });
    });
  </script> -->
  
  
  
  <script type="text/javascript">
    $(document).ready(function () {
      $('#tenantPaymentData').DataTable({
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        "searching":false,
        "order": [[ 0, "asc" ]],
        columnDefs: [ { targets: 0, type: 'natural' } ],
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
      });
  </script>

