<span id="edit_bill_identifier" class="dispnone">{{bill.id}}</span>

<div class="container">
    <div class="form-group mb-1 text-right {{edit}}">
        <span class="">
            <input type="checkbox" id="paidll" class="check-bt" name="paidll" value="paidll">
            <label class="text-black" for="paidll">Paid to landlord?</label>
        </span>

        <button type="button" class="btn btn-light text-danger btn-sm" data-toggle="modal"
            data-target="#payOrderModal"><i class="fas fa-list mr-2"></i>set priority</button>

        <button type="button" class="btn btn-light text-danger btn-sm" data-toggle="modal"
            data-target="#editBillModal"><i class="fas fa-edit mr-1"></i>edit invoice</button>
        <!-- <button type="button" class="btn btn-light text-danger btn-sm" data-toggle="modal" data-target="#editPayModal"><i class="fas fa-cogs mr-1"></i>edit payments</button> -->
    </div>


    <div id="lineitems">


        {%if bill.booking_due%}
        <div class="row">
            <div class="form-group col-md-6">
                <span class="text-dark">DEPOSIT AMOUNT</span>
                <input id="bookingdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.booking_due}}" disabled />
            </div>
            <div class="form-group col-md-6">
                <span>Deposit paid </span>
                <input id="bookingpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>

        {% endif %}

        {%if bill.instalment_due%}
        <div class="row">
            <div class="form-group col-6">
                <span class="text-dark"> All Instalments due </span> </span>
                <input id="instalmentdue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.instalment_due}}" disabled />
            </div>
            <div class="form-group col-6">
                <span>Instalment paid </span>
                <input id="instalmentpaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.addfee_due%}
        <div class="row">
            <div class="form-group col-6">
                <span class="text-dark">Other payments due (excise duty, legal e.tc @{{bill.addfee}})</span> </span>
                <input id="addfeedue"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.addfee_due}}" disabled />
            </div>
            <div class="form-group col-6">
                <span>Others payments </span>
                <input id="addfeepaid"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.deposit_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Deposit due</span>
                <input id="due{{order['dep']}}"
                    class="depositdue form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.deposit_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Deposit paid </span>
                <input id="paid{{order['dep']}}"
                    class="depositpaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.rent_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Rent due</span>
                <input id="due{{order['rent']}}"
                    class="rentdue form-control border-top-0 border-right-0 border-left-0 pl-5 text-right text-danger"
                    type="text" value="{{bill.rent_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Rent paid </span>
                <input id="paid{{order['rent']}}"
                    class="rentpaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.penalty_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Penalty due</span>
                <input id="due{{order['fine']}}"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.penalty_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Penalty paid </span>
                <input id="paid{{order['fine']}}"
                    class="finepaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}
        {%if bill.maintenance_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Service due</span>
                <input id="due{{order['serv']}}"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.maintenance_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Service paid </span>
                <input id="paid{{order['serv']}}"
                    class="servicepaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.garbage_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Garbage due</span>
                <input id="due{{order['garb']}}"
                    class="garbagedue form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.garbage_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Garbage paid </span>
                <input id="paid{{order['garb']}}"
                    class="garbagepaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled/>
            </div>
        </div>

        {% endif %}
        {%if bill.security_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Security due</span>
                <input id="due{{order['sec']}}"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.security_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Security paid </span>
                <input id="paid{{order['sec']}}"
                    class="securitypaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if (bill.water_due) %}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Water due</span>
                <input id="due{{order['water']}}"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 text-right text-danger"
                    type="text" value="{{bill.water_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Water paid </span>
                <input id="paid{{order['water']}}"
                    class="waterpaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}
        {%if bill.electricity_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Electricity due</span>
                <input id="due{{order['elec']}}"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.electricity_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Electricity paid </span>
                <input id="paid{{order['elec']}}"
                    class="elecpaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>
        {% endif %}

        {%if bill.agreement_due%}
        <div class="row">
            <div class="form-group col-6 no-paddin input-icons">
                <span>Agreement due</span>
                <input id="due{{order['agre']}}"
                    class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right text-danger"
                    type="text" value="{{bill.agreement_due}}" disabled />
            </div>
            <div class="form-group col-6 no-paddin input-icons">
                <span>Agreement paid </span>
                <input id="paid{{order['agre']}}"
                    class="agrepaid form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-right" type="text"
                    placeholder="0.0" value="" disabled />
            </div>
        </div>

    </div>
    {% endif %}
</div>


<div id="advancepay" class="form-group dispnone no-paddin input-icons">
    <span class="text-danger font-weight-bold">Overpayment/Advance/Prepayment</span>
    <input id="advance_pay"
        class="form-control border-top-0 border-right-0 border-left-0 pl-5 ph-dark text-center text-danger" type="text"
        value="" disabled />
</div>

<!-- <script>
    let wrapper=document.querySelector("#lineitems");

    let children=wrapper.children;
    console.log(wrapper,children);

    let newOrder=[1,0];

    //it means that the first element you want it to be the four element
    //The second element you want it to be the third
    //the third element you want it to be the second
    //the four element you want it to be the first


    for(let i=0;i<newOrder.length;i++){
    for(let j=0;j<newOrder.length;j++){
        if(i==newOrder[j]){
        wrapper.appendChild(children[j]);
        break;
        }
    }
    }
</script> -->