<div class="d-flex justify-content-between align-items-center mt-3">
    <h5 class="mb-0 text-black text-125">{{changetitle}}</h5>
</div>

<table id="changeData" class="table table-striped table-bordered shadow" width="100%" cellspacing="0">
    <thead>
        <tr>
        <th class="text-info font-weight-bold">Ref</th>
        <th class="text-info font-weight-bold">Property</th>
        <th class="text-info track-title-cell">Action</th>
        <th class="text-info track-title-cell">RequestedBy</th>
        <th class="text-info track-title-cell">Date</th>
        <th class="text-info track-title-cell">Status</th>
        <th class="text-info track-title-cell">View</th>                
        </tr>
    </thead>
    <tbody>
        {% for i in items%}
        <tr>
            <td class="first-data-cell">{{ i['ref'] }}</td>
            <td class="data-cell">{{ i['property'] }}</td>
            <td class="data-cell">{{ i['action'] }}</td>
            <td class="data-cell">{{ i['requested_by'] }}</td>
            <td class="data-cell">{{ i['created_at'] }}</td>
            <td class="data-cell">{{ i['status'] }}</td>
            <td class="data-cell text-center"><button class="btn btn-info btn-sm viewrequestbtn" data-changeid="{{ i['id'] }}" {{i['disabled']}} data-toggle="modal" data-target="#viewRequestModal" aria-haspopup="true" aria-expanded="false">View</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
      $('#changeData').DataTable({
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        "searching":false,
        "order": [[ 0, "asc" ]],
        columnDefs: [ { targets: 0, type: 'natural' } ],
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
      });
  </script>
