
<div class="row">
  <div class="col-sm-6">

    <div class="row dispnone">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Code</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_rent" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.code}}" readonly>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Property</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_rent" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.name}}" readonly>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Landlord</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_water" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.landlord}}" readonly>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">LL BB/F</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_garbage" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.ll_bbf}}" placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">TNT BB/F</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_security" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.tnt_bbf}}" placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">M.rent</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_electricity" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.rent}}" placeholder="type here" disabled>
        <span class="field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Expected</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_garbage" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.expected}}" placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Actual</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_security" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.actual}}" placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">TNT BC/F</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_electricity" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.tnt_bcf}}" placeholder="type here" disabled>
        <span class="field-icon-two text-info small">Kshs</span>
      </div>
    </div>

  </div>








  <div class="col-sm-6">
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Deposit</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_deposit" class="form-control pl-5 ph-dark text-right" type="text" value="{{vars.deposit}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Utilities</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_deposit" class="form-control pl-5 ph-dark text-right" type="text" value="{{vars.utilities}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Commission</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_penalty" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.commission}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Remitted</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_maintenance" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.remitted}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>


    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Ratio</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_agreement" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.ratio}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">LL BC/F</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_penalty" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.ll_bcf}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Remarks</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_agreement" class="form-control pl-5 text-right text-black" type="text" placeholder="remarks...">
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Agent</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_maintenance" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{vars.agent}}" readonly>
      </div>
    </div>
  

  </div>

</div>









