
<!-- <div class="col-lg-12 font-weight-bold text-danger center-btn mb-1 smallify">Tenants<span class="desktop-malaysian text-dark"> Click <button id="expand" class="btn btn-outline-primary herebtn"> here </button>to <span id="expandtoggler">expand</span></span></div> -->
<div class="col-lg-12 text-black mb-1 ml-2 mt-2"><span class="text-uppercase">Tenants on premises</span></div>


<div class="col-lg-12 no-padding">
    <div id="reqdata" class="table-responsive">
        <table id="tenantData" class="table shadow" width="100%" cellspacing="0">
            <thead class="custom-header">
                <tr>
                <th class="text-black">Name</th>
                <th class="text-black" data-orderable="false">Ref</th>
                <th class="text-black" data-orderable="false">Label</th>
                <th class="text-black" data-orderable="false">Phone</th>
                <th class="text-black" data-orderable="false">Email</th>
                <th class="text-black" data-orderable="false">sms</th>
                <th class="text-black">CheckIn</th>
                <th class="text-black">Deposit</th>
                <th class="text-black text-success">Bal</th>
                <th class="text-black text-danger no-wrap" data-orderable="false">Add house</th>
                <th class="text-black text-danger" data-orderable="false">Clear</th>
                <th class="text-black text-primary" data-orderable="false">Edit</th>
                </tr>
            </thead>
            <tbody>
              {% for bill in items%}
              <tr>
                <td id="{{bill['identity']}}" class="data-cell font-weight-bold btn mt-1 action-btn btn-outline-success namebutton no-wrap"><span class="desktop-malaysian">{{ bill['hst']|safe }}</span> <span class="mobile-malaysian">{{bill['hstalt']|safe}}</span></td>
                <td class="data-cell">{{ bill['ref']}}</td>
                <td class="data-cell">{{ bill['badge']|safe }}</td>
                <td class="data-cell">{{ bill['tel'] }}</td>
                <td class="data-cell">{{ bill['email'] }}</td>
                <td class="data-cell">{{ bill['sms'] }}</td>
                <td class="data-cell">{{ bill['checkin'] }}</td>
                <td class="data-cell">{{ bill['deposit'] }}</td>
                <td class="data-cell {{bill['highlight']}}">{{ bill['balance'] }}</td>

                <td class="text-s data-cell">
                  <div>
                    <button id="{{bill['id']}}" type="button" class="btn action-btn font-weight-bold {{bill['viewable']}} no-wrap" {{bill['active']}}  data-toggle="modal" data-target="#allocateHouseModal"><i class="fas fa-house-user mr-1"></i>Add</button>
                  </div>
                </td>

                <td class="text-s data-cell">
                  <div>
                    <button id="{{bill['delid']}}" type="button" class="btn action-btn btn-outline-danger font-weight-bold  no-wrap" {{bill['vactive']}}  data-toggle="modal" data-target="#tenantClearanceModal"><i class="fas fa-sign-out-alt mr-1"></i>Clear</button>
                  </div>
                </td>
                <td class="text-s data-cell">
                  <div>
                    <button id="{{bill['editid']}}" type="button" class="btn action-btn btn-outline-primary font-weight-bold  no-wrap" {{bill['vactive']}}  data-toggle="modal" data-target="#editTenantModal"><i class="fas fa-user-edit mr-1"></i>Edit</button>
                  </div>
                </td>

              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#tenantData').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      "searching":false,
      "order": [[ 0, "asc" ]],
      columnDefs: [ { targets: 0, type: 'natural' } ],
      "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>

  

<script>
  var rawIds = "{{ tenantids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("tdel")){
          $("#ttype3").html("tenant")
          console.log("CLICKED ON TENANT")
          $("#del_tenant_identifier").html(item)
        }else if(item.startsWith("pdel")){
          console.log("CLICKED ON PTENANT")
          $("#ttype3").html("owner")
          $("#del_tenant_identifier").html(item)
        }
        else if(item.startsWith("pedit")){
          $("#edit_tenant_identifier").html(item)
        }
        else if(item.startsWith("tnt")||item.startsWith("ptnt")){
          if(item.startsWith("tnt")){
            var ttype = "tenant"
          }else{
            var ttype = "owner"
          }
          $("#barloader").removeClass("dispnone")
          $.ajax({
            url: "/results",
            type: "get",
            data: {id: item},
            success: function(response) {
              $("#barloader").addClass("dispnone")
              $("#propdisp").addClass("dispnone")
              $("#searchresults").removeClass("dispnone")
              $("#searchresults").html(response);

              // $.ajax({
              //   url: "{{ url_for('api.fetchbills') }}",
              //   type: "get",
              //   data: {
              //     tenantid: item,
              //     ttype:ttype,
              //     target:"tenant bill"
              //   },
              //   success: function(response) {
                  
              //     $("#search-result-view").html(response);
              //   }
              // });
            }
          });
        }else{
          $("#edit_tenant_identifier").html(item)
        }
        
      }else{
        $("#tenant_identifier").html(item)
      }
    });
  });
</script>


<!-- <script>
  $("#expand").click();
</script> -->

<!-- <script>
  tabletoggler();
</script> -->