<style type="text/css" media="print">
  /* @page{
    size:landscape;
  } */
  body {
    zoom: 70%;
  }
</style>

<span id="prop_identifier" class="dispnone">{{prop_obj.id}}</span>
<span id="urlpattern" class="dispnone">/rent/statement</span>
<span id="filename" class="dispnone">{{prop}} {{timeline}} vacancy statement.pdf</span>
  <!-- <div id="detailedreport" class="dispnone col-lg-12 "></div> -->
  <div class="col-lg-12 noprint text-uppercase">
    <div class="card shadow mb-0">
      <!-- Card Header - Accordion -->

      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">
        
        <div class="card-body pt-0">


          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <button id="ajaxbtnDownload" class="btn btn-success btn-sm">
              <i class="text-white feather-16 font-weight-bold" data-feather="printer"></i><span class="ml-1 text-white">print</span>
            </button>
            <script>
              feather.replace()

              button = document.getElementById('ajaxbtnDownload');
              button.addEventListener('click', () => {
                document.title=$("#filename").text(); 
                window.print()
              });
            </script>
            <span>Dated : <span class="text-black">{{reportdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <span class="font-weight-bold text-white"><span class="mt-3">VACANCY STATEMENT FOR {{property_name}}</span></span>
          </div>


          <!-- <div class="center-btn mb-4 mt-4">
            <img class="" src="{{letterhead}}" alt="--no image--"/>
          </div> -->

                    
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead class="custom-header-alt small">
                    <tr>
                      <th class="">PROPERTYNO</th>
                      <th class="">HOUSENo</th>
                      <th class="">STATUS</th>
                      <th class="header-right">TYPE</th>


                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills%}
                    <tr>
                      <td class="data-cell text-left">{{ bill['property'] }}</td>
                      <td class="data-cell text-left">{{ bill['house'] }}</td>
                      <td class="data-cell text-left {{bill['vacancy']}}">{{ bill['tenant-alt']}}</td>
                      <td class="data-cell text-right">{{ bill['desc'] }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                  <tfoot class="custom-footer-alt">
                    <tr>
                      <td colspan="3" class="font-weight-bold">TOTALS ...</td>
                      <td class="font-weight-bold text-right">{{vacants}}</td>
                    </tr>
                  </tfoot>
                </table>

          </div>


          <div class="divjust-end ln-16 mobile-malaysian">
            <div class="mt-4">

              <div class="mb-2">
                <div class="">
                  Prepared By:
                </div>
                <div class="mt-2">
                  <div class="ln-10 font-weight-bold text-black-bold">{{name}}</div>
                  <div class="ln-10">_____________________</div>
                </div>
              </div>
  
              <div class="mt-2">
                <div class="">
                  Checked By:
                </div>
                <div class="mt-2">
                  <div class="ln-10 font-weight-bold text-black-bold"></div>
                  <div class="ln-10">_____________________</div>
                </div>
              </div>
  
              <div class="mt-2">
                <div class="">
                  Approved By:
                </div>
                <div>
                  _____________________
                </div>
              </div>
  
              <div class="mt-2">
                <div class="">
                  Cheque No:
                </div>
                <div>
                  _____________________
                </div>
              </div>
  
              <div class="mt-2">
                <div>
                  Date:
                </div>
                <div>
                  _____________________
                </div>
              </div>
  
  
            </div>


          </div>

        </div>
        
      </div>
    </div>
  </div>


  <div id="invoice" class="col-lg-12  dispnone printdisplay text-uppercase">
    <div class="">
      <!-- Card Header - Accordion -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body report-body">
         
          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Dated : <span class="text-black">{{reportdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <span class="font-weight-bold text-white"><span class="mt-3">VACANCY STATEMENT FOR {{property_name}}</span></span>
          </div>

          <div class="table-responsive">
            <table class="table" id="data-table" width="100%" cellspacing="0">
              <thead class="custom-header-alt small">
                <tr>
                  <th class="">PROPERTYNO</th>
                  <th class="">HOUSENo</th>
                  <th class="">STATUS</th>
                  <th class="header-right">TYPE</th>


                </tr>
              </thead>
              <tbody>
                {% for bill in bills%}
                <tr>
                  <td class="data-cell text-left">{{ bill['property'] }}</td>
                  <td class="data-cell text-left">{{ bill['house'] }}</td>
                  <td class="data-cell text-left {{bill['vacancy']}}">{{ bill['tenant-alt']}}</td>
                  <td class="data-cell text-right">{{ bill['desc'] }}</td>
                </tr>
              {% endfor %}

              </tbody>
              <tfoot class="custom-footer-alt">
                <tr>
                  <td colspan="3" class="font-weight-bold">TOTALS ...</td>
                  <td class="font-weight-bold text-right">{{vacants}}</td>
                </tr>
              </tfoot>
            </table>

            <div class="divjust-end ln-16 mobile-malaysian nobreak">
              <div class="mt-4">

                <div class="mb-2">
                  <div class="">
                    Prepared By:
                  </div>
                  <div class="mt-2">
                    <div class="ln-10 font-weight-bold text-black-bold">{{name}}</div>
                    <div class="ln-10">_____________________</div>
                  </div>
                </div>
    
                <div class="mt-2">
                  <div class="">
                    Checked By:
                  </div>
                  <div class="mt-2">
                    <div class="ln-10 font-weight-bold text-black-bold"></div>
                    <div class="ln-10">_____________________</div>
                  </div>
                </div>
        
                <div class="mt-2">
                  <div class="">
                    Date:
                  </div>
                  <div>
                    _____________________
                  </div>
                </div>
    
    
              </div>
  
            </div>          
        </div>
      </div>
    </div>
  </div>

</div>



<!-- <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> -->


<!-- 
<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_bill_identifier").html(item)
        }else{
          $("#edit_bill_identifier").html(item)
        }
        
      }else{
        $("#bill_identifier").html(item)
      }
    });
  });
</script> -->




<script type="text/javascript">

    $(document).ready(function () {
      $("#reportbtns").addClass("dispnone")
  
      $('#dataTable').DataTable({
        dom: '<"dt-buttons"Bf><"clear">lirtp',
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        autoWidth: true,
        buttons: [
          "colvis",
          "copyHtml5",
          "csvHtml5",
          "excelHtml5",
          "pdfHtml5",
          "print"
        ],
        // "bPaginate": false, //hide pagination control
        // "bFilter": false, //hide filter control
        // "searching":false,
        // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
        // "targets": 'no-sort',
        // "bSort": false,
        columnDefs: [{ targets: 0, type: 'natural' }],
        // "info" : false,
        "order": [[0, "asc"]],
        // "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
    });
  
  
  </script>
<script>
  

    $('#data-table').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      "bPaginate": false, //hide pagination control
      "bFilter": false, //hide filter control
      "searching": false,
      "aoColumnDefs": [{ "bSortable": false, "aTargets": ["_all"], type: 'natural' }],
      // "targets": 'no-sort',
      // "bSort": false,
      // columnDefs: [ { targets: 0, type: 'natural' } ],
      "info": false,
      "order": [[0, "asc"]],
      "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
  
</script>
















                
    
    




 
