


<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Rent</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_rent" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.rent}}" placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Water</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_water" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.water}}" placeholder="type here" {{waterlock}}>
        <span class="fa field-icon-two text-info small">{{waterlock_icon|safe}}</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Garbage</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_garbage" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.garbage}}" placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Security</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_security" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.security}}" placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Electricity</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_electricity" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.electricity}}" placeholder="type here" disabled>
        <span class="field-icon-two text-info small"><i class="fa fa-lock ml-3 text-danger"></i></span>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Arrears</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <button id="" type="button" class="borderless" data-toggle="modal" data-target="#editArrModal">
          <input id="edit_arrears" class="form-control pl-5 ph-dark text-right text-black" type="text" value="" placeholder="click to edit">
          <span class="fa field-icon-two text-info small">Kshs</span>
        </button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Deposit</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_deposit" class="form-control pl-5 ph-dark text-right" type="text" value="{{bill.deposit}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Agreement</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_agreement" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.agreement}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Penalty</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_penalty" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.penalty}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0">Service</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_maintenance" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.maintenance}}"placeholder="type here">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  

  </div>

</div>









