



  <style type="text/css" media="print">

        .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0.3rem;
        outline: 0;
        }
      
      .noprint {
          display: none;
        }
        .printdisplay{
          display: block !important;
        }
        

  </style>

  <script>
  window.console = window.console || function(t) {};
</script>



  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


  <div id="inv" class="justify-content-cente text-black m-2">
    <div class="divcol-in">
        
        <div class="mb-4">

            <div class="card-body no-padding-sm">
                <div class="row pl-2">


                    <div class="col-lg-4">
                        <div class="mb-4 ">
                            <div class="text-left">
                                <h4 class="invoice-color mb-2 mt-md-2">{{month}} Invoice</h4>
                                <!-- <ul class="list list-unstyled mb-0">
                                    <li>Date: <span class="font-weight-semibold">June 20th, 2021</span></li>
                                    <li>Due date: <span class="font-weight-semibold">July 1st, 2021</span></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="mb-4 text-right">
                            {%if bill.apartment.image_url %}
                                <img class="" src={{bill.apartment.image_url}} alt="logo">
                            {% else %}
                                <img class="" src=../{{logo}} alt="{{company.name}}">
                            {%endif%}
                            <!-- <ul class="list list-unstyled mb-0 text-left">
                                <li>New york city</li>
                                <li>+1 474 44737 47 </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                <div class="smallify pl-2">
                    <!-- <div class="">
                        <div class="mb-0 mb-md-2 text-left small"> <span class="text-muted">Bill To:</span>
                            <ul class="list list-unstyled mb-0">
                                <li>
                                    <h5 class="my-2 font-weight-bold">{{client.name}}</h5>
                                </li>
                                <li>{{client.apartment.name}}s</li>
                                <li>Unit: {{house}}</li>

                                <li>{{client.phone}}</li>
                                <li type="email" class="text-primary">{{client.email}}</li>
                            </ul>
                        </div>

                    </div> -->

                    <div class="divjust-end">
                        <div class="">
                            <div class="mb-0 mb-md-2 text-left small"> <span class="text-muted">Bill To:</span>
                                <ul class="list list-unstyled mb-0">
                                    <li>
                                        <h5 class="my-2 font-weight-bold">{{client.name}}</h5>
                                    </li>
                                    <li>{{client.apartment.name}}</li>
                                    <li>House: {{house}}</li>

                                    <li>{{client.phone}}</li>
                                    <li type="email" class="text-primary">{{client.email}}</li>
                                </ul>
                            </div>

                        </div>
                        <div style="margin-left: auto;" class="mr-2">
                            <div class="mb-0 mb-md-2 text-right pt-1"> 
                                <ul class="list list-unstyled ln-14">    
                                    <li class="font-weight-bold">Invoice date</li>
                                    <li>{{invdate}}</li>

                                    <li class="mt-2 font-weight-bold">Due date</li>
                                    <li>{{invdue}}</li>

                                    <li class="mt-2 font-weight-bold">Invoice number</li>
                                    <li class="text-danger">#{{invnum}}</li>
                                </ul>
                            </div>
    
                        </div>

                        <div class="pl-2 border-left-semidark">
                            <div class="mb-0 mb-md-2 text-left">
                                <ul class="list list-unstyled mb-0">
                                    <li class="font-weight-bold text-info text-xx">{{bill.apartment.name}}</li>
                                    <li>{{company.mail_box}}</li>
                                    <li>{{company.street_address}}</li>
                                    <li>Email: <span class="text-primary">{{company.email}}</span></li>
                                    <li>Tel: {{company.phone}}</li>
                                    <!-- <li>Website: <span class="text-primary">website</span></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <table class="table ml-4">
                    <thead>
                        <tr>
                            <th class="no-wrap pl-0 text-info font-weight-bold text-125">Bill Item</th>
                            <th class="no-wrap pl-0 text-info font-weight-bold text-125">Description</th>
                            <th class="no-wrap text-info font-weight-bold text-125 {{visibility}}">Previous</th>
                            <th class="no-wrap text-info font-weight-bold text-125 {{visibility}}">Current</th>
                            <th class="no-wrap text-info font-weight-bold text-125 {{visibility}}">Units</th>
                            <th class="no-wrap text-info font-weight-bold text-125 {{visibility}}">Rate</th>
                            <th class="no-wrap text-info font-weight-bold text-125">Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        {%if watertarget%}
                            {%if readings%}
                            <tr class="underline-thin-fade">
                                <td class="pl-0">Water</td>
                                <td class="pl-0">{{prevmonth}} Water readings</td>
                                <td>{{readings.last_reading}}</td>
                                <td>{{readings.reading}}</td>
                                <td>{{readings.units}}<span class="text-danger font-weight-bold text-xx {{w_edited}}">*</span></td>
                                <td>{{house.housecode.waterrate}}</td>
                                <td><span class="font-weight-bold mr-4 text-black">Kes {{'%0.2f'| format(house.housecode.waterrate *readings.units|float)}}</span></td>
                            </tr>
                            {%endif%}

                            {%if breadings%}
                            <tr class="underline-thin-fade">
                                <td class="pl-0">Water</td>
                                <td class="pl-0">{{prevmonth}} Water readings</td>
                                <td>{{breadings.last_reading}}</td>
                                <td>{{breadings.reading}}</td>
                                <td>{{breadings.units}}<span class="text-danger font-weight-bold text-xx {{b_edited}}">*</span></td>
                                <td>{{house.housecode.waterrate}}</td>
                                <td><span class="font-weight-bold mr-4 text-black">Kes {{'%0.2f'| format(house.housecode.waterrate *breadings.units|float)}}</span></td>
                            </tr>
                            {%endif%}

                            {%if house.housecode.seweragerate%}
                            {%if readings%}
                            <tr class="underline-thin-fade">
                                <td class="pl-0">Sewerage</td>
                                <td class="pl-0">{{prevmonth}} Sewerage readings</td>
                                <td>{{readings.last_reading}}</td>
                                <td>{{readings.reading}}</td>
                                <td>{{readings.units}}<span class="text-danger font-weight-bold text-xx {{w_edited}}">*</span></td>
                                <td>{{house.housecode.seweragerate}}</td>
                                <td><span class="font-weight-bold mr-4 text-black">Kes {{'%0.2f'| format(house.housecode.seweragerate *readings.units|float)}}</span></td>
                            </tr>
                            {%endif%}
                            {%endif%}

                            {%if house.housecode.watercharge%}
                            <tr class="underline-thin-fade">
                                <td class="pl-0">Water</td>
                                <td class="pl-0">Water standing charges</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span class="font-weight-bold mr-4 text-black">Kshs {{house.housecode.watercharge}}</span></td>
                            </tr>
                            {%endif%}

                            {%if ereadings%}
                            <tr class="underline-thin-fade">
                                <td class="pl-0">Electricity</td>
                                <td class="pl-0">Electricity readings</td>
                                <td>{{ereadings.last_reading}}</td>
                                <td>{{ereadings.reading}}</td>
                                <td>{{ereadings.units}}<span class="text-danger font-weight-bold text-xx {{e_edited}}">*</span></td>
                                <td>{{house.housecode.electricityrate}}</td>
                                <td><span class="font-weight-bold mr-4 text-black">Kes {{'%0.2f'| format(house.housecode.electricityrate *ereadings.units|float)}}</span></td>
                            </tr>
                            {%endif%}
                        {%endif%}


                        {%if bill.rent%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0">Rent</td>
                            <td class="pl-0">{{month}} Rent</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if house.housecode.vatrate%}
                                {% if house.housecode.discount%}
                                <td><span class="font-weight-bold mr-4 text-black">Kshs {{ '%0.1f' | format((house.housecode.rentrate -house.housecode.discount) - ((house.housecode.rentrate - house.housecode.discount) * house.housecode.vatrate * 0.01 / ((house.housecode.vatrate * 0.01) + 1.0))| float) }}</span></td>
                                {% else%}
                                <td><span class="font-weight-bold mr-4 text-black">Kshs {{ '%0.1f' | format(house.housecode.rentrate - (house.housecode.rentrate * house.housecode.vatrate * 0.01 / ((house.housecode.vatrate * 0.01) + 1.0)) | float) }}</span></td>
                                {%endif%}
                            {% else %}
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{bill.rent}}</span></td>
                            {% endif %}
                        </tr>
                        {%endif%}

                        {%if house.housecode.vatrate%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0">VAT on rent</td>
                            <td class="pl-0">{{month}} VAT (16%) applied on rent</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if house.housecode.discount%}
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{ '%0.1f'| format( (house.housecode.rentrate - house.housecode.discount) * house.housecode.vatrate * 0.01 / ((house.housecode.vatrate * 0.01) + 1.0) | float)}}</span></td>
                            {% else %}
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{ '%0.1f'| format( (house.housecode.rentrate * house.housecode.vatrate * 0.01 / ((house.housecode.vatrate * 0.01) + 1.0)) | float)}}</span></td>
                            {%endif%}

                        </tr>
                        {%endif%}

                        {%if house.housecode.discount%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0">Dicount on rent</td>
                            <td class="pl-0">{{month}} discount applied on rent</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs -{{ '%0.1f'| format(house.housecode.discount | float)}}</span></td>
                        </tr>
                        {%endif%}

                        {%if house.housecode.vatrate or house.housecode.discount%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0 text-black">Rent subtotal</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{ '%0.1f'| format(bill.rent | float)}}</span></td>
                        </tr>
                        {%endif%}

                        {%if bill.deposit%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0">Deposit</td>
                            <td class="pl-0">Deposit</td>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{bill.deposit}}</span></td>
                        </tr>

                        {%endif%}

                        {%if bill.security%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0">Security</td>

                            <td class="pl-0">{{month}} Security</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{bill.security}}</span></td>
                        </tr>
                        {%endif%}


                        {%if bill.maintenance%}
                        <tr class="underline-thin-fade {{servicevisibility}}">
                            <td class="pl-0">Service charge</td>
                            <td class="pl-0">{{month}} Service charge</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{bill.maintenance}}</span></td>
                        </tr>
                        {%endif%}

                        {%if bill.garbage%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0">Garbage</td>
                            <td class="pl-0">{{month}} Garbage</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{bill.garbage}}</span></td>
                        </tr>
                        {%endif%}


                        {%if bill.penalty%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0">Fines</td>
                            <td class="pl-0">Late payment fee</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{bill.penalty}}</span></td>
                        </tr>
                        {%endif%}


                        {%if arrears%}
                        <tr class="underline-thin-fade">
                            <td class="pl-0 {{bbfhighlight}}">{{arrtitle}}</td>
                            <td class="pl-0">Balance brought forward</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><span class="font-weight-bold mr-4 text-black">Kshs {{arrears}}</span></td>
                        </tr>
                        {%endif%}
                       
                    </tbody>
                </table>
            </div>


            <div class="">
                <div class="row">
                    <div class="col-6 hide">hide</div>

                    <div class="col-6">
                        <div class="">
                            <table class="table">
                                <tbody>   
                                    <tr>
                                        <td class="text-left text-black">Total:</td>
                                        <td class="text-right text-info">
                                            <h5 class="font-weight-bold mr-5">Kes {{total}}</h5>
                                        </td>
                                    </tr>
                                    
                                    {%if bill.paid_amount%}
                                    <tr>
                                        <td class="text-left text-success">Paid:</td>
                                        <td class="text-right text-success">
                                            <h5 class="font-weight-bold mr-5">Kes {{billpaid}}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left text-danger">Balance:</td>
                                        <td class="text-right text-danger">
                                            <h5 class="font-weight-bold mr-5">Kes {{billbal}}</h5>
                                        </td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if not w_edited or not e_edited%}
            <div class="text-left">
                <span class="text-danger font-weight-bold text-xx"> * <span class="small text-black">Adjusted</span></span>
            </div>
            {%endif%}

            {%if merit%}
            <div class="text-left mt-2">Payment should be channeled to:</div>
            <p class="text-left">
              <span class="linebrea">Mpesa Paybill: <span class="font-weight-bold text-125">999294</span></span> ACC: <span class="linebrea font-weight-bold">your name and house no</span><br>
              <span class="linebrea">Please pay by 5th. Note: Penalties will be charged for late payments.</span><br>
            </p>

            {%else%}

            {%if p%}


            {%if p.paytype == "mpesapay" %}
      
            <div class="text-left mt-2">Payment will be done via Mobile money to:</div>
            <p class="text-left">
              <span class="linebrea">Mpesa Paybill: {{p.mpesapaybill}} </span> ACC: <span class="linebrea">{{narration}}</span><br>
            </p>
      
            {% else %}
      
            <div class="text-left mt-2">
              Payment will be done via Bank deposit or Mobile money to:
            </div>

            {%if p.bankpaybill%}
            <p class="small text-muted text-left">
                <span>
                    BANK Mpesa Paybill: {{p.bankpaybill}}<br>

                    ACCOUNT NUMBER: <span class="text-gray-900 font-weight-bold">{{p.bankaccountnumber}}#{{narration}}</span><br>
                </span>
              </p>
            {% else %}
            <p class="small text-muted text-left">
                <span>
                    BANK: {{p.bankname}}<br>
                    BRANCH: {{p.bankbranch}}<br>
                    ACCOUNT NAME: {{p.bankaccountname}}<br>
                    ACCOUNT NUMBER: <span class="text-gray-900 font-weight-bold">{{p.bankaccountnumber}}</span><br>
                </span>
              </p>
            {% endif %}

            {%endif%}
 
      
            {% endif %}
      
          {% endif %}

        </div>
        <!-- <div class="myfoote mt-4">
            <div class="card-foote">
                <span class="text-muted dispnone">
                    Payment will be done on Cheque, funds transfer or Mobile money to:
                </span>
                <p class="small text-muted dispnone">
                    BANK: EQUITY BANK<br>
                    BRANCH: PARLIAMENT ROAD BRANCH<br>
                    ACCOUNT NAME: PROMINENCE TECH & BUILD SYSTEMS LTD<br>
                    ACCOUNT NUMBER: <span class="text-gray-900 font-weight-bold"> 0020275280370</span><br>
                    Safaricom Paybill: <span class="text-gray-900 font-weight-bold">4012401 </span> Account: <span class="text-gray-900 font-weight-bold">Kiotapay</span><br>
                </p>
                <p class="small text-muted text-center">
                    powered by <img class="" src=../{{slogo}} alt="KiotaPay">
                </p>
            </div>
        </div> -->

        <div class="divjust-end">
            <p class="small text-muted text-center mt-5">
                powered by <img class="" src=../{{slogo}} alt="KiotaPay">
            </p>

            <p class="small text-muted text-right">
                Signed by <img class="" src=../{{sign}} alt="Signature"><br>
                for {{company.name}}
            </p>
        </div>
    </div>
</div>

<script>

function printDivIframe(divId) {
    console.log("Starting printing...");

    var content = document.getElementById(divId).innerHTML;
    var iframe = document.createElement('iframe');

    iframe.style.position = "absolute";
    iframe.style.width = "0px";
    iframe.style.height = "0px";
    iframe.style.border = "none";

    document.body.appendChild(iframe);

    var doc = iframe.contentDocument || iframe.contentWindow.document; // Ensure cross-browser compatibility

    doc.open();
    doc.write('<html><head><title>Print</title>');

    // Copy all stylesheets
    document.querySelectorAll("link[rel='stylesheet']").forEach(link => {
        doc.write(`<link rel="stylesheet" href="${link.href}">`);
    });

    // Copy inline styles
    document.querySelectorAll("style").forEach(style => {
        doc.write(`<style>${style.innerHTML}</style>`);
    });

    doc.write('</head><body>');
    doc.write(content);
    doc.write('</body></html>');
    doc.close();

    iframe.contentWindow.focus();
    iframe.contentWindow.print();

    setTimeout(() => document.body.removeChild(iframe), 500); // Slight delay to ensure printing starts before removal
}



    button = document.getElementById('printinv-1');

    button.addEventListener('click', () => {
        document.title=$("#filename").text(); 
        console.log("Printing...");
        printDivIframe('inv');
    });
</script>

