<div class="text-danger">{{warning}}</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Rent payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_rent_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.rent_paid}}" placeholder="{{bill.rent_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Water payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_water_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.water_paid}}" placeholder="{{bill.water_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Garbage payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_garbage_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.garbage_paid}}" placeholder="{{bill.garbage_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Electricity payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_electricity_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.electricity_paid}}" placeholder="{{bill.electricity_paid}}">
        <span class="field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Agreement payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_agreement_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.agreement_paid}}"placeholder="{{bill.agreement_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

  </div>
  <div class="col-sm-6">

    
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Deposit payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_deposit_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.deposit_paid}}" placeholder="{{bill.deposit_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Penalty payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_penalty_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.penalty_paid}}" placeholder="{{bill.penalty_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Service payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_maintenance_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.maintenance_paid}}" placeholder="{{bill.maintenance_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Security payments</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_security_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.security_paid}}" placeholder="{{bill.security_paid}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Others</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_others_paid" class="form-control pl-5 ph-dark text-right text-black" type="text" value="0.0"placeholder="0.0" disabled>
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

  </div>

</div>









