<div class="text-danger">{{warning}}</div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14 text-danger">Rent <span class="small text-black">(A{{bill.rent_balance}}, R{{bill.rent}}, P{{bill.rent_paid}})</span></span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_rent_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.rent_due}}" placeholder="{{bill.rent_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14 text-danger">Water <span class="small text-black">(A{{bill.rent_balance}}, R{{bill.rent}}, P{{bill.rent_paid}})</span></span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_water_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.water_due}}" placeholder="{{bill.water_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14 text-danger">Garbage <span class="small text-black">(A{{bill.rent_balance}}, R{{bill.rent}}, P{{bill.rent_paid}})</span></span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_garbage_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.garbage_due}}" placeholder="{{bill.garbage_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Electricity</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_electricity_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.electricity_due}}" placeholder="{{bill.electricity_due}}">
        <span class="field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Agreement balance</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_agreement_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.agreement_due}}"placeholder="{{bill.agreement_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

  </div>
  <div class="col-sm-6">

    
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Deposit</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_deposit_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.deposit_due}}" placeholder="{{bill.deposit_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Penalty</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_penalty_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.penalty_due}}" placeholder="{{bill.penalty_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Service</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_maintenance_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.maintenance_due}}" placeholder="{{bill.maintenance_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Security</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_security_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="{{bill.security_due}}" placeholder="{{bill.security_due}}">
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 no-padding text-right"><span class="form-control border-0 ln-14">Others</span></div>
      <div class="form-group col-7 no-paddin input-icons">
        <input id="edit_others_due" class="form-control pl-5 ph-dark text-right text-black" type="text" value="0.0"placeholder="0.0" disabled>
        <span class="fa field-icon-two text-info small">Kshs</span>
      </div>
    </div>

  </div>

</div>









