{% for house in houses %}

<div class="col-md-2 mb-2">
  <button class="btn bg-white-alt text-black font-weight-bold" type="button" id="{{house.id}}">
    <div>
      <i class="fa-2x {{house.textcolor}} {{house.icon}} mr-2"></i>
    </div>
    <div>
      {{house.name}}
    </div>
    <div>
      <input type="text" id="vac{{house.id}}" class="dispnone" value="{{house.name}}">
    </div>
  </button>
</div>

{% endfor %}

<button type="button" class="dispnone" id="raiseAllocModal" data-toggle="modal" data-target="#addTenantModal"></button>

<script>
  var rawIds = "{{ houseids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)

      if( isNaN(parseInt(item)) ){
        if(item.startsWith("vac")){
          $("#vac_house_identifier").text($("#vac"+item).val())
          $("#target_house_identifier").text($("#vac"+item).val())

          $("#raiseAllocModal").click()
        }
        else if(item.startsWith("hse")){
          $(".dismissparent").click();
          $("#barloader").removeClass("dispnone")
          $.ajax({
            url: "/results",
            type: "get",
            data: {
              id: item,
              initiator:"search"
            },
            success: function(response) {
              $("#barloader").addClass("dispnone")
              $("#propdisp").addClass("dispnone")
              $("#searchresults").removeClass("dispnone")
              $("#searchresults").html(response);
  
              $.ajax({
                url: "{{ url_for('api.fetchbills') }}",
                type: "get",
                data: {
                  tenantid: item,
                  target:"tenant bill"
                },
                success: function(response) {
                  
                  $("#search-result-view").html(response);
                }
              });
            }
          });
        }else{
          // do nothing;
        }
        
      }
    });
  });
  </script>