<span id="propid" class="dispnone"></span>
<span id="payment_identifier" class="dispnone"></span>
<span id="edit_payment_identifier" class="dispnone"></span>
<span id="del_payment_identifier" class="dispnone"></span>
<span id="target_payment_id" class="dispnone"></span>

<!-- <div class="col-lg-12 font-weight-bold text-dark center-btn mb-1">({month} payments <button id="expand" class="btn btn-outline-primary herebtn"> <span id="expandtoggler">expand</span> </button></div> -->
<div class="pb-2 bg-white">

  <div class="divjust-end">
    <div>
      <span id="backbtn" class="btn btn-sm btn-light text-danger p-1 mr-3">
        <!-- <i class="me-1" data-feather="user-plus"></i> -->
        <i class="fas fa-long-arrow-alt-left text-black"></i>
        Back to properties
      </span>

      <span type="button" class="btn btn-sm btn-light text-primary font-weight-bold mr-3 mobile-malaysian" data-toggle="modal" data-target="#addPaymentModal2">
        <i class="feather-18 text-black mr-1 pb-0" data-feather="plus-circle"></i> add payment
      </span>

      <span type="button" class="btn btn-sm btn-light text-primary font-weight-bold mobile-malaysian" data-toggle="modal" data-bs-toggle="modal" data-target="#addTenantModal"> 
        <i class="feather-18 text-black mr-1 pb-0" data-feather="plus-circle"></i> add tenant
      </span>

      <span type="button" id="sendallreceipts" class="btn btn-sm btn-light text-primary font-weight-bold mobile-malaysian"> 
        <span id="sendspan"> <i class="feather-18 text-black mr-1 pb-0" data-feather="mail"></i></span>send receipts
      </span>

    </div>
    <div class="hide">hide</div>
  </div>

  <div class="desktop-malaysian center-btn mt-3">
    <span type="button" class="btn btn-sm btn-light text-primary font-weight-bold mr-3" data-toggle="modal" data-target="#addPaymentModal2">
      <i class="feather-18 text-black mr-1 pb-0" data-feather="plus-circle"></i> add payment
    </span>

    <span type="button" class="btn btn-sm btn-light text-primary font-weight-bold" data-toggle="modal" data-bs-toggle="modal" data-target="#addTenantModal"> 
      <i class="feather-18 text-black mr-1 pb-0" data-feather="plus-circle"></i> add tenant</span>
    </span>
  </div>


  <div class="row mt-2">
    <div class="col-lg-6">
      <nav class="nav nav-borders">
        <a id="current" class="nav-link pl-0 pb-0 pt-1 text-black underline active ms-0" href="#">current</a>
        <a id="previous" class="nav-link pl-0 pb-0 pt-1 text-black ms-0" href="#">previous</a>
        <a id="voided" class="nav-link pl-0 pb-0 pt-1 text-black ms-0" href="#">voided</a>
      </nav>
    </div>

    <div class="col-lg-6">
      <nav class="nav nav-borders">
        <a id="unclaimed" class="nav-link pl-0 pb-0 pt-1 text-black ms-0" href="#">unclaimed</a>
        <a id="archived" class="nav-link pl-0 pb-0 pt-1 text-black ms-0" href="#">archived</a>
        <a id="claimed" class="nav-link pl-0 pb-0 pt-1 text-black ms-0" href="#">Resolved</a>
      </nav>
    </div>
  </div>


</div>

<!-- <span id="dataperiod" class="dispnone">{{dataperiod}}</span> -->

<div id="child-result-view" class="">

  <div id="reqdata" class="table-responsive">
    <table id="tenantPaymentData" class="table shadow mb-1" width="100%" cellspacing="0">
      <thead class="custom-header">
        <tr>
          <th class="text-info  font-weight-bold">Tenant</th>
          <th class="text-info  text-success" data-orderable="false">View</th>
          <th class="text-info  text-primary" data-orderable="false">Edit</th>
          <th class="text-info  text-danger" data-orderable="false">Void</th>
          <th class="text-info  font-weight-bold ">#No.</th>
          <th class="text-info  font-weight-bold ">#Ref.</th> 
          <th class="text-info  font-weight-bold ">Due</th>                                                                 
          <th class="text-info " data-orderable="false">Paid</th>
          <th class="text-info  text-danger" data-orderable="false">Bal</th>
          <th class="text-info ">Month</th>
          <th class="text-info ">Date</th>
          <th class="text-info " data-orderable="false">Time</th>
          <th class="text-info " data-orderable="false">Sms</th>

          <th class="text-info ">By</th>
          <th class="text-info ">On</th>

        </tr>
      </thead>
      <tbody>
        {% for item in items%}
        <tr>
          <td class="data-cell">{{ item['hst']|safe }}</td>
          <td class="text-s data-cell">
            <div>
              <button id="{{item['id']}}" type="button" class="btn action-btn btn-outline-success font-weight-bold  no-wrap" data-toggle="modal" data-target="#receiptModal"><i class="fas fa-receipt mr-1"></i>View</button>
            </div>
          </td>
          <td class="text-s data-cell ">
            <div>
              <button id="{{item['editid']}}" type="button" class="btn action-btn btn-outline-primary font-weight-bold no-wrap" data-toggle="modal" data-target="#editPaymentModal"><i class="fas fa-edit mr-1"></i>Edit</button>
            </div>
          </td>
          <td class="text-s data-cell ">
            <div>
              <button id="{{item['delid']}}" type="button" class="btn action-btn btn-outline-danger font-weight-bold {{greyout}} no-wrap" {{active}} data-toggle="modal" data-target="#deletePaymentModal"><i class="fas fa-trash-alt mr-1"></i>Void</button>
            </div>
          </td>

          <td class="data-cell ">{{ item['receiptno'] }} <span class="badge badge-success badge-counter">{{ item['new'] }}</span></td>
          <td class="data-cell ">{{ item['ref'] }}</td>                                                                    
          <td class="data-cell ">{{ item['chargedamnt'] }}</td>                                                                    
          <td class="data-cell"><span class="text-info font-weight-bold">{{ item['amount'] }}</span></td>
          <td class="data-cell"><span class="{{item['highlight']}}">{{ item['balance'] }}</span></td>
          <td class="data-cell ">{{ item['month'] }}</td>
          <td class="data-cell ">{{ item['date'] }}</td>
          <td class="data-cell ">{{ item['time'] }}</td>
          <td class="data-cell ">{{ item['smsstatus'] | safe }}</td>


          <td class="data-cell ">{{ item['by'] }}</td>
          <td class="data-cell ">{{ item['on'] }}</td>



        </tr>
      {% endfor %}
      </tbody>
  </table>
  </div>
</div>

<script>
    var rawIds = "{{ payids|safe }}";
    var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
    console.log(ids)
    $.each(ids, function(i,item) {
    
      $("#"+item).on('click',function(){
        console.log("clicked",item)
        if( isNaN(parseInt(item)) ){
          if(item.startsWith("del")){
            $("#del_payment_identifier").html(item)
            $("#target_payment_id").html("void payment")
          }else{
            $("#edit_payment_identifier").html(item)
            $("#target_payment_id").html("edit payment")
          }
          
        }else{
          $("#payment_identifier").html(item)
          $("#target_payment_id").html("payment")
        }
      });
    });
  </script>
  
  
  
  <script type="text/javascript">
    $(document).ready(function () {
      $('#tenantPaymentData').DataTable({
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        // "searching":false,
        "order": [[ 0, "asc" ]],
        columnDefs: [ { targets: 0, type: 'natural' } ],
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
      });
  </script>

<script>
  $("#close-arr-view").on('click',function(){
    $('#result-view').toggleClass("d-none");
    $('#reportbtns').toggleClass("d-none");
    $('#arr-view').toggleClass("d-none");
  });
</script>

<script>
  // $("#addpaybtn").click(function(){
  //   $('#prop_identifier_main').text($("#propobj_id").text());
  // })

  var propcode =  $("#prop_identifier").text()
  $("#prop_identifier_main").html(propcode)
</script>

<!-- <script>

  var x = document.getElementById("period");
  var y = document.getElementById("dataperiod");

  x.innerHTML =  y.innerHTML ;

</script> -->


<script type="text/javascript">
  $("#backbtn").click(function () {
    $("#result-view").removeClass("d-none");
    $("#arr-view").addClass("d-none")
    $("#arr-view").empty();
    $("#child-result-view").addClass("d-none")
    $("#activeprop").empty();
    $("#activeprop-item").empty();


    var rawIds = "{{ propids|safe }}";
    var ids = rawIds.split`,`.map(x => x); //adding plus converts the items to numbers
    $.each(ids, function (i, item) {
  
      if (isNaN(parseInt(item))){
        //do nothing
      }else{
        $.ajax({
        url: "{{ url_for('api.fetchstatistics') }}",
        type: "get",
        data: {
              propid: item
            },
        success: function(response) {
          $("#receivedinfo-" + item ).text(response[11]);
          $("#totalinfo-" + item ).text(response[8]);
          $("#paidinfo-" + item ).text(response[9]);
          $("#balinfo-" + item ).text(response[10]);
        }
      });
      }

    });


  })
</script>

<script>
  $("#sendallreceipts").click(function () {

    $("#sendspan").html('<div class="text-center"><i class="fas fa-spinner fa-spin"></i></div>');

    $.ajax({
      url: "/send/sms",
      type: "get",
      data: {
        propid:  $("#prop_identifier").text(),
        target: "send all receipts"
      },
      success: function(response) {
        $("#sendspan").html('<i class="feather-18 text-black mr-1 pb-0" data-feather="mail"></i>');
      },
      error: function(xhr, status, error) {
        console.error("Error:", error);
        $("#sendspan").html('<i class="feather-18 text-black mr-1 pb-0" data-feather="mail"></i>');
      }
    });
  })
</script>

<script>
  $("#current").click(function(){
      $(this).addClass("underline")
      $("#voided").removeClass("underline")
      $("#previous").removeClass("underline")
      $("#unclaimed").removeClass("underline")
      $("#archived").removeClass("underline")
      $("#claimed").removeClass("underline")



      $("#current-reloader").html("new");

      $("#activeprop-item").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-item-child"></span></span>')
          $("#activeprop-item-child").text($(this).text() + " PAYMENTS")

      $.ajax({
                url: "{{ url_for('api.fetchpayments') }}",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target:"new"
                },
                success: function(response) {
                  
                  $("#child-result-view").html(response);
                }
              });
  })

  $("#previous").click(function(){
      $(this).addClass("underline")
      $("#current").removeClass("underline")
      $("#voided").removeClass("underline")
      $("#unclaimed").removeClass("underline")
      $("#archived").removeClass("underline")
      $("#claimed").removeClass("underline")



      $("#current-reloader").html("old");

      $("#activeprop-item").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-item-child"></span></span>')
      $("#activeprop-item-child").text($(this).text() + " PAYMENTS")

      $.ajax({
                url: "{{ url_for('api.fetchpayments') }}",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target:"old"
                },
                success: function(response) {
                  
                  $("#child-result-view").html(response);
                }
              });
  })

  $("#unclaimed").click(function(){
      $(this).addClass("underline")
      $("#current").removeClass("underline")
      $("#previous").removeClass("underline")
      $("#voided").removeClass("underline")
      $("#archived").removeClass("underline")
      $("#claimed").removeClass("underline")



      $("#current-reloader").html("unclaimed");

      $("#activeprop-item").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-item-child"></span></span>')
      $("#activeprop-item-child").text($(this).text() + " PAYMENTS")

      var propcode =  $("#prop_identifier").text()
      $("#prop_identifier_main").html(propcode)


      $.ajax({
                url: "{{ url_for('api.fetchpayments') }}",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target:"unclaimed"
                },
                success: function(response) {
                  
                  $("#child-result-view").html(response);
                }
              });
  })

  $("#voided").click(function(){
      $(this).addClass("underline")
      $("#current").removeClass("underline")
      $("#previous").removeClass("underline")
      $("#unclaimed").removeClass("underline")
      $("#archived").removeClass("underline")
      $("#claimed").removeClass("underline")


      $("#activeprop-item").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-item-child"></span></span>')
      $("#activeprop-item-child").text($(this).text() + " PAYMENTS")

      $("#current-reloader").html("voided");


      $.ajax({
                url: "{{ url_for('api.fetchpayments') }}",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target:"voided"
                },
                success: function(response) {
                  
                  $("#child-result-view").html(response);
                }
              });
  })

  $("#archived").click(function(){
      $(this).addClass("underline")
      $("#current").removeClass("underline")
      $("#previous").removeClass("underline")
      $("#unclaimed").removeClass("underline")
      $("#voided").removeClass("underline")
      $("#claimed").removeClass("underline")


      $("#activeprop-item").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-item-child"></span></span>')
      $("#activeprop-item-child").text($(this).text() + " PAYMENTS")

      $("#current-reloader").html("archived");


      $.ajax({
                url: "{{ url_for('api.fetchpayments') }}",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target:"archived"
                },
                success: function(response) {
                  
                  $("#child-result-view").html(response);
                }
              });
  })


  $("#claimed").click(function(){
      $(this).addClass("underline")
      $("#current").removeClass("underline")
      $("#previous").removeClass("underline")
      $("#unclaimed").removeClass("underline")
      $("#voided").removeClass("underline")
      $("#archived").removeClass("underline")

      $("#activeprop-item").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-item-child"></span></span>')
      $("#activeprop-item-child").text($(this).text() + " PAYMENTS")

      $("#current-reloader").html("claimed");


      $.ajax({
                url: "{{ url_for('api.fetchpayments') }}",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target:"claimed"
                },
                success: function(response) {
                  
                  $("#child-result-view").html(response);
                }
              });
  })
</script>

<script>
  feather.replace();
</script>