

    <!-- <div class="col-12 no-padding">
        <div class="card shadow mb-1 bg-white">
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">

                    <div class="font-weight-bold targetprop">
                        <span>(<span class="text-black targetprop">{{targetprop}}</span>)</span>
                        <i class="fas fa-chevron-right text-info ml-1"></i>
                    </div>
                   
                    <div class="font-weight-bold">
                        <span class="text-primary mr-1">{{numhouse}}</span>
                        <span>Units</span>
                        <i class="fas fa-circle text-primary ml-1"></i>
                    </div>

                    <div class="font-weight-bold">
                        <span class="text-success mr-1">{{numalloc}}</span>
                        <span>Occupied</span>
                        <i class="fas fa-circle text-success ml-1"></i>
                    </div>

                    <div class="font-weight-bold">
                        <span class="text-danger mr-1">{{numvac}}</span>
                        <span>Vacant</span>
                        <i class="fas fa-circle text-danger ml-1"></i>
                    </div>

            </div>
        </div>

    </div> -->



    <!-- Area Chart -->
    <div class="col-lg-5">
        <div class="card shadow mb-1 bg-white">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="m-0 text-black smallify targetprop add-skeleton"><i class="feather-16 pb-1" data-feather="bar-chart-2"></i>
                  Perfomance: <span class="font-weight-bold font-italic targetprop">{{targetprop}}</span></div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <div class="chart-are add-skeleton">
                <p id="theInput" class="dispnone">{{billstring}}</p>
                <p id="theInput2" class="dispnone">{{collectionstring}}</p>
                <!-- <canvas id="myAreaChart"></canvas> -->
                <canvas id="lineChart"></canvas>
            </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow mb-1 bg-white">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="m-0 text-black smallify targetprop add-skeleton"><i class="feather-16 pb-1" data-feather="bar-chart-2"></i> Sent sms: <span
                        class="font-weight-bold font-italic">{{targetprop}}</span></div>
        
            </div>
            <!-- Card Body -->
            <div class="card-body">


                <div class="chart-are add-skeleton pb-5 pt-3">

                    <p id="smsInput" class="dispnone">{{smsstring}}</p>
                    <!-- <canvas id="barChart"></canvas> -->
                    <canvas id="smsChart"></canvas>
                </div>
        
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card shadow mb-1 bg-white">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="m-0 text-black smallify targetprop add-skeleton"><i class="feather-16 pb-1" data-feather="bar-chart-2"></i> Occupancy: <span class="font-weight-bold font-italic">{{targetprop}}</span></div>

            </div>
            <!-- Card Body -->
            <div class="card-body ">
            <div class="chart-are add-skeleton pb-4 pt-4">
                <!-- <p id="theInput4" class="dispnone">{{waterstring}}</p> -->
                <p id="pieInput" class="dispnone">{{piestring}}</p>
                <!-- <canvas id="barChart"></canvas> -->
                <canvas id="myPieChart"></canvas>
            </div>
            <div class="mt-4 text-center pb-4 pt-3 add-skeleton">
                <span class="mr-2">
                  <i class="fas fa-circle text-success"></i> Occupied
                </span>
                <span class="mr-2">
                  <i class="fas fa-circle text-primary"></i> Vacant
                </span>
              </div>

            </div>
        </div>
    </div>


    <div class="col-lg-6 mt-3">
        <div class="card shadow mb-1 bg-white">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="m-0 font-weight-bold text-info smallify targetprop add-skeleton"><i class="fas fa-chart-line mr-2"></i>Money in <span>(<span class="text-black targetprop">{{targetprop}}</span>)</span> vs Money out <span>(<span class="text-black targetprop">total expenses</span>)</span></div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <div class="chart-are add-skeleton">
                <p id="theInput4" class="dispnone">{{incomestring}}</p>
                <p id="income" class="dispnone">{{income}}</p>
                <p id="theInput5" class="dispnone">{{outcomestring}}</p>
                <p id="outcome" class="dispnone">{{outcome}}</p>
                <!-- <canvas id="myAreaChart"></canvas> -->
                <canvas id="lineChart1"></canvas>
            </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mt-3">
        <div class="card shadow mb-1 bg-white">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="m-0 font-weight-bold text-info smallify targetprop add-skeleton"><i class="fas fa-chart-bar mr-2"></i>Net income <span>(<span class="text-black">{{targetprop}}</span>)</span></div>

            </div>
            <!-- Card Body -->
            <div class="card-body">
            <div class="chart-are add-skeleton">
                <p id="theInput6" class="dispnone">{{netcomestring}}</p>
                <p id="netcome" class="dispnone">{{netcome}}</p>
                <canvas id="barChart1"></canvas>
            </div>
            </div>
        </div>
    </div>
















    <!-- <script src="{{ url_for('static', filename='js/demo/chart-are add-skeletona-demo.js') }}"></script> -->

    <script>
        var ctxL = document.getElementById("lineChart").getContext('2d');

        var stringData = document.getElementById("theInput").innerText;
        var app_data = stringData.split`,`.map(x=>+x);

        var stringData2 = document.getElementById("theInput2").innerText;
        var app_data2 = stringData2.split`,`.map(x=>+x);

        var myLineChart = new Chart(ctxL, {
        type: 'bar',
        data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug","Sept","Oct","Nov","Dec"],
        datasets: [{
        label: "Expected collection",
        data: app_data,

        backgroundColor: [
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)',
        'rgba(105, 0, 132, .2)'
        ],
        borderColor: [
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)',
        'rgba(200, 99, 132, .7)'
        ],
  
        // backgroundColor: [
        // 'rgba(105, 0, 132, .2)',
        // ],
        // borderColor: [
        // 'rgba(200, 99, 132, .7)',
        // ],
        borderWidth: 2
        },
        {
        label: "Actual collection",
        data: app_data2,


        // backgroundColor: [
        // 'rgba(0, 137, 132, .2)',
        // ],
        // borderColor: [
        // 'rgba(0, 10, 130, .7)',
        // ],


        backgroundColor: [
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)',
        'rgba(0, 137, 132, .2)'
        ],
        borderColor: [
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)',
        'rgba(0, 10, 130, .7)'
        ],

        borderWidth: 2
        }
        ]
        },
        options: {
        responsive: true
        }
        });
    </script>

    <!-- <script>
        var ctxB = document.getElementById("barChart").getContext('2d');


        var stringData3 = document.getElementById("theInput3").innerText;
        var app_data3 = stringData3.split`,`.map(x=>+x);

        var myBarChart = new Chart(ctxB, {
        type: 'bar',
        data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug","Sept","Oct","Nov","Dec"],
        datasets: [{
        label: '# of units consumed(total)',
        data: app_data3,
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
        }]
        },
        options: {
        scales: {
        yAxes: [{
        ticks: {
        beginAtZero: true
        }
        }]
        }
        }
        });
    </script> -->


<script>
    var ctxL = document.getElementById("lineChart1").getContext('2d');

    var stringData = document.getElementById("theInput4").innerText;
    var app_data = stringData.split`,`.map(x=>+x);
    var income = document.getElementById("income").innerText;


    var stringData2 = document.getElementById("theInput5").innerText;
    var app_data2 = stringData2.split`,`.map(x=>+x);
    var outcome = document.getElementById("outcome").innerText;


    var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug","Sept","Oct","Nov","Dec"],
    datasets: [{
    label: "Kshs " + income + ' income)',
    data: app_data,
    backgroundColor: [
    'rgba(18, 216, 124, .9)',
    ],
    borderColor: [
    'rgba(200, 99, 132, .7)',
    ],
    borderWidth: 2
    },
    {
    label: "Kshs " + outcome + ' expenses)',
    data: app_data2,
    backgroundColor: [
    'rgba(249, 96, 30, .9)',
    ],
    borderColor: [
    'rgba(0, 10, 130, .7)',
    ],
    borderWidth: 2
    }
    ]
    },
    options: {
    responsive: true
    }
    });
</script>

<script>
    var ctxB = document.getElementById("barChart1").getContext('2d');


    var stringData3 = document.getElementById("theInput6").innerText;
    var app_data3 = stringData3.split`,`.map(x=>+x);
    var netcome = document.getElementById("netcome").innerText;

    var myBarChart = new Chart(ctxB, {
    type: 'bar',
    data: {
    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug","Sept","Oct","Nov","Dec"],
    datasets: [{
    label: "Kshs " + netcome + ' net income)',
    data: app_data3,
    backgroundColor: [
    'rgba(0, 13, 202, 0.3)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)',
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)'
    ],
    borderColor: [
    'rgba(255,99,132,1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)',
    'rgba(255,99,132,1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
    ],
    borderWidth: 1
    }]
    },
    options: {
    scales: {
    yAxes: [{
    ticks: {
    beginAtZero: true
    }
    }]
    }
    }
    });


    // Set new default font family and font color to mimic Bootstrap's default styling
    // Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    // Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctxP = document.getElementById("myPieChart");

    var stringPieData = document.getElementById("pieInput").innerText;
    var pieData = stringPieData.split`,`.map(x=>+x);

    var myPieChart = new Chart(ctxP, {
    type: 'doughnut',
    data: {
        labels: ["Occupied", "Vacant"],
        datasets: [{
        // data: [60, 40],
        data:pieData,
        // backgroundColor: ['#4e73df', '#1cc88a'],
        // hoverBackgroundColor: ['#2e59d9', '#17a673'],
        backgroundColor: ['#1cc88a', '#4e73df'],
        hoverBackgroundColor: ['#17a673', '#2e59d9'],

        hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        },
        legend: {
        display: false
        },
        cutoutPercentage: 50,
    },
    });
</script>


<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    // Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    // Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("smsChart");

var stringSmsData = document.getElementById("smsInput").innerText;
var smsData = stringSmsData.split`,`.map(x=>+x);

var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    datasets: [{
      label: "Sms sent",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: smsData
    }],
  },
  options: {
    maintainAspectRatio: true,
    layout: {
      padding: {
        left: 0,
        right: 0,
        top: 0,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 11
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': sms ' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});

</script>

<script>
  feather.replace()
</script>