<!-- Main page content-->
<span id="func" class="dispnone">{{savecontext}}</span>
<div id="workarea" class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-3">
                <div class="card-header">Group name</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <!-- <img class="img-account-profile rounded-circle mb-2" src="assets/img/illustrations/profiles/profile-1.png" alt="" /> -->
                    <form autocomplete="off">

                        <div class="gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <label class="small mb-1" for="groupName">Group name (rent amount or letters
                                A,B,C...<span class="text-danger">*</span></label>
                            <input class="form-control" id="groupName" type="text"
                                placeholder="Provide a name for the group" value="{{group.codename}}" />

                        </div>
                        <button type="reset" class="reset dispnone"></button>
                    </form>

                </div>
            </div>

            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Settings</div>
                <div class="card-body">
                    <!-- Profile picture image-->
                    <!-- <img class="img-account-profile rounded-circle mb-2" src="assets/img/illustrations/profiles/profile-1.png" alt="" /> -->
                    <form autocomplete="off">

                        <div class="form-group">
                            <!-- Form Group (first name)-->
                            <label class="font-weight-bold mb-1" for="">INVOICE CYCLE</label>

                            
                            <div class="kiota-borde col-md-6 pt-1 no-wrap">
                                <span class="dispnone" id="check_freq">{{group.billfrequency}}</span>

                                <div class="">
                                    <input class="" id="monthly" name="billfreq" type="radio" value="monthly" />
                                    <label class="mb-1 small font-weight-bold" for="monthly">Monthly</label>
                                </div>
                                <div class="">
                                    <input class="" id="quaterly" name="billfreq" type="radio" value="quaterly" />
                                    <label class="small font-weight-bold mb-1" for="quaterly">Quaterly</label>
                                </div>
                                <div class="">
                                    <input class="" id="semi-annually" name="billfreq" type="radio" value="semi-annually" />
                                    <label class="small font-weight-bold mb-1" for="semi-annually">Semi-annually</label>
                                </div>
                                <div class="">
                                    <input class="" id="annually" name="billfreq" type="radio" value="annually" />
                                    <label class="small font-weight-bold mb-1" for="annually">Annually</label>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="form-group">
                            <label class="font-weight-bold mb-1" for="">VATABLE? (RENT ONLY)</label>

                            
                            <div class="kiota-borde col-md-6 pt-1 no-wrap">
                                <div class="">
                                    <input class="" id="vatyes" name="vatable" type="radio" value="yes" />
                                    <label class="mb-1 small font-weight-bold" for="vatyes">Yes</label>
                                </div>
                                <div class="">
                                    <input class="" id="vatno" name="vatable" type="radio" value="no" />
                                    <label class="small font-weight-bold mb-1" for="vatno">No</label>
                                </div>

                            </div>

                        </div> -->

                        <div class="gx-3 mb-2">
                            <!-- Form Group (first name)-->
                            <label class="small mb-1" for="depnum">No. of months (rent deposit only)</label>
                            <input class="form-control" id="depnum" type="text" value="{{group.depnum}}" />

                        </div>

                        <div class="gx-3 mb-2">
                            <!-- Form Group (first name)-->
                            <label class="small mb-1" for="discount">Discount (rent only)</label>
                            <input class="form-control" id="discount" type="text" value="{{group.discount}}" />

                        </div>
                        <div class="gx-3 mb-2">
                            <!-- Form Group (first name)-->
                            {% if group.commission%}
                            <label class="small mb-1" for="comm">Commission(percentage)</label>
                            <input class="form-control" id="comm" type="text" value="{{group.commission}}" />
                            {%else%}
                            <label class="small mb-1" for="comm">Commission(flatrate)</label>
                            <input class="form-control" id="comm" type="text" value="{{group.int_commission}}" />
                            {%endif%}

                        </div>
                    </form>

                    <!-- Profile picture upload button-->
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Group rates  >> {{group.codename}}</div>
                <div class="card-body">
                    <form autocomplete="off">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="rentrate">Monthly rent (discount & VAT inclusive)</label>

                                <input class="form-control" id="rentrate" type="text" placeholder="Rent amount"
                                    value="{{group.rentrate}}" />
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="vatrate">VAT amount (%)</label>

                                <input class="form-control" id="vatrate" type="text" placeholder="vat amount"
                                    value="{{group.vatrate}}" />
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">

                            <div class="col-md-6">
                                <label class="small mb-1" for="servicerate">Service charge</label>

                                <input class="form-control" id="servicerate" type="text" placeholder="Service amount"
                                    value="{{group.servicerate}}" />
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="other">Registration/Agreement</label>

                                <input class="form-control" id="agreementrate" type="text" placeholder="reg fee"
                                    value="{{group.agreementrate}}"/>
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="unitrate">Water meter/unit rate</label>

                                <input class="form-control" id="unitrate" type="text" placeholder="Unit rate amount"
                                    value="{{group.waterrate}}" />
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="waterdep">Water/meter deposit</label>

                                <input class="form-control" id="waterdep" type="text" placeholder="Deposit amount"
                                    value="{{group.waterdep}}" />
                            </div>

                        </div>

                        <div class="row gx-3 mb-3">

                            <div class="col-md-6">
                                <label class="small mb-1" for="elecunitrate">Electricity meter/unit rate</label>

                                <input class="form-control" id="elecunitrate" type="text" placeholder="Unit rate amount"
                                    value="{{group.electricityrate}}" />
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="elecdep">Electricity/meter deposit</label>

                                <input class="form-control" id="elecdep" type="text" placeholder="Deposit amount"
                                    value="{{group.elecdep}}" />
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="garbagerate">Garbage charge</label>

                                <input class="form-control" id="garbagerate" type="text" placeholder="Garbage fee"
                                    value="{{group.garbagerate}}" />
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="securityrate">Security charge</label>

                                <input class="form-control" id="securityrate" type="text" placeholder="Security fee"
                                    value="{{group.securityrate}}" />
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="carddep">Lift card deposit</label>

                                <input class="form-control" id="carddep" type="text" placeholder="card deposit"
                                    value="{{group.carddep}}" />
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="finerate">Penalty percentage (%)</label>

                                <input class="form-control" id="finerate" type="text" placeholder="Penalty percentage"
                                    value="{{group.finerate}}" />
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="sewerage">Sewerage rate</label>

                                <input class="form-control" id="seweragerate" type="text" placeholder="sewerage amount"
                                    value="{{group.seweragerate}}" />
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="waterrate">Water standard charges</label>

                                <input class="form-control" id="waterrate" type="text" placeholder="Standard charge amount"
                                    value="{{group.watercharge}}" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- Submit button-->
    <div class="text-center">
        <div>
            <button id="submitgroup" class="btn btn-primary" type="button">{{savecontext}}</button>
            <button type="reset" class="reset dispnone"></button>
        </div>
    
    </div>
    </div>



    <script>

        $(document).ready(function () {
    
            let checkFreq = $("#check_freq").text()
    
            if (checkFreq == "1") {
    
                $("input[id=monthly]").attr("checked", "checked");
    
            } else if (checkFreq == "3"){
    
                $("input[id=quaterly]").attr("checked", "checked");
    
            } else if (checkFreq == "6") {
    
                $("input[id=semi-annually]").attr("checked", "checked");
    
            } else if (checkFreq == "12") {
                $("input[id=annually]").attr("checked", "checked");

            } else {
                $("input[id=monthly]").attr("checked", "checked");

            }
    
            })
  
    </script>










<script>
    $("#submitgroup").click(function(){
        let target_func = $("#func").text()
        let baseurl
        let target
        let successResponse
        let afterSuccess

        if (target_func == "Submit"){
            
            baseurl = "{{ url_for('api.createhousecode') }}"
            target = "add new group"
            successResponse = "Saved !"
            afterSuccess = "Submit"
            $("#submitgroup").html("submitting...")  
        }else{
            baseurl = "{{ url_for('api.edithousecode') }}"
            $("#submitgroup").html("updating...")
            target = "update group"
            successResponse = "Updated !"
            afterSuccess = "Update group"
        }
        // if ($("#comm").val() != "None" && $("#comm").val() != 0.0){
        //     var comm = $("#comm").val()
        // }else{
        //     var comm = $("#comm").val()
        // }

        $.ajax({
        url: baseurl,
        type: "POST",
        data: {
            propid: $("#prop_identifier").text(),
            groupid: $("#group_identifier").text(),
            housecode: $("#groupName").val(),
            rentrate: $("#rentrate").val(),
            waterrate: $("#waterrate").val(),
            unitrate: $("#unitrate").val(),
            elecunitrate: $("#elecunitrate").val(),
            garbagerate: $("#garbagerate").val(),
            securityrate: $("#securityrate").val(),
            servicerate: $("#servicerate").val(),
            waterdep: $("#waterdep").val(),
            elecdep: $("#elecdep").val(),
            carddep: $("#carddep").val(),
            depnum: $("#depnum").val(),
            discount: $("#discount").val(),
            commission: $("#comm").val(),
            finerate: $("#finerate").val(),
            seweragerate:$("#seweragerate").val(),
            agreementrate:$("#agreementrate").val(),
            vatrate:$("#vatrate").val(),
            billfreq: $("input[name=billfreq]:checked").val(),
            target:target
            },
        success: function(response) {
            $("#workarea").addClass("dispnone")
            $(".alert-msgs").html(response);
            $("#submitgroup").html(successResponse)

            
            setTimeout(function(){
            $("#workarea").removeClass("dispnone")
            $(".alert-msgs").empty();            
            $("#submitgroup").html(afterSuccess)
            
            if (target_func == "Submit"){
                $(".reset").click();
                $('.dismissModal').click();
            }
            // $('#submitgroup').attr('disabled', 'disabled');
            //   $('#submitgroup').removeClass('btn-success')
            //   $('#submitgroup').addClass('btn-secondary')
            }, 2500);
            
            $.ajax({
              url: "{{ url_for('api.fetchrates') }}",
              type: "get",
              data: {propid:  $("#prop_identifier").text()},
              success: function(response) {
                
                $("#result-view").html(response);
              }
            });
        }
        });
        



    });
  </script>