
          <!-- <div class="col-lg-12 font-weight-bold text-dark center-btn mb-1">{{current_month}} Tenant bills:</div> -->
          <div class="col-lg-12 no-padding">
              <div id="reqdata" class="table-responsive">
                  <table id="billsrefresh" class="table shado striped" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                      <th class="text-info font-weight-bold">House</th>
                      <th class="text-primary track-title-cell">Invoice</th>
                      <!-- <th class="text-info track-title-cell">Tenant</th> -->
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_rent}}">Rent</th>
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_water}}">Water</th>
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_elec}}">Electricity</th>
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_garb}}">Garbage</th>
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_sec}}">Security</th>
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_dep}}">Deposit</th>
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_arg}}">Agreement</th>
                      <th class="text-info track-title-cell expand dispnone-alt {{fieldshow_fine}}">Fine</th>
                      <th class="text-danger track-title-cell {{fieldshow_arr}}">Arr</th>
                      <th class="text-info track-title-cell">Total</th>
                      <th class="text-info track-title-cell expand dispnone-alt">Paid</th>
                      <th class="text-info track-title-cell expand dispnone-alt text-danger">BCF</th>
                      <th class="text-primary track-title-cell">SMS</th>
                      <th class="text-primary track-title-cell expand dispnone-alt">Action</th>
                      <th class="text-danger track-title-cell expand dispnone-alt">Delete</th>

                      </tr>
                  </thead>
                  <tbody>
                    {% for i in bills%}
                    <tr>
                    <td class="first-data-cell font-weight-bold {{i['vacancy']}}">{{ i['hst']|safe }}</td>
                    <td class="text-s data-cell">
                      <div>
                        <button id="{{i['id']}}" type="button" class="btn action-btn {{i['viewable']}} font-weight-bold  modalTrigger no-wrap" {{i['active']}} data-toggle="modal" data-target="#invoiceModal"><i class="fas fa-eye mr-1"></i>View</button>
                      </div>
                    </td>
                    <!-- <td class="data-cell">{{ i['tenant'] }}</td> -->
                    <td class="data-cell expand dispnone-alt {{fieldshow_rent}} text-right">{{ i['rent'] }}</td>
                    <td class="data-cell expand dispnone-alt {{fieldshow_water}} text-right">{{ i['water'] }}</td>
                    <td class="data-cell expand dispnone-alt {{fieldshow_elec}} text-right">{{ i['electricity'] }}</td>
                    <td class="data-cell expand dispnone-alt {{fieldshow_garb}} text-right">{{ i['garbage'] }}</td>
                    <td class="data-cell expand dispnone-alt {{fieldshow_sec}} text-right">{{ i['security'] }}</td>
                    <td class="data-cell expand dispnone-alt {{fieldshow_dep}} text-right">{{ i['deposit'] }}</td>
                    <td class="data-cell expand dispnone-alt {{fieldshow_arg}} text-right">{{ i['agreement'] }}</td>
                    <td class="data-cell expand dispnone-alt {{fieldshow_fine}} text-right">{{ i['fine'] }}</td>
                    <td class="data-cell {{fieldshow_arr}} text-danger text-right">{{ i['arrears'] }}</td>
                    <td class="data-cell text-dark font-weight-bold text-right">{{ i['total'] }}</td>
                    <td class="data-cell expand dispnone-alt {{i['payhighlight']}} font-weight-bold text-right">{{ i['paid'] }}</td>
                    
                    <td class="data-cell expand dispnone-alt {{i['highlight']}} font-weight-bold text-right">{{ i['balance'] }}</td>

                    <td class="text-s data-cell">
                      <div>
                        <button id="{{i['viewid']}}" type="button" class="btn action-btn {{i['smsoutline']}} font-weight-bold  modalTrigger no-wrap" {{i['smsactive']}} data-toggle="modal" data-target="">{{ i['smsstatus']|safe }}</button>
                      </div>
                    </td>
                    <td class="text-s data-cell expand dispnone-alt">
                      <div>
                        <button id="{{i['editid']}}" type="button" class="btn action-btn {{i['editoutline']}} font-weight-bold  modalTrigger no-wrap" {{i['active']}} data-toggle="modal" data-target="#editBillModal"><i class="fas fa-cog mr-1"></i>Edit</button>
                      </div>
                    </td>
                    <td class="text-s data-cell expand dispnone-alt">
                      <div>
                        <button id="{{i['delid']}}" type="button" class="btn action-btn btn-outline-danger font-weight-bold  modalTrigger no-wrap" data-toggle="modal" data-target="#discardBillModal"><i class="fas fa-trash-alt mr-1"></i>Discard</button>
                      </div>
                    </td>
                    <!-- <td class="data-cell">
                        <div class="dropdown no-arrow">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-primary font-weight-bold ellipsis-btn"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        
                            <div>
                              <i class="fas fa-edit ml-3 mr-2 text-info"></i><span id="{{i['editid']}}" type="button" class="btn-outline-info ellipsis borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#editBillModal">Edit</span>
                            </div>
    
                            <div>
                              <i class="fas fa-envelope ml-3 mr-2 text-success"></i><span id="{{i['id']}}" type="button" class="btn-outline-info ellipsis borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#billInvoiceModall">Invoice</span>
                            </div>
                             
                          </div>
                        </div>
                      </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
                  </table>
              </div>
          </div>
        </div>
    </section>


    <script type="text/javascript">
      $(document).ready(function () {
        $('#billsrefresh').DataTable({
          "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
          "pageLength": 100,
          "searching":false,
          "order": [[ 0, "asc" ]],
          columnDefs: [ { targets: 0, type: 'natural' } ],
          // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ],type: 'natural' }],
          "bLengthChange": false
        });
        $('.dataTables_length').addClass('bs-select');
        });
    </script>

<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("view")){
          $("#view_bill_identifier").html(item)
          
          $("#"+item).html('<i class="fas fa-spinner fa-spin mr-1"></i>')
            $.ajax({
                url: "{{ url_for('api.sendinvoices') }}",
                type: "POST",
                data: {
                      billid:item,
                      prop:$("#prop_identifier").text(),
                      target:"isolated"
                    },
                success: function(response) {

                  setTimeout(function(){
                    $.ajax({
                      url: "{{ url_for('api.fetchbills') }}",
                      type: "get",
                      data: {
                        propid:  $("#prop_identifier").text(),
                        target:"sometarget"
                      },
                      success: function(response) {
                        
                        $("#result-view2").html(response);
                      }
                  });
                  }, 5000);

                },
                error: function(xhr) {
                  $("#"+item).html('<i class="fas fa-exclamation-circle text-danger mr-1">Fail</i>')
                  }
              });

        }else if(item.startsWith("del")){
          $("#del_bill_identifier").html(item)
        }
        else{
          $("#edit_bill_identifier").html(item)
        }
        
      }else{
        $("#bill_identifier").html(item)
      }
    });
  });
</script>


<script>
  $("#expand").click();
</script>

<script>
  tabletoggler();
</script>

<!-- <script>
  function tabletoggler() {
    var x = document.getElementById("expandtoggler");
    if (x.innerHTML === "expand") {
      x.innerHTML = "collapse";
    } else {
      x.innerHTML = "expand";
    }
  }
</script> -->

