<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 semi-small">Name <span class="text-danger">*</span></span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_name" class="form-control ph" type="text" placeholder="{{tenant.name}}">
    <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
  </div>
</div>

<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 semi-small">Mobile</span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_tel" class="form-control ph" type="text" placeholder="{{tenant.phone}}">
    <!-- <span class="fa field-icon-two text-info small">Eg</span> -->
  </div>
</div>

<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 small semi-small">National-Id</span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_natid" class="form-control ph" type="text" placeholder="{{tenant.national_id}}">
  </div>
</div>

<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 semi-small">Email</span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_email" class="form-control ph" type="text" placeholder="{{tenant.email}}">
    <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
  </div>
</div>

<div class="row mb-3">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 semi-small">Multi-House?</span></div>
  <div class="col-9 input-icons">
    <div class="form-control">
      <input type="checkbox" id="multi" checked/>
      <label class="x-small" for="migrate">multi-house(<span class="semi-small text-danger">check to allow multiple allocations</span>)</label>
    </div>       
  </div>
</div>


<script type="text/javascript">

    function myFunction() {

        var mm = document.getElementById("multi")
        mm.removeAttribute("checked");

    }
    var state = {{tenant.multiple_houses|tojson}};
    
    if (state == false){
        myFunction();
    }

</script>

<script>

    $("#multi").on('change',function(){
      console.log("Ive changed")
    var cb = document.getElementById("multi");
    if (cb.checked){
      $(".multisave").html("True");
    }else{
      $(".multisave").html("False");
    }

    });
</script>