
<span id="edit_bill_identifier" class="dispnone"></span>
<span id="del_bill_identifier" class="dispnone"></span>
<span id="unique_bill_identifier" class="dispnone"></span>
<!-- <span id="collapseid" class="dispnone">{{prop}}</span> -->
<span id="filename" class="dispnone">{{prop}} {{timeline}} combined statement.pdf</span>
<span id="orientation" class="dispnone">landscape</span>


<style type="text/css" media="print">
  /* @page{
    size:landscape;
  } */
  body {
    zoom: 74%;
  }
</style>
 
  <!-- <div id="detailedreport" class="dispnone col-lg-12 "></div> -->
  <div class="col-lg-12 noprint">
    <div class="card shadow mb-0">

      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">
        <div class="card-body pt-0">

          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <button id="ajaxbtnDownload" class="btn btn-success btn-sm">
              <i class="text-white feather-16 font-weight-bold" data-feather="printer"></i><span class="ml-1 text-white">print</span>
            </button>
            <script>
              feather.replace()

              button = document.getElementById('ajaxbtnDownload');
              button.addEventListener('click', () => {
                document.title=$("#filename").text(); 
                window.print()
              });
            </script>
            <span>Dated : <span class="text-black">{{reportdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">COMBINED STATEMENT FOR {{timeline}}</span></span>
          </div>

          {%if prop_obj%}
          <div class="mb-2 mt-1 text-black">
            <div class="ln-16">
              <span class="mr-1">PROPERTY CODE: {{prop_obj.id}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PROPERTY NAME: {{prop_obj.name.upper()}}</span>
            </div>
            <div class="ln-16">
              {% if prop_obj.landlord%}
              <span class="mr-1">LANDLORD : {{prop_obj.landlord.upper()}}</span>
              {%else%}
              <span class="mr-1">LANDLORD : {{prop_obj.landlord}}</span>
              {% endif %}
            </div>
            <div class="ln-16">
              {% if prop_obj.location_id%}
              <span class="mr-1">ESTATE : {{prop_obj.location.name.upper()}}</span>
              {%else%}
              <span class="mr-1">ESTATE : {{prop_obj.location}}</span>
              {% endif %}
            </div>
          </div>
          {%endif%}



                    
          <div class="table-responsive noprint">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead class="custom-header-alt small">
                    <tr>
                      <th class="">PNO</th>
                      <th class="">TENANT NAME</th>
                      <th class="">RENT BB/F</th>
                      <th class="rent">RENT</th>
                      <th class="rent">RENT DUE</th>
                      <th class="rent">RENT PAID</th>

                      <th class="water {{disp_water}}">WATER</th>
                      <th class="garbage {{disp_garbage}}">GARBAGE</th>
                      <th class="electricity {{disp_electricity}}">ELECTRICITY</th>
                      <th class="security dispnone">SECURITY</th>
                      <th class="service dispnone">SERVICE</th>
                      <th class="deposit">D PAID</th>
                      <th class="deposit">D BAL</th>

                      <!-- <th class="penalty">LPF</th> -->
                      <th class="">TOTAL</th>
                      <th class="">PAID</th>
                      <th class="">RENT BC/F</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills%}
                    <tr>
                      <td class="data-cell text-center btn-outline-primary text-black {{bill['delid']}}" data-toggle="modal" data-target="#discardBillModal">{{ bill['house'] }}</td>
                      <td class="data-cell text-left">{{ bill['tenant-alt']}}</td>
                      <td class="data-cell text-right">{{ bill['rent-arr'] }}</td>

                      <td class="data-cell text-right rent">{{ bill['rent'] }}</td>
                      <td class="data-cell text-right rent">{{ bill['rent-total'] }}</td>
                      <td class="data-cell text-right rent">{{ bill['rent-paid'] }}</td>

                      <td class="data-cell text-right water {{disp_water}}">{{ bill['water'] }}</td>
                      <td class="data-cell text-right garbage {{disp_garbage}}">{{ bill['garbage'] }}</td>
                      <td class="data-cell text-right electricity {{disp_electricity}}">{{ bill['electricity'] }}</td>
                      <td class="data-cell text-right security dispnone">{{ bill['security'] }}</td>
                      <td class="data-cell text-right service dispnone">{{ bill['service'] }}</td>
                      <td class="data-cell text-right btn-outline-primary text-black {{bill['id']}} deposit" data-toggle="modal" data-target="#editDepModal">{{ bill['deposit-paid'] }}</td>
                      <td class="data-cell text-right btn-outline-primary text-black {{bill['editid']}} deposit" data-toggle="modal" data-target="#editDepModal">{{ bill['deposit-due'] }}</td>
                      <!-- <td class="data-cell text-right penalty">{{ bill['fine'] }}</td> -->
                      <td class="data-cell text-right">{{bill['totaldue']}}</td>
                      <td class="data-cell text-right">{{ bill['paid-alt-alt']|safe }}</td>
                      <td class="data-cell text-right">{{ bill['rent-due'] }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                  <tfoot class="custom-footer-alt">
                    <tr>
                      <td colspan="2" class="font-weight-bold">TOTALS ...</td>
                      <td class="font-weight-bold text-right">{{bbftotal}}</td>
                      <td class="font-weight-bold text-right rent">{{renttotal}}</td>
                      <td class="font-weight-bold text-right rent">-</td>
                      <td class="font-weight-bold text-right rent">-</td>
                      <td class="font-weight-bold text-right water {{disp_water}}">{{watertotal}}</td>
                      <td class="font-weight-bold text-right garbage {{disp_garbage}}">{{garbagetotal}}</td>
                      <td class="font-weight-bold text-right electricity {{disp_electricity}}">{{electricitytotal}}</td>
                      <td class="font-weight-bold text-right security dispnone">{{securitytotal}}</td>
                      <td class="font-weight-bold text-right service dispnone">{{servicetotal}}</td>
                      <td class="font-weight-bold text-right deposit">-</td>
                      <td class="font-weight-bold text-right deposit">-</td>

                      <!-- <td class="font-weight-bold text-right penalty">{{penaltytotal}}</td> -->
                      <td class="font-weight-bold text-right">{{amounttotal}}</td>
                      <td class="font-weight-bold text-right">{{paidtotal}}</td>
                      <td class="font-weight-bold text-right">{{bcftotal}}</td>
                    </tr>
                  </tfoot>
                </table>

          </div>

          <div class="divjust-end ln-16 mobile-malaysian nobreak">
            <div>
              <div class="row mb-3">
                <div class="col-6 text-right text-black no-wrap">Prepared By:</div>
                <div class="col-6">........................</div>
              </div>
              <div class="row mb-3">
                <div class="col-6 text-right text-black no-wrap">Approved By:</div>
                <div class="col-6">........................</div>
              </div>
              <div class="row mb-3">
                <div class="col-6 text-right text-black no-wrap">Cheque No:</div>
                <div class="col-6">........................</div>
              </div>
              <div class="row mb-3">
                <div class="col-6 text-right text-black no-wrap">Landlord rep:</div>
                <div class="col-6">........................</div>
              </div>
              <div class="row mb-3">
                <div class="col-6 text-right text-black no-wrap">Date:</div>
                <div class="col-6">........................</div>
              </div>
            </div>

            <div class="divjust-end mr-5">
              <div class="mr-4">
                <div class="mb-1 text-gray-900">TOTAL RENT PAID TO MGT</div>
                <div class="mb-1 text-gray-900">TOTAL RENT PAID TO OWNER</div>

                <div class="text-gray-900 mb-1">TOTALS</div>
                <div class="hide mb-2">space</div>




                <div class="mb-1 pt-2">MGT FEES @ {{commission_percentage}} on rent paid</div>

                <div class="mb-1">OTHER DEDUCTIONS</div>
                <div class="mb-1">TOTAL DEDUCTIONS</div>
                <div class="hide mb-2">space</div>
                <div class="text-gray-900 mb-3 text-125">NET PAYABLE</div>
              </div>

              <div class="text-black">
                <div class="mb-1 text-gray-900">Kshs {{formatted_paidmgt}}</div>
                <div class="mb-1 text-gray-900">Kshs {{formatted_paidll}}</div>

                <div class="mb-1 text-gray-900 underline overline">Kshs {{formatted_netrent}}</div>
                <div class="hide mb-2">space</div>

                <div class="mb-1">Kshs {{commission}} (<span class="text-danger">debit</span>)</div>

                <div class="mb-1">Kshs {{expenses}} (<span class="text-danger">debit</span>)</div>
                <div class="mb-1">Kshs {{debits}} (<span class="text-danger">debit</span>)</div>

                <div class="hide mb-2">space</div>

                <div class="text-gray-900 mb-3 text-125 overline underline">Kshs {{netpay}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="invoice" class="col-lg-12  dispnone printdisplay">
    <div class="">
      <!-- Card Header - Accordion -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body report-body">
          {% if bills %}

          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Dated : <span class="text-black">{{reportdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">COMBINED STATEMENT FOR {{timeline}}</span></span>
          </div>

          <div class="divjust-end underline mb-3 text-black font-weight-bold  text-110">
            <div class="">
              <!-- <div>Landlord : {{prop_obj.owner}}</div> -->
              <div>Property : {{prop_obj.name}}</div>
              <div>Estate : {{prop_obj.location}}</div>
            </div>
            <div class="pr-3">
              <div>Date remitted : {{printdate}}</div>
              <div>Pin No : </div>
            </div>

          </div>

          <div class="table-responsive">
            <table class="table" id="data-table" width="100%" cellspacing="0">
              <thead class="custom-header-alt small">
                <tr>
                  <th class="">PNO</th>
                  <th class="">TENANT NAME</th>
                  <th class="">RENT BB/F</th>
                  <th class="rent">RENT</th>
                  <th class="rent">RENT DUE</th>
                  <th class="rent">RENT PAID</th>

                  <th class="water {{disp_water}}">WATER</th>
                  <th class="garbage {{disp_garbage}}">GARBAGE</th>
                  <th class="electricity {{disp_electricity}}">ELECTRICITY</th>
                  <th class="security dispnone">SECURITY</th>
                  <th class="service dispnone">SERVICE</th>
                  <th class="deposit">D PAID</th>
                  <th class="deposit">D BAL</th>
                  <!-- <th class="penalty">LPF</th> -->
                  <th class="">TOTAL</th>
                  <th class="paidedit">PAID(edit)</th>
                  <th class="">PAID</th>
                  <th class="">RENT BC/F</th>

                </tr>
              </thead>
              <tbody>
                {% for bill in bills%}
                <tr>
                  <td class="data-cell text-center">{{ bill['house'] }}</td>
                  <td class="data-cell text-left">{{ bill['tenant-alt']}}</td>
                  <td class="data-cell text-right">{{ bill['rent-arr'] }}</td>
                  <td class="data-cell text-right rent">{{ bill['rent'] }}</td>
                  <td class="data-cell text-right rent">{{ bill['rent-total'] }}</td>
                  <td class="data-cell text-right rent">{{ bill['rent-paid'] }}</td>

                  <td class="data-cell text-right water {{disp_water}}">{{ bill['water'] }}</td>
                  <td class="data-cell text-right garbage {{disp_garbage}}">{{ bill['garbage'] }}</td>
                  <td class="data-cell text-right electricity {{disp_electricity}}">{{ bill['electricity'] }}</td>
                  <td class="data-cell text-right security dispnone">{{ bill['security'] }}</td>
                  <td class="data-cell text-right service dispnone">{{ bill['service'] }}</td>
                  <td class="data-cell text-right deposit">{{ bill['deposit-paid'] }}</td>
                  <td class="data-cell text-right deposit">{{ bill['deposit-due'] }}</td>
                  <td class="data-cell text-right">{{bill['totaldue']}}</td>
                  <td class="data-cell text-right paidedit"> </td>
                  <td class="data-cell text-right">{{ bill['paid-alt-alt']|safe}}</td>
                  <td class="data-cell text-right">{{ bill['rent-due'] }}</td>
                </tr>
              {% endfor %}

              </tbody>
              <tfoot class="custom-footer-alt">
                <tr>
                  <td colspan="2" class="font-weight-bold">TOTALS ...</td>
                  <td class="font-weight-bold text-right">{{bbftotal}}</td>
                  <td class="font-weight-bold text-right rent">{{renttotal}}</td>
                  <td class="font-weight-bold text-right rent">-</td>
                  <td class="font-weight-bold text-right rent">-</td>
                  <td class="font-weight-bold text-right water {{disp_water}}">{{watertotal}}</td>
                  <td class="font-weight-bold text-right garbage {{disp_garbage}}">{{garbagetotal}}</td>
                  <td class="font-weight-bold text-right electricity {{disp_electricity}}">{{electricitytotal}}</td>
                  <td class="font-weight-bold text-right security dispnone">{{securitytotal}}</td>
                  <td class="font-weight-bold text-right service dispnone">{{servicetotal}}</td>
                  <td class="font-weight-bold text-right deposit">-</td>
                  <td class="font-weight-bold text-right deposit">-</td>
                  <!-- <td class="font-weight-bold text-right penalty">{{penaltytotal}}</td> -->
                  <td class="font-weight-bold text-right">{{amounttotal}}</td>
                  <td class="text-right paidedit"> - </td>
                  <td class="font-weight-bold text-right">{{paidtotal}}</td>
                  <td class="font-weight-bold text-right">{{bcftotal}}</td>
                </tr>
              </tfoot>
            </table>
            <!-- <div class="divjust-end ln-16 mobile-malaysian noprint"> -->
            <div class="divjust-end ln-16 mobile-malaysian nobreak">
              <div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Prepared By:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Approved By:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Cheque No:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Landlord rep:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Date:</div>
                  <div class="col-6">........................</div>
                </div>
              </div>
  
              <div class="divjust-end mr-5">
                <div class="mr-4">
                  <div class="mb-1 text-gray-900">TOTAL RENT PAID TO MGT</div>
                  <div class="mb-1 text-gray-900">TOTAL RENT PAID TO OWNER</div>

                  <div class="text-gray-900 mb-1">TOTALS</div>
                  <div class="hide mb-2">space</div>
  
  
  
  
                  <div class="mb-1 pt-2">MGT FEES @ {{commission_percentage}} on rent paid</div>
  
                  <div class="mb-1">OTHER DEDUCTIONS</div>
                  <div class="mb-1">TOTAL DEDUCTIONS</div>
                  <div class="hide mb-2">space</div>
                  <div class="text-gray-900 mb-3 text-125">NET PAYABLE</div>
                </div>
  
                <div class="text-black">
                  <div class="mb-1 text-gray-900">Kshs {{formatted_paidmgt}}</div>
                  <div class="mb-1 text-gray-900">Kshs {{formatted_paidll}}</div>

                  <div class="mb-1 text-gray-900 underline overline">Kshs {{formatted_netrent}}</div>
                  <div class="hide mb-2">space</div>
  
                  <div class="mb-1">Kshs {{commission}} (<span class="text-danger">debit</span>)</div>
  
                  <div class="mb-1">Kshs {{expenses}} (<span class="text-danger">debit</span>)</div>
                  <div class="mb-1">Kshs {{debits}} (<span class="text-danger">debit</span>)</div>
  
                  <div class="hide mb-2">space</div>
  
                  <div class="text-gray-900 mb-3 text-125 overline underline">Kshs {{netpay}}</div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>


<div class="modal fade" id="editDepModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="indicator"></div>
      <div class="modal-header pb-0 text-center">
        <h5 class="modal-title text-info" id="paymentDetailModalLabel">Update deposits</h5>
        <span id="update-reloader" class="dispnone"></span>
        <div class="alert-msgs"></div>
      </div>
      <div class="modal-body pt-0">
        <div class="media mb-2">
          <div class="media-body">
            <div class="position-relative">
              <div class="card-body modal-forms">
                <form autocomplete="off" method="POST" action="">
 
                  <div id="editdepositbed" class="mt-2">
                    <div class="d-inline-block ml-2 dot-elastic"></div>
                  </div>
                  
                </form>
                <div class="mt-3">
                  <button class="btn btn-light reset dispnone" type="reset" data-dismiss="modal"></i>Dismiss</button>
                  <button id="editdeposit" class="btn malibu-bg btn-sm form-control font-weight-bold text-white" type="button"> <span><i class="feather-24 pb-1 pt-1" data-feather="edit-2"></i> update</span> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade center-btn" id="discardBillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger text-xx" id="exampleModalLabel">Warning!</h5>
      </div>
      <div class="text-info payment-info"></div>

      <!-- of <span id="invhouse"> loading...</span> -->

      <div id="confirmation" class="dispnone">
        <div class="modal-body text-danger">Confirm delete invoice</div>
        <span class="text-gray-700 small mb-2 mr-2 ml-2">This action cannot be <span class="text-danger">REVERSED</span> Continue?</span>
      </div>

      <div class="has-margin-bottom divbg mt-2">
          <button id="delete_payment" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Delete</button>
          <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("."+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_bill_identifier").html(item)

        }else if(item.startsWith("pay")){
          $("#edit_pay_identifier").html(item)
        }else if(item.startsWith("bal")){
          $("#edit_bal_identifier").html(item)
        }else{
          $("#unique_bill_identifier").html(item)
        }
        
      }else{
        $("#unique_bill_identifier").html(item)
      }
    });
  });
</script>


<!-- <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> -->


<!-- 
<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_bill_identifier").html(item)
        }else{
          $("#edit_bill_identifier").html(item)
        }
        
      }else{
        $("#bill_identifier").html(item)
      }
    });
  });
</script> -->


<script>
  $("#editDepModal").on('shown.bs.modal', function(){

    $("#editdepositbed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');

    $.ajax({
      url: "{{ url_for('api.updatetenant') }}",
      type: "get",
      data: {
            billid: $("#unique_bill_identifier").text(),
            target: "editdeposit"
          },
      success: function(response) {
        $("#editdepositbed").html(response);
      },
      error: function(xhr) {
        $("#editdepositbed").html(
          '<span class="text-danger font-weight-bold h3">Vacant unit !</span>'
        );
        }
    });
  });

  $("#editDepModal").on('hidden.bs.modal', function(){
    $("#unique_bill_identifier").html("");
  });

</script>

<script>
  $("#editdeposit").click(function(){   
    $("#editdeposit").html("updating...")  
      $.ajax({
        url: "{{ url_for('api.updatedeposit') }}",
        type: "POST",
        data: {
                billid: $("#unique_bill_identifier").text(),
                rent: $("#edit_rentdep").val(),
                water: $("#edit_waterdep").val(),
                electricity: $("#edit_elecdep").val(),
                other:$("#edit_otherdep").val(),

                paidrent: $("#edit_prentdep").val(),
                paidwater: $("#edit_pwaterdep").val(),
                paidelectricity: $("#edit_pelecdep").val(),
                paidother:$("#edit_potherdep").val(),

                balancerent: $("#edit_brentdep").val(),
                balancewater: $("#edit_bwaterdep").val(),
                balanceelectricity: $("#edit_belecdep").val(),
                balanceother:$("#edit_botherdep").val(),

                status: $("input[name=depstatus]:checked").val(),
                ttype: $("#ttype").text()
            },
        success: function(response) {
          // $("#tenant-deposit").html(response)
          $("#editdeposit").html("Update")
          $(".modal-backdrop").remove();
          $("#view_general").click();

        },
        error:function(xhr) {
          $("#editdepositbed").html(
          '<span class="text-danger font-weight-bold h3">Vacant unit !</span>'
        );
        $("#editdeposit").html("Update")  
        }
      });
  });
</script>




<!-- <script type="text/javascript">
  $(document).ready(function () {
    $("#reportbtns").addClass("dispnone")

    $('#dataTable').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      // "bPaginate": false, //hide pagination control
      // "bFilter": false, //hide filter control
      // "searching":false,
      // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
      // "targets": 'no-sort',
      // "bSort": false,
      columnDefs: [ { targets: 0, type: 'natural' } ],
      // "info" : false,
      "order": [[ 0, "asc" ]],
      // "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script> -->

<script>
  var myarr = ["rent","water","garbage","security","service","deposit","penalty","paidedit"]


  $.each(myarr, function(i,item) {
  
    $("#"+item).on('change',function(){
      let cb = document.getElementById(item);
      if (cb.checked){
        $("."+item).removeClass("dispnone")
      }else{
        $("."+item).addClass("dispnone")
      }

    });

  });


  </script>

<script type="text/javascript">

  $(document).ready(function () {
    $("#reportbtns").addClass("dispnone")

    $('#dataTable').DataTable({
      dom: '<"dt-buttons"Bf><"clear">lirtp',
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      autoWidth: true,
      buttons: [
        "colvis",
        "copyHtml5",
        "csvHtml5",
        "excelHtml5",
        "pdfHtml5",
        "print"
      ],
      // "bPaginate": false, //hide pagination control
      // "bFilter": false, //hide filter control
      // "searching":false,
      // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
      // "targets": 'no-sort',
      // "bSort": false,
      columnDefs: [{ targets: 0, type: 'natural' }],
      // "info" : false,
      "order": [[0, "asc"]],
      // "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
  });


</script>
<script>


  $('#data-table').DataTable({
    "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
    "pageLength": 100,
    "bPaginate": false, //hide pagination control
    "bFilter": false, //hide filter control
    "searching": false,
    "aoColumnDefs": [{ "bSortable": false, "aTargets": ["_all"], type: 'natural' }],
    // "targets": 'no-sort',
    // "bSort": false,
    // columnDefs: [ { targets: 0, type: 'natural' } ],
    "info": false,
    "order": [[0, "asc"]],
    "bLengthChange": false
  });
  $('.dataTables_length').addClass('bs-select');


</script>

<script>
  $("#discardBillModal").on('shown.bs.modal', function(){
    $("#confirmation").removeClass("dispnone");
    $(".payment-info").empty();
  });

</script>

<script>
    
  $("#delete_payment").on('click',function(){   
    
    $('#delete_payment').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>deleting...');
    $("#invhouse").text($(this).text())
    $.ajax({
      url: "{{ url_for('api.editbill') }}",
      type: "POST",
      data: {
            propid: $("#prop_identifier").text(),
            billid:$("#del_bill_identifier").text(),
            target:"bill discard"
          },
      success: function(response) {
        $(".closemodal").click();
        $(".payment-info").html("<span class='text-success'>Bill deleted successfully</span>");  
        $('#delete_payment').html('Discard !');
        $("#invhouse").text("loading ...")

        $(".modal-backdrop").remove();
        $("#view_general").click();

        // getInvs($("#prop_identifier").text(),"",$("#currentinvpage").text())

        
      },
      error: function(xhr) {
        $("#confirmation").addClass("dispnone");
        $('#delete_payment').html('Discard !');
        $("#invhouse").text("loading ...")

        $(".payment-info").html('<span class="text-danger font-weight-bold">Error deleting the bill');
        }
    });
  });
  
  </script>















                
    
    




 
