

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
      <span id="user_identifier" class="dispnone"></span>
      <span id="edit_user_identifier" class="dispnone"></span>
      <span id="del_user_identifier" class="dispnone"></span>


        <!-- <div class="row no-padding">
          <div class="col-12 no-padding mb-2">
            <div class="card-header py-0 card-bg-al bg-light divjust-end" >
                <div class="mt-1 font-weight-bold text-black text-xx">User management</div>
                <button id="close-propdisp" class="btn borderless text-danger"><div class="x-large xbutton-black"><i class="fas fa-times"></i></div></button>
            </div>
          </div>
        </div> -->
      <div class="card  mb-2 mt-1">

        <div class="card-header pt-3 pb-2 divjust-end fixed-headerr dispnon bg-white">
          <!-- <div class="mt-1 font-weight-bold text-black text-xx">Property listings</div> -->
          <span class="smallify text-black font-weight-bold text-uppercase">Users panel</span>
          <div>
            <button id="close-propdisp" class="btn btn-sm btn-danger mb-1 pt-0 pb-0 pl-3 pr-3 font-weight-bold text-white"
              type="button">X</button>
          </div>
        </div>

        <div class="card-body flowing-body pt-2 pl-2">

          <div class="pb-1 bg-white">
            <div class="mb-1">
              <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#addUserModal">
                <i class="me-1" data-feather="users"></i>
                Add New User
              </span>
              <span class="btn btn-sm btn-light text-black">
                <i class="me-1" data-feather="user-plus"></i>
                Manage Groups
              </span>
            </div>
          </div>
  
          <div id="result-view" class="row">
            <div class="col-lg-12 no-padding">
              <div id="props" class="table-responsive">
                  <table id="tenantPaymentData" class="table shadow mb-1" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th class="text-info font-weight-bold">Name</th>
                          <th class="text-info font-weight-bold">Username</th>

                          <th class="text-info font-weight-bold">Phone</th>
                          <th class="text-info font-weight-bold">Email</th>
                          <th class="text-info font-weight-bold">Id</th>
                          <th class="text-info font-weight-bold">Code</th>

                          <th class="text-info font-weight-bold">Props</th>
                          <th class="text-info font-weight-bold">Houses</th>

                          <th class="text-info font-weight-bold">Level</th>

                          <th class="text-info font-weight-bold">Group</th>
                          <th class="text-info track-title-cell">Active</th>                    
                          <th class="text-info track-title-cell">Date</th>

                          <th class="text-info track-title-cell">Edit</th>
                          <th class="text-info track-title-cell">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in items%}
                        <tr>
                          <td class="data-cell">{{ item['name'] }}</td>
                          <td class="data-cell">{{ item['username'] }}</td>

                          <td class="data-cell">{{ item['tel'] }}</td>
                          <td class="data-cell">{{ item['email'] }}</td>
                          <td class="data-cell">{{ item['natid'] }}</td>
                          <td class="data-cell">{{ item['usercode'] }}</td>

                          <td class="data-cell">{{ item['props'] }}</td>
                          <td class="data-cell">{{ item['houses'] }}</td>

                          <td class="data-cell text-gray-700 small">{{ item['int_level'] }}</td>
                          <td class="data-cell text-gray-700 small">{{ item['group'] }}</td>

                          <td class="data-cell">{{ item['status'] }}</td>
                          <td class="data-cell">{{ item['date_reg'] }}</td>


                          <td class="data-cell">
                            <div>
                              <span id="{{item['editid']}}" type="button" class="btn-outline-primary ellipsis borderless modalTrigger text-gray-700 " data-toggle="modal" data-target="#profileModal"><i class="fas fa-i-cursor mr-1 text-primary"><span class="text-gray-900">edit</span></i></span>
                            </div>
                          </td>
                          <td class="data-cell">
                            <div>
                              <span id="{{item['delid']}}" type="button" class="btn-outline-danger ellipsis borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#deleteUserModal"><i class="fas fa-trash-alt mr-1 text-danger"><span class="text-gray-900">del</span></i></span>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- <div class="text-center">
      <div class="modal fade" id="addPropertyModa" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="indicator"></div>
            <div class="modal-header">
              <h5 class="modal-title text-info font-weight-bold mb-1" id="paymentDetailModalLabel">Property registration</h5>
              <span class="modal-info"></span>
            </div>
            <div class="modal-body">
              
              <div class="media mb-2">
                <div class="media-body">
                  <div class="position-relative">
                    
                    <form class="" action="" method="POST">

                        <span class="small text-danger">Note: Make sure to select owner before submitting, add owner if not available.</span>

                        <div class="form-group divjust-end">
                          <select name="owner" class="select-css" id ="select_owner" required>
                              <option disabled selected value> loading... </option>
                              {% for o in owners %}
                              <option value="{{ o }}">{{ o }}</option>
                              {% endfor %}
                          </select>
                          <button type="button" class="btn btn-outline-success text-info small-text" data-toggle="modal" data-target="#addOwnerModal"><i class="fas fa-plus-circle text-danger"></i>Owner</button>
                        </div>

                        <div class="form-group divjust-end">
                          <select name="location" class="select-css" id ="select_regio" required>
                          <option disabled selected value> loading... </option>
                          {% for o in regions %}
                          <option value="{{ o }}">{{ o }}</option>
                          {% endfor %}
                          </select>
  
                         <button type="button" class="btn btn-outline-success text-info small-text" data-toggle="modal" data-target="#addRegionModal"><i class="fas fa-plus-circle text-danger"></i>Region</button>
                        </div>



                        <div class="form-group row">
                          <div class="col-sm-7 mb-3 mb-sm-0">
                              <input class="form-control ph" id="prop" placeholder="Apartment name">
                          </div>
          
                          <div class="col-sm-5">
                            <div class="fancy-checkbox-group form-control mb-4 tsmallify">
                              <input type="checkbox" name="agency_management" id="cb1" checked>
                              <label for="cb1">Agency managed</label>
                          </div>
                          </div>
                        </div>

  
                        <hr>
                        <div class="divbg center-btn">
                          <button id="add_prop" type="button" class="bg-gradient-success borderless text-white"><i class="fas fa-check mr-1"></i>submit</button>
                          <button class="btn btn-secondary closemodal" type="button" data-dismiss="modal"></i>Dismiss</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-kubwa" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 pt-2 text-center bg-light">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify font-weight-bold">Add user</span>
              <div>
                <button class="btn btn-sm btn-warning mb-1 pt-0 pb-0 pl-3 pr-3 font-weight-bold text-danger" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
  
                    <div id="profileModalBed2"></div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade center-btn" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabe">Confirm Removal</h5>
          </div>
          <div class="text-info payment-info"></div>
          <div class="modal-body text-gray-900">
            <span class="text-primary small mb-3 mr-2 ml-2"><span class="text-danger small">WARNING!</span>: Do you really want to delete this user?</span>
          </div>
          <div class="has-margin-bottom divbg">
              <button id="del_att" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Delete</button>
              <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-kubwa" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 pt-2 text-center bg-light">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify font-weight-bold">My profile</span>
              <div>
                <button class="btn btn-sm btn-warning mb-1 pt-0 pb-0 pl-3 pr-3 font-weight-bold text-danger" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs font-weight-bold"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
  
                    <div id="profileModalBed"></div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->


















  <!-- <script src="{{ url_for('static', filename='modal.js') }}"></script> -->
  <script>
    var url = "{{ url_for('static', filename='upload.js') }}";
    $.getScript(url);
  </script>
  

<script>
  $("#close-propdisp").on('click',function(){
    $('#body-block').removeClass('dispnone')
    $('#propdisp').addClass('dispnone');
    $('#content-area').removeClass("isopen text-danger");
    $('#list-area').removeClass("isopen text-danger");
    $('#sidebarToggle').click();
    $('#smaccordionSidebar').removeClass("toggled");
  });
</script>

<script>
      
  $("#uploadPropModal").on('shown.bs.modal', function(){
    $(".dismissparent").click();
  });

</script>

<script>
  var rawIds = "{{ userids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_user_identifier").html(item)
        }else{
          $("#edit_user_identifier").html(item)
        }
        
      }else{
        $("#user_identifier").html(item)
      }
    });
  });
</script>



<script type="text/javascript">
  $(document).ready(function () {
    $('#tenantPaymentData').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      "searching":false,
      columnDefs: [ { targets: 0, type: 'natural' } ],
      "order": [[ 0, "asc" ]],
      "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>





<script>
  $("#addUserModal").on('shown.bs.modal', function(){

    $.ajax({
      url: "{{ url_for('api.users') }}",
      type: "get",
      data: {
        target:"add user"
      },
      success: function(response) {
        $("#profileModalBed2").html(response);
      }
    });

  });
</script>


  <script>
  $("#addUserModal").on('hidden.bs.modal', function(){

    $("#profileModalBed2").html("loading"); 

  });
</script>



<script>
      
  $("#del_att").on('click',function(){   
    $('#del_att').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>deleting...'); 
    $.ajax({
      url: "{{ url_for('api.users') }}",
      type: "POST",
      data: {
            userid:$("#del_user_identifier").text(),
            target:"delete user"
          },
      success: function(response) {
        // $(".payment-info").html(response);  

          $('#del_att').html('Delete');
          $(".closemodal").click();

          $.ajax({
                url: "/fetch/users",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target: "new"
                },
                success: function(response) {
                  
                  $("#result-view").html(response);
                }
              });
      }
    });
  });
  
  </script>









