<!--================Contact Area =================-->
    <span id="prop_identifier" class="dispnone"></span>
    <span id="prop_id_identifier" class="dispnone"></span>
    <span id="edit_prop_identifier" class="dispnone"></span>

  <!-- <a id="download_units" href="/download/template/units" class="dispnone">download</a> -->

   

  
        <!-- <div class="pb-1 bg-white">
          <div class="mb-1">
            <span class="text-black">
             Total Leads: <span id="total_leads" class="text-primary">{{leads}}</span>
            </span>
          </div>
        </div> -->

        <div id="barloader-alt-result-view" class="load-bar-alt mb-1">
          <div class="bar-alt"></div>
          <div class="bar-alt"></div>
          <div class="bar-alt"></div>
        </div>
  
  
        <div id="result-view" class="">
          <div id="props" class="table-responsive">
            <table id="tenantPaymentData" class="table shadow mb-1" width="100%" cellspacing="0">
                <thead class="custom-header">
                    <tr>
                        <th class="text-black font-weight-bold pl-0">Property</th>
                        <th class="text-black font-weight-bold">Units</th>
                        <th class="text-black font-weight-bold">Locked</th>
                        <th class="text-black font-weight-bold">Tenants</th>
                        <th class="text-black font-weight-bold">Residents</th>
                        <th class="text-black font-weight-bold ">Vacant</th>
                        <th class="text-black font-weight-bold ">Occupancy</th>
                        <th class="text-black font-weight-bold ">Categories</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items%}
                    <tr>


                        <td class="data-cell">
                          <div>
                              <span style="font-size: large;" id="{{item['id']}}" type="button" class="btn btn-outline-primary btn-sm ellipsis2 text-left no-wrap">{{item['name']}}</span>
                          </div>
                      </td>
                      
                      <td id="houseinfo-{{item['id']}}" class="data-cell text-right"><div class="dot-elastic mt-2"></div></td>
                      <td id="lockedinfo-{{item['id']}}" class="data-cell text-right"><div class="dot-elastic mt-2"></div></td>
                        <td id="tenantinfo-{{item['id']}}" class="data-cell text-right"><div class="dot-elastic mt-2"></div></td> 

                        <td id="residentinfo-{{item['id']}}" class="data-cell text-right"><div class="dot-elastic mt-2"></div></td>
                        <td id="vacantinfo-{{item['id']}}" class="data-cell text-right"><div class="dot-elastic mt-2"></div></td>

                        <td id="occupancyinfo-{{item['id']}}" class="data-cell text-right"><div class="dot-elastic mt-2"></div></td>
                        <td id="groupinfo-{{item['id']}}" class="data-cell text-right"><div class="dot-elastic mt-2"></div></td>

            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
  
        </div>


        <div id="child-view" class="dispnone"></div>
        
  
  





  
 
  
  


  


  

  

  
  
  
  
  
  
  <!-- <script src="{{ url_for('static', filename='modal.js') }}"></script> -->
  <script>
    var url = "{{ url_for('static', filename='upload.js') }}";
    $.getScript(url);
  </script>
  
  
  
  <script>
  
    $("#uploadPropModal").on('shown.bs.modal', function () {
      $(".dismissparent").click();
    });
  
  </script>
  
  <script>
    var rawIds = "{{ propids|safe }}";
    // var props = "{{ propnames|safe }}";
    // var propnames= props.replace(/'/g,'"');
    // propObjs = JSON.parse(propnames)

    var ids = rawIds.split`,`.map(x => x); //adding plus converts the items to numbers
    console.log(ids)
    $.each(ids, function (i, item) {
  
      $("#" + item).on('click', function () {
        console.log("clicked", item)
        if (isNaN(parseInt(item))) {
          if (item.startsWith("del")) {
            $("#del_prop_identifier").html(item)
          }
          else if (item.startsWith("prp")) {
            console.log("working here>>>>>>>>>>>>>>>>>>>>>>>>")

            $("#prop_id_identifier").html(item)


          } else {
            $("#edit_prop_identifier").html(item)
          }
  
        } else {
          console.log("working >>>>>>>>>>>>>>>>>>>>>>>>planner")

          $("#activeprop").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-child"></span></span>')
          
            $("#activeprop-child").text($(this).text())

            $("#dummyData").removeClass('dispnone');
            $("#propdisp-content").addClass('dispnone');
            $("#title-loader").addClass("title-loading");$("#title-loader").removeClass("title-loaded");


            $.ajax({
                type: "get",
                url: "{{ url_for('api.propertymanagement') }}",
                data: {
                    propid:item
                },
                success: function(response) {
                  $("#dummyData").addClass('dispnone');
                  $("#propdisp-content").removeClass('dispnone');
                  $("#title-loader").removeClass("title-loading");$("#title-loader").addClass("title-loaded");

                  $("#result-view").addClass("dispnone");
                  $("#child-view").removeClass("dispnone")

                  $("#child-view").html(response);
                }
            });

          $("#prop_identifier").html(item)
          var linkTarget = $("#" + item).children("span").text()
          $("#link_identifier").html(linkTarget)
  
        }
      });


      if (isNaN(parseInt(item))){
      //do nothing
      }else{
        $.ajax({
        url: "{{ url_for('api.fetchtenancy') }}",
        type: "get",
        data: {
              propid: item
            },
        success: function(response) {
          console.log("locked RESPONSE >>> ", response[6]);
          $("#houseinfo-" + item ).text(response[0]);
          $("#lockedinfo-" + item ).text(response[6]);
          $("#tenantinfo-" + item ).text(response[1]);

          $("#residentinfo-" + item ).text(response[2]);
          $("#vacantinfo-" + item ).text(response[3]);

          $("#occupancyinfo-" + item ).text(response[4]);
          $("#groupinfo-" + item ).text(response[5]);


        }
      });
      }



    });
  </script>
  
  
  <!-- <script type="text/javascript">
    $(document).ready(function () {
      $('#tenantPaymentData').DataTable({
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        "searching": false,
        columnDefs: [{ targets: 0, type: 'natural' }],
        "order": [[0, "asc"]],
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script> -->


<script type="text/javascript">
  $(document).ready(function () {
    $('#tenantPaymentData').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      "searching":false,
      "order": [[ 0, "asc" ]],
      "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>



<script>
    $(document).ready(function(){
      $("#addTenantModal").on('shown.bs.modal', function(){
        $(this).find('#select_house2').focus();
      });
    });
  </script>
    