
      <div class="col-xl-3 col-md-6 mb-1 desktop-malaysian no-padding">
          <div class="card shadow h-100 py-0 {{card_theme}}">
              <div class="card-body titanic-iceberg-top titanic-iceberg-bottom">
                  <div class="row no-gutters align-items-cente">
                      <div class="col mr-0">
                          <div class="card-text text-gray-400 mb-1 no-wrap-with-overflow mr-2">{{month_string}} Bills (total)</div>
                          <div class="card-text text-gray-400 mb-1 no-wrap-with-overflow mr-2">{{month_string}} Paid (total)</div>
                          <div class="balancebtn card-text text-gray-400 mb-2 no-wrap-with-overflow mr-2">Balance (Net)</div>
                          <div class="prop-toggle card-text text-white font-weight-bold no-wrap-with-overflow mr-2">Showing for:</div>
                          
                      </div>
                      <div class="col-auto shadow-alt prop-toggler-alt">
                          <div class="card-text mb-0 font-weight-bold text-gray-200 mb-1 addloader-mobile">Kshs {{total_bills}}</div>
                          <div class="card-text mb-0 font-weight-bold text-gray-200 mb-1 addloader-mobile">Kshs {{total_collections}}</div>
                          <div class="balancebtn card-text mb-0 font-weight-bold text-white shadow-alt-red mb-2 addloader-mobile">Kshs {{total_balances}}</div>
                          <div class="card-text mb-0 font-weight-bold text-warning mb-2 prop-display prop-toggle addloader-alt-mobile">{{proponfocus}}</div>
                          <div class="form-group mb-0 dispnone prop-select">
                            <select name="property" class="select-css-alt" id ="select_prop_mobile" required>
                                <option disabled selected value> select property </option>
                                {% for o in props%}
                                <option value="{{ o }}">{{ o }}</option>
                                {% endfor %}
                            </select>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>




      <!-- <div id="prop-card" class="col-xl-3 col-md-6 mb-1 mobile-malaysian prop-toggler">
        <div class="card border-left-info shadow-alt h-100 py-2 {{card_theme}}">
            <div class="card-body">
                <div class="no-gutters center-btn">
                    <div class="mr-2">
                        <div style="width: 50%;" class="d-inline p-1 select-prop prop-toggle text-xs font-weight-bold text-white text-uppercase mb-1"><i class="fas fa-caret-down mr-2"></i>Select property<i class="fas fa-caret-down ml-2"></i></div>

                        <div class="addloader-alt">
                            <div class="h5 mb-0 font-weight-bold text-warning prop-display prop-toggle">{{proponfocus}}</div>

                            <div class="form-group mb-0 dispnone prop-select">
                                <select name="property" class="select-css" id ="select_prop" required>
                                    <option disabled selected value> -- Select property -- </option>
                                    {% for o in props%}
                                    <option value="{{ o }}">{{ o }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-1 mobile-malaysian">
          <div class="card border-left-dark shadow-alt h-100 py-2 card-b {{card_theme}}">
              <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2 border-right-warning">
                  <div class="text-xs font-weight-bold text-white text-uppercase mb-1 no-wrap"><span class="text-white dispnone">{{month_string}} | </span>Expected collection</div>
                  <div class="h5 mb-0 font-weight-bold text-warning addloader">Kshs {{total_bills}}</div>
                  </div>
                  <div class="col-auto billbtn">
                    <span class="text-gray-300"><span class="text-warning ln-10">{{numinvs}}</span></span>
                    <div class="text-gray-300">{{month_str}} invoices</div>
                  </div>
              </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-1 no-padding mobile-malaysian">
          <div class="card border-left-dark shadow-alt h-100 py-2 card-b {{card_theme}}">
              <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2 border-right-warning">
                  <div class="text-xs font-weight-bold text-white text-uppercase mb-1"><span class="text-white dispnone">{{month_string}} | </span>Actual collection</div>
                  <div class="h5 mb-0 font-weight-bold text-warning addloader">Kshs {{total_collections}}</div>
                  </div>
                  <div class="col-auto">
                    <span class="text-gray-300"><span class="fa-2x text-warning ln-10">{{collection_percentage}}</span>%</span>
                    <div class="text-gray-300">collection ratio</div>
                  </div>
              </div>
              </div>
          </div>
      </div>


      <div class="col-xl-3 col-md-6 mb-1 mobile-malaysian">
          <div class="card border-left-dark shadow-alt h-100 py-2 card-b {{card_theme}}">
              <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2 border-right-warning">
                  <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Balance</div>
                  <div class="h5 mb-0 font-weight-bold text-warning addloader">Kshs {{total_balances}}</div>
                  </div>
                  <div class="balancebtn col-auto border-left-warnin">
                    <span class="text-gray-300"><span class="fa-2x text-warning ln-10">{{numdefaulters}}</span></span>
                    <div class="nonpaybtn text-gray-300"> non-payments</div>
                  </div>
              </div>
              </div>
          </div>
      </div> -->


      <script>
        $("#select_prop_mobile").on('change',function(){
            let propvar = $("#select_prop_mobile").val();
            localStorage.setItem('propvar',propvar);

            $(".addloader-mobile").html('<div class="fountainG-big"><div class="fountainG_1b fountainG-b"></div><div class="fountainG_2b fountainG-b"></div><div class="fountainG_3b fountainG-b"></div></div>')
            $(".addloader-alt-mobile").html('<div class="fountainG-big"><div class="fountainG_1b fountainG-b"></div><div class="fountainG_2b fountainG-b"></div><div class="fountainG_3b fountainG-b"></div></div>')
       
            $.ajax({
                url: "{{ url_for('api.propstats') }}",
                type: 'get',
                data: {
                        prop: localStorage.getItem('propvar')
                        },
                success: function(data) {
                    $('#dynamic-stats').html(data);

                },
                complete:function(data) {
                    setTimeout(getHouseStats, 10);
                }
            });
        });
        </script>




        <!-- <script>
                $(".prop-toggler").hover(function () {
                    console.log("hey")
                    $(".prop-display").addClass("dispnone");
                    $(".prop-select").removeClass('dispnone');
                    $(".select-prop").addClass('dispnone');

                });
        </script> -->

        <script>
            $(".prop-toggler-alt").click(function () {
                $(".prop-display").addClass("dispnone");
                $(".prop-select").removeClass('dispnone');
                $(".select-prop").addClass('dispnone');
            });
          </script>
        

        <script>
            $(".balancebtn").on('click',function(){
          
                $("#targeturl").html("/balances");
                $(".nonpaybtn").html("<i class=\"fas fa-spinner fa-spin mr-4\"></i>Generating...")
          
                $.ajax({
                  url: "/balances",
                  type: "get",
                  data: {
                        propid:""
                      },
                  success: function(response) {
          
                    $(".nonpaybtn").html("non-payments")
                    $('#body-block').addClass("dispnone");
                    $("#propdisp").removeClass("dispnone")
          
                    $("#propdisp").html(response);
                  },
                  error: function(xhr) {
                    // $("#invoicebed").html('<div class="center-btn text-danger mb-3">Invoice not found!</div>');
                    }
                });
              
          
          
            });
          </script>