<div class="col-lg-12 text-black mb-1 ml-2 mt-2 bolden font-weight-bold"><span class="text-uppercase">{{page_header}}</span></div>
<div class="col-lg-12">

<div id="reqdata" class="table-responsive">
  <table id="tenantData" class="table shadow" width="100%" cellspacing="0">
      <thead class="custom-header">
          <tr>
          <th class="text-black">Tenant</th>
          <th class="text-black">Total</th>
          <th class="text-black">Paid</th>
          <th class="text-black">Bal</th>
          <th class="text-black">Status</th>
          </tr>
      </thead>
      <tbody>
          {% for i in bills%}
          <tr>
          <td class="first-data-cell font-weight-bold {{i['vacancy']}}">{{ i['hst']|safe }}</td>
          <td class="data-cell text-right">{{ i['total'] }}</td>
          <td class="data-cell text-right">{{ i['paid'] }}</td>
          <td class="data-cell text-right">{{ i['balance'] }}</td>

          <td class="text-center data-cell">
            <div>
              <button id="{{i['smsid']}}" type="button" class="btn {{i['smsoutline']}} font-weight-bold  btn-sm ellipsis no-wrap" {{i['smsactive']}}>{{ i['smsstatus']|safe }}</button>
            </div>
          </td>
  
          </tr>
          {% endfor %}
      </tbody>

  </table>

</div>


    <!-- Pagination Links-->
    <div class="text-right mt-3">
      <button id="prev{{prev_num}}" class="btn btn-outline-dark" {% if page == 1 %}disabled{% endif %} >Prev &laquo;</button>
      <!-- Loop through the number of pages to display a link for each-->
      {% for page_num in iter_list %}
          {% if page_num %}
            <!-- Check for the active page and set the link to "Active"-->
            {% if page == page_num %}
                <button id="num{{page_num}}" class="btn btn-dark">{{ page_num }}</button>
            {% else %}
                <button id="num{{page_num}}" class="btn btn-outline-dark">{{ page_num }}</button>
            {% endif %}
          {% else %}
            ...
          {% endif %}
      {% endfor %}
      <button id="next{{next_num}}" class="btn btn-outline-dark" {% if page == pages %}disabled{% endif %}>&raquo; Next
      </button>
    </div>

    <p class="text-right mt-3">
      <span id="pages" class="dispnone">{{pages}}</span>
      Total items: <span class="text-black">{{num_items}}</span>, showing page <span class="text-black">{{page}}</span> of <span class="text-black">{{pages}}</span>
    </p>
</div>


    <script type="text/javascript">
      $(document).ready(function () {
        $('#tenantData').DataTable({
          "processing": true,
          "paging": false,
          "info" : false,
          "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
          "pageLength": 100,
          "searching":false,
          "order": [[ 0, "asc" ]],
          columnDefs: [ { targets: 0, type: 'natural' } ],
          // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ],type: 'natural' }],
          "bLengthChange": false
        });
        $('.dataTables_length').addClass('bs-select');
        });
    </script>

<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x => x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function (i, item) {

    $("#" + item).on('click', function () {
      console.log("clicked", item)
      if (isNaN(parseInt(item))) {
        if (item.startsWith("sms")) {
          // $("#view_bill_identifier").html(item)
          console.log("sending sms")

          $("#" + item).html('<i class="fas fa-spinner fa-spin mr-1"></i>')
          $.ajax({
            url: "{{ url_for('api.sendinvoices') }}",
            type: "POST",
            data: {
              billid: item,
              prop: $("#prop_identifier").text(),
              target: "isolated"
            },
            success: function (response) {

              setTimeout(function () {
                getInvs($("#prop_identifier").text(),"",$("#currentinvpage").text())

                // $.ajax({
                //   url: "{{ url_for('api.fetchbills') }}",
                //   type: "get",
                //   data: {
                //     propid: $("#prop_identifier").text(),
                //     target: "sometarget"
                //   },
                //   success: function (response) {

                //     $("#result-view2").html(response);
                //   }
                // });
              }, 8000);

            },
            error: function (xhr) {
              $("#" + item).html('<i class="fas fa-exclamation-circle text-danger mr-1">Fail</i>')
            }
          });

        } else if (item.startsWith("mail")) {
          // $("#view_bill_identifier").html(item)
          console.log("sending mail")

          $("#" + item).html('<i class="fas fa-spinner fa-spin mr-1"></i>')
          $.ajax({
            url: "{{ url_for('api.sendinvoices') }}",
            type: "POST",
            data: {
              billid: item,
              prop: $("#prop_identifier").text(),
              target: "isolated mail"
            },
            success: function (response) {

              setTimeout(function () {
                $.ajax({
                  url: "{{ url_for('api.fetchbills') }}",
                  type: "get",
                  data: {
                    propid: $("#prop_identifier").text(),
                    target: "sometarget"
                  },
                  success: function (response) {

                    $("#result-view2").html(response);
                  }
                });
              }, 5000);

            },
            error: function (xhr) {
              $("#" + item).html('<i class="fas fa-exclamation-circle text-danger mr-1">Fail</i>')
            }
          });

        } else if (item.startsWith("del")) {
          $("#del_bill_identifier").html(item)
        }
        else {
          $("#edit_bill_identifier").html(item)
        }

      } else {
        $("#bill_identifier").html(item)
      }
    });
  });
</script>


<script>
    function loader(item) {
      getInvs($("#prop_identifier").text(), $("#target_identifier").text(), item)
      $("#currentinvpage").text(item)
    }
    
    var pages = range(1, $("#pages").text())
    $.each(pages, function (i, item) {
      $("#num" + item).on('click', function () {
        loader(item)
      })
    })
    $.each(pages, function (i, item) {
      $("#next" + item).on('click', function () {
        loader(item)
      })
    })
    $.each(pages, function (i, item) {
      $("#prev" + item).on('click', function () {
        loader(item)
      })
    })
</script>


<!-- <script>
  function tabletoggler() {
    var x = document.getElementById("expandtoggler");
    if (x.innerHTML === "expand") {
      x.innerHTML = "collapse";
    } else {
      x.innerHTML = "expand";
    }
  }
</script> -->

