

<style>
  .custom_card{
    height:375px !important;
    overflow-y: scroll !important;
  }
</style>

        <div class="card shadow mb-1 bg-white h-100 border-left-malibu-blue">

          <div class="flip-card-inner">

            <div class="flip-card-front">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <div class="m-0 text-malibu-blue font-weight-bold smallify targetprop add-skeleton-sms"><i class="feather-24 pb-1" 
                    data-feather="bar-chart-2"></i> Current activity
                  </div>

              </div>
              <!-- Card Body -->
              <div class="card-body ">

                <div class="custom_card">

                <ul class="sessions tm">

                  <span class="small font-italic text-black bolden">latest activity ...</span>

                  <div id="activity-panel">
                    <div class="dot-elastic mt-2 ml-2"></div>
                  </div>

                </ul>

              </div>

              </div>
          </div>

            <div class="flip-card-back">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <div class="m-0 text-black smallify targetprop add-skeleton-pie"><i class="feather-24 pb-1" data-feather="bar-chart-2"></i> Occupancy: <span class="font-weight-bold font-italic">{{targetprop}}</span></div>

              </div>
              <!-- Card Body -->
              <div class="card-body ">
              <div class="chart-are add-skeleton-pie pb-4 pt-4">
                  <!-- <p id="theInput4" class="dispnone">{{waterstring}}</p> -->
                  <p id="pieInput" class="dispnone">{{piestring}}</p>
                  <!-- <canvas id="barChart"></canvas> -->
                  <canvas id="myPieChart"></canvas>
              </div>
              <div class="mt-4 text-center pb-4 pt-3 add-skeleton-pie">
                  <span class="mr-2">
                    <i class="fas fa-circle text-success"></i> Occupied: <span class="text-black font-weight-bold">{{occupied}}</span>
                  </span>
                  <span class="mr-2">
                    <i class="fas fa-circle text-primary"></i> Vacant: <span class="text-black font-weight-bold">{{vacant}}</span>
                  </span>
                </div>

              </div>
          </div>


          </div>
        </div>


<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    // Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    // Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctxP = document.getElementById("myPieChart");

    var stringPieData = document.getElementById("pieInput").innerText;
    var pieData = stringPieData.split`,`.map(x=>+x);

    var myPieChart = new Chart(ctxP, {
    type: 'doughnut',
    data: {
        labels: ["Occupied", "Vacant"],
        datasets: [{
        // data: [60, 40],
        data:pieData,
        // backgroundColor: ['#4e73df', '#1cc88a'],
        // hoverBackgroundColor: ['#2e59d9', '#17a673'],
        backgroundColor: ['#1cc88a', '#4e73df'],
        hoverBackgroundColor: ['#17a673', '#2e59d9'],

        hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
    },
    options: {
        maintainAspectRatio: false,
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        caretPadding: 10,
        },
        legend: {
        display: false
        },
        cutoutPercentage: 50,
    },
    });
</script>

<script>
      function getActivities(){
      $.ajax({
              url: "/fetch/activity",
              type: "get",
              data: {},
              success: function (response) {
                $("#activity-panel").html(response[0])
                $("#notifications-panel").html(response[1])
                $("#badge-counter").text(response[2])

                let old = localStorage.getItem('notification_counter')
                // console.log("oooollld ",old)
                // console.log("neeeeww ",response[2])

                // console.log(typeof(old), " and ", typeof(response[2]))
                // console.log("compareee ",old==response[2])
                // console.log("deeeep comparee ",old===response[2])
                if (old == response[2]){}else{
                  audio_url = "../static/notification.mp3"
                  const audio = new Audio(audio_url);
                  audio.play();
                }
                localStorage.setItem('notification_counter',response[2]);
                // setTimeout(getActivities, 1800000); //RECURSIVE FUNCTION CALL
              }
          });
    }

    getActivities(); //DISABLED FUNCTION CALL
</script>


<script>
  feather.replace()
</script>