
<div class="col-lg-12 no-padding">
    <div id="reqdata" class="table-responsive">
      <table id="tenantData" class="table shadow mb-1" width="100%" cellspacing="0">
        <thead class="custom-header">
          <tr>
            <th class="text-black">Name</th>
            <th class="text-black " data-orderable="false">Contact</th>
            <th class="text-black " data-orderable="false">Leads</th>
            <th class="text-black " data-orderable="false">Sales</th>
            <th class="text-black " data-orderable="false">%Conversion</th>
            <th class="text-black " data-orderable="false">Commission</th>

            <!-- <th class="text-black text-primary " data-orderable="false">Edit</th> -->
            <!-- <th class="text-black text-danger" data-orderable="false">Remove</th> -->

          </tr>
        </thead>
        <tbody>
          {% for item in items%}
          <tr>
            <td class="data-cell">{{ item['name'] }}</td>
            <td class="data-cell text-end ">{{ item['tel'] }}</td>
            <td class="data-cell text-end">{{ item['leads'] }}</td>
            <td class="data-cell text-end">{{ item['closed'] }}</td>
            <td class="data-cell text-end">{{ item['crate'] }}</td>
            <td class="data-cell text-end"><span class="font-weight-bold">{{ item['comm'] }}</span></td>


            <!-- <td class="text-s data-cell text-center">
                    <div>
                      <button id="{{item['editid']}}" type="button" class="btn action-btn font-weight-bold  no-wrap" data-toggle="modal" data-target="#"><i class="fas fa-edit mr-1"></i></button>
                    </div>
                  </td> -->

            <!-- <td class="text-s data-cell text-center">
              <div>
                <button id="{{item['delid']}}" type="button" class="btn action-btn font-weight-bold  no-wrap"
                  data-toggle="modal" data-target="#deleteAttendantModal"><i
                    class="fas fa-trash-alt mr-1"></i></button>
              </div>
            </td> -->

          </tr>
          {% endfor %}
        </tbody>
          <!-- <tfoot>
            <tr>
              <td colspan="2" class="center-btn font-weight-bold squeeze text-info footer-cell">Grand Total</td>
              <td class="font-weight-bold squeeze text-info footer-cell">{{gtotal}}</td>
            </tr>
          </tfoot> -->
      </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      $('#tenantData').DataTable({
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        "searching":false,
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
      });
</script>

<script>
  var rawIds = "{{ subids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_item_identifier").html(item)
          $("#target_item_id").html("void payment")
        }else{
          $("#edit_item_identifier").html(item)
          $("#target_item_id").html("edit payment")
        }
        
      }else{
        $("#item_identifier").html(item)
        $("#target_item_id").html("payment")
      }
    });
  });
</script>
