

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
      <span id="prop_identifier" class="dispnone">{{prop.id}}</span>
      <span id="bill_identifier" class="dispnone"></span>
      <span id="view_bill_identifier" class="dispnone"></span>
      <span id="edit_bill_identifier" class="dispnone"></span>
      <span id="del_bill_identifier" class="dispnone"></span>
      <span id="target_payment_id" class="dispnone"></span>

      <span id="currentinvpage" class="dispnone">1</span>
      <span id="target_identifier" class="dispnone">invoiced</span>


      <a id="download_arrears" href="/download/template/arrears" class="dispnone">download</a>


     


      <div class="pb-2 bg-white divjust-end underline-thin-fade">

        <div>
          <span id="backbtn" class="btn btn-sm btn-light text-danger font-weight-bold">
            <i class="fas fa-long-arrow-alt-left text-danger"></i>
            Back to properties
          </span>

        </div>

        <div class="">

          <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#uploadArrearsExcelModal">
            <i class="feather-18 text-black mr-1 pb-1" data-feather="upload"></i>
            Arrears upload
          </span>

          <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#">
            <i class="feather-18 text-black mr-1 pb-1" data-feather="plus-circle"></i>
            set page size
          </span>

        </div>

        <div class="smal">


            <span class="mb-1 smallify">
              <input id="billmonthpicker2" class="ph ml-1" type="text" placeholder="month to view" readonly />
            </span>

            <span id="pickmonth2" class="ml-">
              <span class="btn btn-sm btn-success text-white p-1">
                <i class="me-1 feather-16" data-feather="list"></i>
                view
              </span>
            </span>

        </div>
      </div> 



      <div class="dispnon">
        <nav class="nav nav-borders">
          <div>
            <label class="me-2 btn text-primary"><input type="checkbox" id="cb1" value="cb1" class="chb dispnone"/><i class="feather-18 text-black mr-1 pb-1" data-feather="help-circle"></i>pending</label>
            <label class="me-2 btn text-primary underline"><input type="checkbox" id="cb2" value="cb2" class="chb dispnone" checked/><i class="feather-18 text-black mr-1 pb-1" data-feather="check-circle"></i>invoiced</label>
            <label class="me-2 btn text-primary"><input type="checkbox" id="cb3" value="cb3" class="chb dispnone"/><i class="feather-18 text-black mr-1 pb-1" data-feather="alert-circle"></i>vacant</label>
          </div>
        </nav>
      </div>


        <!-- <div class="pb-2 bg-white divjust-end">

          <div class="">
            <span id="backbtn" class="btn btn-sm btn-light text-black">
              <i class="fas fa-long-arrow-alt-left"></i>
              Back to properties
            </span>


                          
            <span class="ml-3">

              <span class="mb-1 smallify">
                <input id="billmonthpicker2" class="ph ml-1" type="text" placeholder="choose month to view..." style="max-width: 50%;" readonly />
              </span>

              <span id="pickmonth2" class="ml-3">
                <span class="btn btn-sm btn-success text-white p-1">
                  <i class="me-1" data-feather="user-plus"></i>
                  view
                </span>
              </span>

            </span>


          </div>

          

          <div class="">

            <span class="mb-1 smallify ml-1">
              <input id="pagesize" class="ph" type="text" placeholder="set paging" style="max-width: 50%;" />
            </span>

            <span class="mobile-malaysian">

              <a class="text-black ms-0" href="#" data-toggle="modal" data-target="#uploadArrearsExcelModal">
                <span class="btn btn-sm btn-light text-black">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  Bulk arrears upload
                </span>
              </a>
            </span>

          </div>

        </div> -->


        
        <div class="ro">
          <!-- <div id="titletoggler" class="col-lg-12 font-weight-bold text-dark center-btn mb-1 desktop-malaysian">{{current_month}} bills: Click <button id="expand" class="btn btn-outline-primary no-padding"> here </button>to <span id="expandtoggler">expand</span></div> -->
          <div id="arr-view2" class="d-none"></div>
          <div id="result-view2" class="">
            <span class="text-black font-weight-bold">loading invoices ...</span>
              <!-- <div id="reqdata" class="table-responsive">
                  <table id="tenantData" class="table shadow" width="100%" cellspacing="0">
                      <thead class="custom-header">
                          <tr>
                          <th class="text-black">Unit</th>
                          <th class="text-black">Invoice</th>
                          <th class="text-black {{fieldshow_rent}} ">Rent</th>
                          <th class="text-black {{fieldshow_water}}">Water</th>
                          <th class="text-black {{fieldshow_elec}}">Electricity</th>
                          <th class="text-black {{fieldshow_garb}}">Garbage</th>
                          <th class="text-black {{fieldshow_sec}}">Security</th>
                          <th class="text-black {{fieldshow_sev}}">Service</th>
                          <th class="text-black {{fieldshow_dep}}">Deposit</th>
                          <th class="text-black {{fieldshow_arg}}">Agreement</th>
                          <th class="text-black {{fieldshow_fine}}">Fine</th>
                          <th class="text-black {{fieldshow_arr}}">Arr</th>
                          <th class="text-black">Total</th>
                          <th class="text-black">Paid</th>
                          <th class="text-black">BCF</th>
                          <th class="text-black">SMS</th>
                          <th class="text-black">EMAIL</th>
                          <th class="text-black">Edit</th>
                          <th class="text-danger">Delete</th>
                          <th class="text-black">By</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for i in bills%}
                          <tr>
                          <td class="first-data-cell font-weight-bold {{i['vacancy']}}">{{ i['hst']|safe }}</td>
                          <td class="text-center data-cell">
                            <div>
                              <button id="{{i['id']}}" type="button" class="btn btn-sm {{i['viewable']}} font-weight-bold  ellipsis no-wrap" {{i['active']}} data-toggle="modal" data-target="#invoiceModal"><i class="fas fa-eye mr-1 text-black"></i> #{{i['invnum']}}</button>
                            </div>
                          </td>
                          <td class="data-cell {{fieldshow_rent}} text-right">{{ i['rent'] }}</td>
                          <td class="data-cell {{fieldshow_water}} text-right">{{ i['water'] }}</td>
                          <td class="data-cell {{fieldshow_elec}} text-right">{{ i['electricity'] }}</td>
                          <td class="data-cell {{fieldshow_garb}} text-right">{{ i['garbage'] }}</td>
                          <td class="data-cell {{fieldshow_sec}} text-right">{{ i['security'] }}</td>
                          <td class="data-cell {{fieldshow_sev}} text-right">{{ i['service'] }}</td>
                          <td class="data-cell {{fieldshow_dep}} text-right">{{ i['deposit'] }}</td>
                          <td class="data-cell {{fieldshow_arg}} text-right">{{ i['agreement'] }}</td>
                          <td class="data-cell {{fieldshow_fine}} text-right">{{ i['fine'] }}</td>
                          <td class="data-cell {{fieldshow_arr}} text-right">{{ i['arrears'] }}</td>
                          <td class="data-cell text-black text-right">{{ i['total'] }}</td>
                          <td class="data-cell text-right">{{ i['paid'] }}</td>
                          
                          <td class="data-cell text-right">{{ i['balance'] }}</td>

                          <td class="text-center data-cell">
                            <div>
                              <button id="{{i['smsid']}}" type="button" class="btn {{i['smsoutline']}} font-weight-bold  btn-sm ellipsis no-wrap" {{i['smsactive']}}>{{ i['smsstatus']|safe }}</button>
                            </div>
                          </td>
                          <td class="data-cell text-center">
                            <div>
                                <span id="{{i['mailid']}}" type="button" class="btn {{i['mailoutline']}} font-weight-bold btn-sm ellipsis no-wrap" {{i['mailactive']}} >{{i['mailstatus']|safe}}</span>
                            </div>
                        </td>
                          <td class="text-center data-cell">
                            <div>
                              <button id="{{i['editid']}}" type="button" class="btn btn-sm {{i['editoutline']}} font-weight-bold  ellipsis no-wrap" {{i['active']}} data-toggle="modal" data-target="#editBillModal"><i class="fas fa-cog mr-1"></i></button>
                            </div>
                          </td>
                          <td class="text-center data-cell">
                            <div>
                              <button id="{{i['delid']}}" type="button" class="btn btn-sm font-weight-bold text-danger  ellipsis no-wrap" {{i['active']}} data-toggle="modal" data-target="#discardBillModal"><i class="fas fa-trash-alt mr-1"></i></button>
                            </div>
                          </td>
                          <td class="data-cell text-center text-dark font-weight-bold">{{ i['billedby'] }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>

                  <div class="text-right mt-3">
                    <button id="prev{{prev_num}}" class="btn btn-outline-dark 
                    {% if page == 1 %}disabled{% endif %}">&laquo;</button>
                    {% for page_num in iter_list %}
                        {% if page_num %}
                          {% if page == page_num %}
                              <button id="num{{page_num}}" class="btn btn-dark">{{ page_num }}</button>
                          {% else %}
                              <button id="num{{page_num}}" class="btn btn-outline-dark">{{ page_num }}</button>
                          {% endif %}
                        {% else %}
                          ...
                        {% endif %}
                    {% endfor %}
                    <button id="next{{next_num}}" class="btn btn-outline-dark 
                    {% if page == pages %}disabled{% endif %}">&raquo;
                    </button>
                  </div>
                  <p class="text-right mt-3">
                    <span id="pages" class="dispnone">{{pages}}</span>
                    Total items: <span class="text-black">{{num_items}}</span>, showing page <span class="text-black">{{page}}</span> of <span class="text-black">{{pages}}</span>
                  </p>

              </div> -->
          </div>
        </div>
    </section>

    <div class="modal fade" id="editBillModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info" id="paymentDetailModalLabel">Edit monthly bill</h5>
            <span id="update-reloader" class="dispnone"></span>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">
     
                      <div class="mt-2 mb-3" id="billeditbed"></div>
                    
                      <div class="divbg center-btn">
                        <button id="editbill" type="button" class="btn btn-outline-success">Update</button>
                        <button class="btn btn-outline-danger" id="closeModal" type="button" data-dismiss="modal"></i>Dismiss</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editArrModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center bg-dark">
            <h5 class="modal-title text-info" id="paymentDetailModalLabel">Edit arrears per invoice item</h5>
            <span id="update-reloader" class="dispnone"></span>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body bg-light pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">
     
                      <div class="mt-2 mb-3" id="arreditbed"></div>
                    
                      <div class="divbg center-btn">
                        <button id="editarr" type="button" class="btn btn-outline-success">Update</button>
                        <button class="btn btn-outline-danger" id="closeArrModal" type="button" data-dismiss="modal"></i>Dismiss</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editDaysModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center bg-dark">
            <h5 class="modal-title text-info" id="paymentDetailModalLabel">Days of rent</h5>
            <span id="update-reloader" class="dispnone"></span>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body bg-light pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">
     
                      <div class="mt-2 mb-3 row">
                        <div class="col-4 no-padding text-right"><span class="form-control border-0">Adjust days</span></div>
                        <div class="col-5 form-group">
                          <input id="edit_days" class="form-control" type="text" placeholder="E.g 15">
                        </div>
                      </div>
                    
                      <div class="divbg center-btn">
                        <button id="editdays" type="button" class="btn btn-outline-success">Update</button>
                        <button class="btn btn-outline-danger" id="closeDaysModal" type="button" data-dismiss="modal"></i>Dismiss</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="smsInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info text-left ml-5" id="paymentDetailModalLabel">Sms invoice structure</h5>
            <span id="update-reloader" class="dispnone"></span>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">

                    <div class="mt-2" id="invoicebed">
                      <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="mailInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <span id="update-reloader" class="dispnon"></span>
          <div class="modal-header pb-0 text-center dispnon">
            <!-- <h5 class="modal-title text-info" id="paymentDetailModalLabel">INVOICE</h5> -->
            <div class="modal-title header-elements-inline pb-2 divjust-end noprint">
              <h5 class="card-title mobile-malaysian">Invoice</h5>
              <div class="header-elements">
                <button id="saveinv" type="button" class="btn btn-light btn-sm dispnone"><i class="fa fa-file-download text-primary mr-2"></i>Save</button> 
                <button id="printinv" type="button" class="mobile-malaysian btn btn-light btn-sm"><i class="fa fa-print text-primary mr-2"></i>Save/Print</button> 
                <button id="mailbtn" type="button" class="btn btn-light btn-sm dispnone"><i class="fa fa-envelope text-primary mr-2"></i>Email</button>
                
              </div>

              <div>
                <button type="button" class="btn btn-light btn-sm ml-3" data-dismiss="modal"><i class="fa fa-times text-danger mr-2"></i>Close</button>
              </div>
          </div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <div class="divjust-end mt-2 dispnone">

                      <!-- <button  id="printinv" class="ml-3 btn btn-outline-success" type="button"></i>Print</button>
                      <button id="closeModal" class=" mr-3 btn btn-outline-danger"  type="button" data-dismiss="modal"></i>Dismiss</button> -->

                    </div>
                    
                    <div class="mt-2" id="mailinvoicebed">
                      <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="doubleMailInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <span id="update-reloader" class="dispnon"></span>
          <div class="modal-header pb-0 text-center dispnon">
            <!-- <h5 class="modal-title text-info" id="paymentDetailModalLabel">INVOICE</h5> -->
            <div class="modal-title header-elements-inline pb-2 divjust-end">
              <h5 class="card-title mobile-malaysian">Invoice</h5>
              <div class="header-elements">
                <button id="saveinv2" type="button" class="btn btn-light btn-sm"><i class="fa fa-file-download text-primary mr-2"></i>Save</button> 
                <button id="printinv2" type="button" class="mobile-malaysian btn btn-light btn-sm"><i class="fa fa-print text-primary mr-2"></i>Print</button> 
                <!-- <button id="mailbtn" type="button" class="btn btn-light btn-sm"><i class="fa fa-envelope text-primary mr-2"></i>Email</button> -->
                
              </div>

              <div>
                <button type="button" class="btn btn-light btn-sm ml-3" data-dismiss="modal"><i class="fa fa-times text-danger mr-2"></i>Close</button>
              </div>
          </div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <div class="divjust-end mt-2 dispnone">

                      <!-- <button  id="printinv" class="ml-3 btn btn-outline-success" type="button"></i>Print</button>
                      <button id="closeModal" class=" mr-3 btn btn-outline-danger"  type="button" data-dismiss="modal"></i>Dismiss</button> -->

                    </div>
                    
                    <div class="mt-2" id="doublemailinvoicebed">
                      <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info" id="paymentDetailModalLabel">Invoice</h5>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">

                    <div class="mt-2 divbg">
                      <div>
                        <i class="fas fa-sms ml-3 mr-2 text-info"></i><span type="button" class="btn-outline-info  borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#smsInvoiceModal">SMS</span>
                      </div>

                      <div>
                        <i class="fas fa-envelope ml-3 mr-2 text-success"></i><span type="button" class="btn-outline-info  borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#mailInvoiceModal">PDF</span>
                      </div>

                      <div>
                        <i class="fas fa-envelope ml-3 mr-2 text-success"></i><span type="button" class="btn-outline-info  borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#doubleMailInvoiceModal">Double PDF</span>
                      </div>

                      <button class="btn btn-light dismissparent dispnone" type="button" data-dismiss="modal"></i>Dismiss</button>

                    </div>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade center-btn" id="discardBillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger text-xx" id="exampleModalLabel">Warning!</h5>
          </div>
          <div class="text-info payment-info"></div>

          <div id="confirmation" class="dispnone">
            <div class="modal-body text-danger">Confirm delete</div>
            <span class="text-gray-700 small mb-2 mr-2 ml-2">This action cannot be <span class="text-danger">REVERSED</span> Continue?</span>
          </div>

          <div class="has-margin-bottom divbg mt-2">
              <button id="delete_payment" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Discard !</button>
              <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="uploadArrearsExcelModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify">Upload arrears</span>
              <div>
                <button id="downloadarrears" class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-primary small" type="button" ><i class="fa fa-download"></i><span class="small"> template</span></button>
                <button class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-danger" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="" enctype="multipart/form-data">

                      <div class="form-group input-icons mt-3">
                        <select class="select-css" id ="select_option" >
                          <option disabled selected value> --select option-- </option>
                          <option value="add">add to existing</option>
                          <option value="replace">replace existing</option>
                        </select>
                      </div>
     
                      <div class="mt-2 form-group center-btn">
                        <p class="text-black">Arrears Excel File: <input class="ph" id="tenantarrearsfile" type = "file" name = "filename" /></p>
                      </div>
                    
                      <div class="divbg center-btn">
                        <button id="uploadarrears" type="button" class="btn-success borderless text-white">Upload</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>
      $("#close-arr-view").on('click',function(){
        $('#result-view').toggleClass("d-none");
        $('#reportbtns').toggleClass("d-none");
        $('#arr-view').toggleClass("d-none");
      });
    </script>

<script>
  $("#billmonthpicker2").datepicker({ 
    autoclose: true, 
    todayHighlight: true,
    format: "mm-yyyy",
    startView: "months", 
    minViewMode: "months"
  });


  $("#pickmonth2").on('click',function(){

    $("#target_period").text($("#billmonthpicker2").val());
    getInvs($("#prop_identifier").text(), $("#target_identifier").text(), $("#currentinvpage").text())
    $("#activeprop-period").text($("#target_period").text())

})
</script>

      <script>
        
        function getInvs(propid, target, page) {

          if($("#pagesize").val() == "" ){
            var size = 30
          }else{
            var size = $("#pagesize").val()
          }
        showSpin();
        $("#barloader-alt").removeClass("dispnone")
        // $("#current-reloader").html(target);
        $.ajax({
          url: "{{ url_for('api.fetchbills') }}",
          type: "get",
          start_time: new Date().getTime(),
          data: { 
            propid:propid,
            period:$("#target_period").text(),
            target:target,
            page:$("#currentinvpage").text(),
            size:size
           },
          success: function (response) {
            $("#barloader-alt").addClass("dispnone")
            $("#result-view2").html(response);
          },
          complete: function(data) {
            $("#domtimeload").text((new Date().getTime() - this.start_time));
          }
        });
      }
        
      </script> 

<script type="text/javascript">
  getInvs($("#prop_identifier").text(), "", 1)


  $.fn.getLabels = function() {
    return this.map(function() {
        var labels = $(this).parents('label');
        if (this.id) {
            labels.add('label[for="' + this.id + '"]');
        }
        return labels.get();
    });
  };

  $(".chb").change(function (e) {
        $(".chb").getLabels().removeClass("underline");

        //Getting status before unchecking all
        var status = $(this).prop("checked");

        $(".chb").prop('checked', false);
        $(this).prop('checked', true);

        //false means checkbox was checked and 
        //became unchecked on change event, so let it stay unchecked
        if (status === false) {
          $(this).getLabels().addClass("underline");
          $(this).prop('checked', false);
        }else{

          if ($(this).val() == "cb1"){
            $(this).getLabels().addClass("underline");
            $("#target_identifier").text("pending")

            getInvs($("#prop_identifier").text(), "pending","")
          }else if($(this).val() == "cb2"){
            $(this).getLabels().addClass("underline");
            $("#target_identifier").text("invoiced")

            getInvs($("#prop_identifier").text(), "invoiced","")
          }else{
            $(this).getLabels().addClass("underline");
            $("#target_identifier").text("vacant")

            getInvs($("#prop_identifier").text(), "vacant","")
          }
        }

      });



</script>

<script>
  $("#editBillModal").on('shown.bs.modal', function(){
    $("#editbill").removeClass("dispnone");
    $("#billeditbed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
    $.ajax({
      url: "{{ url_for('api.editbill') }}",
      type: "get",
      data: {
            billid: $("#edit_bill_identifier").text()
          },
      success: function(response) {
        $("#billeditbed").html(response);
      },
      error: function(xhr) {
        $("#billeditbed").html('<div class="center-btn text-danger mb-3">Cannot edit vacant unit!</div>');
        $("#editbill").addClass("dispnone");
        }
    });
  });

</script>

<script>
  $("#editArrModal").on('shown.bs.modal', function(){
    $("#editarr").removeClass("dispnone");
    $("#arreditbed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
    $.ajax({
      url: "{{ url_for('api.editbill') }}",
      type: "get",
      data: {
            billid: $("#edit_bill_identifier").text(),
            target:"editarrears"
          },
      success: function(response) {
        $("#arreditbed").html(response);
      },
      error: function(xhr) {
        $("#arreditbed").html('<div class="center-btn text-danger mb-3">error</div>');
        $("#editarr").addClass("dispnone");
        }
    });
  });

</script>

<script>
  $('#editBillModal').on('hidden.bs.modal', function () {
    $("#edit_bill_identifier").empty();
})
</script>

<script>
  $("#editbill").click(function(){   
    $("#editbill").html("updating...")  
      $.ajax({
        url: "{{ url_for('api.editbill') }}",
        type: "POST",
        data: {
                billid: $("#edit_bill_identifier").text(),
                rent: $("#edit_rent").val(),
                water: $("#edit_water").val(),
                garbage: $("#edit_garbage").val(),
                security: $("#edit_security").val(),
                electricity: $("#edit_electricity").val(),
                agreement: $("#edit_agreement").val(),
                fine: $("#edit_penalty").val(),
                deposit: $("#edit_deposit").val(),
                maintenance: $("#edit_maintenance").val(),
                arrears:""
            },
        success: function(response) {
          $(".alert-msgs").html(response);

          getInvs($("#prop_identifier").text(),"",$("#currentinvpage").text())

          // location.reload();
          // $.ajax({
          //       url: "{{ url_for('api.fetchbills') }}",
          //       type: "get",
          //       data: {
          //         propid:  $("#prop_identifier").text(),
          //         target:"sometarget"
          //       },
          //       success: function(response) {
                  
          //         $("#result-view2").html(response);
          //       }
          //   });
          setTimeout(function(){
            $(".alert-msgs").empty();
            $(".reset").click();
            $("#editbill").html("Update")
            $("#closeModal").click();
          }, 1000);
        }
      });
  });
</script>

<script>
  $("#editarr").click(function(){   
    $("#editarr").html("updating...")  
      $.ajax({
        url: "{{ url_for('api.editbill') }}",
        type: "POST",
        data: {
                billid: $("#edit_bill_identifier").text(),
                rent: $("#edit_rent_arr").val(),
                water: $("#edit_water_arr").val(),
                garbage: $("#edit_garbage_arr").val(),
                security: $("#edit_security_arr").val(),
                electricity: $("#edit_electricity_arr").val(),
                agreement: $("#edit_agreement_arr").val(),
                fine: $("#edit_penalty_arr").val(),
                deposit: $("#edit_deposit_arr").val(),
                maintenance: $("#edit_maintenance_arr").val(),
                target: "editarrears"
            },
        success: function(response) {
          $(".alert-msgs").html(response);
          // location.reload();

          $.ajax({
            url: "{{ url_for('api.editbill') }}",
            type: "get",
            data: {
                  billid: $("#edit_bill_identifier").text()
                },
            success: function(response) {
              $("#billeditbed").html(response);

              getInvs($("#prop_identifier").text(),"",$("#currentinvpage").text())

            },
            error: function(xhr) {
              $("#billeditbed").html('<div class="center-btn text-danger mb-3">Cannot edit vacant unit!</div>');
              $("#editbill").addClass("dispnone");
              }
          });

          setTimeout(function(){
            $(".alert-msgs").empty();
            // $(".reset_alt").click();
            $("#editarr").html("Update")
            $("#closeArrModal").click();
          }, 1000);
        }
      });
  });
</script>


<script>
  $("#discardBillModal").on('shown.bs.modal', function(){
    $("#confirmation").removeClass("dispnone");
    $(".payment-info").empty();
  });

</script>

<script>
    
  $("#delete_payment").on('click',function(){   
    
    $('#delete_payment').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>deleting...'); 
    $.ajax({
      url: "{{ url_for('api.editbill') }}",
      type: "POST",
      data: {
            propid: $("#prop_identifier").text(),
            billid:$("#del_bill_identifier").text(),
            target:"bill discard"
          },
      success: function(response) {
        $(".closemodal").click();
        $(".payment-info").html("<span class='text-success'>Bill deleted successfully</span>");  
        $('#delete_payment').html('Discard !');

        getInvs($("#prop_identifier").text(),"",$("#currentinvpage").text())

        
      },
      error: function(xhr) {
        $("#confirmation").addClass("dispnone");
        $('#delete_payment').html('Discard !');
        $(".payment-info").html('<span class="text-danger font-weight-bold">Error deleting the bill');
        }
    });
  });
  
  </script>


<script>
  $("#smsInvoiceModal").on('shown.bs.modal', function(){
    // $("#invoicebill").removeClass("dispnone");
    $(".dismissparent").click();
    $("#billeditbed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
    $.ajax({
      url: "{{ url_for('api.billinvoice') }}",
      type: "get",
      data: {
            billid: $("#bill_identifier").text()
          },
      success: function(response) {
        $("#invoicebed").html(response);
      },
      error: function(xhr) {
        $("#invoicebed").html('<div class="center-btn text-danger mb-3">Invoice not found!</div>');
        }
    });
  });

</script>

<script>
  $('#smsInvoiceModal').on('hidden.bs.modal', function () {
    $("#bill_identifier").empty();
    $("#invoicebed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
})
</script>


<script>
  $("#mailInvoiceModal").on('shown.bs.modal', function(){
    $(".dismissparent").click();
    $('#invoiceModal').on('hidden.bs.modal', function (e) {
        $('body').addClass('modal-open');
    });
    $('#mailbtn').removeAttr('disabled');
    $('#mailbtn').html('<i class="fas fa-envelope text-primary mr-2"></i>Email');

    // $("#invoicebill").removeClass("dispnone");

    // $("#billeditbed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
    $.ajax({
      url: "{{ url_for('api.billinvoice') }}",
      type: "get",
      data: {
            billid: $("#bill_identifier").text(),
            target: "email"
          },
      success: function(response) {
        $("#mailinvoicebed").html(response);
      },
      error: function(xhr) {
        $("#mailinvoicebed").html('<div class="center-btn text-danger mb-3">Invoice not found!</div>');
        }
    });
  });

</script>

<script>
  $('#mailInvoiceModal').on('hidden.bs.modal', function () {
    $("#bill_identifier").empty();
    $("#mailinvoicebed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
})
</script>

<script>
  $("#doubleMailInvoiceModal").on('shown.bs.modal', function(){
    $(".dismissparent").click();
    $('#invoiceModal').on('hidden.bs.modal', function (e) {
        $('body').addClass('modal-open');
    });
    // $('#mailbtn').removeAttr('disabled');
    // $('#mailbtn').html('<i class="fas fa-envelope text-primary mr-2"></i>Email');

    // $("#invoicebill").removeClass("dispnone");

    // $("#billeditbed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
    $.ajax({
      url: "{{ url_for('api.billinvoice') }}",
      type: "get",
      data: {
            billid: $("#bill_identifier").text(),
            target: "double email"
          },
      success: function(response) {
        $("#doublemailinvoicebed").html(response);
      },
      error: function(xhr) {
        $("#doublemailinvoicebed").html('<div class="center-btn text-danger mb-3">Invoices not found!</div>');
        }
    });
  });

</script>

<script>
  $('#doubleMailInvoiceModal').on('hidden.bs.modal', function () {
    $("#bill_identifier").empty();
    $("#doublemailinvoicebed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>');
})
</script>


<script>
    function tabletoggler() {
      var x = document.getElementById("expandtoggler");
      if (x.innerHTML === "expand") {
        x.innerHTML = "minimise";
      } else {
        x.innerHTML = "expand";
      }
    }
</script>

<script>
  $('#expand').click(function(){
    $('.expand').toggleClass("dispnone-alt")
    tabletoggler();
  })
</script>

<script>
  $("#arrbtn2").on('click',function(){
    $("#arrbtn2").html("<i class=\"fas fa-spinner fa-spin mr-4\"></i>Generating...")

    $.ajax({
      url: "/arrears",
      type: "get",
      data: {
            propid: $("#prop_identifier").text()
          },
      success: function(response) {
        $('#result-view2').toggleClass("d-none");
        $('#arr-view2').toggleClass("d-none");
        $('#arrbtn2').toggleClass("d-none");
        $('#titletoggler').toggleClass("d-none");
        $('#closebtn').toggleClass("d-none");
        $("#arr-view2").html(response);
      },
      error: function(xhr) {
        // $("#invoicebed").html('<div class="center-btn text-danger mb-3">Invoice not found!</div>');
        }
    });

  });
</script>



<script>
  $("#downloadarrears").click(function(){ 
      $('#downloadarrears').html('<i class="fas fa-spinner fa-spin mr-1"></i>Downloading...');


      $("#download_arrears")[0].click();

        setTimeout(function(){
            $('#downloadarrears').html("<i class='fas fa-file-download mr-2'></i>Template")
        },8000);
    });
</script>


<script>
  $("#uploadarrears").on('click',function(){
      $("#uploadarrears").html("Uploading...") 

      url = "{{ url_for('api.editbill') }}"

      var fd = new FormData();
      var files = $('#tenantarrearsfile')[0].files;
      fd.append('file',files[0]);
      fd.append('target',"excelarrearsupload");
      fd.append('option',$("#select_option").val());
      fd.append('propid',$("#prop_identifier").text());

      $.ajax({
          type: "POST",
          url: url,
          data:fd,
          processData: false,
          contentType: false,
          success: function(response) {
              $(".alert-msgs").html(response);
              $("#uploadarrears").html("Uploaded") 

              setTimeout(function(){
                $("#uploadarrears").html("Upload") 
                $(".alert-msgs").empty();
                $(".reset").click();
                $(".closemodal").click();
              },3000)

              // setTimeout(function(){
              //   $.ajax({
              //     url: "{{ url_for('api.fetchtenants') }}",
              //     type: "get",
              //     data: {
              //       propid:  $("#prop_identifier").text(),
              //       target: "somestring"
              //     },
              //     success: function(response) {
                    
              //       $("#child-result-view").html(response);
              //     }
              //   });
              // },5000);

          },
          error:function(){
            $(".alert-msgs").html('<span class="text-danger">Upload unsuccessful</span>');
            $("#uploadarrears").html("Retry") 

            setTimeout(function(){
              $("#uploadarrears").html("Upload") 
                $(".alert-msgs").empty();
                $(".reset").click();
                $(".closemodal").click();
              },5000)
          }
      });
  });
</script>




<script>
  $("#closebtn").on('click',function(){
    $("#arrbtn2").html("<span class=\"mr-4\">Arrears comparison statement</span>")
    $('#result-view2').toggleClass("d-none");
    $('#arr-view2').toggleClass("d-none");
    $('#arrbtn2').toggleClass("d-none");
    $('#titletoggler').toggleClass("d-none");
    $('#closebtn').toggleClass("d-none");
  });
</script>

<script type="text/javascript">
  $("#backbtn").click(function () {
    $("#result-view").toggleClass("d-none");
    $("#arr-view").toggleClass("d-none")
    $("#arr-view").empty();

    $("#activeprop-child").empty();
  })
</script>

<script>
  feather.replace();
</script>