

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
      <span id="item_identifier" class="dispnone"></span>
      <span id="edit_item_identifier" class="dispnone"></span>
      <span id="del_item_identifier" class="dispnone"></span>
      <span id="target_item_id" class="dispnone"></span>
    
      <div class="card mb-2 mt-1">
    
        <div class="card-header pt-3 pb-2 divjust-end fixed-headerr dispnon bg-white">
          <span class="smallify text-black font-weight-bold text-uppercase text-110">Manage Sales team <span
              id="activeprop" class="text-primary ml-3"></span></span>
          <div>
            <button id="close-propdisp" class="btn btn-sm btn-danger mb-1 pt-0 pb-0 pl-3 pr-3 font-weight-bold text-white"
              type="button">X</button>
          </div>
        </div>
    
        <div class="card-body flowing-body pt-2 pl-2">
          <div class="mb-4">
            <span id="backbtn" class="btn btn-sm btn-success text-white" data-toggle="modal" data-target="#addRepModal">
              <!-- <i class="me-1" data-feather="user-plus"></i> -->
              <i class="fas fa-add-user me-2"></i>
              add agent
            </span>
          </div>


          <div id="result-view" class="row">
            <div class="col-lg-12 no-padding">
              <div id="reqdata" class="table-responsive">
                <table id="tenantPaymentData" class="table shadow mb-1" width="100%" cellspacing="0">
                  <thead class="custom-header">
                    <tr>
                      <th class="text-black">Name</th>
                      <th class="text-black " data-orderable="false">Contact</th>
                      <th class="text-black " data-orderable="false">Leads</th>
                      <th class="text-black " data-orderable="false">Proposals</th>
                      <th class="text-black " data-orderable="false">Closed deals</th>
                      <th class="text-black " data-orderable="false">Conversion rate</th>
    
                      <th class="text-black " data-orderable="false">Commission</th>
    
                      <!-- <th class="text-black text-primary " data-orderable="false">Edit</th> -->
                      <th class="text-black text-danger" data-orderable="false">Remove</th>
    
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in bills%}
                    <tr>
                      <td class="data-cell">{{ item['name'] }}</td>
                      <td class="data-cell text-end ">{{ item['tel'] }}</td>
                      <td class="data-cell text-end">{{ item['leads'] }}</td>
                      <td class="data-cell text-end">{{ item['proposals'] }}</td>
                      <td class="data-cell text-end">{{ item['closed'] }}</td>
    
                      <td class="data-cell text-end">{{ item['crate'] }}</td>
    
    
                      <td class="data-cell text-end"><span class="font-weight-bold">{{ item['comm'] }}</span></td>
    
    
                      <!-- <td class="text-s data-cell text-center">
                              <div>
                                <button id="{{item['editid']}}" type="button" class="btn action-btn font-weight-bold  no-wrap" data-toggle="modal" data-target="#"><i class="fas fa-edit mr-1"></i></button>
                              </div>
                            </td> -->
                      <td class="text-s data-cell text-center">
                        <div>
                          <button id="{{item['delid']}}" type="button" class="btn action-btn font-weight-bold  no-wrap"
                            data-toggle="modal" data-target="#deleteAttendantModal"><i
                              class="fas fa-trash-alt mr-1"></i></button>
                        </div>
                      </td>
    
                    </tr>
                    {% endfor %}
                  </tbody>
                  <!-- <tfoot>
                          <tr>
                            <td colspan="2" class="center-btn font-weight-bold squeeze text-info footer-cell">Grand Total</td>
                            <td class="font-weight-bold squeeze text-info footer-cell">{{gtotal}}</td>
                          </tr>
                        </tfoot> -->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <button id="raise-edit-modal" type="button" class="dispnone" data-toggle="modal" data-target="#editTenantModal"></button> -->
    <!--================Contact Area =================-->

    <button type="button" id="receipt-btn" class="dispnone" data-toggle="modal" data-target="#receiptModal"></button>
    <button type="button" id="receipt-payment-btn" class="dispnone" data-toggle="modal" data-target="#receiptPaymentModal"></button>


    <div class="modal fade" id="addRepModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info mb-2">
              <span class="mr-3 smallify">Add sales agent</span>
            </h5>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">
     
                      <div class="mt-2">

                        <div class="row">
                          <div class="col-3 no-padding text-end"><span class="form-control border-0">Name <span class="text-danger">*</span></span></div>
                          <div class="form-group col-9 no-paddin input-icons">
                            <input id="new_name" class="form-control ph" type="text" placeholder="Eg John Kamau">
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-3 no-padding text-end"><span class="form-control border-0">Mobile</span></div>
                          <div class="form-group col-9 no-paddin input-icons">
                            <input id="new_tel" class="form-control ph" type="text" placeholder="07xxxxxxxx">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-3 no-padding text-end"><span class="form-control border-0">Email</span></div>
                          <div class="form-group col-9 no-paddin input-icons">
                            <input id="new_mail" class="form-control ph" type="text" placeholder="sales@example.com">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-3 no-padding text-end"><span class="form-control border-0">NationalId</span></div>
                          <div class="form-group col-9 no-paddin input-icons">
                            <input id="new_id" class="form-control ph" type="text" placeholder="12345678">
                          </div>
                        </div>
      
                        <div class="row dispnone">
                          <div class="col-3 no-padding text-end"><span class="form-control border-0">Project</span></div>
                          <div class="form-group col-9 input-icons">
                            <select class="select-css" id ="select_prop" >
                              <option disabled selected value> Assign project </option>
                              {% for o in stations %}
                              <option value="{{ o }}">{{ o }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>


                      </div>
                    
                      <div class="divbg center-btn">
                        <button id="newrep" type="button" class="btn-secondary borderless text-white">Save</button>
                        <button class="btn btn-light dismissparent" type="button" data-dismiss="modal"></i>Dismiss</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade center-btn" id="deleteAttendantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabe">Confirm Removal</h5>
          </div>
          <div class="text-info payment-info"></div>
          <div class="modal-body text-gray-900">
            <span class="text-primary small mb-3 mr-2 ml-2"><span class="text-danger small">WARNING!</span>: Do you really want to delete this user?</span>
          </div>
          <div class="has-margin-bottom divbg">
              <button id="del_att" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Delete</button>
              <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>

          <div class="modal-header pb-0 text-center dispnon">
            <div class="modal-title header-elements-inline underline pb-0 divbg">
              <span class="card-title pt-2 text-gray-900 font-size-bold">Submission status</span>
              <button type="button" class="btn btn-light btn-sm borderless" data-dismiss="modal"><i class="fa fa-times text-danger mr-2"></i>Close</button>
            </div>
          </div>

          <div class="modal-body no-padding">
            <div class="media mb-2">
              <div class="media-body">
                <div id="receipt-bed" class="position-relative"></div>
                <div class="hide">spacing</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="receiptPaymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center dispnon">
            <div class="modal-title header-elements-inline underline pb-0 divbg">
              <span class="card-title pt-2 text-gray-900 font-size-bold">Submission status</span>
              <button type="button" class="btn btn-light btn-sm borderless" data-dismiss="modal"><i class="fa fa-times text-danger mr-2"></i>Close</button>
            </div>
          </div>
          <div class="modal-body no-padding">
            <div class="media mb-2">
              <div class="media-body">
                <div id="receipt-payment-bed" class="position-relative"></div>
                <div class="hide">spacing</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  


    <div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info divjust-end">
              <span class="mr-3 smallify">Add submission</span>
              <button class="btn btn-sm btn-light closemodal mb-1 pt-0 pb-0 pl-3 pr-3 text-danger" type="button" data-dismiss="modal"></i>X</button>
            </h5>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">
                      <fieldset>
                        <legend class="legend">Select tenant:</legend>

                        <div class="form-group input-icons mt-2">
                          <select class="select-css" id ="select_house" >
                            <option disabled selected value> -- loading -- </option>
                            {% for o in houselist %}
                            <option value="{{ o }}">{{ o }}</option>
                            {% endfor %}
                          </select>
                        </div>

                        <div id="tenantbed" class="center-btn smallify mb-2 text-info underline"></div>

                      </fieldset>
                        
                      <fieldset id="fieldset2" class="mb-2 dispnone">
                        <legend class="legend">Payment details</legend>
                        

                          <div id="datepicker" class="form-group mt-2 date" data-date-format="dd-mm-yyyy">
                              <input id="pay-date" class="form-control ph" type="text" placeholder="Date of payment" readonly />
                              <span class="input-group-addon field-icon"><i class="fas fa-fw fa-calendar-day text-info"></i></span>
                              
                          </div> 
                                                           
                            <div class="form-group">
                              <input id="bill_ref" class="form-control ph" type="text" name="bill_ref" placeholder="Receipt number">
                            </div>
              
                            <div class="form-group">
                              <input id="paidamount" class="form-control ph" type="text" name="paidamount" placeholder="Amount paid" required>
                            </div>
  
                      </fieldset>
     
 
                    
                      <div class="divbg center-btn">
                        <button id="subbtn" type="button" class="dispnone btn btn-outline-success borderles">Submit</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade center-btn" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Edit payment</h5>
          </div>
          <div class="text-info payment-info"></div>
          <div class="modal-body text-gray-900">
            <!-- <div class="form-group mt-2">                        
              <input id="edit_datepicker" class="form-control text-info pl-5 ph" type="text" placeholder="Edit date">
              <span class="fa fa-fw fa-calendar-day field-icon-two text-info"></span>
            </div> -->

          <div id="edit-datepicker" class="form-group mt-2 date" data-date-format="dd-mm-yyyy">
            <input id="edit-pay-date" class="form-control ph" type="text" placeholder="Update date of payment" readonly />
            <span class="input-group-addon field-icon"><i class="fas fa-fw fa-calendar-day text-info"></i></span>
          </div>

          <div class="form-group">
            <small>Update time</small>
            <input class="form-contro ph" type="time" id="edit-pay-time" min="00:00" max="24:00">
          </div>

            <div class="form-group dispnone">
              <input id="edit_paidamount" class="form-control ph" type="text" name="paidamount" placeholder="Update amount" required>
            </div>

          </div>
          <!-- <span class="text-gray-700 small mb-2 mr-2 ml-2">Do you really want to edit this payment?</span> -->
          <div class="has-margin-bottom divbg">
              <button id="edit_payment" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Update</button>
              <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade center-btn" id="deletePaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger text-xx" id="exampleModalLabel">Warning!</h5>
          </div>
          <div class="text-info payment-info"></div>
          <div class="modal-body text-danger">Confirm delete</div>
          
          <span class="text-gray-700 small mb-2 mr-2 ml-2">Tenant will be <span class="text-danger">NOTIFIED</span> of the reversal. Continue?</span>
          <div class="has-margin-bottom divbg">
              <button id="delete_payment" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Delete</button>
              <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>




  <!-- <script src="{{ url_for('static', filename='modal.js') }}"></script> -->
  <!-- <script>
    var url = "{{ url_for('static', filename='upload.js') }}";
    $.getScript(url);
  </script> -->
  

<!-- <script>
  $("#close-propdisp").on('click',function(){
    $('#proplist').removeClass('dispnone')
    $('#propdisp').addClass('dispnone');
    $('#content-area').removeClass("isopen text-danger");
  });
</script> -->

<script>
  $("#close-propdisp").on('click',function(){
    $('#body-block').removeClass('dispnone')
    $('#propdisp').addClass('dispnone');
    // $('#content-area').removeClass("isopen text-danger");
    // $('#list-area').removeClass("isopen text-danger");
    // $('#sidebarToggle').click();
    // $('#smaccordionSidebar').removeClass("toggled");
  });
</script>

<script>
  var rawIds = "{{ subids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_item_identifier").html(item)
          $("#target_item_id").html("void payment")
        }else{
          $("#edit_item_identifier").html(item)
          $("#target_item_id").html("edit payment")
        }
        
      }else{
        $("#item_identifier").html(item)
        $("#target_item_id").html("payment")
      }
    });
  });
</script>



<script type="text/javascript">
  $(document).ready(function () {
    $('#tenantPaymentData').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      "searching":false,
      "order": [[ 0, "asc" ]],
      columnDefs: [ { targets: 0, type: 'natural' } ],
      "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>



<script>
  // This script displays alerts and tenant name before clearance
  $("#editPaymentModal").on('shown.bs.modal', function(){
    $(function () {
      $("#edit-datepicker").datepicker({ 
            autoclose: true, 
            todayHighlight: true
      });
    });

    $(".payment-info").html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>retrieving...');
    $.ajax({
      url: "{{ url_for('api.editpayment') }}",
      type: "get",
      data: {
            payid: $("#payment_identifier").text(),
            editid: $("#edit_payment_identifier").text(),
            delid: $("#del_payment_identifier").text(),
            target: $("#target_payment_id").text()
          },
      success: function(response) {
        $(".payment-info").html(response); 
      }
    });
  });
</script>




<script>
  // This script displays alerts and tenant name before clearance
  $("#deletePaymentModal").on('shown.bs.modal', function(){
    $(".payment-info").html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>retrieving...');
    $.ajax({
      url: "{{ url_for('api.editpayment') }}",
      type: "get",
      data: {
            payid: $("#payment_identifier").text(),
            editid: $("#edit_payment_identifier").text(),
            delid: $("#del_payment_identifier").text(),
            target: $("#target_payment_id").text()
          },
      success: function(response) {
        $(".payment-info").html(response); 
      }
    });
  });
</script>






<script>
  // This script displays alerts and tenant name before clearance
  $("#addPaymentModal").on('shown.bs.modal', function(){
    $(function () {
      $("#datepicker").datepicker({ 
            autoclose: true, 
            todayHighlight: true
      });
    });

    $.ajax({
      url: "{{ url_for('api.receivepayment') }}",
      type: "get",
      data: {
            propid: $("#prop_identifier").text(),
            target:"houselist"
          },
      success: function(response) {
        $("#select_house").html(response);

      }
    });
  });
</script>


<script>
  // This script displays alerts and tenant name before clearance
  $("#select_house").on('change',function(){
    $("#tenantbed").html('<div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>')
    // $("#tenantbed").removeClass("dispnone")
    $.ajax({
      url: "{{ url_for('api.receivepayment') }}",
      type: "get",
      data: {
            propid: $("#prop_identifier").text(),
            house: $("#select_house").val(),
            target:"tenant name"
          },
      success: function(response) {
        $("#tenantbed").html(response);
        $("#fieldset2").removeClass("dispnone")
        $('#subbtn').removeClass("dispnone")
      }
    });
  });
</script>




<script>
  $('#addPaymentModal').on('hidden.bs.modal', function (e) {
    $("#tenantbed").empty();
    $("#tenantbed2").empty();
  });
</script>

<script>
  // This script autopulate house options and displays tenant name
  $("#receiptModal").on('shown.bs.modal', function(){
    // $('#tenantbed').addClass("dispnone");
    $('#mailbtn').removeAttr('disabled');
    $('#mailbtn').html('<i class="fas fa-envelope text-primary"></i>Email');
    $('#smsbtn').removeAttr('disabled');
    $('#smsbtn').html('<i class="fas fa-sms text-primary"></i>Sms');
    $("#receipt-bed").html('<div class="cssload-container"><div class="cssload-speeding-wheel"></div></div>')
    $.ajax({
      url: "{{ url_for('api.receipt') }}",
      type: "get",
      data: {
            payid: $("#payment_identifier").text()
          },
      success: function(response) {
        $("#receipt-bed").html(response); 
      }
    });
  });

</script>


<script>
    
  $("#mailbtn").on('click',function(){   
    $('#mailbtn').html('<span class="spinner-border spinner-border-sm mr-1 text-info" role="status" aria-hidden="true"></span>sending email...'); 
    $.ajax({
      url: "{{ url_for('api.sendmail') }}",
      type: "get",
      data: {
            payid:$("#payment_identifier").text()
          },
      success: function(response) {
        $('#mailbtn').html('<i class="fas fa-envelope text-success"></i>Sent!');
        $('#mailbtn').attr('disabled', 'disabled');
      }
    });
  });
  
  </script>



<script>
  function tabletoggler() {
    var x = document.getElementById("expandtoggler");
    if (x.innerHTML === "Expand") {
      x.innerHTML = "Minimise";
    } else {
      x.innerHTML = "Expand";
    }
  }
</script>

<script>
$('#expand').click(function(){
  $('.expand').toggleClass("dispnone-alt")
  tabletoggler();
})
</script>


<script>
  $(document).ready(function(){
    $("#addRepModal").on('shown.bs.modal', function(){
      $(this).find('#new_name').focus();
    });
  });
</script>


<script>
  $("#newrep").click(function(){   
    $("#newrep").html("saving...")  
      $.ajax({
        url: "{{ url_for('api.addsalesagent') }}",
        type: "POST",
        data: {
                propid: $("#prop_identifier").text(),
                prop:$("#select_prop").val(),
                name: $("#new_name").val(),
                mail: $("#new_mail").val(),
                natid: $("#new_id").val(),
                tel: $("#new_tel").val()
            },
        success: function(response) {
          snack(response);
          
          setTimeout(function(){
            $(".reset").click();
            // $('#newrep').attr('disabled', 'disabled');
            $('#newrep').removeClass('btn-success')
            $('#newrep').addClass('btn-secondary')
            $("#newrep").html("submit")
          }, 2000);
          $.ajax({
                url: "/fetch/agents",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target: "new"
                },
                success: function(response) {
                  
                  $("#result-view").html(response);
                }
              });
        }
      });
  });
</script>

<script>
      
  $("#del_att").on('click',function(){   
    $('#del_att').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>deleting...'); 
    $.ajax({
      url: "{{ url_for('api.addsalesagent') }}",
      type: "POST",
      data: {
            attid:$("#del_item_identifier").text(),
            target:"delete"
          },
      success: function(response) {
        // $(".payment-info").html(response);
        snack(response);

          $('#del_att').html('Delete');
          $(".closemodal").click();

          $.ajax({
                url: "/fetch/agents",
                type: "get",
                data: {
                  propid:  $("#prop_identifier").text(),
                  target: "new"
                },
                success: function(response) {
                  
                  $("#result-view").html(response);
                }
              });
      }
    });
  });
  
  </script>





