<div class="center-btn mb-3">
  Tenant: <span class="text-black font-size-bold">{{tenant.name}}</span>
</div>

<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 semi-small">Rent</span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_rentdep" class="form-control ph" type="text" placeholder="{{dep.rentdep}}">
    <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
  </div>
</div>

<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 semi-small">Water</span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_waterdep" class="form-control ph" type="text" placeholder="{{dep.waterdep}}">
    <!-- <span class="fa field-icon-two text-info small">Eg</span> -->
  </div>
</div>

<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 small semi-small">Electricty</span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_elecdep" class="form-control ph" type="text" placeholder="{{dep.elecdep}}">
  </div>
</div>

<div class="row">
  <div class="col-3 no-padding text-right"><span class="form-control border-0 semi-small">Other</span></div>
  <div class="form-group col-9 no-paddin input-icons">
    <input id="edit_otherdep" class="form-control ph" type="text" placeholder="{{dep.otherdep}}">
    <!-- <span class="fa field-icon-two text-info small">Kshs</span> -->
  </div>
</div>














