
<div class="col-lg-12 font-weight-bold text-dark center-btn mb-1">Tenant details (personal information):</div>
<div class="col-lg-12 no-padding">
    <div id="reqdata" class="table-responsive">
        <table id="tenantData" class="table shadow" width="100%" cellspacing="0">
            <thead>
                <tr>
                <th class="text-info font-weight-bold">Name</th>
                <th class="text-info track-title-cell">Phone</th>
                <th class="text-info track-title-cell">N.Id</th>
                <th class="text-info track-title-cell">Email</th>
                <th class="text-info track-title-cell">House</th>
                <th class="text-info track-title-cell">Check-In</th>
                <th class="text-info track-title-cell">Check-Out</th>
                <th class="text-info track-title-cell">Balance</th>
                <th class="text-info track-title-cell">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in items%}
                <tr>
                <td class="first-data-cell text-dark font-weight-bold">{{ i['name'] }}</td>
                <td class="data-cell">{{ i['tel'] }}</td>
                <td class="data-cell">{{ i['idno'] }}</td>
                <td class="data-cell">{{ i['email'] }}</td>
                <td class="data-cell">{{ i['housenum'] }}</td>
                <td class="data-cell">{{ i['checkin'] }}</td>
                <td class="data-cell">{{ i['checkout'] }}</td>

                <td class="data-cell {{i['highlight']}}">{{ i['balance'] }}</td>
                <td class="data-cell">
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-danger font-weight-bold ellipsis-btn"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header underline">Tenant: <span class="text-info font-weight-bold">{{i['name']}}</span></div>
            
                        <div>
                          <i class="fas fa-edit ml-3 mr-2 text-info"></i><span id="{{i['editid']}}" type="button" class="btn-outline-info ellipsis borderless modalTrigger text-gray-700" data-toggle="modal" data-target="#editTenantModal">Edit</span>
                        </div>
                         
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    var rawIds = "{{ tenantids|safe }}";
    var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
    console.log(ids)
    $.each(ids, function(i,item) {
    
      $("#"+item).on('click',function(){
        console.log("clicked",item)
        if( isNaN(parseInt(item)) ){
          if(item.startsWith("del")){
            $("#del_tenant_identifier").html(item)
          }else{
            $("#edit_tenant_identifier").html(item)
          }
          
        }else{
          $("#tenant_identifier").html(item)
        }
      });
    });
  </script>
