<!-- <div class="col-lg-12 font-weight-bold text-dark center-btn mb-1">({month} payments <button id="expand" class="btn btn-outline-primary herebtn"> <span id="expandtoggler">expand</span> </button></div> -->
<span id="dataperiod" class="dispnone">{{dataperiod}}</span>
<div class="col-lg-12 no-padding">
  <div id="reqdata" class="table-responsive">
    <table id="tenantPaymentData" class="table shadow mb-1" width="100%" cellspacing="0">
      <thead class="border-top-info">
        <tr>
          <th class="text-info track-title-cell font-weight-bold">Tenant</th>
          <th class="text-info track-title-cell font-weight-bold ">Receipt</th> 
          <th class="text-info track-title-cell " data-orderable="false">Amount</th>
          <th class="text-info track-title-cell " data-orderable="false">Month</th>
          <th class="text-info track-title-cell ">Date</th>
          <!-- <th class="text-info track-title-cell  text-primary" data-orderable="false">Edit</th>
          <th class="text-info track-title-cell  text-danger" data-orderable="false">Delete</th>
          <th class="text-info track-title-cell text-success" data-orderable="false">Compare</th> -->
          <th class="text-info track-title-cell ">By</th>
          <th class="text-info track-title-cell ">On</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items%}
        <tr>
          <td class="data-cell">{{ item['hst']|safe }}</td>
          <td class="data-cell ">{{ item['ref'] }} <span class="badge badge-success badge-counter">{{ item['new'] }}</span></td>  
          <td class="data-cell"><span class="text-info font-weight-bold">{{ item['amount'] }}</span></td>
          <td class="data-cell ">{{ item['monthpaid'] }}</td>
          <td class="data-cell ">{{ item['datepaid'] }}</td>

          <!-- <td class="text-s data-cell ">
            <div>
              <button id="{{item['editid']}}" type="button" class="btn action-btn btn-outline-primary font-weight-bold  no-wrap" data-toggle="modal" data-target="#"><i class="fas fa-edit mr-1"></i>Edit</button>
            </div>
          </td>
          <td class="text-s data-cell ">
            <div>
              <button id="{{item['delid']}}" type="button" class="btn action-btn btn-outline-danger font-weight-bold  no-wrap" data-toggle="modal" data-target="#"><i class="fas fa-trash-alt mr-1"></i>Del</button>
            </div>
          </td>
          <td class="text-s data-cell">
            <div>
              <button id="{{item['id']}}" type="button" class="btn action-btn btn-outline-success font-weight-bold  no-wrap" data-toggle="modal" data-target="#"><i class="fas fa-eye mr-1"></i>View</button>
            </div>
          </td> -->

          <td class="data-cell ">{{ item['by'] }}</td>
          <td class="data-cell ">{{ item['on'] }}</td>
        </tr>
      {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          <td colspan="2" class="center-btn font-weight-bold squeeze text-info footer-cell">Grand Total</td>
          <td class="font-weight-bold squeeze text-info footer-cell">{{gtotal}}</td>
        </tr>
      </tfoot>
      
  </table>
  </div>
</div>

<script>
    var rawIds = "{{ payids|safe }}";
    var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
    console.log(ids)
    $.each(ids, function(i,item) {
    
      $("#"+item).on('click',function(){
        console.log("clicked",item)
        if( isNaN(parseInt(item)) ){
          if(item.startsWith("del")){
            $("#del_payment_identifier").html(item)
            $("#target_payment_id").html("void payment")
          }else{
            $("#edit_payment_identifier").html(item)
            $("#target_payment_id").html("edit payment")
          }
          
        }else{
          $("#payment_identifier").html(item)
          $("#target_payment_id").html("payment")
        }
      });
    });
  </script>
  
  
  
  <script type="text/javascript">
    $(document).ready(function () {
      $('#tenantPaymentData').DataTable({
        "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "pageLength": 100,
        "searching":false,
        "order": [[ 0, "asc" ]],
        columnDefs: [ { targets: 0, type: 'natural' } ],
        "bLengthChange": false
      });
      $('.dataTables_length').addClass('bs-select');
      });
  </script>

<script>

  var x = document.getElementById("period");
  var y = document.getElementById("dataperiod");

  x.innerHTML =  y.innerHTML ;

</script>