


<span class="dispnone" id="printr">{{rlink}}</span>
<span class="dispnone" id="printr2">{{rlink2}}</span>
<span class="dispnone" id="printr3">{{rlink3}}</span>



  <div id="invoice">
    <div id="invoice-POS">

      <div class="r-border">
        <div class="center-btn svg underline">
          <div class="svg-child">
            <div class="logo">
              <span><img src={{logopath}} alt="logo"></span>
            </div>
            <!-- <div class="info text-black"> 
              <span>{{company}}</span>
            </div> -->

            <div class="center-btn"><strong class="text-black">~ {{prop.name.title()}} ~</strong></div>

            {%if not address%}
            <div class="center-btn mb-3 ln-14 text-black"> 
              <div class="small mt-2">Address : {{company.street_address}}</div>
              <div class="small">PO BOX : {{company.mail_box}}</div>
              <div class="small">Tel : {{company.phone}}</div>
              <div class="small">Email: {{company.email}}</div>
            </div>
            {% endif %}

            {%if address%}
            <div class="center-btn mb-3 ln-14 text-black"> 
              <div class="small mt-2">Address : {{address.address}}</div>
              <div class="small">Tel : {{address.tel}}</div>
              <div class="small">Email: {{address.email}}</div>
            </div>
            {% endif%}
            
          </div>
        </div>
      
        <div class="svg">
          <div class="svg-child text-left">
            <div class="row">
              <span class="col-6 small">Date: <strong class="text-black font-weight-bold">{{paydate}}</strong></span>
              <span class="col-6 small text-right">Time: <strong class="text-black font-weight-bold pr-3">{{paytime}}</strong></span>
            </div>
            <div class="center-btn underline font-weight-bold text-primary">
                OFFICIAL PAYMENT RECEIPT
            </div>
        
            <span class="{{voided}} watermark">VOIDED</span>

            <div class="row small">
                <span class="col-6 text-black">Receipt No. <strong class="text-danger font-weight-bold">{{receiptno}}</strong></span>
                <span class="col-6 text-right text-black">Ref: <span class="text-info font-weight-bold pr-3">{{refnum}}</span></span>
            </div>
            <span class="text-gray-600 small mb-1">Received from:</span><br>
            <div class="underline no-padding center-btn">
              <div class="ln-10 text-black pb-1">{{tenant}}</div>
            </div>
          </div>
        </div>
  
  
    
        <div class="svg underline">
          <div class="svg-child text-left">
            <div class="row service mb-1 pb-1">
              <div class="col-8 itemtext text-black font-weight-bold mt-2"><div class="text-gray-500 center-btn mb-1">(words)</div> {{str_amount}} shillings only.</div>
              <div class="col-4 itemtext text-black font-weight-bold mt-2 border-left-semidark"><div class="text-gray-500 mb-1">(figures)</div> {{amount}}</div>
            </div> 
            <div class="row service mb-1 pb-1">
              <span class="col-8 itemtext mt-0"><div class="text-gray-500 center-btn">Flat/Apartment/Estate:</div><div class="text-black">{{prop}}</div></span>
              <span class="col-4 itemtext mt-0 border-left-semidark"><div class="text-gray-500">House</div> <div class="text-black">{{house}}</div></span>
            </div>
            <div class="service mb-1 pb-1 itemtext center-btn">Being payment for the month of <strong class="text-black font-weight-bold">{{str_month}}</strong></div>       
            <div class="service mb-1 pb-1 itemtext center-btn">Paid for; <strong>{{chargetype}}</strong></div>
          </div>
        </div>
  
        <div class="svg">
          <div class="svg-child">

            <div class="row service mb-1 pb-1">
              <div class="col-6 itemtext text-black font-weight-bold mt-2 pl-5">Amount due</div>
              <div class="col-6 itemtext text-black font-weight-bold mt-2 border-left-semidark text-right pr-5">Kes {{bill}}</div>
            </div> 

            <div class="row service mb-1 pb-1">
              <div class="col-6 itemtext text-info font-weight-bold mt-2 pl-5">Paid</div>
              <div class="col-6 itemtext text-info font-weight-bold mt-2 border-left-semidark text-right pr-5">{{amount}}</div>
            </div> 

            <div class="row service mb-1 pb-1">
              <div class="col-6 itemtext {{outline}} font-weight-bold mt-2 pl-5">{{baltitle}}</div>
              <div class="col-6 itemtext {{outline}} font-weight-bold mt-2 border-left-semidark text-right pr-5">{{balance}}</div>
            </div> 
            <div class="row service mb-1 pb-1">
              <div class="col-6 itemtext {{outline}} font-weight-bold mt-2 pl-5">{{depbaltitle}}</div>
              <div class="col-6 itemtext {{outline}} font-weight-bold mt-2 border-left-semidark text-right pr-5">{{depbalance}}</div>
            </div> 

          </div>
        </div>
  
        <div class="svg">
          <div class="small service mb-1 pb-1 svg-child">
              <!-- <div class="center-btn"><strong class="small">With Thanks</strong>.</div> -->
              <div class="center-btn"><strong class="small">{{prop.name.title()}}</strong>.</div>
              <div class="text-danger itemtext center-btn" style="font-style: oblique;">Payment once made is not refundable</div>
          </div>
        </div>
  
      </div>
      </div>

  </div>

  <span id="randid" class="dispnone">{{randid}}</span>
  <a id="downbtn" href="/download/receipt/{{randid}}" class="dispnone">download</a>



<script src="{{ url_for('static', filename='js/html2pdf.js') }}"></script>

<!-- <script>
  document
    .getElementById("savebtn")
    .addEventListener("click", function download() {
        $('.savebtn').html('<div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>');
      const element = document.getElementById("invoice");
      html2pdf()
        .from(element)
        .set({
            margin:       [0.2, 0, 0.2, 0], 
            filename:"receipt",
            image: { type: 'jpeg', quality: 1 },
            html2canvas: {
              dpi: 192,
              scale:4,
              letterRendering: true,
              useCORS: true
            },
            pageBreak: { mode: 'css', before:'#nextpage1'},
            jsPDF: {orientation: 'portrait', unit: 'in', format: 'a5'}

            })
        .save();
        setTimeout(function(){
            $('.savebtn').html("<i class='fas fa-print text-primary'>Print</i>")
        },4000);
    });
</script> -->

<script>
  $(".printbtn").on("click", function() {
      $('.printbtn').html('<i class="fas fa-spinner fa-spin mr-1"></i>Printing...');

      // PrintElem("inv")
      $('#invoice').printThis({});

      $('.printbtn').html('<i class="fas fa-print mr-2"></i>Print');

  })


  $(document).ready(function () {
    $(".printr").attr("href", $("#printr").text());
    $(".printr2").attr("href", $("#printr2").text());
    $(".printr3").attr("href", $("#printr3").text());
  })
</script>

<script>
  $(".savebtn").click(function(){ 
      $('.savebtn').html('<div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>');

      if($("#randid").text().length > 9) {

        $("#downbtn")[0].click();
      }else{

          const element = document.getElementById("invoice");
          html2pdf()
            .from(element)
            .set({
                margin:       [0.2, 0, 0.2, 0], 
                filename:"receipt",
                image: { type: 'jpeg', quality: 1 },
                html2canvas: {
                  dpi: 192,
                  scale:4,
                  letterRendering: true,
                  useCORS: true
                },
                pageBreak: { mode: 'css', before:'#nextpage1'},
                jsPDF: {orientation: 'portrait', unit: 'in', format: 'a4'}
    
                })
            .save();
      }

      setTimeout(function(){
          $('.savebtn').html("<i class='fas fa-file-download text-primary mr-2'></i>Save")
      },5000);
    });
</script>

<script>
    $("#closeReceipt").on('click',function(){
        $('#form').toggleClass('dispform dispnone');
        $('#receipt').toggleClass('dispnone receipt-pos');
        $("#payment-form-response").addClass("dispnone");
        $("#payment-form-request").removeClass("dispnone");
        $('#clearBtn').click();
    });
</script>


<!-- <script>
    var today = new Date();
    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = date+' '+time;

    document.getElementById('payTime').innerHTML = date ;
    document.getElementById('pdfgenTime').innerHTML = dateTime ;
</script> -->






