<div id="dvContainer">
  <div class="card-header py-2 bg-gradient-dark divjust-end" >
      <h6 class="m-0 font-weight-bold text-success small"><span><i class="fas fa-fw fa-money-bill-wave"></i></span>&nbsp;&nbsp;Payment successful</h6>
      <a href="{{ url_for('api.receivepayment') }}"><span class="text-danger"><i class="fas fa-fw fa-times"></i></span></a>
  </div>
  <div class="card-body">
    <div>
      <span class="text-white bolder">Receipt No. {{receiptno}}</span>
    </div>
    <hr>
    <div>
      <span class="text-white">Tenant : {{tenant}}</span>
    </div><br>
    <div>
      <span class="text-white">House : {{house}}</span>
    </div><br>
    <div>
      <span class="text-white">Total bill : Kshs {{bill}}</span><br>
    </div>
    <div>
      <span class="text-white">Paid &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Kshs {{amount}}</span><br>
    </div>
    <div>
      <span class="text-white">Balance: Kshs {{balance}}</span><br>
    </div><br>
    <div>
      <span class="text-white">Paid for: {{chargetype}}</span><br>
    </div>
    <hr>
    <br>

  </div>
</div>
<div class="divbg center-btn">
  <button id="close" type="reset" class="bg-gradient-light borderless text-primary"><i class="fas fa-times"></i>&nbsp;Close</button>
  <button id="btnPrint" type="button" class="bg-gradient-light borderless text-primary"><i class="fas fa-times"></i>&nbsp;Print</button>
  <!-- <input type="button" value="Print Div Contents" id="btnPrint" /> -->
</div>

<script type="text/javascript">
  // $("#btnPrint").live("click", function () {
  $("#btnPrint").on('click',function(){
      var divContents = $("#dvContainer").html();
      var printWindow = window.open('', '', 'height=400,width=400');
      printWindow.document.write('<html><head><title>Payment info</title>');
      // printWindow.document.write("<link rel=stylesheet type=text/css href='{{ url_for('static', filename='eapartment-min.css') }}'>");
      // printWindow.document.write("<link rel=stylesheet type=text/css href='{{ url_for('static', filename='mystyle.css') }}'>");
      printWindow.document.write('</head><body >');
      printWindow.document.write(divContents);
      printWindow.document.write('</body></html>');
      printWindow.document.close();
      printWindow.print();
  });
</script>

<script>
  $("#close").on('click',function(){

    $('#receipt').toggleClass('bg-gradient-danger bg-gradient-dark');
    $('#receipt').toggleClass('dispnone receipt');
    document.getElementById("balance").innerHTML = "";
    $('#submit').html('<i class="fas fa-check"></i>&nbsp;Submit');

  });
</script>