

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
      <span id="prop_identifier" class="dispnone">{{prop.id}}</span>
      <span id="house_identifier" class="dispnone"></span>
      <span id="edit_house_identifier" class="dispnone"></span>
      <span id="del_house_identifier" class="dispnone"></span>
      <span id="group_identifier" class="dispnone"></span>
      <span id="del_group_identifier" class="dispnone"></span>
      
      <a id="download_groups" href="/download/template/groups" class="dispnone">download</a>
      <a id="download_units" href="/download/template/houses" class="dispnone">download</a>
    
      <div class="dispnone">#{{prop.id}} <span id="active_prop">{{prop.name}}</span></div>

      <!-- <div class="col-lg-4 dispnone">
              <div class="">
      
                <div class="mb-3 center-btn">
      
                  <button type="button" class="borderless modalTrigger small btn-light" data-toggle="modal"
                    data-target="#exampleModal"><span class="fixed-width-prop"><img src="{{ prop.image_url }}"
                        alt="No image" /></span></button>
      
                </div>
      
              </div>
            </div> -->






          <div class="pb-2 bg-white divjust-end">

            <div>
              <span id="backbtn" class="btn btn-sm btn-light text-black">
                <!-- <i class="me-1" data-feather="user-plus"></i> -->
                <i class="fas fa-long-arrow-alt-left"></i>
                Back to properties
              </span>

            </div>

            <div class="">
  
              <span class="btn btn-sm btn-light text-black mobile-malaysian" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-folder-plus"></i>
                Upload photo
              </span>
  
              <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#groupModal">
                <i class="fas fa-plus"></i>
                Add category
              </span>

              <span class="btn btn-sm btn-light text-black" data-toggle="modal" data-target="#newHouseModal">
                <i class="fas fa-plus"></i>
                Add unit / house
              </span>
            </div>
  
            <div class="small">
              <nav class="nav nav-borders">
                <div class="info_item mr-2">
                  <i class="fas fa-map-marker mr-2"></i>
                  <span class="text-black font-weight-bold">{{prop.location}}</span>
                </div> 
              </nav>

              <nav class="nav nav-borders">
                <div class="info_item mr-2">
                  <i class="fas fa-receipt mr-2"></i>
                  <span><span class="text-black font-weight-bold">Invoices:</span> {{period}} <i class="fas fa-calendar-day"></i></span>
                </div>

              </nav>

              <nav class="nav nav-borders dispnone">

                <div class="info_item mr-2">
                  <i class="fas fa-house-user mr-2"></i>
                  <span><span class="text-black font-weight-bold">Units:</span> {{num_units}}</span>
                </div>

                <div class="info_item mr-2">
                  <i class="fas fa-users mr-2"></i>
                  <span><span class="text-black font-weight-bold">Tenants:</span> {{num_tenants}}</span>
                </div>

              </nav>
            </div>
  
          </div> 


          <div class="dispnon">
            <nav class="nav nav-borders">
              <!-- <a id="booked" class="nav-link pl-0 pb-0 pt-1 text-black ms-0" href="#">Booked</a>
              <a id="resident" class="nav-link pb-0 pt-1 text-black underline active ms-0" href="#">On premises</a>
              <a id="vacated" class="nav-link pb-0 pt-1 text-black ms-0" href="#">Vacated</a> -->
              <div>
                <label class="me-2 btn text-primary underline"><input type="checkbox" value="cb1" class="chb dispnone" checked/>house view</label>
                <label class="me-2 btn text-primary"><input type="checkbox" value="cb2" class="chb dispnone"/>category view</label>
              </div>
            </nav>
          </div>
    
    
          <div class="toggleswitch divbg text-info underline font-weight-bold dispnone">
            <span class="dispnone">
              <span class="smallify">Tenants</span>
              <label class="switch">
                <input id="reporttoggle" type="checkbox">
                <span class="slider round"></span>
              </label>
            </span>
    
            <span>
              <label class="smallify" for="reporttoggle2">View Houses</label>
              <input id="reporttoggle2" type="checkbox" checked>
            </span>
    
            <span>
              <label class="smallify" for="reporttoggle3">View groups</label>
    
              <input id="reporttoggle3" type="checkbox">
    
            </span>
    
          </div>

            <!-- <div class="col-lg-12 no-padding">
              <div id="reqdata" class="table-responsive">
                <table id="tenantData" class="table shadow" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="text-black">House</th>
                      <th class="text-black">Type</th>
                      <th class="text-black">Group</th>
                      <th class="text-black">Owner</th>
                      <th class="text-black">Tenant</th>
                      <th class="text-black">Rent</th>
                      <th class="text-black">Service</th>
                      <th class="text-black">W.Rate</th>
                      <th class="text-black">S.Rate</th>
                      <th class="text-black">W.fixed</th>
                      <th class="text-black">Garbage</th>
                      <th class="text-black">Security</th>
                      <th class="text-black">By</th>
                      <th class="text-black">Action</th>
    
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in items%}
                    <tr>
                      <td class="first-data-cell font-weight-bold">{{ i['house'] }}</td>
                      <td class="data-cell text-dark">{{ i['description'] }}</td>
                      <td class="data-cell">{{ i['group'] }}</td>
                      <td class="data-cell">{{ i['owner'] }}</td>
                      <td class="data-cell {{i['highlight']}}">{{ i['tenant'] }}</td>
                      <td class="data-cell">{{ i['rent'] }}</td>
                      <td class="data-cell">{{ i['maintenance'] |safe}}</td>
                      <td class="data-cell">{{ i['rate']|safe }}</td>
                      <td class="data-cell">{{ i['srate']|safe }}</td>
                      <td class="data-cell">{{ i['fixed'] }}</td>
                      <td class="data-cell">{{ i['garbage'] }}</td>
                      <td class="data-cell">{{ i['security'] }}</td>
                      <td class="data-cell">{{ i['by'] }}</td>
                      <td class="data-cell">
                        <div class="dropdown no-arrow">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-danger font-weight-bold ellipsis-btn"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header underline">House: <span
                                class="text-info font-weight-bold">{{i['house']}}</span></div>

                            <div class="text-center">
                              <button id="{{i['id']}}" type="button" class="btn btn-sm btn-outline-primary ellipsis borderless text-left" data-toggle="modal" data-target="#updateHouseModal"><i class="fas fa-random"></i> ChangeGroup</span>
                            </div>
                            <div class="center-btn">
                              <button id="{{i['editid']}}" type="button" class="btn btn-sm btn-outline-primary ellipsis borderless text-left" data-toggle="modal" data-target="#editHouseModal"><i class="fas fa-edit"></i> Edit house</span>
                            </div>
                            <div class="center-btn">
                              <button id="{{i['delid']}}" type="button" class="btn btn-sm btn-outline-danger ellipsis borderless text-left" data-toggle="modal" data-target="#deleteHouseModal"><i class="fas fa-trash-alt"></i> Remove</span>
                            </div>
    
                          </div>
                        </div>
                      </td>
    
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div> -->


            <div id="barloader-alt" class="load-bar-alt mb-1 dispnone">
              <div class="bar-alt"></div>
              <div class="bar-alt"></div>
              <div class="bar-alt"></div>
            </div>
            
            <div id="child-result-view" class="row">
        
            </div>
          

    </section>
    <!--================Contact Area =================-->

    <div class="text-center">

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="indicator"></div>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload property photo</h5>
            </div>
            <div class="modal-body">
              <div class="media mb-2">
                <div class="media-body">

                  <div class="position-relative">
                    <form class="divbg" action="/change/prop/image" method="POST" enctype="multipart/form-data">
                        <input type="file" name="image" id="file-1" class="inputfile inputfile-1 d-none" data-multiple-caption="{count} files selected" multiple required/>
                        <label for="file-1"><span>Choose an image&hellip;</span></label>
                        <input type="text" name="propid" class="d-none" value="{{prop.id}}">
                        <input type="submit" class="borderless bg-danger" value="Upload">
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-foote">
              <button type="button" class="btn btn-secondary btn-sm has-margin-bottom" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-kubwa" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 pt-2 text-center bg-light">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify font-weight-bold">Add/Update Group</span>
              <div>
                <button class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-success" type="button" data-toggle="modal" data-target="#uploadGroupExcelModal"><i class="fa fa-upload"></i></button>
                <button class="btn btn-sm btn-warning mb-1 pt-0 pb-0 pl-3 pr-3 font-weight-bold text-danger dismissModal" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs font-weight-bold"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
  
                    <div id="groupModalBed"></div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="uploadGroupExcelModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify">Upload groups</span>
              <div>
                <button id="downloadgroups" class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-primary small" type="button" ><i class="fa fa-download"></i><span class="small"> template</span></button>
                <button class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-danger" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="" enctype="multipart/form-data">
     
                      <div class="mt-2 form-group center-btn">
                        <p class="text-black">Excel File: <input class="ph" id="groupfile" type = "file" name = "filename" /></p>
                      </div>

                      <div class="divbg center-btn">
                        <button id="uploadgroup" type="button" class="btn btn-outline-secondary"><i class="fa fa-upload mr-2"></i>Upload</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade center-btn" id="deleteHouseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabe">Confirm Removal</h5>
          </div>
          <div class="text-info payment-info"></div>
          <div class="modal-body text-gray-900">
            <span class="text-primary small mb-3 mr-2 ml-2"><span class="text-danger small">WARNING!</span>: Do you really want to permanently delete this unit?</span>
          </div>
          <div class="has-margin-bottom divbg">
              <button id="del_house" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Delete</button>
              <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade center-btn" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabe">Confirm Removal</h5>
          </div>
          <div class="text-info payment-info"></div>
          <div class="modal-body text-gray-900">
            <span class="text-primary small mb-3 mr-2 ml-2"><span class="text-danger small">WARNING!</span>: Do you really want to delete this group?</span>
          </div>
          <div class="has-margin-bottom divbg">
              <button id="del_group" type="button" class="btn btn-danger borderless text-white btn-sm has-margin-bottom">Delete</button>
              <button type="button" class="btn btn-info btn-sm has-margin-bottom closemodal" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade" id="newHouseModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify">Add new unit <span id="code" class="var-heading text-warning"></span></span>
              <div>
                <button class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-success" type="button" data-toggle="modal" data-target="#uploadHouseExcelModal"><i class="fa fa-upload"></i></button>
                <button class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 dismissparent text-danger" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">

                      <div class="form-group mt-2 input-icons">
                        <span class="text-black">Select group <span class="text-danger small">*</span></span>
                        <select class="select-css" id ="select_housecode2" >
                          <option disabled selected value> -- Select group -- </option>
                          {% for o in items %}
                          <option value="{{ o }}">{{ o }}</option>
                          {% endfor %}                        </select>
                      </div>

                      <span class="dispnone" id="text-code"></span>
          

                      <div class="form-group input-icons">
                        <span class="text-black">House/Unit No. <span class="text-danger small">*</span></span>
                          <input id="enter_housename" class="form-control" type="text" placeholder="H1"/>
                      </div>
        
                      <div id="notifications2"></div>

                      <div class="form-group mt-1 mb-3 input-icons">
                        <span class="text-black">Select description <span class="text-primary small">(optional)</span></span>
                        <select class="select-css " id ="desc" >
                          <option disabled selected value> -- Select description -- </option>
                          <option value="Single Room">Single Room</option>
                          <option value="Double Room">Double Room</option>
                          <option value="Bedsitter">Bedsitter</option>
                          <option value="One Bedroom">One Bedroom</option>
                          <option value="Two Bedroom">Two Bedroom</option>
                          <option value="Three Bedroom">Three Bedroom</option>
                          <option value="Four Bedroom">Four Bedroom</option>
                          <option value="Five Bedroom">Five Bedroom</option>
                          <option value="Shop">Shop</option>
                          <option value="Stall">Stall</option>
                          <option value="Store">Store</option>
                          <option value="Car Wash">Car Wash</option>
                          <option value="Barber shop">Barber shop</option>
                          <option value="Salon">Salon</option>
                          <option value="Warehouse">Warehouse</option>
                          <option value="Other">Other</option>                      
                        </select>
                      </div>

                      
                    
                      <div class="divbg center-btn">
                        <button id="addhouse" type="button" class="btn-secondary borderless text-white" disabled>Submit</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="uploadHouseExcelModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify">Upload units</span>
              <div>
                <button id="downloadunits" class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-primary small" type="button" ><i class="fa fa-download"></i><span class="small"> template</span></button>
                <button class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 text-danger" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs"></div>
          </div>
          
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="" enctype="multipart/form-data">
     
                      <div class="mt-2 form-group center-btn">
                        <p class="text-black">Excel File: <input class="ph" id="housefile" type = "file" name = "filename" /></p>
                      </div>
                    

                      <div class="divbg center-btn">
                        <button id="uploadhouse" type="button" class="btn btn-outline-secondary"><i class="fa fa-upload mr-2"></i>Upload</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="editHouseModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info divjust-end underline-thin-fade">
              <span class="mr-3 smallify">Edit unit</span>
              <div>
                <button class="btn btn-sm btn-light mb-1 pt-0 pb-0 pl-3 pr-3 dismissparent text-danger" type="button" data-dismiss="modal">X</button>
              </div>
            </h5>
            <div class="alert-msgs"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">

                      
                      <div class="form-group mt-2 input-icons">
                        <span class="text-black">edit House/Unit No. <span class="text-danger small">*</span></span>
                        <input id="edit_housename" class="form-control" type="text" placeholder="H1"/>
                      </div>
                      
                      <div class="form-group mt-2" id="notifications3"></div>  
                      
                      <div class="form-group mt-1 mb-3 input-icons">
                        <span class="text-black">Water billing<span class="text-primary small"></span></span>
                        <select class="select-css " id ="edit_watertarget" >
                          <option disabled selected value> -- Select billing type -- </option>
                          <option value="tenant">Bill tenant</option>
                          <option value="owner">Bill owner</option>                   
                        </select>
                      </div>

                      <div class="form-group mt-1 mb-3 input-icons">
                        <span class="text-black">Service billing<span class="text-primary small"></span></span>
                        <select class="select-css " id ="edit_servicetarget" >
                          <option disabled selected value> -- Select billing type -- </option>
                          <option value="tenant">Bill tenant</option>
                          <option value="owner">Bill owner</option>                   
                        </select>
                      </div>

                      <div class="form-group mt-1 mb-3 input-icons">
                        <span class="text-black">Select description <span class="text-primary small">(optional)</span></span>
                        <select class="select-css " id ="edit_desc" >
                          <option disabled selected value> -- Select description -- </option>
                          <option value="Single Room">Single Room</option>
                          <option value="Double Room">Double Room</option>
                          <option value="Bedsitter">Bedsitter</option>
                          <option value="One Bedroom">One Bedroom</option>
                          <option value="Two Bedroom">Two Bedroom</option>
                          <option value="Three Bedroom">Three Bedroom</option>
                          <option value="Four Bedroom">Four Bedroom</option>
                          <option value="Five Bedroom">Five Bedroom</option>
                          <option value="Shop">Shop</option>
                          <option value="Stall">Stall</option>
                          <option value="Store">Store</option>
                          <option value="Car Wash">Car Wash</option>
                          <option value="Barber shop">Barber shop</option>
                          <option value="Salon">Salon</option>
                          <option value="Warehouse">Warehouse</option>
                          <option value="Other">Other</option>                      
                        </select>
                      </div>

                      <div class="form-group mt-2 input-icons">
                        <span class="text-black">Bank name <span class="text-danger small">*</span></span>
                        <input id="edit_bank" class="form-control" type="text" placeholder="H1"/>
                      </div>
                      <div class="form-group mt-2 input-icons">
                        <span class="text-black">Acc num <span class="text-danger small">*</span></span>
                        <input id="edit_accname" class="form-control" type="text" placeholder="H1"/>
                      </div>

                      
                    
                      <div class="divbg center-btn">
                        <button id="edithouse" type="button" class="btn btn-sm btn-success borderless text-white">Submit</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="updateHouseModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="indicator"></div>
          <div class="modal-header pb-0 text-center">
            <h5 class="modal-title text-info mb-3" id="paymentDetailModalLabel">Reassign Group</h5>
            <div class="alert-msgs mb-3"></div>
          </div>
          <div class="modal-body pt-0">
            <div class="media mb-2">
              <div class="media-body">
                <div class="position-relative">
                  <div class="card-body modal-forms">
                    <form autocomplete="off" method="POST" action="">

                      <div class="form-group input-icons">
                        <i class="fa fa-caret-down icon text-info"></i>
                        <select class="form-control" id ="select_group" >
                          <option disabled selected value> -- Select new group -- </option>
                          {% for o in items %}
                          <option value="{{ o }}">{{ o }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    
                      <div class="divbg center-btn">
                        <button id="updatehouse" type="button" class="btn-danger borderless text-white" disabled>Update</button>
                        <button class="btn btn-light closemodal" type="button" data-dismiss="modal"></i>Dismiss</button>
                        <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="text-center">
      <div class="modal fade" id="paymentDetailModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="indicator"></div>
            <div class="modal-header">
              <h5 class="modal-title" id="paymentDetailModalLabel">Update property info</h5>
            </div>
            <div class="modal-body">
              <div class="media mb-2">
                <div class="media-body">
                  <div class="position-relative">
                    <form class="" action="/update/propinfo" method="POST">
                      <span class="small text-danger">Note: Fill in fields that you are updating only</span>
                        <div class="form-group dispnone">
                          <input type="text" name="shortcode" class="form-control" placeholder="Paybill: {{prop.name}}" >
                        </div>
              
                        <div class="form-group dispnone">
                          <input type="text" name="consumer_key" class="form-control" placeholder="Consumer key">
                        </div>

                        <div class="form-group dispnone">
                          <input type="text" name="consumer_secret" class="form-control" placeholder="Consumer secret" >
                        </div>

                        <div class="form-group">
                          <input type="text" name="agreement" class="form-control" placeholder="Agreement fee: {{prop.agreement_fee}}" >
                        </div>
              
                        <div class="form-group row">
                          <div class="col-sm-6 mb-sm-0">
                              <input class="form-control" type="text" name="commission" placeholder="Commission %: {{prop.commission}}">
                          </div>
                          <div class="col-sm-6 mb-sm-0">
                            <input class="form-control" type="text" name="int_commission" placeholder="Static commission: {{prop.int_commission}}">
                        </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-sm-6 mb-sm-0">
                              <input class="form-control" type="text" name="prop_garb" placeholder="Garbage collector: {{prop.garbage_collector}}">
                          </div>
                          <div class="col-sm-6 mb-sm-0">
                            <input class="form-control" type="text" name="prop_garb_tel" placeholder="Garbage collector contact: {{prop.garbage_collector_tel}}">
                        </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-4">
                              <input class="form-control" type="text" name="prop_garbbank" placeholder="Garbage collector Bank: {{prop.garbage_collector_bank}}">
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="prop_garbaccname" placeholder="AccName" disabled>
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="prop_garbacc" placeholder="AccNo: {{prop.garbage_collector_bankacc}}">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-4">
                              <input class="form-control" type="text" name="prop_bank" placeholder="Tenant payment: {{prop.payment_bank}}">
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="prop_accname" placeholder="AccName: {{prop.payment_bankaccname}}">
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="prop_accno" placeholder="AccNo: {{prop.payment_bankacc}}">
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-sm-4">
                              <input class="form-control" type="text" name="lb" placeholder="Landlord Bank I: {{prop.landlord_bank}}">
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="lbaccname" placeholder="AccName: {{prop.landlord_bankaccname}}">
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="lbaccno" placeholder="AccNo: {{prop.landlord_bankacc}}">
                          </div>
                        </div>

                        <div class="form-group row">
                          <div class="col-sm-4">
                              <input class="form-control" type="text" name="lbtwo" placeholder="(Loan Deposit) Landlord Bank II: {{prop.landlord_banktwo}}">
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="lbaccnametwo" placeholder="AccName: {{prop.landlord_bankaccname_two}}">
                          </div>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" name="lbaccnotwo" placeholder="AccNo: {{prop.landlord_bankacc_two}}">
                          </div>
                        </div>

                        <input id="prop_id2" type="text" name="propid" class="d-none" value="{{prop.id}}">
                        <hr>
                        <div class="divbg center-btn">
                          <button type="submit" class="bg-gradient-success borderless text-white"><i class="fas fa-check"></i>&nbsp;Save</button>
                          <button class="btn btn-secondary" type="button" data-dismiss="modal"></i>Dismiss</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







  <!-- <script src="{{ url_for('static', filename='modal.js') }}"></script> -->
  <script>
    var url = "{{ url_for('static', filename='upload.js') }}";
    $.getScript(url);
  </script>

<script>
  $("#close-propdisp").on('click',function(){
    $('#proplist').removeClass('dispnone')
    $('#propdisp').addClass('dispnone');
    $('#content-area').removeClass("isopen text-danger");
    $(".fixloader").html(
                '<span class="spinner-border spinner-border-sm mr-2 text-white" role="status" aria-hidden="true"></span>'
            );
            $(".fixloader2").html(
                '<span class="spinner-border spinner-border-sm mr-2 text-kodi-alt" role="status" aria-hidden="true"></span>'
            );
    setTimeout(getPropStats, 10);

  });
</script>


<script type="text/javascript">
  $("#backbtn").click(function () {
    $("#result-view").removeClass("dispnone");
    $("#child-view").addClass("dispnone")
    $("#activeprop").empty();
  })
</script>



<script>
  function getUnits(propid, target, page) {
    // showSpin();
    spinOnChildView();
    $("#barloader-alt").removeClass("dispnone")
    // $("#current-reloader").html(target);
    $.ajax({
      url: "{{ url_for('api.fetchhouses') }}",
      type: "get",
      start_time: new Date().getTime(),
      data: { 
        propid:propid,
        target:target,
        page:page
       },
      success: function (response) {
        $("#barloader-alt").addClass("dispnone")
        spinOffChildView()

        $("#child-result-view").html(response);
      },
      complete: function(data) {
        $("#domtimeload").text((new Date().getTime() - this.start_time));
      }
    });
  }

  function getRates(propid, target, page) {
    // showSpin();
    spinOnChildView();

    console.log("rates are getting fetched")


    // $("#current-reloader").html(target);
    $.ajax({
      url: "{{ url_for('api.fetchrates') }}",
      type: "get",
      data: { 
        propid:propid,
        target:target,
        page:page
       },
      success: function (response) {

        $("#child-result-view").html(response);
        console.log("rates have been fetched")

        spinOffChildView()
      }
    });
  }
</script>


<script type="text/javascript">
  getUnits($("#prop_identifier").text(), "", 1)


  $.fn.getLabels = function() {
    return this.map(function() {
        var labels = $(this).parents('label');
        if (this.id) {
            labels.add('label[for="' + this.id + '"]');
        }
        return labels.get();
    });
  };

  $(".chb").change(function (e) {
        $(".chb").getLabels().removeClass("underline");

        //Getting status before unchecking all
        var status = $(this).prop("checked");

        $(".chb").prop('checked', false);
        $(this).prop('checked', true);

        //false means checkbox was checked and 
        //became unchecked on change event, so let it stay unchecked
        if (status === false) {
          $(this).getLabels().addClass("underline");
          $(this).prop('checked', false);
        }else{

          if ($(this).val() == "cb1"){
            $(this).getLabels().addClass("underline");
            getUnits($("#prop_identifier").text(),"",$("#currentunitpage").text())
          }else{
            $(this).getLabels().addClass("underline");
            getRates($("#prop_identifier").text(),"",$("#currentunitpage").text())
          }
        }

      });

</script>


<!-- <script type="text/javascript">
  $(document).ready(function () {
    $('#tenantData').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      "searching":false,
      // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
      columnDefs: [ { targets: 0, type: 'natural' } ],
      "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script> -->




<script type="text/javascript">
  $(document).ready(function () {
    $("#activeprop").html('<i class="fas fa-chevron-right mr-3"></i><span id="activeprop-child"></span></span>')
    $("#activeprop-child").text($("#active_prop").text())
    });
</script>

<!-- <script>
  var rawIds = "{{ houseids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_house_identifier").html(item)
        }else{
          $("#edit_house_identifier").html(item)
        }
        
      }else{
        $("#house_identifier").html(item)
      }
    });
  });
</script> -->



<script>
  $("#groupModal").on('shown.bs.modal', function(){

    $.ajax({
      url: "{{ url_for('api.createhousecode') }}",
      type: "get",
      data: {
        groupid:  $("#group_identifier").text(),
      },
      success: function(response) {
        $("#groupModalBed").html(response); 
      }
    });

  });
</script>


<script>
  $("#groupModal").on('hidden.bs.modal', function(){

    $("#groupModalBed").html("empty"); 

  });

  </script>


  <!-- <script>
    // this script gives focus
    $(document).ready(function(){
      $("#groupModal").on('shown.bs.modal', function(){
        $(this).find('#groupName').focus();
      });
    });
  </script> -->

  <!-- <script>
    $("#groupName").keyup(function(){  
      var empty = false;
    
      if ($('#groupName').val() == "") {
          empty = true;
      }

      if (empty) {
          $('#addhousecode').attr('disabled', 'disabled');
          $('#addhousecode').removeClass('btn-success')
          $('#addhousecode').addClass('btn-secondary')
      } else {
        $('#addhousecode').removeAttr('disabled');
        $('#addhousecode').removeClass('btn-secondary')
        $('#addhousecode').addClass('btn-success')
      }    
        $.ajax({
          url: "{{ url_for('api.createhousecode') }}",
          type: "POST",
          data: {
                  propid: $("#prop_identifier").text(),
                  housecode: $("#groupName").val(),
                  runalert: "run"
              },
          success: function(response) {
            $("#notifications").html(response);
            // setTimeout(function(){
            //   $("#notifications").empty();
            // }, 2000);
          }
        });
    });
    </script> -->


<script>
      
  $("#uploadGroupExcelModal").on('shown.bs.modal', function(){
    $(".dismissparent").click();
  });

</script>

<script>
  $("#downloadgroups").click(function(){ 
      $('#downloadgroups').html('<i class="fas fa-spinner fa-spin mr-1"></i>Downloading...');


      $("#download_groups")[0].click();

        setTimeout(function(){
            $('#downloadgroups').html("<i class='fas fa-file-download mr-2'></i>Template")
        },8000);
    });
</script>

<script>
  $("#downloadunits").click(function(){ 
      $('#downloadunits').html('<i class="fas fa-spinner fa-spin mr-1"></i>Downloading...');


      $("#download_units")[0].click();

        setTimeout(function(){
            $('#downloadunits').html("<i class='fas fa-file-download mr-2'></i>Template")
        },8000);
    });
</script>


<script>
  $("#uploadgroup").on('click',function(){
      $("#uploadgroup").html("Uploading...") 

      url = "{{ url_for('api.createhousecode') }}"

      var fd = new FormData();
      var files = $('#groupfile')[0].files;
      fd.append('file',files[0]);
      fd.append('target',"excelupload");
      fd.append('propid',$("#prop_identifier").text());

      $.ajax({
          type: "POST",
          url: url,
          data:fd,
          processData: false,
          contentType: false,
          success: function(response) {
              // $("#postloader-btn").click();
              // $("#body-block").addClass("dispnone")
              // $("#dynamic-content").removeClass("dispnone")
              $("#uploadgroup").html("Uploaded") 
              $(".alert-msgs").html(response);

              setTimeout(function(){
                $("#uploadgroup").html("Upload") 
                $(".alert-msgs").empty();
                $(".reset").click();
                $(".closemodal").click();
              },3000)

              getRates($("#prop_identifier").text(),"",$("#currentunitpage").text())


          },
          error:function(){
            $(".alert-msgs").html('<span class="text-danger">Upload unsuccessful</span>');
            $("#uploadgroup").html("Retry") 

            setTimeout(function(){
                $("#uploadgroup").html("Upload")
                $(".alert-msgs").empty();
                $(".reset").click();
                $(".closemodal").click();
              },5000)
          }
      });
  });
</script>





<script>
  $("#editgroup").click(function(){   
    $("#editgroup").html("updating...")  
      $.ajax({
        url: "{{ url_for('api.edithousecode') }}",
        type: "POST",
        data: {
                groupid: $("#group_identifier").text(),
                codename:$("#edit_house_code").val(),
                rentrate: $("#edit_rentrate").val(),
                waterrate: $("#edit_waterrate").val(),
                unitrate: $("#edit_unitrate").val(),
                elecunitrate: $("#edit_elecunitrate").val(),
                garbagerate: $("#edit_garbagerate").val(),
                securityrate: $("#edit_securityrate").val(),
                servicerate: $("#edit_servicerate").val(),
                waterdep: $("#edit_waterdep").val(),
                elecdep: $("#edit_elecdep").val(),
                finerate: $("#edit_finerate").val()
            },
        success: function(response) {
          $(".alert-msgs").html(response);

          getRates($("#prop_identifier").text(),"",$("#currentunitpage").text())

          
          setTimeout(function(){
            $(".alert-msgs").empty();
            $(".reset").click();
            $(".closemodal").click();
            $("#editgroup").html("update")
          }, 2000);
        }
      });
  });
</script>

<script>
      
  $("#del_house").on('click',function(){   
    $('#del_house').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>removing...'); 
    $.ajax({
      url: "{{ url_for('api.edithouse') }}",
      type: "POST",
      data: {
            houseid:$("#del_house_identifier").text(),
            target:"delete"
          },
      success: function(response) {
        // $(".payment-info").html(response);

        snack(response);
        getUnits($("#prop_identifier").text(),"",$("#currentunitpage").text())
        
        setTimeout(function(){
          $('#del_house').html('Delete');
          $(".closemodal").click();
            }, 1500);

        
      }
    });
  });
  
  </script>

<script>
      
  $("#del_group").on('click',function(){   
    $('#del_group').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>deleting...'); 
    $.ajax({
      url: "{{ url_for('api.edithousecode') }}",
      type: "POST",
      data: {
            groupid:$("#del_group_identifier").text(),
            target:"delete"
          },
      success: function(response) {
        // $(".payment-info").html(response);  
        
        setTimeout(function(){
          $('#del_group').html('Delete');
          $(".closemodal").click();
            }, 1500);
        getRates($("#prop_identifier").text(),"",$("#currentunitpage").text())
 
        
      }
    });
  });
  
  </script>









<script> 
  $("#newHouseModal").on('shown.bs.modal', function(){
    $.ajax({
      url: "{{ url_for('api.createhouse') }}",
      type: "POST",
      data: {
            propid: $("#prop_identifier").text(),
            runcode:"somestring"
          },
      success: function(response) {
        $("#select_housecode2").html(response);
        
      }
    });
  });
</script>

<script>
      
  $("#uploadHouseExcelModal").on('shown.bs.modal', function(){
    $(".dismissparent").click();
  });

</script>

<script>
  $("#uploadhouse").on('click',function(){
    $("#uploadhouse").html("Uploading...") 

      url = "{{ url_for('api.createhouse') }}"

      var fd = new FormData();
      var files = $('#housefile')[0].files;
      fd.append('file',files[0]);
      fd.append('target',"excelupload");
      fd.append('propid',$("#prop_identifier").text());

      $.ajax({
          type: "POST",
          url: url,
          data:fd,
          processData: false,
          contentType: false,
          success: function(response) {
              $(".alert-msgs").html(response);
              $("#uploadhouse").html("Uploaded") 

              setTimeout(function(){
                $("#uploadhouse").html("Upload") 
                $(".alert-msgs").empty();
                $(".reset").click();
                $(".closemodal").click();
              },3000)

              setTimeout(function(){
                $.ajax({
                  url: "{{ url_for('api.fetchhouses') }}",
                  type: "get",
                  data: {propid:  $("#prop_identifier").text()},
                  success: function(response) {
                    
                    $("#result-view").html(response);
                  }
                });
              },5000);

          },
          error:function(){
            $(".alert-msgs").html('<span class="text-danger">Upload unsuccessful</span>');
            $("#uploadhouse").html("Retry") 

            setTimeout(function(){
              $("#uploadhouse").html("Upload")
                $(".alert-msgs").empty();
                $(".reset").click();
                $(".closemodal").click();
              },5000)
          }
      });
  });
</script>


<script>
  $("#select_housecode2").on('change',function(){

    $.ajax({
      url: "{{ url_for('api.createhouse') }}",
      type: "POST",
      data: {
            propid: $("#prop_identifier").text(),
            housecode: $("#select_housecode2").val(),
            runcodechange:"somestring"
          },
      success: function(response) {
        $("#code").html(response);
        $("#text-code").html($("#select_housecode2").val());
        
      }
    });
  });
</script>

<script>
  $("#enter_housename").keyup(function(){  
    var empty = false;
    // if ($('#enter_housename').val() == "" || $('#desc').val() == null ) {
    if ($('#enter_housename').val() == "" ) {
        empty = true;
    }

    if (empty) {
        $('#addhouse').attr('disabled', 'disabled');
        $('#addhouse').removeClass('btn-success')
        $('#addhouse').addClass('btn-secondary')
    } else {
      $('#addhouse').removeAttr('disabled');
      $('#addhouse').removeClass('btn-secondary')
      $('#addhouse').addClass('btn-success')
    }    
    // console.log($("#code").text().length);
    // console.log($("#code").text())
      $.ajax({
        url: "{{ url_for('api.createhouse') }}",
        type: "POST",
        data: {
                propid: $("#prop_identifier").text(),
                housecode: $("#text-code").text(),
                house: $("#enter_housename").val(),
                runalert: "run"
            },
        success: function(response) {
          $("#notifications2").html(response);
          // setTimeout(function(){
          //   $("#notifications2").empty();
          // }, 4000);
        }
      });
  });
  </script>

<script>
  $("#edit_housename").keyup(function(){  
    var empty = false;
    // if ($('#enter_housename').val() == "" || $('#desc').val() == null ) {
    // if ($('#edit_housename').val() == "" ) {
    //     empty = true;
    // }

    // if (empty) {
    //     $('#edithouse').attr('disabled', 'disabled');
    //     $('#edithouse').removeClass('btn-success')
    //     $('#edithouse').addClass('btn-secondary')
    // } else {
    //   $('#edithouse').removeAttr('disabled');
    //   $('#edithouse').removeClass('btn-secondary')
    //   $('#edithouse').addClass('btn-success')
    // }    
    // console.log($("#code").text().length);
    // console.log($("#code").text())
      $.ajax({
        url: "{{ url_for('api.edithouse') }}",
        type: "get",
        data: {
                propid: $("#prop_identifier").text(),
                housecode: "",
                house: $("#edit_housename").val(),
                target: "checkdups"
            },
        success: function(response) {
          $(".alert-msgs").html(response);
          // setTimeout(function(){
          //   $("#notifications2").empty();
          // }, 4000);
        }
      });
  });
  </script>

<script>
  $("#addhouse").click(function(){   
    $("#addhouse").html("saving...")  
      $.ajax({
        url: "{{ url_for('api.createhouse') }}",
        type: "POST",
        data: {
                propid: $("#prop_identifier").text(),
                housecode: $("#text-code").text(),
                house: $("#enter_housename").val(),
                desc: $("#desc").val()
            },
        success: function(response) {
          $(".alert-msgs").html(response);

          snack(response);
          getUnits($("#prop_identifier").text(),"",$("#currentunitpage").text())

          // $.ajax({
          //       url: "{{ url_for('api.fetchhouses') }}",
          //       type: "get",
          //       data: {propid:  $("#prop_identifier").text()},
          //       success: function(response) {
                  
          //         $("#result-view").html(response);
          //       }
          //     });
          
          setTimeout(function(){
            $(".alert-msgs").empty();
            $(".reset").click();
            $("#notifications2").empty();
            $('#addhouse').attr('disabled', 'disabled');
            $('#addhouse').removeClass('btn-success')
            $('#addhouse').addClass('btn-secondary')
            $("#addhouse").html("submit")
          }, 2000);
        }
      });
  });
</script>








<script> 
  $("#updateHouseModal").on('shown.bs.modal', function(){
    $.ajax({
      url: "{{ url_for('api.edithouse') }}",
      type: "get",
      data: {
            propid: $("#prop_identifier").text(),
            target:"listhouses"
          },
      success: function(response) {
        $("#select_group").html(response);
        $.ajax({
          url: "{{ url_for('api.edithouse') }}",
          type: "get",
          data: {
                houseid: $("#house_identifier").text(),
                target:"houseinfo"
              },
          success: function(response) {
            $(".alert-msgs").html(response);
          }
        });
      }
    });
  });
</script>


<script> 
  $("#editHouseModal").on('shown.bs.modal', function(){
    $.ajax({
      url: "{{ url_for('api.edithouse') }}",
      type: "get",
      data: {
            houseid: $("#edit_house_identifier").text(),
            target:"houseinfo-alt"
          },
      success: function(response) {
        $(".alert-msgs").html(response);
      }
    });
  });
</script>


<script>
  $("#select_group").on('change',function(){

      $('#updatehouse').removeAttr('disabled');
  
  });
</script>

<script>
  $("#updatehouse").click(function(){   
    $("#updatehouse").html("updating...")  
      $.ajax({
        url: "{{ url_for('api.edithouse') }}",
        type: "POST",
        data: {
                propid: $("#prop_identifier").text(),
                houseid: $("#house_identifier").text(),
                group: $("#select_group").val(),
                target:"edit house group"
            },
        success: function(response) {

          snack(response);
          getUnits($("#prop_identifier").text(),"",$("#currentunitpage").text())

          setTimeout(function(){
            $(".alert-msgs").empty();
            $(".reset").click();
            $(".closemodal").click();
            $('#updatehouse').attr('disabled', 'disabled');
            $("#updatehouse").html("Update")
          }, 2000);

        }
      });
  });
</script>

<script>
  $("#edithouse").click(function(){   
    $("#edithouse").html("updating...")  
      $.ajax({
        url: "{{ url_for('api.edithouse') }}",
        type: "POST",
        data: {
                propid: $("#prop_identifier").text(),
                houseid: $("#edit_house_identifier").text(),
                name: $("#edit_housename").val(),
                watertarget:$("#edit_watertarget").val(),
                servicetarget:$("#edit_servicetarget").val(),
                acc:$("#edit_accname").val(),
                bank:$("#edit_bank").val(),
                desc: $("#edit_desc").val(),
                target:"edit house detail"
            },
        success: function(response) {

          snack(response);
          getUnits($("#prop_identifier").text(),"",$("#currentunitpage").text())

          setTimeout(function(){
            $(".alert-msgs").empty();
            $(".reset").click();
            $(".closemodal").click();
            // $('#edithouse').attr('disabled', 'disabled');
            $("#edithouse").html("Update")
          }, 2000);

        }
      });
  });
</script>



