{% for house in houses %}
<div class="col-md-2 mb-2 smallify">
  <button class="btn {{house.color}}" type="button" id="{{house.id}}">{{house.name}}</button>
</div>
{% endfor %}

<button type="button" class="dispnone" id="raiseAllocModal" data-toggle="modal" data-target="#addTenantModal"></button>

<script>
  var rawIds = "{{ houseids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)

      if( isNaN(parseInt(item)) ){
        if(item.startsWith("vac")){
          $("#vac_house_identifier").html($(this).text())
          $("#raiseAllocModal").click()
        }
        else if(item.startsWith("hse")){
          $(".dismissparent").click();
          $("#barloader").removeClass("dispnone")
          $.ajax({
            url: "/results",
            type: "get",
            data: {
              id: item,
              initiator:"search"
            },
            success: function(response) {
              $("#barloader").addClass("dispnone")
              $("#propdisp").addClass("dispnone")
              $("#searchresults").removeClass("dispnone")
              $("#searchresults").html(response);
  
              $.ajax({
                url: "{{ url_for('api.fetchbills') }}",
                type: "get",
                data: {
                  tenantid: item,
                  target:"tenant bill"
                },
                success: function(response) {
                  
                  $("#search-result-view").html(response);
                }
              });
            }
          });
        }else{
          // do nothing;
        }
        
      }
    });
  });
  </script>