<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Malibu Pharmacy Ltd</title>
    <!-- Simple bar CSS -->
    <!-- <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/simplebar.css"> -->
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    
    <!-- <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/feather.css"> -->
    
    <!-- <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/select2.css">
    <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/dropzone.css">
    <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/uppy.min.css">
    <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/jquery.steps.css">
    <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/jquery.timepicker.css">
    <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/quill.snow.css"> -->
    <!-- Date Range Picker CSS -->
    <!-- <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/daterangepicker.css"> -->
      <!-- App CSS -->
    <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="https://dataprotection.malibupharmacy.co.ke/css/light/app-dark.css" id="darkTheme" disabled>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dpo-b4.5.css') }}">

  </head>
  <body class="vertical  light  ">
<section class="pt-120 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-sm-12">

                                                              <div class="text-block mb-50">
                            <h5 class="text-block__title">Malibu Pharmacy Limited client Consent Form for the Processing of
                                Personal Data</h5>

                            <p class="text-block__desc mb-20">
                                In accordance with the Kenya Data Protection Act (No. 24 of 2019), Malibu Pharmacy Limited
                                (&quot;the
                                Company&quot;) respects your right to privacy and the protection of your personal data. Please
                                read this
                                form carefully and indicate your consent to the processing of your personal data for medical
                                treatment and related purposes.
                            </p>
                            <hr>
                                <h6>client's Information</h6>
                            <p><strong>client’s Full Name:</strong> JANE WAMBUI NJOROGE</p>
                                <p><strong>client’s Date of Birth:</strong> 1987-07-13</p>
                                <p><strong>client’s Age:</strong> 37</p>
                                <p><strong>client's Medical Record Number:</strong> 14-767614-24</p>
                                <p><strong>Contact number:</strong> 254725539791</p>
                            <hr>
                            <h6> Personal Data Collection and Processing</h6>
                            <p class="text-block__desc mb-20">
                                I, the undersigned client, hereby consent to the collection, processing, and storage of my
                                personal
                                and health-related data by Malibu Pharmacy Limited for the following purposes:
                            </p>
                            <ul>
                                <li>
                                    <p><strong>Diagnosis and Treatment:</strong> I understand that my personal and
                                        health-related data will be
                                        used to diagnose and provide medical treatment to address my health conditions</p>
                                </li>
                                <li>
                                    <p><strong>Medical Record-keeping:</strong> I consent to the creation and maintenance of
                                        electronic or paper-
                                        based medical records containing my personal and health information</p>
                                </li>
                                <li>
                                    <p><strong>Billing and Insurance:</strong>I acknowledge that my data may be used for billing
                                        and insurance
                                        purposes related to my medical care</p>
                                </li>
                                <li>
                                    <p><strong>Quality Improvement, Statistics, and Research:</strong> I understand that my data
                                        may be used
                                        anonymously for quality improvement efforts, , research, and statistical analysis to
                                        enhance
                                        client care and to the Ministry of Health as is required by law.</p>
                                </li>
                                <li>
                                    <p><strong>Communication of Healthcare Information:</strong> I agree to the communication of
                                        my healthcare
                                        information to authorized individuals, such as healthcare providers and insurance
                                        companies
                                        and NHIF, as necessary for my care.
                                    </p>
                                </li>
                                <li>
                                    <p><strong>Marketing Information:</strong> I consent to receive marketing information from time-to-time via mobile phone and email. I understand that I can permanently opt out of such communication at any time.</p>
                                </li>
                            </ul>

                            <p class="text-block__desc mb-20">To understand the just cause for data collection please
                                refer to the Malibu Pharmacy Limited data map <a href="data-map.php">here</a>. </p>

                            <hr>
                            <h6> Data Protection Rights</h6>
                            <p class="text-block__desc mb-20"> I am aware that I have the following data protection rights
                                concerning my personal data: </p>
                            <ul>
                                <li>
                                    <p><strong>Right to Access:</strong> I have the right to access my personal data held by the
                                        hospital.</p>
                                </li>
                                <li>
                                    <p><strong>Right to Rectification:</strong> I can request corrections to any inaccurate or
                                        incomplete data.</p>

                                </li>
                                <li>
                                    <p><strong>Right to Erasure:</strong> Under certain circumstances, I may request the
                                        deletion of my data.</p>

                                </li>
                                <li>
                                    <p><strong>Right to Withdraw Consent:</strong> I can withdraw my consent for data processing
                                        at any time, without
                                        affecting prior processing based on my consent.</p>

                                </li>
                            </ul>
                            <hr>
                            <h6> Data Security & Retention</h6>
                            <p class="text-block__desc mb-20">
                                I understand that Malibu Pharmacy Limited has implemented appropriate measures to safeguard
                                my personal and health-related data from unauthorized access, disclosure, alteration, or
                                destruction.
                                I acknowledge that my personal and health-related data will be retained for the duration
                                required by
                                law and hospital policies. After this period, data may be securely disposed of or anonymized for
                                research purposes.
                            </p>
                            <hr>

                            <h6> Contact Information </h6>
                            <p class="text-block__desc mb-20">For any inquiries or requests related to client’s data, I
                                can contact <a href="mailto:info@malibupharmacy.co.ke">info@malibupharmacy.co.ke</a></p>
                            <hr>

                            <h6> Contact Information </h6>
                            <style>
                                /* Default styles for larger screens */
                                .form-group {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 10px;
                                }

                                .form-group .col-sm-12 {
                                    flex: 1;
                                }

                                /* Media query for smaller screens (e.g., mobile devices) */
                                @media (max-width: 767px) {
                                    .form-group {
                                        flex-direction: column;
                                    }

                                    .form-group .col-sm-12 {
                                        flex: none;
                                        /* Reset flex property to default for smaller screens */
                                    }
                                }
                            </style>
                            <form method="post" action="https://dataprotection.malibupharmacy.co.ke/forms/clientconsent">
                                <input type="hidden" name="_token" value="BCW4gn8lNxgMh6VyhTmxDUcV0WUqUH7fitHMum0C" autocomplete="off">                                <div class="form-group">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <i class="icon-user form-group-icon"></i>
                                            <input type="text" class="form-control" placeholder="Full Name" id="name"
                                                name="name" required>
                                            <input hidden type="text" class="form-control" value="14-767614-24"
                                                id="uhid" name="uhid" required>
                                            <input hidden type="text" class="form-control" value="JANE WAMBUI NJOROGE"
                                                                                    id="fullName" name="fullName" required>
                                            <input hidden type="text" class="form-control" value="1987-07-13"
                                                                                                                        id="dob" name="dob" required>

                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <i class="icon-email form-group-icon"></i>
                                            <input type="email" class="form-control" placeholder="Email Address"
                                                id="contact-email" name="contact-email" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <i class="icon-phone form-group-icon"></i>
                                            <input type="text" class="form-control" placeholder="Phone Number"
                                                id="contact-Phone" name="contact-phone" required>
                                        </div>
                                    </div>
                                </div>

                                   <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="date">Consent Issued On</label>
                                            <input class="form-control" type="date" id="date" name="date" value="2024-11-25" required readonly>
                                        </div>
                                    </div>

                                <!-- Checkbox for Consent -->
                                <div style="margin-bottom: 10px;">
                                    <input type="checkbox" id="consentCheckbox" name="consentCheckbox" required>
                                    <label for="consentCheckbox">I consent to the above </label>
                                </div>
                                <!-- Consent Paragraph -->
                                <p class="text-block__desc mb-20">
                                    I hereby consent to the collection, processing, and storage of my personal and
                                    health-related data
                                    by Malibu Pharmacy Limited as stipulated above.
                                </p>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>


                            </form>

                        </div><!-- /.text-block -->
                                                
            </div><!-- /.col-lg-8 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- ========================
      Footer
    ========================== -->


<!-- <script src="https://dataprotection.malibupharmacy.co.ke/js/jquery.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/popper.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/moment.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/bootstrap.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/simplebar.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/daterangepicker.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/jquery.stickOnScroll.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/tinycolor-min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/config.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/d3.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/topojson.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/datamaps.all.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/datamaps-zoomto.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/datamaps.custom.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/Chart.min.js"></script>
 <script src='js/jquery.dataTables.min.js'></script>
<script src='js/dataTables.bootstrap4.min.js'></script> -->
    

<!-- <script src="https://dataprotection.malibupharmacy.co.ke/js/gauge.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/jquery.sparkline.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/apexcharts.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/apexcharts.custom.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/jquery.mask.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/select2.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/jquery.steps.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/jquery.validate.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/jquery.timepicker.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/dropzone.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/uppy.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/quill.min.js"></script>
<script src="https://dataprotection.malibupharmacy.co.ke/js/apps.js"></script> -->

</body>

</html>
