<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ADMIN</title>

  <!-- Custom fonts-->
  <!-- <link href="../static/img/kiota.ico" rel="shortcut icon" type="image/x-icon" /> -->

  <!-- <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favico/favicon-16x16.png">
  <link rel="manifest" href="../static/img/favico/site.webmanifest"> -->

  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ui.css') }}"> -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='myfonts.css') }}">

  <!-- Custom styles-->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='eapartment-min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='datatables.min.css') }}">
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='modal.css') }}"> -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='input.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='kiotapay.css') }}">

</head>

<body onload="startTime()" id="page-top">
  <div id="preloder">
		<h1 class="loading"></h1>
		<div class="loader"></div>
	</div>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion mobile-toggle" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand bg-white d-flex align-items-center justify-content-center" href="{{ url_for('api.index') }}">
        <div class="sidebar-brand-icon rotate-n-0">
          <img class="mobile-malaysian" src={{logopath}} alt="">
          <img class="desktop-malaysian" src={{mobilelogopath}} alt="">
        </div>
        <span class="sidebar-brand-text mx-0"><span class="dispnone">eapa</span></span>
      </a>

      <!-- Divider -->
      <hr style="visibility: hidden;" class="sidebar-divider my-2">

      <!-- Heading -->
      <div class="sidebar-heading">
        Configuration
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-users-cog"></i>
          <span>User management</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-gradient-light py-2 collapse-inner rounded">
            <h6 class="collapse-header">Access:</h6>
            <a class="collapse-item" href="{{ url_for('api.modifyaccessright') }}"><span><i class="fas fa-fw fa-wrench"></i></span>&nbsp;Access rights</a>
            <h6 class="collapse-header">Add/update User:</h6>
            <a class="collapse-item" href="{{ url_for('api.registeruser') }}"><span><i class="fas fa-fw fa-user-plus"></i></span>&nbsp;New user</a>
            <a class="collapse-item" href="{{ url_for('api.updateuser') }}"><span><i class="fas fa-fw fa-user-edit"></i></span>&nbsp;Edit user</a>
            {%if clientaccess%}
            <a class="collapse-item" href="{{ url_for('api.viewnewclients') }}"><span><i class="fas fa-fw fa-user-edit"></i></span>&nbsp; New clients</a>
            {%endif%}
            
          </div>
        </div>
      </li>

      <!-- Heading -->
      <div class="sidebar-heading">
        Main menu
      </div>

      <!-- <li class="nav-item">
        <a class="nav-link" href="{{ url_for('api.propertymanagement') }}">
          <i class="fas fa-fw fa-building"></i>
          <span>Houses & Rates</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('api.metermanagement') }}">
          <i class="fas fa-fw fa-faucet"></i>
          <span>Meters & Readings</span>
        </a>
      </li> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-building"></i>
          <span>Houses</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-gradient-light py-2 collapse-inner rounded">
            <h6 class="collapse-header text-info">House management:</h6>
            <a class="collapse-item mylinks" href="{{ url_for('api.createhousecode') }}"><span><i class="fas fa-fw fa-money-bill"></i></span>&nbsp;House Codes</a>
            <a class="collapse-item mylinks" href="{{ url_for('api.createhouse') }}"><span><i class="fas fa-fw fa-house-user"></i></span>&nbsp;Add houses</a>
            <div class="collapse-divider"></div>
          </div>
        </div>
      </li> -->

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseBilling" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-coins"></i>
          <span>Billing</span>
        </a>
        <div id="collapseBilling" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-gradient-light py-2 collapse-inner rounded">
            <h6 class="collapse-header text-info">Billing</h6>
            <a class="collapse-item mylinks" href="{{ url_for('api.billing') }}"><span><i class="fas fa-fw fa-dollar-sign"></i></span>&nbsp;Bill tenants</a>
            <a class="collapse-item mylinks" href="{{ url_for('api.amendcharge') }}"><span><i class="fas fa-fw fa-cogs"></i></span>&nbsp;Amend charges</a>
            <a class="collapse-item mylinks" href="{{ url_for('api.receivepayment') }}"><span><i class="fas fa-fw fa-hand-holding-usd"></i></span>&nbsp;Receive payments</a>
            <div class="collapse-divider"></div>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('api.reports') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Reports</span>
        </a>
      </li>
    
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline desktop-malaysian">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-info bg-dark topbar mb-4 static-top shadow mobile-malaysian">
          <!-- <span class="mobile-malaysian floating-apartment-desktop text-info">{{companyname}}</span> -->
          <!-- <span class="desktop-malaysian floating-apartment-mobile text-xs mb-0 text-info">{{companyname}}</span> -->
          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" autocomplete="off"> 
            <div class="input-group">
                <input id="searchInput" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-light custom-disable" id="search-btn" type="button">
                  <i id="search-icon" class="fas fa-search fa-sm text-success"></i>
                  <span id="id-holder" class="dispnone"></span>
                </button>
              </div>
            </div>
          </form>
          <div id="suggestions" class="dispnone">{{suggestions}}</div>
          <span class="mobile-malaysian floating-apartment-deskto text-info">{{companyname}}</span>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw text-white"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-info badge-counter"></span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="{{ url_for('api.internaldetail') }}">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500"></div>
                    <span class="font-weight-bold"></span>
                  </div>
                </a>

                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw text-white"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">{{unread_num}}</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header divjust-end">
                  <span>Message Center</span>
                  <button id="submi" type="button" class="bg-gradient-inf expense-bt borderless text-info" data-toggle="modal" data-target="#bulkSmsModal">Tenant Bulk Sms</button>
                </h6>
                {% for msg in unread_msgs %}
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-imag mr-1">
                    <!-- <img class="rounded-circle" src="" alt=""> -->
                    <!-- <div class="status-indicator bg-success"></div> -->
                    <span class=""><i class="fas fa-circle text-success"></i></span>
                  </div>
                  
                  <div class="font-weight-bold">
                    <div class="text-truncate">{{msg.txt}}</div>
                    <div class="small text-gray-500">{{msg.tenant}} · {{msg.date.strftime("%Y-%m-%d %H:%M:%S")}}</div>
                  </div>
                </a>
                {% endfor %}


                <a class="dropdown-item text-center small text-gray-500" href="#">You have no more messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-gray-300 mr-2">
                  {{group}}
                </div>
                <div class="topbar-divider d-none d-sm-block"></div>
                <!-- <span class="font-weight-bold mr-2 text-white">-</span> -->
                <span class="mr-2 d-none d-lg-inline text-gray-100 font-weight-bold">{{name}}</span>
                <!-- <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> -->
                <div class="sidebar-brand-icon rotate-n-0">
                  <i class="fas fa-user-circle fa-2x text-secondary"></i>
                </div>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ url_for('api.updateuser') }}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile ({{name}})
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>











        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow desktop-malaysian">
          <span class="desktop-malaysian floating-apartment-mobile text-xs mb-0 text-info">{{companyname}}</span>
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTopa" class="btn btn-link d-md-none rounded-circle mr-0 text-info">
            <i id = "myi"class="fa fa-bars"></i>
          </button>
          <a class="d-flex align-items-center justify-content-center" href="{{ url_for('api.index') }}">
            <i id = "myii"class="desktop-malaysian mr-0">
              <img class="desktop-malaysian" src={{mobilelogopath}} alt="">
            </i>
          </a>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-search fa-sm kiota-col"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none mobile-malaysian">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-0">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw kiota-col"></i>
                <!-- Counter - Alerts -->
                <!-- <span class="badge badge-info badge-counter">0</span> -->
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="{{ url_for('api.internaldetail') }}">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <!-- <div>
                    <div class="small text-gray-500">June 30, 2020</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div> -->
                </a>

                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw kiota-col"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">{{unread_num}}</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header divjust-end">
                  <span>Message Center</span>
                  <button id="submi" type="button" class="bg-gradient-inf expense-bt borderless text-info" data-toggle="modal" data-target="#bulkSmsModal">Tenant Bulk Sms</button>
                </h6>
                {% for msg in unread_msgs %}
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-imag mr-1">
                    <!-- <img class="rounded-circle" src="" alt=""> -->
                    <!-- <div class="status-indicator bg-success"></div> -->
                    <span class=""><i class="fas fa-circle text-success"></i></span>
                  </div>
                  
                  <div class="font-weight-bold">
                    <div class="text-truncate">{{msg.txt}}</div>
                    <div class="small text-gray-500">{{msg.tenant}} · {{msg.date.strftime("%Y-%m-%d %H:%M:%S")}}</div>
                  </div>
                </a>
                {% endfor %}


                <a class="dropdown-item text-center small text-gray-500" href="#">You have no more messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link overide-nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="kiota-col mr-0">
                  {{group}}
                </div>
                <div class="topbar-divider d-none d-sm-block"></div>
                <!-- <span class="font-weight-bold mr-2 text-white">-</span> -->
                <span class="mr-2 d-none d-lg-inline kiota-col font-weight-bold">{{name}}</span>
                <!-- <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> -->
                <div class="sidebar-brand-icon rotate-n-0">
                  <i class="fas fa-user kiota-col"></i>
                </div>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ url_for('api.updateuser') }}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile ({{name}})
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="mobile-malaysian">
            <span class="text-success font-weight-bold small dispnone" id="txt"></span>
          </div>
          <div id="results-body" class="dispnone">
            <div class="center-btn">
              <span id="result-loader"></span>
            </div>
          </div>
          <div id="body-block" class="myblock">
            
            {% block content %}
            
            {% endblock %}

          </div>

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy;2022</span>
          </div>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-R7DLP684H1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-R7DLP684H1',{cookie_flags: 'SameSite=None;Secure'});
        </script>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade center-btn" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign out</h5>
        </div>
        <div class="modal-body">Ready to Leave?</div>
        <div class="has-margin-bottom divbg">
          <a class="btn btn-danger" href="{{ url_for('api.userlogout') }}"> <i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
          <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fas fa-smile mr-2"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='eapartment-min.js') }}"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="{{ url_for('static', filename='datatables.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/autocomplete-v1.js') }}"></script>
  <script src="{{ url_for('static', filename='customjs.js') }}"></script>
  <script>
    arr_results = "{{ suggestions|safe }}";
    
    var outputstr= arr_results.replace(/'/g,'"');

    if(arr_results) {
      arr_resultsTwo = JSON.parse(outputstr)
      autocomplete(document.getElementById("searchInput"), arr_resultsTwo);
    }
    else{
      autocomplete(document.getElementById("searchInput"), arr_results);
    }
  </script>

  <script type="text/javascript">
    $(document).ready(function () {

      $('#sidebarToggleTopa').on('click',function(){
        // <img class="desktop-malaysian" src="../static/img/smkiotapaylogo.png" alt="">
        // $('#myi').removeClass('collapselogo')
        // $('#myi').toggleClass('collapselogo2')
        $('#myi').toggleClass('fa-bars fa-arrow-left')
        $('#myii').toggleClass('dispnone')
        $('#accordionSidebar').toggleClass('mobile-toggle')
        // $('#accordionSidebar').removeClass('mobile-toggle')
        // $('#myii').toggleClass('dispnone disp')


        // $('#accordionSidebar').css('display','block');
        
      })

    });
  </script>

<script>
  function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    h = checkTime(h);
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
</script>

<!-- <script type="text/javascript">
  $(document).ready(function () {
    $('#tenantPaymentData').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 3,
      "searching":false,
      "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script> -->

</body>

</html>
