{% extends "landingbase.html" %}
{% block content %}

    <!--================Contact Area =================-->
    <div class="section light-bg" id="features">


        <div class="container">

            <div class="section-title">
                <h3>Why Choose Us</h3>
            </div>


            <div class="row mb-4">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body feature-card">
                            <div class="media">
                                <span class="ti-money gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Precision in finances</h4>
                                    <p class="card-text">Our system provides automatic invoicing and receipt of payments accompanied by email and sms notifications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body feature-card">
                            <div class="media">
                                <span class="ti-email gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Enhanced communication</h4>
                                    <p class="card-text">We facilitate personalized and general communication between the landlord and the tenant.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body feature-card">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Fast and Secure Payments</h4>
                                    <p class="card-text">Robust M-pesa & Bank payment integration. No need to remember paybills numbers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body feature-card">
                            <div class="media">
                                <span class="ti-view-list gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Ease of Tracking</h4>
                                    <p class="card-text">The system has a framework for Intelligent reports on rent status for each tenant,expenses, statement generation and sending of reminders on email and sms.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body feature-card">
                            <div class="media">
                                <span class="ti-mobile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Mobile Interface</h4>
                                    <p class="card-text">Sign in and view your property info anytime and anywhere from your mobile handset.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body feature-card">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Convenient operations</h4>
                                    <p class="card-text">Besides saving time, the system guarantees cost saving, eliminates manual paper work and constant bank reconciliations.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </div>
    <!--================Contact Area =================-->


    {% endblock %}