{% extends "loginbase.html" %}

{% block content %}
Note: This page is still under development
<div class="column is-4 is-offset-4">
<!-- <div class="col-sm-12 col-sm-offset-1"> -->
    <p>To access this web app, you need a user account. Contact us and fill out the form below.
    <div class="box">
        <p>Please submit your details below to initiate registration request</p>
    </div>
    <p>If you already have an account, please log in below</p>
    <div style="text-align:center;">
        <a style="color:blue;"href="{{ url_for('api.userlogin') }}">LOGIN</a>
    </div>
    
</div>

{% endblock %}