
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R7DLP684H1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R7DLP684H1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KiotaPay | Inactive Account</title>
  <!-- <link href="../static/img/kiota.ico" rel="shortcut icon" type="image/x-icon" /> -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favico/favicon-16x16.png">
  <link rel="manifest" href="../static/img/favico/site.webmanifest">

  <!-- Custom fonts-->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ui.css') }}"> -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='myfonts.css') }}">

  <!-- Custom styles-->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='eapartment-min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='modal.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyle.css') }}">

</head>

<body>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="text-info center-btn mt-4">This company is inactive, contact Email: <span class="text-primary">info@kiotapay.com</span> for more info. </div>
            <div class="center-btn">
                <a class="close-report" href="{{ url_for('api.userlogin') }}"><button type="button" class="btn-light font-weight-bold borderless text-titl text-danger"><i class="fas fa-sign-out-alt mr-2"></i>Exit</button></a>
            </div>
            
        </div>
    </div>

</body>
</html>

