{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-1">
      <br>
      <p class="formtitle">Monthly Bill data</p>
      <div class="box">
        {% if table %}
          
          {{table}}
        {% endif %}
      </div>
    </div>
    <!-- <div class="col-sm-6 col-sm-offset-1">
      <br>
      <p class="formtitle">Turnover</p>
      <div class="box">
        <p style="text-align: center;">Graphical representation</p>
      </div>
    </div> -->
  </div>
</div>
{% endblock %}
