{% extends "landingbase.html" %}
{% block content %}


	<!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="banner_content">
							<h1>
								Property Management Software <br>
							</h1>
							<p>
                                Take your property & tenancy management to the next level by automating bookkeeping and rental income reporting with ease, efficiency, and comfort wherever you are, anytime.
							</p>
							<div class="d-flex align-items-center mobile-malaysia">
								<a class="primary_btn dispnone" href="{{ url_for('api.signupcategory') }}"><span>Get Started</span></a>
								<iframe width="380" height="175" src="https://www.youtube.com/embed/Dw-fjX8yWC4">
								</iframe>
								<a id="play-home-video" class="video-play-button mobile-malaysian dispnone" href="https://www.youtube.com/watch?v=Dw-fjX8yWC4"><span></span></a>
								<div class="watch_video text-uppercase mobile-malaysian dispnone">
									watch the video
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="custombgcol">
							<img class="img-fluid" src="../static/landingtwo/img/kiotaindex2.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Start Features Area =================-->
	<section class="section_gap features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2 class="top_titl">Why choose us?</h2>
						<!-- <h2>A Complete Software Based Website</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> -->
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-7">
                    <!-- <div class="blur"></div> -->
					<div class="left_features">
						<img class="img-fluid blur" src="../static/landingtwo/img/destabphone.png" alt="">
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1">
					<!-- single features -->
					<div class="single_feature">
						<div class="feature_head">
							<!-- <img class="img-fluid" src="../static/landingtwo/img/settings.png"> -->
							<i class="fas fa-cogs fa-2x cust-text-success"></i>
							<span class="featureh4 h5">Convenient operations</span>
						</div>
						<div class="feature_content">
							<!-- <p>Besides saving time, the system guarantees cost-saving, eliminates manual paperwork and constant bank reconciliations.</p> -->
							<p>We guarantee efficiency and affordability with highly crafted cutting edge solutions to suit your business to save on cost and time.</p>
						</div>
					</div>
					<!-- single features -->
					<div class="single_feature">
						<div class="feature_head">
							<!-- <span class="lnr lnr-screen"></span> -->
							<!-- <img class="img-fluid" src="../static/landingtwo/img/conversation.png"> -->
							<i class="fas fa-comments fa-2x cust-text-success"></i>
							<span class="featureh4 h5">Enhanced communication</span>
						</div>
						<div class="feature_content">
							<p>We facilitate personalized and general communication between the landlord and the tenant.</p>
						</div>
					</div>
					<!-- single features -->
					<div class="single_feature">
						<div class="feature_head">
							<!-- <span class="lnr lnr-screen"></span> -->
							<!-- <img class="img-fluid" src="../static/landingtwo/img/computer.png"> -->
							<i class="fas fa-money-check-alt fa-2x cust-text-success"></i>
							<span class="featureh4 h5">Precision in finances</span>
						</div>
						<div class="feature_content">
							<p>We provide automatic invoicing and receipt of payments accompanied by email and SMS notifications.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Features Area =================-->

	<!--================Recent Update Area =================-->

	<!--================ Recent Update Area =================-->

	
	<!--================Srart Pricing Area =================-->

	<!--================End Pricing Area =================-->

	<!--================ Start Testimonial Area =================-->
	<div class="section_ga testimonial_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<p class="top_title">User Feedback</p>
						<h2>What Our Clients Say About Us</h2>
						<p>We strive to give our clients the best solution, and we are glad to note positive feedback from them.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="active_testimonial owl-carousel testimonial-carousel" data-slider-id="1">
						<!-- single testimonial -->
						<div class="single_testimonial">
							<div class="testimonial_head">
								<!-- <img src="img/quote.png" alt=""> -->
								<h4>Philip Mutua</h4>
								<div class="review">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-alt"></i>
								</div>
							</div>
							<div class="testimonial_content">
								<p>I happen to travel a lot outside the country but I still have the responsibility to keep track of rental financial income even when I am away. KiotaPay gives me real-time access to my property info even when I am overseas.</p>
							</div>
						</div>

						<div class="single_testimonial">
							<div class="testimonial_head">
								<!-- <img src="img/quote.png" alt=""> -->
								<h4>Alice Nafula</h4>
								<div class="review">
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star"></i>
									<i class="fas fa-star-half-alt"></i>
								</div>
							</div>
							<div class="testimonial_content">
								<p>The solution has been a key resource in our company. It has provided us convenient and timely communication with our tenants.</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Testimonial Area =================-->

	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap">
		<div class="container">
            <div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<p class="top_title">Our proud partners</p>
					</div>
				</div>
			</div>
			<div class="row mobile-malaysian">
				<div class="col-lg-12">
					<div id="brand-carousel-lg" class="owl-carousel brand-carousel">
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/safcom.jpg" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/at.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/aws.png" alt="">
							</div>
						</div>
                        <!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/paypal.png" alt="">
							</div>
                        </div>
                        <!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/prom.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/salesforce.png" alt="">
							</div>
                        </div>
                        <!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/masterc.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/mpesa.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/visa.png" alt="">
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="row desktop-malaysian">
				<div class="col-lg-12">
					<div id="brand-carousel-sm" class="owl-carousel brand-carousel">
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/safcom.jpg" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/at.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/aws.png" alt="">
							</div>
						</div>
                        <!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/paypal.png" alt="">
							</div>
                        </div>
                        <!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/prom.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/salesforce.png" alt="">
							</div>
                        </div>
                        <!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/masterc.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/mpesa.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<img src="../static/landingtwo/img/visa.png" alt="">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brand Area =================-->

	<!--================Impress Area =================-->
	<section class="impress_area">
		<div class="container">
			<div class="impress_inner">
				<h2>Got Impressed with our features?</h2>
				<p>Click below to explore world of simplicity</p>
				<a class="primary_btn" href="{{ url_for('api.signupcategory') }}"><span>Sign Up Now</span></a>
			</div>
		</div>
	</section>
	<!--================End Impress Area =================-->
	<script src="{{ url_for('static', filename='landingtwo/js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='landingtwo/vendors/owl-carousel/owl.carousel.min.js') }}"></script>

	<script>
		var owl = $('#brand-carousel-lg');
		owl.owlCarousel({
			items:6,
			loop:true,
			margin:10,
			autoplay:true,
			autoplayTimeout:1000
			// autoplayHoverPause:true
		});
	</script>

	<script>
		var owl = $('#brand-carousel-sm');
		owl.owlCarousel({
			items:2,
			loop:true,
			margin:10,
			autoplay:true,
			autoplayTimeout:1000
			// autoplayHoverPause:true
		});
	</script>

	<script>
		var owl2 = $('.testimonial-carousel');
		owl2.owlCarousel({
			items:1,
			loop:true,
			margin:10,
			autoplay:true,
			autoplayTimeout:3000
			// autoplayHoverPause:true
		});
	</script>
	{% endblock %}