<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180359985-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180359985-1');
    </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KiotaPay | Login</title>

  <!-- Custom fonts for this template-->
  <!-- <link href="../static/img/kiota.ico" rel="shortcut icon" type="image/x-icon" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favico/favicon-16x16.png">
    <link rel="manifest" href="../static/img/favico/site.webmanifest">
  
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ui.css') }}"> -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='myfonts.css') }}">

  <!-- Custom styles for this template-->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='eapartment-min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='kiotapay.css') }}">

</head>

<body class="">
    <div id="preloder-alt" class="center-btn">
		<h1 class="loading-alt"></h1>
		<div class="loader-alt"></div>
    </div>

    <div class="containe">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <!-- <div class="card o-hidden border-0 shadow-lg my-5"> -->
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <a href="{{ url_for('api.landingpage') }}" class="col-lg-6 d-none d-lg-block bg-login-image">
                                <!-- <div class="p-5">
                                    <span> eApartment logo</span> 
                                </div> -->
                            </a>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div class="desktop-malaysian mb-4">
                                            <a href="{{ url_for('api.landingpage') }}"><img src="../static/img/logos/kiotapay/l-logo.png" alt=""></a>
                                        </div>
                                        <i class="fas fa-fw fa-lock"></i>
                                        <h1 class="h6 text-gray-900 mb-0"><span class="text-primary">Welcome Back!</span></h1>
                                    </div>
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% for category, message in messages %}
                                        <div id="alert-msgs"class="noti-fail small show" role="alert">
                                            <span class=""><i class="fas fa-fw fa-info-circle"></i>{{ message }}</span>
                                        </div>
                                    {% endfor %}
                                    {% endwith %}
                                    <span class="hide">hide</span>
                                    <form class="user" method="POST" action="/signin" autocomplete="off">
                                        <div class="form-group">
                                            <input id="code" name="identifier" class="form-control form-control-user" placeholder="username or id...">
                                        </div>
                                        <div class="small" id="username"></div>

                                        <div class="form-group">
                                            <input id="password-field" type="password" name="password" class="form-control form-control-user" placeholder="password">
                                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        </div>

                                        <!-- <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                        </div> -->

                                        <button id="signin" class="btn btn-primary btn-user btn-block borderless2 bg-login-btn">
                                            <i class="fas fa-fw fa-fingerprint"></i>
                                            Login
                                        </button>
                                        

                                        <hr>

                                    </form>

                                    <!-- <div class="text-center small">
                                        <a href="{{ url_for('api.tenantusersignupstageone') }}" class="small text-primary">Tenant sign up?</a>
                                    </div> -->

                                    <div class="text-center">
                                        <a style="color: coral;" href="{{ url_for('api.forgotpassword') }}">Forgot Password?</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='eapartment-min.js') }}"></script>

  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='customjs.js') }}"></script>
    <script>
        setTimeout(function(){
        $("#alert-msgs").fadeOut(4000,"swing");
        }, 10);
    </script>

<script>
    $("#code").keyup(function(){
    
        $.ajax({
          url: "{{ url_for('api.userlogin') }}",
          type: "POST",
          data: {
                  identifier: $("#code").val(),
                  runcode : "somestring"
              },
          success: function(response) {
            $("#username").html(response);
          },
          error: function(xhr) {
            //alert(xhr);
          }
        });
    });
    </script>

<script>

    $("#signin").on('click',function(){
    //   $('#signin').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Signin in...');
    $('#signin').html('<i class="fa fa-spinner fa-spin mr-2"></i>Signin in...');
    })
  
</script>
<script>
    $(".toggle-password").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
        input.attr("type", "text");
        } else {
        input.attr("type", "password");
        }
    });
</script>
</body>

</html>
