{% extends 'base2.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4 class="h6 mb-0 text-gray-500"><i class="fas fa-building"></i> <span id="textslide">{{propertyname}}</span></h4>
    <div class="small">
        <span id="txt"></span>
        <div>{{weekday}}, {{current_day}} {{month_string}} {{current_year}}</div>
    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{month_string}} Bill (total)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">Kshs {{monthly_bills}}</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
        </div>
        </div> -->

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{month_string}} Rent colletion</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Kshs {{monthly_rent_collection}}</div>
            </div>
            <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
        </div>
        </div>
    </div>
    </div> -->

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Rent collection (Annual)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">Kshs {{yearly_rent_collection}}</div>
            </div>
            <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
        </div>
        </div>
    </div>
    </div> -->

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1"> Current House occupancy</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{occupancy_rate}}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{occupancy_rate}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Pending Requests Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
            </div>
            <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
        </div>
        </div>
    </div>
    </div> -->
</div>

<!-- Content Row -->

<div class="row">

    <!-- Occupancy -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4 bg-gradient-light">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-home"></i> Houses Overview</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Actions:</div>
                <a class="dropdown-item" href="#">Add house</a>
                <a class="dropdown-item" href="#">State charges</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Allocate tenants</a>
                </div>
            </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <!-- <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div> -->
                <div class="mt-4">
                    <span class="mr-5">
                    <i class="fas fa-circle text-primary"></i> Total Houses&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="mr-1">
                        <i class="fas fa-info-circle text-secondary"></i> <span class="text-primary">{{numhouse}}</span>
                    </span>
                </div>
                <div class="mt-4">
                    <span class="mr-4">
                    <i class="fas fa-circle text-success"></i> Occupied Houses&nbsp;&nbsp;
                    </span>
                    <span class="mr-1">
                        <i class="fas fa-info-circle text-dark"></i> <span class="text-success">{{numalloc}}</span>
                    </span>
                </div>
                <div class="mt-4">
                    <span class="mr-5">
                    <i class="fas fa-circle text-danger"></i> Vacant Houses
                    </span>
                    <span class="mr-1">
                    <i class="fas fa-info-circle text-secondary"></i> <span class="text-danger">{{numvac}}</span>
                    </span>
                </div>
                <div class="mt-4">
                    <span class="mr-4">
                    <i class="fas fa-circle text-warning"></i> Bookings&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="mr-1">
                    <i class="fas fa-info-circle text-dark"></i> <span class="text-primary">{{numpndtnt}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Special Notes</h6>
            </div>
            <div class="card-body">
                <p>Empty.</p>
            </div>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->

<script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML =
      h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
</script>

{% endblock %}