{% extends "landingbase.html" %}
{% block content %}

    <div class="site-section" id="pricing-section">
        <section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
            <div class="container">
                <div class="col-lg-10 offset-lg-1">
                    <div class="col-12">
                        <!-- Heading Text  -->
                        <div class="section-heading text-center">
                            <h2>Pricing</h2>
                            <div class="line-shape"></div>
                        </div>
                    </div>
                    <div class="row">
                      <p>Guaranteeing convenient operations dictates that we create value for our client’s investment and therefore we strive to make our services as affordable as possible.<br>
                        Certain parameters inform the amount of fees charged to the landlords and property managers among them being;
                        </p>
                    </div>
                    <div class="divjust mb-3">
                      <div class="">
                        <ul class="unordered-list">
                          <li><span class="icon-long-arrow-right mr-2"></span>Number of Buildings, blocks or apartments being administered </li>
                          <li><span class="icon-long-arrow-right mr-2"></span>Total rental collections</li>
                          <li><span class="icon-long-arrow-right mr-2"></span>Number of houses or tenants per apartments</li>
                        </ul>
                      </div>
    
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}