{% extends 'reportbase.html' %}

{% block content %}
<span id="collapseid" class="dispnone">{{prop}}</span>
<span id="filename" class="dispnone">{{prop}} {{timeline}} detailed statement.pdf</span>
<span id="orientation" class="dispnone">{{paging}}</span>

<div class="row">
    <div class="col-lg-6 offset-lg-3 no-padding">
        <div class="formwrapper">
            <div class="card shadow">
              <!-- Card Header - Accordion -->
              <div class="divjust-end topbar-bg">
                
                <a href="#collapseCardExample" class="d-block card-expand-form center-btn no-decor" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <div class="font-weight-bold text-white small card-header-form">
                    <span class="mr-4">Generate report</span>
                    <span><i class="fas fa-angle-down"></i></span>
                  </div>
                </a>
                <a class="text-white close-report" href="{{ url_for('api.reports') }}"><button type="button" class="bg-gradient-danger close-req-btn text-white small">Close</button></a>
              </div>
              <!-- Card Content - Collapse -->
              <div class="" id="collapseCardExample">
                <div class="card-body">
                    <form method="POST" action="/internal/detailed">
                        <div class="form-group">
                            <select name="selected_apartment" class="form-control" id ="selected_apartment" required>
                            <option disabled selected value> -- Select apartment -- </option>
                            {% for o in apartment_list %}
                            <option value="{{ o }}">{{ o }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                          <select name="selected_year" class="form-control" id ="url-box" >
                          <option disabled selected value> -- Year (Default Current year) -- </option>
                          {% for o in year_list %}
                          <option value="{{ o }}">{{ o }}</option>
                          {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <select name="selected_month" class="form-control" id ="url-box" >
                          <option disabled selected value> -- Month (Default Current month) -- </option>
                          {% for o in month_list %}
                          <option value="{{ o }}">{{ o }}</option>
                          {% endfor %}
                          </select>
                        </div>
                        <button class="btn btn-block btn-primary">View</button>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
 
  <!-- <div id="detailedreport" class="dispnone col-lg-12 no-padding"></div> -->
  <div class="col-lg-12 no-padding">
    <div class="card shadow mb-0">
      <!-- Card Header - Accordion -->
      <div  class="d-block card-header card-header-report card-bg">
        <div class="d-sm-flex align-items-center divjust-end mb-0 m-0 font-weight-bold text-white">

          <div class="smallify">
            <div class=""><i class="fas fa-fw fa-calendar-check mr-2"></i>{{string_month}} detailed report : {{prop}}</div>
          </div>
          {%if bills%}
          <button type="button" class="d-sm-inline-block btn btn-sm btn-success shadow-sm mr-1" data-toggle="modal" data-target="#downloadModal"><i class="fas fa-download fa-sm text-white mr-1"></i>Download</button>
          {%endif%}

        </div>
      </div>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">
        <div class="card-body">
          <div class="center-btn">
            <h5 class="font-weight-bold underline">{{prop}} <span style="font-style: oblique;" class="text-primary mr-1">{{timeline}}</span>Internal detailed statement</h5>
          </div>
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="text-sl text-dark">House</th>
                      <th class="text-sl text-dark">Rent</th>
                      <th class="text-sl text-dark">Water</th>
                      <th class="text-sl text-dark dispnone">Elec</th>
                      <th class="text-sl text-dark">G&S</th>
                      <th class="text-sl text-dark">D&A</th>
                      <th class="text-sl text-dark dispnone">Fines</th>
                      <th class="text-sl text-dark">B.B.F</th>  
                      <th class="text-sl text-dark">Total</th>
                      <th class="text-sl text-dark">Paid</th>
                      <th class="text-sl text-dark">DatePaid</th>
                      <th class="text-sl text-dark">B.C.F</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills%}
                    <tr>
                      <td class="text-s {{bill['vacancy']}}">{{ bill['hsetenant'] }}</td>
                      <td class="text-s">{{ bill['rent'] }}</td>
                      <td class="text-s">{{ bill['water'] }}</td>
                      <td class="text-s dispnone">{{ bill['electricity'] }}</td>
                      <td class="text-s">{{ bill['garbsec'] }}</td>
                      <td class="text-s">{{ bill['deparg'] }}</td>
                      <td class="text-s dispnone">{{ bill['fine'] }}</td>
                      <td class="text-s">{{ bill['arrears'] }}</td>
                      <td class="text-dark text-s">{{ bill['total'] }}</td>
                      <td class="{{bill['payhighlight']}} text-s">{{ bill['paid'] }}</td>
                      <td class="text-s">{{ bill['payment_date'] }}</td>
                      <td class="{{bill['highlight']}} text-s">{{ bill['balance'] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="font-weight-bold text-info footer-cell">Total</td>
                      <td class="font-weight-bold text-info footer-cell">{{renttotal}}</td>
                      <td class="font-weight-bold text-info footer-cell">{{watertotal}}</td>
                      <td class="font-weight-bold text-info footer-cell dispnone">{{electricitytotal}}</td>
                      <td class="font-weight-bold text-info footer-cell">{{garbagesectotal}}</td>
                      <td class="font-weight-bold text-info footer-cell">{{depargtotal}}</td>
                      <td class="font-weight-bold text-info footer-cell dispnone">{{finetotal}}</td>
                      <td class="font-weight-bold text-info footer-cell">{{arrearstotal}}</td>
                      <td class="font-weight-bold text-info footer-cell">{{billtotals}}</td>
                      <td colspan="2" class="font-weight-bold text-info footer-cell">{{paidbills}}</td>
                      <td  class="font-weight-bold text-info footer-cell">{{balances}}</td>
                    </tr>
                  </tfoot>
                </table>

                <div class="divjust-end ln-16 mobile-malaysian">
                  {%if not expenselist%}
                  <div class="hide">space</div>
                  {%endif%}
                  {%if expenselist%}
                  <div class="fs-65pc">
                    <div class="">Expenses</div>
                    <table class="table black table-bordered" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th class="p-0">No.</th>
                              <th class="p-0">Expense</th>
                              <th class="p-0">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in expenselist%}
                            <tr>
                              <td class="p-0">{{ item['id'] }}</td>
                              <td class="p-0">{{ item['name'] }}</td>
                              <td class="p-0">{{ item['amount'] }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                  </div>
                  {%endif%}
                  <div class="divjust-end mr-5 nobreak">
                    <div class="mr-4">
                      <div class="mb-1 text-gray-900 nobreak">Total Collection</div>
                      <!-- <div class="small mb-2">Debit(Water,Garbage,Security & Deposit)</div> -->
                      <div class="text-gray-900 mb-1">Rent payable</div>
                      <div class="mb-1">Expenses</div>
                      <div>Commission {{str_commission}}</div>
                      <!-- <div class="mb-">Deposit</div>
                      <div class="mb-2">Water</div> -->
                      <div class="text-gray-900 mb-3 fs-120pc">Net collection</div>
                    </div>
                    <div class="">
                      <div class="mb-1 text-gray-900 nobreak">Kshs {{paidbills}}</div>
                      <!-- <div class="hide mb-2">space</div> -->
                      <div class="mb-1 text-gray-900">Kshs {{renttotal}}</div>
                      <div class="mb-1">Kshs {{expenses}} (<span class="text-danger">debited</span>)</div>
                      <div>Kshs {{commission}} (<span class="text-danger">debited</span>)</div>
                      <!-- <div class="">Kshs {{deposittotal}} (<span class="text-primary">credited</span>)</div>
                      <div class="mb-2">Kshs {{watertotal}} (<span class="text-primary">credited</span>)</div> -->
                      <div class="text-gray-900 mb-3 fs-120pc">Kshs {{formatted_netpay}}</div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="invoice" class="col-lg-12 no-padding dispnone">
    <div class="card shadow">
      <!-- Card Header - Accordion -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body report-body">
          {% if bills %}
          
          <div class="underline center-btn">
            <img class="" src="{{letterhead}}" alt="--no image--"/>
          </div>

          <div class="center-btn">
            <h6 class="report-title font-weight-bold text-titl">{{prop}} <span style="font-style: oblique;" class="text-primary mr-1">{{timeline}}</span>internal detailed report</h6>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered" id="data-table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <!-- <th class="hide cell-top-none"></th> -->
                      <th class="header-cell squeeze">House</th>
                      <th class="header-cell squeeze">Rent</th>
                      <th class="header-cell squeeze">Water</th>
                      <th class="header-cell squeeze">G&S</th>
                      <th class="header-cell squeeze">D&A</th>
                      <th class="header-cell squeeze dispnone">Fines</th>
                      <th class="header-cell squeeze">B.B.F</th>  
                      <th class="header-cell squeeze">Total</th>
                      <th class="header-cell squeeze">Paid</th>
                      <th class="header-cell squeeze">DatePaid</th>
                      <th class="header-cell squeeze">B.C.F</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills%}
                    <tr>
                      <td class="squeeze text-cell {{bill['vacancy']}}">{{ bill['hsetenant'] }}</td>
                      <td class="squeeze text-cell">{{ bill['rent'] }}</td>
                      <td class="squeeze text-cell">{{ bill['water'] }}</td>
                      <td class="squeeze text-cell">{{ bill['garbsec'] }}</td>
                      <td class="squeeze text-cell">{{ bill['deparg'] }}</td>
                      <td class="squeeze text-cell dispnone">{{ bill['fine'] }}</td>
                      <td class="squeeze text-cell">{{ bill['arrears'] }}</td>
                      <td class="squeeze text-cell">{{ bill['total'] }}</td>
                      <td class="{{bill['payhighlight']}} squeeze text-cell">{{ bill['paid'] }}</td>
                      <td class="squeeze text-cell">{{ bill['payment_date'] }}</td>
                      <td class="{{bill['highlight']}} squeeze text-cell">{{ bill['balance'] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="font-weight-bold squeeze text-info footer-cell">Total</td>
                      <td class="font-weight-bold squeeze text-info footer-cell">{{renttotal}}</td>
                      <td class="font-weight-bold squeeze text-info footer-cell">{{watertotal}}</td>
                      <td class="font-weight-bold squeeze text-info footer-cell">{{garbagesectotal}}</td>
                      <td class="font-weight-bold squeeze text-info footer-cell">{{depargtotal}}</td>
                      <td class="font-weight-bold squeeze text-info footer-cell dispnone">{{finetotal}}</td>
                      <td class="font-weight-bold squeeze text-info footer-cell">{{arrearstotal}}</td>
                      <td class="font-weight-bold squeeze text-info footer-cell">{{billtotals}}</td>
                      <td colspan="2" class="font-weight-bold squeeze text-info footer-cell">{{paidbills}}</td>
                      <td class="font-weight-bold squeeze text-info footer-cell">{{balances}}</td>
                    </tr>
                  </tfoot>
                </table>

                <div class="divjust-end ln-16 mobile-malaysian">
                  {%if not expenselist%}
                  <div class="hide">space</div>
                  {%endif%}
                  {%if expenselist%}
                  <div class="fs-65pc">
                    <div class="">Expenses</div>
                    <table class="table black table-bordered" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th class="p-0">No.</th>
                              <th class="p-0">Expense</th>
                              <th class="p-0">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in expenselist%}
                            <tr>
                              <td class="p-0">{{ item['id'] }}</td>
                              <td class="p-0">{{ item['name'] }}</td>
                              <td class="p-0">{{ item['amount'] }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                  </div>
                  {%endif%}
                  <div class="divjust-end mr-5 nobreak">
                    <div class="mr-4">
                      <div class="mb-1 text-gray-900 nobreak">Total Collection</div>
                      <!-- <div class="small mb-2">Debit(Water,Garbage,Security & Deposit)</div> -->
                      <div class="text-gray-900 mb-1">Rent payable</div>
                      <div class="mb-1">Expenses</div>
                      <div>Commission {{str_commission}}</div>
                      <!-- <div class="mb-">Deposit</div>
                      <div class="mb-2">Water</div> -->
                      <div class="text-gray-900 mb-3 fs-120pc">Net collection</div>
                    </div>
                    <div class="">
                      <div class="mb-1 text-gray-900 nobreak">Kshs {{paidbills}}</div>
                      <!-- <div class="hide mb-2">space</div> -->
                      <div class="mb-1 text-gray-900">Kshs {{renttotal}}</div>
                      <div class="mb-1">Kshs {{expenses}} (<span class="text-danger">debited</span>)</div>
                      <div>Kshs {{commission}} (<span class="text-danger">debited</span>)</div>
                      <!-- <div class="">Kshs {{deposittotal}} (<span class="text-primary">credited</span>)</div>
                      <div class="mb-2">Kshs {{watertotal}} (<span class="text-primary">credited</span>)</div> -->
                      <div class="text-gray-900 mb-3 fs-120pc">Kshs {{formatted_netpay}}</div>
                    </div>
                  </div>
                </div>

          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}













                
    
    




 
