
{% extends 'reports.html' %}

{% block child %}
<span id="collapseid" class="dispnone">{{prop}}</span>
<span id="filename" class="dispnone">{{prop}} {{timeline}} Income statement.pdf</span>

<div class="row">
  <div class="col-lg-12">
    <div class="formwrapper">
      <div class="card shadow">
        <!-- Card Header - Accordion -->

        <div class="divjust-end bg-white underline">
                
          <a href="#collapseCardExampl" class="d-block center-btn no-decor" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <div class="font-weight-bold text-black pt-1">
              <span class="ml-4 font-weight-bold text-125 text-uppercase">LANDLORD SUMMARY STATEMENT FOR RENT</span>
              <span><i class="fas fa-chevron-down ml-3"></i></span>
            </div>
          </a>

          <div>
            <a class="text-white close-report" href="{{ url_for('api.reports') }}">
              <button id="closemodule" class="btn borderless"><div class="x-large xbutton"><i class="fas fa-times"></i></div></button>
            </a>
          </div>
          

        </div>
        <!-- Card Content - Collapse -->
        <div class="" id="collapseCardExample">
          <div class="card-body">

            <div class="row fixed-ba p-0">

              <div class="col-12 no-padding">
                <div class="card shadow h-0 py-0">
                  <div class="card-body bg-white report-card-padding">
                        <div class="center-btn">
    
                          <div class="selectbtn" type="button" data-toggle="modal" data-target="#fetchActivesModal">
                            <i class="feather-16 text-black" data-feather="menu"></i>
                            <button class="btn borderless p-0 m-0 font-weight-bold text-black">
                              Select property
                            </button>
                          </div>
            
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="fetchActivesModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-body pt-0">
                    <div class="media mb-2">
                      <div class="media-body">
                        <div class="position-relative">
                          <div class="card-body modal-forms">
                            <div class="center-btn mb-3 mt-3">
                            </div>
          
                            <form class="row" method="GET" action="/landlord/summary">

                              <div class="col-lg-6 form-group mb-2">
                                <label class="text-danger font-weight-bold">Select property:</label>
      
                                  <select name="prop" class="select-css" id ="prop" required>
                                    <option disabled selected value> -- none selected -- </option>
                                    {% for o in props %}
                                    <option value="{{ o }}">{{ o }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
      
                              <div class="col-lg-6 form-group">
                                <label class="text-danger font-weight-bold">Select month:</label>
                                <div id="datepicker7" class="date" data-date-format="dd-mm-yyyy">
                                  <input id="month" name="month" class="form-control ph" type="text" placeholder="-none set-" readonly />
                                  <span class="input-group-addon field-icon"><i class="fas fa-fw fa-calendar-day text-info"></i></span>
                                </div>
                              </div>
      
                                <div class="col-12 center-btn">
                                  <button type="submit" class="btn btn-light mt-2 text-black font-weight-bold">View</button>
                                </div>
      
                          </form>
                
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-12">
      <div class="card shadow">
        <!-- Card Header - Accordion -->

        <div class="collapse show" id="collapseCardExample2">
          {%if prop%}
          <div class="card-body pt-0">
            <div class="text-right mt-1">
              <button class="btn btn-success btn-sm shadow" data-toggle="modal" data-target="#downloadModal">
                <i class="text-white feather-16 font-weight-bold" data-feather="download"></i><span class="ml-1 mobile-malaysian text-white">download</span>
              </button>
            </div>

            <div class="center-btn">
              <!-- <span class="text-muted text-125"> [ LETTERHEAD ]</span> -->
              <img class="" src="{{letterhead}}" alt="[letterhead]"/>
            </div>

            <div class="center-btn mt-2 overline mb-3">
              <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
              <span class="font-weight-bold text-black"><span class="underline mt-3">{{prop.upper()}} SUMMARY STATEMENT FOR {{timeline}}</span></span>
            </div>

            <div class="invoice-box">
              <!-- <div class="d-sm-flex divjust text-gray-600">
                <div class="mobile-malaysian">
                  <img class="" src="{{fulllogopath}}" alt="--no image--"/>
                </div>
                <div class="desktop-malaysian">
                  <img class="" src="{{logopath}}" alt="--no image--"/>
                </div>
                <div class="mobile-malaysian">
                  <div class="small">Street Address : {{company.street_address}}</div>
                  <div class="small">PO BOX : {{company.mail_box}}</div>
                  <div class="small">Tel : {{company.phone}}</div>
                  <div class="small">Email: {{company.email}}</div>
                </div>
                <div class="desktop-malaysian text-sll mb-3">
                  <div class="small">Street Address : {{company.street_address}}</div>
                  <div class="small">PO BOX : {{company.mail_box}}</div>
                  <div class="small">Tel : {{company.phone}}</div>
                  <div class="small">Email: {{company.email}}</div>
                </div>
              </div> -->
              <table cellpadding="0" cellspacing="0">
                  
                  
                  <tr class="headin font-weight-bold text-black text-uppercase">
                      <td>
                          Revenue
                      </td>
                      
                  </tr>
                
                  <tr class="heading small">
                      <td>
                          Service
                      </td>
                      
                      <td>
                          Amount
                      </td>
                  </tr>
                  
                  <tr class="item">
                      <td>
                          Rent collected
                      </td>
                      
                      <td>
                          Kshs. {{renttotal}}0
                      </td>
                  </tr>
                  {%if watertotal%}
                  <tr class="item">
                      <td>
                          Water Amount due
                      </td>
                      
                      <td>
                        Kshs. {{watertotal}}0
                      </td>
                  </tr>
                  {%endif%}

                  {%if electricitytotal%}
                  <tr class="item">
                    <td>
                        Electricity Amount due
                    </td>
                    
                    <td>
                      Kshs. {{electricitytotal}}0
                    </td>
                  </tr>
                  {%endif%}

                  {%if depositcredit%}
                  <tr class="item">
                    <td>
                        Deposit due
                    </td>
                    
                    <td>
                      Kshs. {{depositcredit}}0
                    </td>
                </tr>
                {%endif%}
      
                  <tr class="total">
                      <td style="font-weight: 900;">
                        Total:
                      </td>
                      
                      <td style="font-weight: 900;">
                        Kshs. {{credittotal}}0
                      </td>
                  </tr>
                  <tr class="headin hide">
                    <td>
                        Spacing
                    </td>
                    
                  </tr>

                  <tr class="headin font-weight-bold text-black text-uppercase">
                    <td>
                        Expenses
                    </td>
                    
                  </tr>
                
                  <tr class="heading small">
                      <td>
                          Service
                      </td>
                      
                      <td>
                          Amount
                      </td>
                  </tr>
                
                  {%if managementfee%}
                  <tr class="item">
                      <td>
                          Management fee / Commission {{commission_percentage}}
                      </td>
                      
                      <td>
                         Kshs. {{managementfee}}0
                      </td>
                  </tr>
                  {%endif%}


                  {%if depositrefund%}
                  <tr class="item">
                      <td>
                          Deposit refund {{depositrefund_str_store}}
                      </td>
                      
                      <td>
                        Kshs. {{depositrefund}}0
                      </td>
                  </tr>
                  {%endif%}

                
                  {%if tokenbill%}
                  <tr class="item">
                      <td>
                          Electricity bill(tokens)
                      </td>
                      
                      <td>
                        Kshs. {{tokenbill}}0
                      </td>
                  </tr>
                  {%endif%}

                  {%if waterbill%}
                  <tr class="item">
                    <td>
                        Water bill (Nrb Water)
                    </td>
                    
                    <td>
                      Kshs. {{waterbill}}0
                    </td>
                  </tr>
                  {%endif%}

                  {%if salaries%}
                  <tr class="item">
                    <td>
                        Caretaker / Security Salaries
                    </td>
                    
                    <td>
                      Kshs. {{salaries}}0
                    </td>
                  </tr>
                  {%endif%}
    
                  {%if electricityservice%}
                  <tr class="item">
                      <td>
                          Electrician service & maintenance {{electricity_str_store}}
                      </td>
                      
                      <td>
                        Kshs. {{electricityservice}}0
                      </td>
                  </tr>
                  {%endif%}

                  {%if plumbingservice%}
                  <tr class="item">
                    <td>
                        Plumbing service & maintenance {{plumbing_str_store}}
                    </td>
                    
                    <td>
                      Kshs. {{plumbingservice}}0
                    </td>
                  </tr>
                  {%endif%}

                  {%if paint%}
                  <tr class="item">
                    <td>
                        Paint & labour {{paint_str_store}}
                    </td>
                    
                    <td>
                      Kshs. {{paint}}0
                    </td>
                  </tr>
                  {%endif%}
    
                  {%for bill in bills%}
                  <tr class="item">
                    <td>
                        {{bill['name']}} {{bill['targethouse']}}
                    </td>
                    
                    <td>
                      Kshs. {{bill['amount']}}0
                    </td>
                  </tr>
                  {% endfor %}
                
                  <tr class="item total last">
                      <td style="font-weight: 900;">
                        Total: 
                      </td>
                      
                      <td style="font-weight: 900;">
                        Kshs. {{debittotal}}
                      </td>
                  </tr>

                  <tr class="headin hide">
                    <td>
                        Spacing
                    </td>
                    
                  </tr>

                  <tr class="heading text-uppercase text-black font-weight-bold underline">
                    <td>
                      Net total:
                    </td>
                    
                    <td class="text-black font-weight-bold">
                      Kshs. {{netamount}}
                    </td>
                  </tr>
                </table>
                <br>

                <div class="grid-container text-signage">
                  <div class="grid-item">
                    <div class="divjust-end">
                      <div>Cheque No.</div>
                      <div>...............................................</div>
                    </div>
                  </div>
                  <div class="grid-item hide">hide</div>
  
                </div>
                <div class="grid-container text-signage">
                  <div class="grid-item">
                    <div class="divjust-end">
                      <div>Date</div>
                      <div>...............................................</div>
                    </div>
                  </div>
                  <div class="grid-item hide">hide</div>
 
                </div>
                <div class="grid-container text-signage">
                  <div class="grid-item">
                    <div class="divjust-end">
                      <div>Property Manager</div>
                      <div>...............................................</div>
                    </div>
                  </div>
                  <div class="grid-item hide">hide</div>
  
                </div>
                <div class="grid-container text-signage">
                  <div class="grid-item">
                    <div class="divjust-end">
                      <div>Prepared by</div>
                      <div>...............................................</div>
                    </div>
                  </div>
                  <div class="grid-item hide">hide</div>

                </div>


            </div>
            


          </div>
          {%endif%}
        </div>
      </div>
  </div>

  <div id="invoice" class="col-lg-12 no-padding dispnone">
    <div class="shadow">
      <!-- Card Header - Accordion -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body no-padding">


          {%if prop%}
          <div class="invoice-box">

            <div class="underline center-btn">
              <img class="" src="{{letterhead}}" alt="--no image--"/>
            </div>
            
            <table cellpadding="0" cellspacing="0">
                
                <tr class="information">
                 
                    <td colspan="2">
                      <div class="center-btn">
                        <h6 class="font-weight-bold">{{prop}} <span style="font-style: oblique;" class="text-primary">{{timeline}} </span>Statement</h6>
                      </div>
                    </td>
                </tr>
                
                <tr class="headin font-weight-bold text-primary">
                    <td>
                        Revenue
                    </td>
                    
                </tr>
              
                <tr class="heading small">
                    <td>
                        Service
                    </td>
                    
                    <td>
                        Amount
                    </td>
                </tr>
                
                <tr class="item">
                    <td>
                        Rent Amount due
                    </td>
                    
                    <td>
                        Kshs. {{renttotal}}0
                    </td>
                </tr>

                {%if watertotal%}
                <tr class="item">
                    <td>
                        Water Amount due
                    </td>
                    
                    <td>
                      Kshs. {{watertotal}}0
                    </td>
                </tr>
                {%endif%}

                {%if electricitytotal%}
                <tr class="item">
                  <td>
                      Electricity Amount due
                  </td>
                  
                  <td>
                    Kshs. {{electricitytotal}}0
                  </td>
                </tr>
                {%endif%}


                {%if depositcredit%}
                <tr class="item">
                  <td>
                      Deposit Due
                  </td>
                  
                  <td>
                    Kshs. {{depositcredit}}0
                  </td>
              </tr>
              {%endif%}
    
                <tr class="total">
                    <td style="font-weight: 900;">
                      Total:
                    </td>
                    
                    <td style="font-weight: 900;">
                      Kshs. {{credittotal}}0
                    </td>
                </tr>

                <tr class="headin font-weight-bold text-danger">
                  <td>
                      Expenses
                  </td>
                  
                </tr>
              
                <tr class="heading small">
                    <td>
                        Service
                    </td>
                    
                    <td>
                        Amount
                    </td>
                </tr>
                {%if managementfee%}
                <tr class="item">
                    <td>
                        Management fee / Commission {{commission_percentage}}
                    </td>
                    
                    <td>
                       Kshs. {{managementfee}}0
                    </td>
                </tr>
                {%endif%}


                {%if depositrefund%}
                <tr class="item">
                  <td>
                      Deposit refund {{depositrefund_str_store}}
                  </td>
                  
                  <td>
                    Kshs. {{depositrefund}}0
                  </td>
              </tr>
              {%endif%}



              {%if tokenbill%}
            
              <tr class="item">
                  <td>
                      Electricity bill(tokens)
                  </td>
                  
                  <td>
                    Kshs. {{tokenbill}}0
                  </td>
              </tr>
              {%endif%}

              {%if waterbill%}
              <tr class="item">
                <td>
                    Water bill (Nrb Water)
                </td>
                
                <td>
                  Kshs. {{waterbill}}0
                </td>
              </tr>
              {%endif%}

              {%if salaries%}

              <tr class="item">
                <td>
                    Caretaker / Security Salaries
                </td>
                
                <td>
                  Kshs. {{salaries}}0
                </td>
              </tr>
              {%endif%}

              {%if electricityservice%}
              <tr class="item">
                  <td>
                      Electrician service & maintenance {{electricity_str_store}}
                  </td>
                  
                  <td>
                    Kshs. {{electricityservice}}0
                  </td>
              </tr>
              {%endif%}

              {%if plumbingservice%}

              <tr class="item">
                <td>
                    Plumbing service & maintenance {{plumbing_str_store}}
                </td>
                
                <td>
                  Kshs. {{plumbingservice}}0
                </td>
              </tr>
              {%endif%}

              {%if paint%}
              <tr class="item">
                <td>
                    Paint & labour {{paint_str_store}}
                </td>
                
                <td>
                  Kshs. {{paint}}0
                </td>
              </tr>
              {%endif%}
  
                {%for bill in bills%}
                <tr class="item">
                  <td>
                      {{bill['name']}} {{bill['targethouse']}}
                  </td>
                  
                  <td>
                    Kshs. {{bill['amount']}}0
                  </td>
                </tr>
                {% endfor %}
              
                <tr class="item total last">
                    <td style="font-weight: 900;">
                      Total: 
                    </td>
                    
                    <td style="font-weight: 900;">
                      Kshs. {{debittotal}}
                    </td>
                </tr>

                <tr class="heading">
                  <td>
                    Net Amount due
                  </td>
                  
                  <td>
                    
                  </td>
                </tr>

                <tr class="total">
                  <td>
                    Net total:
                  </td>
                  
                  <td style="font-size: 18px;">
                    Kshs. {{netamount}}
                  </td>
                </tr>
              </table>
              <br>
              <div class="grid-container text-signage">
                <div class="grid-item">
                  <div class="divjust-end">
                    <div>Cheque No.</div>
                    <div>...............................................</div>
                  </div>
                </div>
                <div class="grid-item hide">hide</div>

              </div>
              <div class="grid-container text-signage">
                <div class="grid-item">
                  <div class="divjust-end">
                    <div>Date</div>
                    <div>...............................................</div>
                  </div>
                </div>
                <div class="grid-item hide">hide</div>

              </div>
              <div class="grid-container text-signage">
                <div class="grid-item">
                  <div class="divjust-end">
                    <div>Property Manager</div>
                    <div>...............................................</div>
                  </div>
                </div>
                <div class="grid-item hide">hide</div>

              </div>
              <div class="grid-container text-signage">
                <div class="grid-item">
                  <div class="divjust-end">
                    <div>Prepared by</div>
                    <div>...............................................</div>
                  </div>
                </div>
                <div class="grid-item hide">hide</div>

              </div>


          </div>
          {%endif%}


        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#month").datepicker({ 
    autoclose: true, 
    todayHighlight: true,
    format: "MM-yyyy",
    startView: "months", 
    minViewMode: "months"
  });
</script>


<script type="text/javascript">
  $(document).ready(function () {
    
    $("#reportbtns").addClass("dispnone")

    });
</script>

{% endblock %}
















                
    
    




 
