{% extends 'basereport.html' %}

{% block content %}
<span id="edit_bill_identifier" class="dispnone"></span>
<span id="collapseid" class="dispnone">{{prop}}</span>
<span id="filename" class="dispnone">{{prop}} tenants deposits report.pdf</span>
<span id="orientation" class="dispnone">{{paging}}</span>

<div class="row">
    <div class="col-lg-12 noprint">
        <div class="formwrapper">
            <div class="card bt-none">
              <!-- Card Header - Accordion -->
              <div class="divjust-end bg-light underline">
                
                <a href="#collapseCardExample" class="d-block center-btn no-decor" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <div class="font-weight-bold text-black pt-1">
                    <span class="ml-lg-4 font-weight-bold text-uppercase">Deposit statement</span>
                    <span><i class="fas fa-chevron-down ml-3"></i></span>
                  </div>
                </a>

                <div class="divjust-end">

                  <!-- <div class="mr-3 mb-1">
                    <button class="btn btn-success btn-sm curve" data-toggle="modal" data-target="#llBalanceModal">
                      <i class="text-white feather-16 font-weight-bold" data-feather="corner-down-left"></i><span class="ml-1 mobile-malaysian text-white">LL Bal</span>
                    </button>
                  </div>
      
                  <div class="mr-3 mb-1">
                    <button class="btn btn-success btn-sm curve" data-toggle="modal" data-target="#remitModal">
                      <i class="text-white feather-16 font-weight-bold" data-feather="navigation"></i><span class="ml-1 mobile-malaysian text-white">Remit</span>
                    </button>
                  </div> -->
      
                  <div class="mr-3 mb-1">
                    <button id="btnDownload" class="btn btn-success btn-sm curve">
                      <i class="text-white feather-16 font-weight-bold" data-feather="printer"></i><span class="ml-1 mobile-malaysian text-white">print</span>
                    </button>
                  </div>
                </div>

              </div>
              <!-- Card Content - Collapse -->
              <div class="" id="collapseCardExample">
                <div class="card-body p-0">
                    <form class="row bg-light" method="GET" action="/deposit/statement">

                      <div class="col-lg-3 form-group mb-2 ml-lg-5">
                        <label class="mb-0">Select type:</label>
                        <select name="reporttype" class="select-css" id="reporttype" required>
                          <option disabled selected value> type </option>
                          <option value="uncollected">All deposits</option>
                          <option value="collected">Un-refunded</option>
                          <option value="collected">Refunded</option>

                        </select>
                      </div>
                    
                      <div class="col-lg-3 form-group mb-2">
                        <label class="mb-0">Select property:</label>
                        <select name="prop" class="select-css" id="prop" required>
                          <option disabled selected value> select property </option>
                          {% for o in props %}
                          <option value="{{ o }}">{{ o }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    
                    
                      <div class="col-lg-2 form-group mb-2">
                        <button type="submit" class="form-control viewbtn font-weight-bold btn btn-primary btn-sm mt-4">View</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
 
  <!-- <div id="detailedreport" class="dispnone col-lg-12 "></div> -->
  <div class="col-lg-12 noprint">
    <div class="card shadow mb-0">
      <!-- Card Header - Accordion -->

      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">
        
        <div class="card-body pt-0">

          
          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Dated : <span class="text-black">{{statementdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">DEPOSITS STATEMENTS</span></span>
          </div>

          {%if prop%}
          <div class="mb-2 mt-1">
            <div class="ln-16">
              <span class="mr-1">PROPERTY CODE: {{prop.id}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PROPERTY NAME: {{prop.name.upper()}}</span>
            </div>
            <div class="ln-16">
              {% if prop.landlord%}
              <span class="mr-1">LANDLORD : {{prop.landlord.upper()}}</span>
              {%else%}
              <span class="mr-1">LANDLORD : {{prop.landlord}}</span>
              {% endif %}
            </div>
            <div class="ln-16">
              {% if prop.location_id%}
              <span class="mr-1">ESTATE : {{prop.location.name.upper()}}</span>
              {%else%}
              <span class="mr-1">ESTATE : {{prop.location}}</span>
              {% endif %}
            </div>
          </div>
          {%endif%}


          

          <!-- <div class="text-right mt-1">
            <button type="button" class="d-sm-inline-block btn btn-sm btn-success shadow-sm mr-1" ><i class="fas fa-download fa-sm text-white"></i><span class="mobile-malaysian">Download</span></button>
          </div> -->

                    
          <div class="table-responsive noprint">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead class="custom-header-alt small">
                    <tr>
                      <th class="">PNO</th>
                      <th class="">TENANT NAME</th>
                      <th class="">RENT</th>
                      <th class="">WATER</th>
                      <th class="">ELEC</th>
                      <th class="">OTHER</th>
                      <th class="">TOTAL</th>
                      <th class="">PAID</th>
                      <th class="">BALANCE</th>
                      <th class="">STATUS</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills%}
                    <tr>
                      <td class="data-cell text-center">{{ bill['house'] }}</td>
                      <td class="data-cell text-left">{{ bill['tenant']}}</td>
                      <td class="data-cell text-right">{{ bill['rentdep'] }}</td>
                      <td class="data-cell text-right">{{ bill['waterdep'] }}</td>
                      <td class="data-cell text-right">{{bill['elecdep']}}</td>
                      <td class="data-cell text-right">{{ bill['otherdep'] }}</td>
                      <td class="data-cell text-right">{{ bill['total'] }}</td>
                      <td class="data-cell text-right">{{ bill['paid'] }}</td>
                      <td class="data-cell text-right">{{ bill['balance'] }}</td>
                      <td class="data-cell text-right">{{ bill['status'] }}</td>

                    </tr>
                  {% endfor %}

                  </tbody>
                  <tfoot class="custom-footer-alt">
                    <tr>
                      <td colspan="2" class="font-weight-bold">TOTALS ...</td>
                      <td class="font-weight-bold text-right">{{rentdeptotal}}</td>
                      <td class="font-weight-bold text-right">{{waterdeptotal}}</td>
                      <td class="font-weight-bold text-right">{{elecdeptotal}}</td>
                      <td class="font-weight-bold text-right">{{otherdeptotal}}</td>
                      <td class="font-weight-bold text-right">{{deptotal}}</td>
                      <td class="font-weight-bold text-right">{{paidtotal}}</td>
                      <td class="font-weight-bold text-right">{{baltotal}}</td>
                      <td class="font-weight-bold text-right">-</td>

                    </tr>
                  </tfoot>
                </table>

          </div>


        </div>
        
      </div>
    </div>
  </div>


  <div id="invoice" class="col-lg-12  dispnone printdisplay">
    <div class="">
      <!-- Card Header - Accordion -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body report-body">
          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Dated : <span class="text-black">{{statementdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">DEPOSITS STATEMENTS</span></span>
          </div>

          {%if prop%}
          <div class="mb-2 mt-1">
            <div class="ln-16">
              <span class="mr-1">PROPERTY CODE: {{prop.id}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PROPERTY NAME: {{prop.name.upper()}}</span>
            </div>
            <div class="ln-16">
              {% if prop.landlord%}
              <span class="mr-1">LANDLORD : {{prop.landlord.upper()}}</span>
              {%else%}
              <span class="mr-1">LANDLORD : {{prop.landlord}}</span>
              {% endif %}
            </div>
            <div class="ln-16">
              {% if prop.location_id%}
              <span class="mr-1">ESTATE : {{prop.location.name.upper()}}</span>
              {%else%}
              <span class="mr-1">ESTATE : {{prop.location}}</span>
              {% endif %}
            </div>
          </div>
          {%endif%}

          <div class="table-responsive">
            <table class="table" id="data-table" width="100%" cellspacing="0">
              <thead class="custom-header-alt small">
                <tr>
                  <th class="">PNO</th>
                  <th class="">TENANT NAME</th>
                  <th class="">RENT</th>
                  <th class="">WATER</th>
                  <th class="">ELEC</th>
                  <th class="">OTHER</th>
                  <th class="">TOTAL</th>
                  <th class="">PAID</th>
                  <th class="">BALANCE</th>
                  <th class="">STATUS</th>

                </tr>
              </thead>
              <tbody>
                {% for bill in bills%}
                <tr>
                  <td class="data-cell text-center">{{ bill['house'] }}</td>
                  <td class="data-cell text-left">{{ bill['tenant']}}</td>
                  <td class="data-cell text-right">{{ bill['rentdep'] }}</td>
                  <td class="data-cell text-right">{{ bill['waterdep'] }}</td>
                  <td class="data-cell text-right">{{bill['elecdep']}}</td>
                  <td class="data-cell text-right">{{ bill['otherdep'] }}</td>
                  <td class="data-cell text-right">{{ bill['total'] }}</td>
                  <td class="data-cell text-right">{{ bill['paid'] }}</td>
                  <td class="data-cell text-right">{{ bill['balance'] }}</td>
                  <td class="data-cell text-right">{{ bill['status'] }}</td>

                </tr>
              {% endfor %}

              </tbody>
              <tfoot class="custom-footer-alt">
                <tr>
                  <td colspan="2" class="font-weight-bold">TOTALS ...</td>
                  <td class="font-weight-bold text-right">{{rentdeptotal}}</td>
                  <td class="font-weight-bold text-right">{{waterdeptotal}}</td>
                  <td class="font-weight-bold text-right">{{elecdeptotal}}</td>
                  <td class="font-weight-bold text-right">{{otherdeptotal}}</td>
                  <td class="font-weight-bold text-right">{{deptotal}}</td>
                  <td class="font-weight-bold text-right">{{paidtotal}}</td>
                  <td class="font-weight-bold text-right">{{baltotal}}</td>
                  <td class="font-weight-bold text-right">-</td>

                </tr>
              </tfoot>
            </table>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="editBillModal" tabindex="-1" role="dialog" aria-labelledby="paymentDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="indicator"></div>
      <div class="modal-header pb-0 text-center">
        <h5 class="modal-title" id="paymentDetailModalLabel">Edit monthly bill summary record</h5>
        <span id="update-reloader" class="dispnone"></span>
        <div class="alert-msgs"></div>
      </div>
      <div class="modal-body pt-0">
        <div class="media mb-2">
          <div class="media-body">
            <div class="position-relative">
              <div class="card-body modal-forms">
                <form autocomplete="off" method="POST" action="">
 
                  <div class="mt-2" id="billeditbed"></div>
                
                  <div class="divbg center-btn">
                    <button id="editbill" type="button" class="btn btn-outline-danger borderles">Update</button>
                    <button class="btn btn-outline-secondary" id="closeModal" type="button" data-dismiss="modal"></i>Dismiss</button>
                    <button class="btn btn-light reset dispnone" type="reset"></i>Dismiss</button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>


<!-- 
<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_bill_identifier").html(item)
        }else{
          $("#edit_bill_identifier").html(item)
        }
        
      }else{
        $("#bill_identifier").html(item)
      }
    });
  });
</script> -->

<script>
  $("#month").datepicker({ 
    autoclose: true, 
    todayHighlight: true,
    format: "mm-yyyy",
    startView: "months", 
    minViewMode: "months"
  });
</script>

<!-- 
<script type="text/javascript">
  $(document).ready(function () {
    $("#reportbtns").addClass("dispnone")

    $('#dataTable').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      // "bPaginate": false, //hide pagination control
      // "bFilter": false, //hide filter control
      // "searching":false,
      // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
      // "targets": 'no-sort',
      // "bSort": false,
      columnDefs: [ { targets: 0, type: 'natural' } ],
      // "info" : false,
      "order": [[ 0, "asc" ]],
      // "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script> -->


{% endblock %}













                
    
    




 
