{% extends 'basereport.html' %}

{% block content %}
<span id="edit_bill_identifier" class="dispnone"></span>
<!-- <span id="collapseid" class="dispnone">{{prop}}</span> -->
<span id="filename" class="dispnone">{{prop}} {{timeline}} combined statement.pdf</span>
<span id="orientation" class="dispnone">{{paging}}</span>

<div class="row">
    <div class="col-lg-12 noprint">
        <div class="formwrapper">
            <div class="card bt-none">
              <!-- Card Header - Accordion -->
              <div class="divjust-end bg-light underline">
                
                <a href="#collapseCardExample" class="d-block center-btn no-decor" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <div class="font-weight-bold text-black pt-1">
                    <span class="ml-lg-4 font-weight-bold text-uppercase">Select below</span>
                    <span><i class="fas fa-chevron-down ml-3"></i></span>
                  </div>
                </a>
                
                <div class="divjust-end">

                  <div class="mr-3 mb-1">
                    <button id="btnDownload" class="btn btn-success btn-sm curve">
                      <i class="text-white feather-16 font-weight-bold" data-feather="printer"></i><span class="ml-1 mobile-malaysian text-white">print</span>
                    </button>
                  </div>

                </div>
                

              </div>
              <!-- Card Content - Collapse -->
              <div class="" id="collapseCardExample">
                <div class="card-body pt-0">
                    <form class="bg-white" method="GET" action="/combined/report">

                      <div class="row">
                        <div class="col-lg-3 form-group mb-2 ml-lg-5">
                          <label class="mb-0">Select type:</label>
                          <select name="reporttype" class="select-css" id="reporttype">
                            <option selected value="collected">Based on collected amount only</option>
                            <option value="uncollected">Based on amount due</option>
                          </select>
                        </div>
                      
                        <div class="col-lg-3 form-group mb-2">
                          <label class="mb-0">Select property:</label>
                          <select name="prop" class="select-css" id="prop" required>
                            <option disabled selected value> select property </option>
                            {% for o in props %}
                            <option value="{{ o }}">{{ o }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      
                        <div class="col-lg-3 form-group mb-2 mr-lg-5">
                          <label class="mb-0">Select month:</label>
                          <div id="datepicker7" class="date" data-date-format="dd-mm-yyyy">
                            <input id="month" name="month" class="form-control ph" type="text" placeholder="-none set-" />
                            <span class="input-group-addon field-icon"><i class="fas fa-fw fa-calendar-day text-info"></i></span>
                          </div>
                        </div>
                      
                        <div class="col-lg-2 form-group mb-2">
                          <button type="submit" class="form-control viewbtn font-weight-bold btn btn-primary btn-sm mt-4">View</button>
                        </div>
                      </div>

                      <div>
                        <span class="text-danger">Items to display:</span>
                        <div class="divbg form-group mb-0 x-smallify text-black">
                                  
                          <span class="spanwidth ml-4">
                            <input type="checkbox" id="rent" class="check-btn ml-md-3" name="bank" value="rent" checked>
                            <label for="rent">Rent</label>
                          </span>
          
                          <span class="spanwidth">
                            <input type="checkbox" id="water" class="check-btn ml-md-3" name="bank" value="water" checked>
                            <label for="water">Water</label> 
                          </span>
                          
                          <span class="spanwidth">
                            <input type="checkbox" id="garbage" class="check-btn ml-md-2" name="bank" value="garbage" checked>
                            <label for="garbage">Garbage</label> 
                          </span>
                          
                          <span class="spanwidth">
                            <input type="checkbox" id="security" class="check-btn ml-md-1" name="bank" value="security">
                            <label for="security">Security</label>
                          </span>
                          
                          <span class="spanwidth">
                            <input type="checkbox" id="service" class="check-btn ml-md-2" name="bank" value="service">
                            <label for="service">Service</label>
                          </span>
  
                          <span class="spanwidth">
                            <input type="checkbox" id="deposit" class="check-btn ml-md-3" name="bank" value="deposit" checked>
                            <label for="deposit">Deposits</label>
                          </span>

                          <span class="spanwidth dispnone">
                            <input type="checkbox" id="penalty" class="check-btn ml-md-2" name="bank" value="penalty">
                            <label for="penalty">Penalty</label>
                          </span>

                          <span class="spanwidth">
                            <input type="checkbox" id="paidedit" class="check-btn ml-md-2" name="bank" value="paidedit" checked>
                            <label for="paidedit">Extra field(edit paid)</label>
                          </span>

                        </div>
                      </div>

                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
 
  <!-- <div id="detailedreport" class="dispnone col-lg-12 "></div> -->
  <div class="col-lg-12 noprint">
    <div class="card shadow mb-0">

      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">
        <div class="card-body pt-0">

          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Dated : <span class="text-black">{{reportdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">COMBINED STATEMENT FOR {{timeline}}</span></span>
          </div>

          {%if prop_obj%}
          <div class="mb-2 mt-1">
            <div class="ln-16">
              <span class="mr-1">PROPERTY CODE: {{prop_obj.id}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PROPERTY NAME: {{prop_obj.name.upper()}}</span>
            </div>
            <div class="ln-16">
              {% if prop_obj.landlord%}
              <span class="mr-1">LANDLORD : {{prop_obj.landlord.upper()}}</span>
              {%else%}
              <span class="mr-1">LANDLORD : {{prop_obj.landlord}}</span>
              {% endif %}
            </div>
            <div class="ln-16">
              {% if prop_obj.location_id%}
              <span class="mr-1">ESTATE : {{prop_obj.location.name.upper()}}</span>
              {%else%}
              <span class="mr-1">ESTATE : {{prop_obj.location}}</span>
              {% endif %}
            </div>
          </div>
          {%endif%}



                    
          <div class="table-responsive noprint">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                  <thead class="custom-header-alt small">
                    <tr>
                      <th class="">PNO</th>
                      <th class="">TENANT NAME</th>
                      <th class="">BB/F</th>
                      <th class="rent">RENT</th>
                      <th class="rent">RENT PAID</th>
                      <th class="rent">RENT BAL</th>

                      <th class="water">WATER</th>
                      <th class="garbage">GARBAGE</th>
                      <th class="security dispnone">SECURITY</th>
                      <th class="service dispnone">SERVICE</th>
                      <th class="deposit">DEPOSIT PAID</th>
                      <th class="deposit">DEPOSIT BAL</th>

                      <!-- <th class="penalty">LPF</th> -->
                      <th class="">TOTAL</th>
                      <th class="">AMOUNT DUE</th>
                      <th class="">TOTAL PAID</th>
                      <th class="">BC/F</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills%}
                    <tr>
                      <td class="data-cell text-center">{{ bill['house'] }}</td>
                      <td class="data-cell text-left">{{ bill['tenant-alt']}}</td>
                      <td class="data-cell text-right">{{ bill['arrears'] }}</td>

                      <td class="data-cell text-right rent">{{ bill['rent'] }}</td>
                      <td class="data-cell text-right rent">{{ bill['rent-paid'] }}</td>
                      <td class="data-cell text-right rent">{{ bill['rent-due'] }}</td>

                      <td class="data-cell text-right water">{{ bill['water'] }}</td>
                      <td class="data-cell text-right garbage">{{ bill['garbage'] }}</td>
                      <td class="data-cell text-right security dispnone">{{ bill['security'] }}</td>
                      <td class="data-cell text-right service dispnone">{{ bill['service'] }}</td>
                      <td class="data-cell text-right deposit">{{ bill['deposit-paid'] }}</td>
                      <td class="data-cell text-right deposit">{{ bill['deposit-due'] }}</td>
                      <!-- <td class="data-cell text-right penalty">{{ bill['fine'] }}</td> -->
                      <td class="data-cell text-right">{{bill['totalalt']}}</td>
                      <td class="data-cell text-right">{{bill['amounttotal']}}</td>
                      <td class="data-cell text-right">{{ bill['paid-alt-alt']|safe }}</td>
                      <td class="data-cell text-right">{{ bill['balance'] }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                  <tfoot class="custom-footer-alt">
                    <tr>
                      <td colspan="2" class="font-weight-bold">TOTALS ...</td>
                      <td class="font-weight-bold text-right">{{bbftotal}}</td>
                      <td class="font-weight-bold text-right rent">{{renttotal}}</td>
                      <td class="font-weight-bold text-right rent">-</td>
                      <td class="font-weight-bold text-right rent">-</td>
                      <td class="font-weight-bold text-right water">{{watertotal}}</td>
                      <td class="font-weight-bold text-right garbage">{{garbagetotal}}</td>
                      <td class="font-weight-bold text-right security dispnone">{{securitytotal}}</td>
                      <td class="font-weight-bold text-right service dispnone">{{servicetotal}}</td>
                      <td class="font-weight-bold text-right deposit">-</td>
                      <td class="font-weight-bold text-right deposit">-</td>

                      <!-- <td class="font-weight-bold text-right penalty">{{penaltytotal}}</td> -->
                      <td class="font-weight-bold text-right">{{billtotal}}</td>
                      <td class="font-weight-bold text-right">{{amounttotal}}</td>
                      <td class="font-weight-bold text-right">{{paidtotal}}</td>
                      <td class="font-weight-bold text-right">{{bcftotal}}</td>
                    </tr>
                  </tfoot>
                </table>

          </div>

          <div class="divjust-end ln-16 mobile-malaysian noprint">
            {%if not expenselist%}
            <div class="hide">space</div>
            {%endif%}

            <div class="divjust-end mr-5">
              <div class="mr-4">
                <div class="mb-1 text-black-bold">TOTAL RENT PAID TO MGT</div>
                <div class="text-black-bold mb-1">TOTALS</div>
                <div class="hide mb-2">space</div>




                <div class="mb-1 pt-2 text-black-bold">MGT FEES @ {{commission_percentage}} on rent paid</div>

                <div class="mb-1 text-black-bold">OTHER DEDUCTIONS</div>
                <div class="mb-1 text-black-bold">TOTAL DEDUCTIONS</div>
                <div class="hide mb-2">space</div>
                <div class="mb-3 text-black-bold">NET PAYABLE</div>
              </div>

              <div class="text-black">
                <div class="mb-1 text-gray-900">Kshs {{formatted_netrent}}</div>

                <div class="mb-1 text-gray-900 underline overline">Kshs {{formatted_netrent}}</div>
                <div class="hide mb-2">space</div>

                <div class="mb-1">Kshs {{commission}} (<span class="text-danger">debit</span>)</div>

                <div class="mb-1">Kshs {{expenses}} (<span class="text-danger">debit</span>)</div>
                <div class="mb-1">Kshs {{debits}} (<span class="text-danger">debit</span>)</div>

                <div class="hide mb-2">space</div>

                <div class="text-gray-900 mb-3 overline underline">Kshs {{netpay}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="invoice" class="col-lg-12  dispnone printdisplay">
    <div class="">
      <!-- Card Header - Accordion -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body report-body">
          {% if bills %}

          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.mail}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Dated : <span class="text-black">{{reportdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">COMBINED STATEMENT FOR {{timeline}}</span></span>
          </div>

          <div class="divjust-end underline mb-3 text-black font-weight-bold  text-110">
            <div class="">
              <!-- <div>Landlord : {{prop_obj.owner}}</div> -->
              <div>Property : {{prop_obj.name}}</div>
              <div>Estate : {{prop_obj.location}}</div>
            </div>
            <div class="pr-3">
              <div>Date remitted : {{printdate}}</div>
              <div>Pin No : </div>
            </div>

          </div>

          <div class="table-responsive">
            <table class="table" id="data-table" width="100%" cellspacing="0">
              <thead class="custom-header-alt small">
                <tr>
                  <th class="">PNO</th>
                  <th class="">TENANT NAME</th>
                  <th class="">BB/F</th>
                  <th class="rent">RENT</th>
                  <th class="rent">RENT PAID</th>
                  <th class="rent">RENT BAL</th>

                  <th class="water">WATER</th>
                  <th class="garbage">GARBAGE</th>
                  <th class="security dispnone">SECURITY</th>
                  <th class="service dispnone">SERVICE</th>
                  <th class="deposit">DEPOSIT PAID</th>
                  <th class="deposit">DEPOSIT BAL</th>
                  <!-- <th class="penalty">LPF</th> -->
                  <th class="">TOTAL</th>
                  <th class="">AMOUNT DUE</th>
                  <th class="">TOTAL PAID</th>
                  <th class="">BC/F</th>

                </tr>
              </thead>
              <tbody>
                {% for bill in bills%}
                <tr>
                  <td class="data-cell text-center">{{ bill['house'] }}</td>
                  <td class="data-cell text-left">{{ bill['tenant-alt']}}</td>
                  <td class="data-cell text-right">{{ bill['arrears'] }}</td>
                  <td class="data-cell text-right rent">{{ bill['rent-total'] }}</td>
                  <td class="data-cell text-right rent">{{ bill['rent-paid'] }}</td>
                  <td class="data-cell text-right rent">{{ bill['rent-due'] }}</td>

                  <td class="data-cell text-right water">{{ bill['water'] }}</td>
                  <td class="data-cell text-right garbage">{{ bill['garbage'] }}</td>
                  <td class="data-cell text-right security dispnone">{{ bill['security'] }}</td>
                  <td class="data-cell text-right service dispnone">{{ bill['service'] }}</td>
                  <td class="data-cell text-right deposit">{{ bill['deposit-paid'] }}</td>
                  <td class="data-cell text-right deposit">{{ bill['deposit-due'] }}</td>
                  <td class="data-cell text-right">{{bill['totalalt']}}</td>
                  <td class="data-cell text-right">{{bill['amounttotal']}}</td>
                  <td class="data-cell text-right">{{ bill['paid'] }}</td>
                  <td class="data-cell text-right">{{ bill['balance'] }}</td>
                </tr>
              {% endfor %}

              </tbody>
              <tfoot class="custom-footer-alt">
                <tr>
                  <td colspan="2" class="font-weight-bold">TOTALS ...</td>
                  <td class="font-weight-bold text-right">{{bbftotal}}</td>
                  <td class="font-weight-bold text-right rent">{{renttotal}}</td>
                  <td class="font-weight-bold text-right rent">-</td>
                  <td class="font-weight-bold text-right rent">-</td>
                  <td class="font-weight-bold text-right water">{{watertotal}}</td>
                  <td class="font-weight-bold text-right garbage">{{garbagetotal}}</td>
                  <td class="font-weight-bold text-right security dispnone">{{securitytotal}}</td>
                  <td class="font-weight-bold text-right service dispnone">{{servicetotal}}</td>
                  <td class="font-weight-bold text-right deposit">-</td>
                  <td class="font-weight-bold text-right deposit">-</td>
                  <!-- <td class="font-weight-bold text-right penalty">{{penaltytotal}}</td> -->
                  <td class="font-weight-bold text-right">{{billtotal}}</td>
                  <td class="font-weight-bold text-right">{{amounttotal}}</td>
                  <td class="font-weight-bold text-right">{{paidtotal}}</td>
                  <td class="font-weight-bold text-right">{{bcftotal}}</td>
                </tr>
              </tfoot>
            </table>
            <div class="divjust-end ln-16 mobile-malaysian nobreak">
              <div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Prepared By:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Approved By:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Cheque No:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Landlord rep:</div>
                  <div class="col-6">........................</div>
                </div>
                <div class="row mb-3">
                  <div class="col-6 text-right text-black no-wrap">Date:</div>
                  <div class="col-6">........................</div>
                </div>
              </div>
  
              <div class="divjust-end mr-5">
                <div class="mr-4">
                  <div class="mb-1 text-gray-900">TOTAL RENT PAID TO MGT</div>
                  <div class="text-gray-900 mb-1">TOTALS</div>
                  <div class="hide mb-2">space</div>
  
  
  
  
                  <div class="mb-1 pt-2">MGT FEES @ {{commission_percentage}} on rent paid</div>
  
                  <div class="mb-1">OTHER DEDUCTIONS</div>
                  <div class="mb-1">TOTAL DEDUCTIONS</div>
                  <div class="hide mb-2">space</div>
                  <div class="text-gray-900 mb-3 text-125">NET PAYABLE</div>
                </div>
  
                <div class="text-black">
                  <div class="mb-1 text-gray-900">Kshs {{formatted_netrent}}</div>
  
                  <div class="mb-1 text-gray-900 underline overline">Kshs {{formatted_netrent}}</div>
                  <div class="hide mb-2">space</div>
  
                  <div class="mb-1">Kshs {{commission}} (<span class="text-danger">debit</span>)</div>
  
                  <div class="mb-1">Kshs {{expenses}} (<span class="text-danger">debit</span>)</div>
                  <div class="mb-1">Kshs {{debits}} (<span class="text-danger">debit</span>)</div>
  
                  <div class="hide mb-2">space</div>
  
                  <div class="text-gray-900 mb-3 text-125 overline underline">Kshs {{netpay}}</div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>


<!-- <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>


<!-- 
<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_bill_identifier").html(item)
        }else{
          $("#edit_bill_identifier").html(item)
        }
        
      }else{
        $("#bill_identifier").html(item)
      }
    });
  });
</script> -->

<script>
  $("#month").datepicker({ 
    autoclose: true, 
    todayHighlight: true,
    format: "mm-yyyy",
    startView: "months", 
    minViewMode: "months"
  });
</script>


<!-- <script type="text/javascript">
  $(document).ready(function () {
    $("#reportbtns").addClass("dispnone")

    $('#dataTable').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      // "bPaginate": false, //hide pagination control
      // "bFilter": false, //hide filter control
      // "searching":false,
      // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
      // "targets": 'no-sort',
      // "bSort": false,
      columnDefs: [ { targets: 0, type: 'natural' } ],
      // "info" : false,
      "order": [[ 0, "asc" ]],
      // "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script> -->

<script>
  let myarr = ["rent","water","garbage","security","service","deposit","penalty","paidedit"]


  $.each(myarr, function(i,item) {
  
    $("#"+item).on('change',function(){
      let cb = document.getElementById(item);
      if (cb.checked){
        $("."+item).removeClass("dispnone")
      }else{
        $("."+item).addClass("dispnone")
      }

    });

  });


  </script>


{% endblock %}













                
    
    




 
