{% extends 'basereport.html' %}
{% block content %}

<span id="statement" class="dispnone">tenant statement3</span>
<span id="filename" class="dispnone">{{propname}} {{timeline}}statement.pdf</span>

<div class="row">
  <div class="col-lg-12 noprint">
    <div class="formwrapper">
      <div class="card bt-none">
        <!-- Card Header - Accordion -->
        <div class="divjust-end bg-light underline">

          <a href="#collapseCardExample" class="d-block center-btn no-decor" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="collapseCardExample">
            <div class="font-weight-bold text-black pt-1">
              <span class="ml-lg-4 text-uppercase">Select below</span>
              <span><i class="fas fa-chevron-down ml-3"></i></span>
            </div>
          </a>

          <div class="dispnone">
            <a class="text-white close-report" href="{{ url_for('api.reports') }}">
              <button id="closemodule" class="btn borderless">
                <div class="x-large xbutton"><i class="fas fa-times"></i></div>
              </button>
            </a>
          </div>
     
          <!-- <div class="mr-3 mb-1">
            <button class="btn btn-success btn-sm curve" data-toggle="modal" data-target="#downloadModal">
              <i class="text-white feather-16 font-weight-bold" data-feather="printer"></i><span
                class="ml-1 mobile-malaysian text-white">print</span>
            </button>
          </div> -->
          


        </div>
        <!-- Card Content - Collapse -->
        <div class="noprint" id="collapseCardExample">
          <div class="card-body p-0">
            <form class="bg-light" method="GET" action="/tenant/statement4">


              <div class="row">
                <div class="col-lg-6 form-group mb-2">
                    <label class="text-danger font-weight-bold">Select property:</label>
            
                    <select name="selected_apartment" class="select-css" id="selected_apartment" required>
                        <option disabled selected value> -- none selected -- </option>
                        {% for o in props %}
                        <option value="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="col-lg-6 form-group mb-2">
                    <label class="text-danger font-weight-bold">Select tenant:</label>
            
                    <select name="selected_tenant" class="select-css" id="selected_tenant" required>
                        <option disabled selected value> -- Select tenant (?) -- </option>
                        {% for o in houses %}
                        <option value="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label class="text-danger">From:</label>
                    <input class="form-control" type="text" id="from" name="from">
                </div>
            
                <div class="form-group col-6">
                    <label class="text-danger">To:</label>
                    <input class="form-control" type="text" id="to" name="to">
                </div>
            </div>

              <div class="col-lg-2 form-group mb-2">
                <button type="submit"
                  class="form-control viewbtn font-weight-bold btn btn-primary btn-sm mt-4">View</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="detailedreport" class="dispnone col-lg-12 "></div> -->
  <div class="col-lg-12 noprint">
    <div class="card shadow mb-0">
      <!-- Card Header - Accordion -->
      <div class="text-right mt-1 mr-2">
        <button id="btnDownload" class="btn btn-light text-primary font-weight-bold"> Print </button>
      </div>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">

        <div class="card-body pt-0">

          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.email}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Date printed : <span class="text-black">{{statementdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">COMBINED STATEMENT FOR THE PERIOD {{timeline}}</span></span>
          </div>

          {%if prop%}
          <div class="mb-2 mt-1 text-black">
            <div class="ln-16">
              <span class="mr-1">TENANT: {{tenant_obj.name.upper()}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PROPERTY: {{thouse.apartment.name.upper()}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PREMISES NO: {{thouse.name.upper()}}</span>
            </div>
            <div class="ln-16">
              {% if tenant_obj.deposit%}
              <span class="mr-1">SECURITY ACCOUNT : {{tenant_obj.deposits.total}}</span>
              {%else%}
              <span class="mr-1">SECURITY ACCOUNT : {{tenant_obj.deposits}}</span>
              {% endif %}
            </div>
          </div>
          {%endif%}


          


          <!-- <div class="text-right mt-1">
              <button type="button" class="d-sm-inline-block btn btn-sm btn-success shadow-sm mr-1" ><i class="fas fa-download fa-sm text-white"></i><span class="mobile-malaysian">Download</span></button>
            </div> -->


            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="custom-header-alt small">
                      <tr>
                        <th class="header-left" data-orderable="false">DATE</th>
                        <th class="header-left" data-orderable="false">DESCRIPTION</th>
                        <th class="header-left" data-orderable="false">REF</th>
                        <th class="header-right" data-orderable="false">DEBIT</th>
                        <th class="header-right" data-orderable="false">CREDIT</th>
                        <th class="header-right" data-orderable="false">BALANCE</th>
  
  
                      </tr>
                    </thead>
                    <tbody>
                      {% for bill in bills%}
                      <tr>
                        <td class="data-cell text-left text-uppercase">{{ bill['date'] |safe}}</td>
                        <td class="data-cell text-left text-uppercase no-wrap">{{ bill['desc']}}</td>
                        <td class="data-cell text-left text-uppercase ">{{ bill['ref'] }}</td>
                        <td class="data-cell text-right">{{ bill['debit'] }}</td>
                        <td class="data-cell text-right">{{bill['credit']}}</td>
                        <td class="data-cell text-right">{{ bill['balance'] |safe }}</td>
  
                      </tr>
                    {% endfor %}
  
                    </tbody>
  
                  </table>
  
            </div>

        </div>

      </div>
    </div>
  </div>


  <div id="invoice" class="col-lg-12  dispnone printdisplay">
    <div class="bg-white shadow">
      <!-- Card Header - Accordion -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body report-body">

          <div class="center-btn">
            <div class="mb-1 text-black">
              <div class="font-weight-bold">
                {{co.name.upper()}}
              </div>
              <div class="">
                <img class="" src="{{logopath}}" alt={{co.name}} />
              </div>
              <span class="ln-16">P.O BOX {{co.mail_box}}, {{co.city}}. Telephone : {{co.phone}} Fax:</span>
              <div class="ln-16">Email: {{co.email}}</div>
            </div>
          </div>

          <div class="ln-14 divjust-end">
            <span class="hide">hide</span>
            <span>Date printed : <span class="text-black">{{statementdate}}</span></span>
          </div>

          <div class="center-btn mt-2 overline underline bg-aviv">
            <!-- <h5 style="font-style: oblique;" class="font-weight-bold underline text-black">{{prop}} {{timeline}} landlord statement</h5> -->
            <span class="font-weight-bold text-white"><span class="mt-3">COMBINED STATEMENT FOR THE PERIOD {{timeline}}</span></span>
          </div>


          {%if prop%}
          <div class="mb-2 mt-1">
            <div class="ln-16">
              <span class="mr-1">TENANT: {{tenant_obj.name.upper()}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PROPERTY: {{thouse.apartment.name.upper()}}</span>
            </div>
            <div class="ln-16">
              <span class="mr-1">PREMISES NO: {{thouse.name.upper()}}</span>
            </div>
            <div class="ln-16">
              {% if tenant_obj.deposit%}
              <span class="mr-1">SECURITY ACCOUNT : {{tenant_obj.deposits.total}}</span>
              {%else%}
              <span class="mr-1">SECURITY ACCOUNT : {{tenant_obj.deposits}}</span>
              {% endif %}
            </div>
          </div>
          {%endif%}


          <div class="table-responsive">
            <table class="table table-striped table-bordered" id="data-table" width="100%"
              cellspacing="0">
              <thead class="custom-header-alt small">
                <tr>
                  <th class="header-left" data-orderable="false">DATE</th>
                  <th class="header-left" data-orderable="false">DESCRIPTION</th>
                  <th class="header-left" data-orderable="false">REF</th>
                  <th class="header-right" data-orderable="false">DEBIT</th>
                  <th class="header-right" data-orderable="false">CREDIT</th>
                  <th class="header-right" data-orderable="false">BALANCE</th>


                </tr>
              </thead>
              <tbody>
                {% for bill in bills%}
                <tr>
                  <td class="data-cell text-left text-uppercase">{{ bill['date'] |safe}}</td>
                  <td class="data-cell text-left text-uppercase no-wrap">{{ bill['desc']}}</td>
                  <td class="data-cell text-left text-uppercase ">{{ bill['ref'] }}</td>
                  <td class="data-cell text-right">{{ bill['debit'] }}</td>
                  <td class="data-cell text-right">{{bill['credit']}}</td>
                  <td class="data-cell text-right">{{ bill['balance'] |safe }}</td>

                </tr>
              {% endfor %}

              </tbody>
            </table>

          </div>

        </div>
      </div>

    </div>



  </div>
</div>


<script>
  $("#selected_apartment").on('change',function(){
      
      $.ajax({
              type: "get",
              url: "{{ url_for('api.tenantstatementfour') }}",
              data: {
                apartment: $("#selected_apartment").val(),
                target:"tenants"
              },
              success: function(response) {
                  $("#selected_tenant").html(response);
              }
          });
  });
</script>

<!-- <script type="text/javascript">
    $(document).ready(function () {
    
    $("#reportbtns").addClass("dispnone")

    $('#dataTable').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      "order": []
      // "bPaginate": false, //hide pagination control
      // "bFilter": false, //hide filter control
      // "searching":false,
      // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
      // "targets": 'no-sort',
      // "bSort": false,
    //   columnDefs: [ { targets: 0, type: 'natural' } ],
      // "info" : false,
    //   "order": [[ 0, "asc" ]],
      // "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script> -->
{% endblock %}