{% extends 'basereport.html' %}

{% block content %}

<span class="dispnone" id="target-report">{{rtarget}}</span>


<button id="btnDownload" class="btn btn-success btn-sm dispnone">
  <i class="text-white feather-16 font-weight-bold" data-feather="printer"></i><span class="ml-1 text-white">print</span>
</button>

    <div class="col-lg-12 ">
        <div class="formwrapper">
            <div class="card bt-none noprint">
              <!-- Card Header - Accordion -->
              <div class="divjust-end bg-light underline">
                
                <a href="#collapseCardExample" class="d-block center-btn no-decor" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <div class="font-weight-bold text-black pt-1">
                    <span class="ml-lg-4 font-weight-bold text-uppercase">General Rent statement</span>
                    <span><i class="fas fa-chevron-down ml-3"></i></span>
                  </div>
                </a>
                                

              </div>
              <!-- Card Content - Collapse -->
              <div class="noprint" id="collapseCardExample">
                <div class="card-body p-0">
                  <div class="kiota-borde col-md-6 pt-1">
                    <div class="">
                        <input class="" id="invdate" name="datatype" type="radio" value="invdate" checked/>
                        <label class="small font-weight-bold mb-1 text-danger" for="invdate">Fetch records by invoice date</label>
                    </div>
                
                    <div class="">
                        <input class="" id="paydate" name="datatype" type="radio" value="paydate" />
                        <label class="mb-1 small font-weight-bold text-danger" for="paydate">Fetch records by payment date</label>
                    </div>
                  </div>
                    <form class="row bg-light">
                      <div class="col-lg-2 form-group mb-2 pl-lg-5">
                        <label class="mb-0">Select type:</label>
                        <select name="reporttype" class="select-css" id="reporttype">
                          <option selected value="all invoices">All invoices</option>
                          <option value="paid invoices">Paid invoices</option>
                          <option value="unpaid invoices">Unpaid invoices</option>
                          <option value="vacant units">Vacant units</option>

                        </select>
                      </div>

                      <div class="col-lg-2 form-group mb-2 pl-lg-5">
                        <label class="mb-0">Select item:</label>
                        <select name="reporttype" class="select-css" id="itemtype">
                          <option selected value="all items">All items</option>
                          <option value="deposit item">Deposit</option>
                          <option value="rent item">Rent only</option>
                          <option value="rent service item">Rent & Service</option>

                          <!-- <option value="vacant units">Water</option>
                          <option value="vacant units">Garbage</option>
                          <option value="vacant units">Service charge</option>
                          <option value="vacant units">Others</option> -->
                        </select>
                      </div>
                    
                      <div class="col-lg-2 form-group mb-2">
                        <label class="mb-0">Select property:</label>
                        <select name="prop" class="select-css" id="prop" required>
                          <option disabled selected value> select property </option>
                          {% for o in props %}
                          <option value="{{ o }}">{{ o }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    
                      <!-- <div class="col-lg-2 form-group mb-2 mr-lg-5">
                        <label class="mb-0">Select month:</label>
                        <div id="datepicker7" class="date" data-date-format="dd-mm-yyyy">
                          <input id="month" name="month" class="form-control ph" type="text" placeholder="-none set-" />
                          <span class="input-group-addon field-icon"><i class="fas fa-fw fa-calendar-day text-info"></i></span>
                        </div>
                      </div> -->

                      <div class="col-lg-4 form-group mb-2 pr-lg-5 row">
                        <div class="col-lg-6 form-group input-icons">
                          <span class="divjust-end">
                            <span class="text-danger font-weight-bold">Start</span>
                          </span>
                          <div id="datepicker7" class="date" data-date-format="dd-mm-yyyy">
                            <input id="checkindate" class="form-control ph" name="shiftstart" type="text" placeholder="Select date" readonly />
  
                          </div>
                        </div>
  
                        <div class="col-lg-6 form-group input-icons">
                          <span class="divjust-end">
                            <span class="text-danger font-weight-bold">End</span>
                          </span>
                          <div id="datepicker7" class="date" data-date-format="dd-mm-yyyy">
                            <input id="checkoutdate" class="form-control ph" name="shiftend" type="text" placeholder="Select date" readonly />
  
                          </div>
                        </div>
                      </div>

 


                    
                      <div class="col-lg-2 form-group mb-2">
                        <button id="view_general" type="button" class="form-control viewbtn font-weight-bold btn btn-primary btn-sm mt-4">View</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>

<div id="reportbase" class="row"></div>



<!-- <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>


<!-- 
<script>
  var rawIds = "{{ billids|safe }}";
  var ids = rawIds.split`,`.map(x=>x); //adding plus converts the items to numbers
  console.log(ids)
  $.each(ids, function(i,item) {
  
    $("#"+item).on('click',function(){
      console.log("clicked",item)
      if( isNaN(parseInt(item)) ){
        if(item.startsWith("del")){
          $("#del_bill_identifier").html(item)
        }else{
          $("#edit_bill_identifier").html(item)
        }
        
      }else{
        $("#bill_identifier").html(item)
      }
    });
  });
</script> -->

<script>
  // $("#month").datepicker({ 
  //   autoclose: true, 
  //   todayHighlight: true,
  //   format: "mm-yyyy",
  //   startView: "months", 
  //   minViewMode: "months"
  // });


  $("#checkindate").datepicker({
    autoclose: true,
    todayHighlight: true,
    format: "mm-yyyy",
    startView: "months", 
    minViewMode: "months"
  }).on('changeDate', function (e) {
    var checkin = $(this).datepicker('getDate')
    checkin.setDate(checkin.getDate() + 1);
    $("#checkoutdate").datepicker("setDate", checkin); //set default checkoutdate
  });

  $("#checkoutdate").datepicker({
    autoclose: true,
    format: "mm-yyyy",
    startView: "months", 
    minViewMode: "months"
  });


  var date = new Date();
  date.setDate(date.getDate());
  $("#checkindate").datepicker("setDate", date); //set default checkindate

  date.setDate(date.getDate() + 1);
  $("#checkoutdate").datepicker("setDate", date); //set default checkoutdate
</script>


<!-- <script type="text/javascript">
  $(document).ready(function () {
    $("#reportbtns").addClass("dispnone")

    $('#dataTable').DataTable({
      "pagingType": "simple_numbers", // "simple" option for 'Previous' and 'Next' buttons only
      "pageLength": 100,
      // "bPaginate": false, //hide pagination control
      // "bFilter": false, //hide filter control
      // "searching":false,
      // "aoColumnDefs": [{ "bSortable": false, "aTargets": [ "_all" ] }],
      // "targets": 'no-sort',
      // "bSort": false,
      columnDefs: [ { targets: 0, type: 'natural' } ],
      // "info" : false,
      "order": [[ 0, "asc" ]],
      // "bLengthChange": false
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script> -->

<!-- 
<script>
  $("#view_general").click(function () {

      $("#preloader-btn").click();
      $.ajax({
          url: "",
          type: "get",
          data: {
              prop: $("#prop").val(),
              month: $("#month").val(),
              reporttype: $("#reporttype").val()
          },
          success: function (response) {
              $("#reportbase").html(response)
              $("#postloader-btn").click();

          }
      });

  });
</script> -->



<script>

  if($("#target-report").text() == "unpaid rent"){
    $("#reporttype option:eq('2')").attr("selected", "selected");
    $("#itemtype option:eq('2')").attr("selected", "selected");
    $('#prop option:last').attr("selected", "selected");

    $(document).ready(function() {
      setTimeout(function(){
        $("#view_general").click()
        ,1000});
    });


  }else if ($("#target-report").text() == "unpaid deposit"){
    $("#itemtype option:eq('1')").attr("selected", "selected");
    $("#reporttype option:eq('2')").attr("selected", "selected");
    $('#prop option:last').attr("selected", "selected");

    $(document).ready(function() {
      setTimeout(function(){
        $("#view_general").click()
        ,1000});
    });

  }


  $("#view_general").click(function () {

    if ($("#prop").val() == "" || $("#prop").val() == null) {
      alert("Please select property and date!")
    }else{
      //pass
      $("#preloader-btn").click();
      $.ajax({
          url: "/generalrent/statement",
          type: "get",
          data: {
              prop: $("#prop").val(),
              start: $("#checkindate").val(),
              end : $("#checkoutdate").val(),
              datatype: $("input[name=datatype]:checked").val(),
              reporttype: $("#reporttype").val(),
              itemtype:$("#itemtype").val(),
          },
          success: function (response) {
              $("#reportbase").html(response)
              $("#postloader-btn").click();

          }
      });
    }
  });
  
</script>


{% endblock %}













                
    
    




 
