<form id="msform" method="POST" action="/add/user" novalidate="novalidate" >
    <!-- progressbar -->
    <ul id="progressbar">

        <li class="active">Personal Info</li>
        <li>Company</li>
        <li>Finish</li>
    </ul>
    <!-- fieldsets -->

    <fieldset>
      <h2 class="fs-title">Personal Details</h2>
      
      <input type="text" name="fname" id="fname" placeholder="First Name" />
      <input type="text" name="lname" id="lname" placeholder="Last Name" />
      <input type="text" name="phone" id="phone" placeholder="Phone" />
      <input type="text" name="email" id="email" placeholder="Email" />
      <input type="text" name="email" id="id" placeholder="Id" />
      <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Company details</h2>

      <input type="text" name="company" id="company" placeholder="Company Name" />
      <input type="text" name="address" id="address" placeholder="Address" />
      <input type="text" name="location" id="location" placeholder="Location" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Finishing up</h2>
      <h3 class="fs-subtitle">Set your password</h3>

      <input type="password" name="pass1" id="pass1" placeholder="Password" />
      <input type="password" name="pass2" id="pass2" placeholder="Confirm Password" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" id="register" name="submit" class="submit action-button" value="Submit" />
    </fieldset>


<!-- 
    <script src="{{ url_for('static', filename='landingtwo/js/jquery-3.2.1.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- contact js -->
    <script src="{{ url_for('static', filename='landingtwo/js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='landingtwo/js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='landingtwo/js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='customjs.js') }}"></script>

    <script src="{{ url_for('static', filename='signup.js') }}"></script>
    
    <script>
      $("#register").click(function(){
        // $('#signin').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Signin in...');
        // $('#register').html('Submitting...');
        // console.log($("#fname").val())
          $.ajax({
            url: "{{ url_for('api.selfuserregister') }}",
            type: "POST",
            data: {
                    fname: $("#fname").val(),
                    lname : "somestring"
                },
            success: function(response) {
              $("#success").html(response);
            },
            error: function(xhr) {
            }
          });
      });
  </script>
  </form>