{% extends "base2.html" %}

{% block content %}



<div class="containe">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="formwrapper">
                <div class="card shadow mb-4 bg-gradient-light">
                    <div class="card-header py-3 bg-gradient-dark divjust-end" >
                        <h6 class="m-0 font-weight-bold text-success"><span><i class="fas fa-fw fa-user-plus"></i></span>&nbsp;&nbsp;New User</h6>
                        <a href="{{ url_for('api.index') }}"><span class="text-danger"><i class="fas fa-fw fa-times"></i></span></a>
                    </div>
                    <div class="card-body myforms">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            <div id="alert-msgs"class="noti-{{ category }} show" role="alert">
                                <span><span><i class="fas fa-fw fa-info-circle"></i></span>&nbsp;&nbsp;{{ message }}</span>
                            </div>
                        {% endfor %}
                        {% endwith %}
                      
                        <span class="hide">hide</span>
                        <form method="POST" action="/add/user">

                            <div class="form-group">
                                <select name="usergroup" class="form-control" id ="select_usergroup" required>
                                    <option  selected value> -- Select UserGroup -- </option>
                                    {% for o in company_usergroups %}
                                    <option value="{{ o }}">{{ o }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <select name="prop" class="form-control" id="select_prop">
                                <option  selected value> -- Select Apartment -- </option>
                                {% for o in props %}
                                <option value="{{ o }}">{{ o }}</option>
                                {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="Email" autofocus required> 
                            </div>
            
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="First name, second name" required>
                            </div>
            
                            <div class="form-group">
                                <input class="form-control" type="tel" name="phone" placeholder="+2547 . . . " required>
                            </div>
            
            
                            <div class="form-group">
                                <input class="form-control" type="password" name="p1" placeholder="Password" required>
                            </div>
            
            
                            <div class="form-group">
                                <input class="form-control" type="password" name="p2" placeholder="Re-type password" required>
                            </div>
            
            
                            <div class="divbg center-btn">
                                <button type="submit" class="bg-gradient-dark borderless text-success"><i class="fas fa-check"></i>&nbsp;Save</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>  
<script>
    setTimeout(function(){
    $("#alert-msgs").fadeOut(30000,"swing");
    }, 10000);
</script>

<script>
    $("#select_usergroup").on('change',function(){    
        var usergroup = $("#select_usergroup").val();
        if (usergroup == "Caretaker"){
            $("#select_prop").removeClass("dispnone");
            $("#select_prop").prop("required",true);
        }else{
            $("#select_prop").addClass("dispnone");
            $("#select_prop").removeAttr("required");
        };

    });
</script>
{% endblock %}