
{% extends 'reportbase.html' %}

{% block content %}
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="formwrapper">

                                    <div class="card shadow mb-4">
                                      <!-- Card Header - Accordion -->
                                      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <h6 class="m-0 font-weight-bold text-primary">Houses Report</h6>
                                      </a>
                                      <!-- Card Content - Collapse -->
                                      <div class="collapse show" id="collapseCardExample">
                                        <div class="card-body">
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                            {% for category, message in messages %}
                                                <div id="alert-msgs"class="notification {{ category }} alert-dismissible fade show" role="alert">
                                                    <span>{{ message }}</span>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                            <form method="POST" action="/view/houses
                                            ">
                                                <div class="input is-small">
                                                    <select name="selected_apartment" class="form-control" id ="url-box" required>
                                                    <option disabled selected value> -- Select apartment -- </option>
                                                    {% for o in apartment_list %}
                                                    <option value="{{ o }}">{{ o }}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <br>
                                                <button class="button is-block is-info is-small is-fullwidth">View</button>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%if bills%}
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h6 style="visibility: hidden;">hidden</h6>
                      <button id="export-btn"class=" d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Download Report</button>
                    </div>
                    {%endif%}
                <!-- <div class="col-sm-12 col-sm-offset-2">{{table}}</div> -->
                    
                    <div class="card shadow mb-4">
                      <!-- Card Header - Accordion -->
                      <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-list-alt"></i> House data <span class="text-info">({{apartment_name}})</span></h6>
                      </a>
                      <!-- Card Content - Collapse -->
                      <div class="collapse show" id="collapseCardExample2">
                        <div class="card-body">
                          <div class="table-responsive">
                            {% if bills %}
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th>Id </th>
                                      <th>House</th>
                                      <th>Type</th>
                                      <th>Tenant</th>
                                      <th>Meter</th>
                                      <th>Rent rates</th>
                                      <th>Garbage rates</th>
                                      <th>Electricty bill</th>
                                      <th>Security rates</th>
                                    </tr>
                                  </thead>
                                  {% for bill in bills%}
                                    <tr>
                                      <td>{{ bill['id'] }}</td>
                                      <td>{{ bill['house'] }}</td>
                                      <td>{{ bill['description'] }}</td>
                                      <td>{{ bill['tenant'] }}</td>
                                      <td>{{ bill['meter'] }}</td>
                                      <td>{{ bill['rent'] }}</td>
                                      <td>{{ bill['garbage'] }}</td>
                                      <td>{{ bill['electricity'] }}</td>
                                      <td>{{ bill['security'] }}</td>
                                    </tr>
                                  {% endfor %}
                                </table>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
{% endblock %}













                
    
    




 
